@charset "UTF-8";
@media only screen and (max-width: 669px) {
  .searchBoxWithSuggestions {
    position: relative;
    background: transparent; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .searchBoxWithSuggestions {
    position: relative;
    background: transparent; } }

@media (min-width: 980px) {
  .searchBoxWithSuggestions {
    position: relative;
    background: transparent; } }

.searchBoxWithSuggestions .form-search {
  font-size: 0; }
  @media only screen and (max-width: 669px) {
    .searchBoxWithSuggestions .form-search .searchBox-label {
      position: relative;
      background: white;
      margin-bottom: 90px;
      width: 100%;
      display: block; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .searchBoxWithSuggestions .form-search .searchBox-label {
      position: relative;
      background: white;
      margin-bottom: 90px;
      width: 100%;
      display: block; } }
  @media (min-width: 980px) {
    .searchBoxWithSuggestions .form-search .searchBox-label {
      position: relative;
      background: white;
      margin-bottom: 90px;
      width: 100%;
      display: block; } }
  .searchBoxWithSuggestions .form-search .searchBox-label::before {
    content: "";
    display: block;
    height: 100%;
    left: calc(((100vw - 100%) / 2) * -1);
    position: absolute;
    top: 0;
    width: 100vw; }
    @media only screen and (max-width: 669px) {
      .searchBoxWithSuggestions .form-search .searchBox-label::before {
        background: white; } }
    @media only screen and (min-width: 670px) and (max-width: 979px) {
      .searchBoxWithSuggestions .form-search .searchBox-label::before {
        background: white; } }
    @media (min-width: 980px) {
      .searchBoxWithSuggestions .form-search .searchBox-label::before {
        background: white; } }
  .searchBoxWithSuggestions .form-search .searchBox-label .search-query {
    box-sizing: content-box;
    margin-left: 40px;
    padding: 25px 0;
    position: relative; }
    @media only screen and (max-width: 669px) {
      .searchBoxWithSuggestions .form-search .searchBox-label .search-query {
        background: white;
        font-size: 1.625rem;
        font-weight: bold;
        line-height: 1.15;
        transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
        display: -ms-inline-flexbox;
        display: inline-flex;
        border: 0;
        border-radius: 0;
        -ms-flex-align: center;
            align-items: center;
        -ms-flex-pack: center;
            justify-content: center;
        width: calc(100% - 80px);
        height: 32px; }
        .searchBoxWithSuggestions .form-search .searchBox-label .search-query::-webkit-input-placeholder {
          font-size: 1rem;
          font-weight: normal;
          line-height: 1.38; }
        .searchBoxWithSuggestions .form-search .searchBox-label .search-query:-ms-input-placeholder {
          font-size: 1rem;
          font-weight: normal;
          line-height: 1.38; }
        .searchBoxWithSuggestions .form-search .searchBox-label .search-query::placeholder {
          font-size: 1rem;
          font-weight: normal;
          line-height: 1.38; } }
    @media only screen and (min-width: 670px) and (max-width: 979px) {
      .searchBoxWithSuggestions .form-search .searchBox-label .search-query {
        background: white;
        font-size: 1.625rem;
        font-weight: bold;
        line-height: 1.15;
        transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
        display: -ms-inline-flexbox;
        display: inline-flex;
        border: 0;
        border-radius: 0;
        -ms-flex-align: center;
            align-items: center;
        -ms-flex-pack: center;
            justify-content: center;
        width: calc(100% - 80px);
        height: 32px; }
        .searchBoxWithSuggestions .form-search .searchBox-label .search-query::-webkit-input-placeholder {
          font-size: 1rem;
          font-weight: normal;
          line-height: 1.38; }
        .searchBoxWithSuggestions .form-search .searchBox-label .search-query:-ms-input-placeholder {
          font-size: 1rem;
          font-weight: normal;
          line-height: 1.38; }
        .searchBoxWithSuggestions .form-search .searchBox-label .search-query::placeholder {
          font-size: 1rem;
          font-weight: normal;
          line-height: 1.38; } }
    @media (min-width: 980px) {
      .searchBoxWithSuggestions .form-search .searchBox-label .search-query {
        background: white;
        font-size: 1.625rem;
        font-weight: bold;
        line-height: 1.15;
        transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
        display: -ms-inline-flexbox;
        display: inline-flex;
        border: 0;
        border-radius: 0;
        -ms-flex-align: center;
            align-items: center;
        -ms-flex-pack: center;
            justify-content: center;
        width: calc(100% - 80px);
        height: 32px; }
        .searchBoxWithSuggestions .form-search .searchBox-label .search-query::-webkit-input-placeholder {
          font-size: 1rem;
          font-weight: normal;
          line-height: 1.38; }
        .searchBoxWithSuggestions .form-search .searchBox-label .search-query:-ms-input-placeholder {
          font-size: 1rem;
          font-weight: normal;
          line-height: 1.38; }
        .searchBoxWithSuggestions .form-search .searchBox-label .search-query::placeholder {
          font-size: 1rem;
          font-weight: normal;
          line-height: 1.38; } }
    .searchBoxWithSuggestions .form-search .searchBox-label .search-query:focus {
      outline: 0; }
    .searchBoxWithSuggestions .form-search .searchBox-label .search-query::-ms-clear {
      display: none; }
  .searchBoxWithSuggestions .form-search .searchBox-label .searchBox-title {
    bottom: -60px;
    display: block;
    left: 0;
    overflow: hidden;
    position: absolute;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%; }
    @media only screen and (max-width: 669px) {
      .searchBoxWithSuggestions .form-search .searchBox-label .searchBox-title {
        color: black;
        font-size: 1.125rem;
        font-weight: bold;
        line-height: 1.15; } }
    @media only screen and (min-width: 670px) and (max-width: 979px) {
      .searchBoxWithSuggestions .form-search .searchBox-label .searchBox-title {
        color: black;
        font-size: 1.375rem;
        font-weight: bold;
        line-height: 1.15; } }
    @media (min-width: 980px) {
      .searchBoxWithSuggestions .form-search .searchBox-label .searchBox-title {
        color: black;
        font-size: 1.625rem;
        font-weight: bold;
        line-height: 1.15; } }
  .searchBoxWithSuggestions .form-search .searchBox-suggestions {
    list-style: none; }
    @media only screen and (max-width: 669px) {
      .searchBoxWithSuggestions .form-search .searchBox-suggestions {
        position: relative;
        padding: 0; } }
    @media only screen and (min-width: 670px) and (max-width: 979px) {
      .searchBoxWithSuggestions .form-search .searchBox-suggestions {
        position: relative;
        padding: 0; } }
    @media (min-width: 980px) {
      .searchBoxWithSuggestions .form-search .searchBox-suggestions {
        position: relative;
        padding: 0; } }
    @media only screen and (max-width: 669px) {
      .searchBoxWithSuggestions .form-search .searchBox-suggestions li {
        position: relative;
        margin: 10px auto; } }
    @media only screen and (min-width: 670px) and (max-width: 979px) {
      .searchBoxWithSuggestions .form-search .searchBox-suggestions li {
        position: relative;
        margin: 10px auto; } }
    @media (min-width: 980px) {
      .searchBoxWithSuggestions .form-search .searchBox-suggestions li {
        position: relative;
        margin: 10px auto; } }
    .searchBoxWithSuggestions .form-search .searchBox-suggestions li:first-child {
      margin-top: 0; }
    .searchBoxWithSuggestions .form-search .searchBox-suggestions li:last-child {
      margin-bottom: 0; }
    .searchBoxWithSuggestions .form-search .searchBox-suggestions .searchBox-suggestion {
      -webkit-appearance: none;
         -moz-appearance: none;
              appearance: none;
      background: transparent;
      border: 0;
      cursor: pointer;
      padding: 0; }
      @media only screen and (max-width: 669px) {
        .searchBoxWithSuggestions .form-search .searchBox-suggestions .searchBox-suggestion {
          color: black;
          font-size: 1rem;
          line-height: 1.38;
          transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s; }
          .searchBoxWithSuggestions .form-search .searchBox-suggestions .searchBox-suggestion:hover {
            text-decoration: underline; } }
      @media only screen and (min-width: 670px) and (max-width: 979px) {
        .searchBoxWithSuggestions .form-search .searchBox-suggestions .searchBox-suggestion {
          color: black;
          font-size: 1rem;
          line-height: 1.38;
          transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s; }
          .searchBoxWithSuggestions .form-search .searchBox-suggestions .searchBox-suggestion:hover {
            text-decoration: underline; } }
      @media (min-width: 980px) {
        .searchBoxWithSuggestions .form-search .searchBox-suggestions .searchBox-suggestion {
          color: black;
          font-size: 1rem;
          line-height: 1.38;
          transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s; }
          .searchBoxWithSuggestions .form-search .searchBox-suggestions .searchBox-suggestion:hover {
            text-decoration: underline; } }
      .searchBoxWithSuggestions .form-search .searchBox-suggestions .searchBox-suggestion:focus {
        outline: 0; }
      @media only screen and (max-width: 669px) {
        .searchBoxWithSuggestions .form-search .searchBox-suggestions .searchBox-suggestion b {
          color: black;
          font-weight: bold; } }
      @media only screen and (min-width: 670px) and (max-width: 979px) {
        .searchBoxWithSuggestions .form-search .searchBox-suggestions .searchBox-suggestion b {
          color: black;
          font-weight: bold; } }
      @media (min-width: 980px) {
        .searchBoxWithSuggestions .form-search .searchBox-suggestions .searchBox-suggestion b {
          color: black;
          font-weight: bold; } }
  .searchBoxWithSuggestions .form-search button[type="submit"] {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background: transparent;
    border: 0;
    border-radius: 0;
    cursor: pointer;
    left: 0;
    padding: 0;
    position: absolute;
    top: 32px; }
    @media only screen and (max-width: 669px) {
      .searchBoxWithSuggestions .form-search button[type="submit"] {
        transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -ms-flex-align: center;
            align-items: center;
        -ms-flex-pack: justify;
            justify-content: space-between; }
        .searchBoxWithSuggestions .form-search button[type="submit"]:before {
          content: "";
          font-size: 1.25rem;
          color: black;
          display: block;
          font-family: 'icons';
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          text-align: center;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale; }
        .searchBoxWithSuggestions .form-search button[type="submit"]:before {
          transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s; }
        .searchBoxWithSuggestions .form-search button[type="submit"]:hover:before {
          color: #ab3334; } }
    @media only screen and (min-width: 670px) and (max-width: 979px) {
      .searchBoxWithSuggestions .form-search button[type="submit"] {
        transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -ms-flex-align: center;
            align-items: center;
        -ms-flex-pack: justify;
            justify-content: space-between; }
        .searchBoxWithSuggestions .form-search button[type="submit"]:before {
          content: "";
          font-size: 1.25rem;
          color: black;
          display: block;
          font-family: 'icons';
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          text-align: center;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale; }
        .searchBoxWithSuggestions .form-search button[type="submit"]:before {
          transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s; }
        .searchBoxWithSuggestions .form-search button[type="submit"]:hover:before {
          color: #ab3334; } }
    @media (min-width: 980px) {
      .searchBoxWithSuggestions .form-search button[type="submit"] {
        transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -ms-flex-align: center;
            align-items: center;
        -ms-flex-pack: justify;
            justify-content: space-between; }
        .searchBoxWithSuggestions .form-search button[type="submit"]:before {
          content: "";
          font-size: 1.25rem;
          color: black;
          display: block;
          font-family: 'icons';
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          text-align: center;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale; }
        .searchBoxWithSuggestions .form-search button[type="submit"]:before {
          transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s; }
        .searchBoxWithSuggestions .form-search button[type="submit"]:hover:before {
          color: #ab3334; } }

.overlay-container.search-overlay {
  display: none;
  height: 100vh;
  left: 0;
  overflow: hidden;
  overflow-y: auto;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 20;
  opacity: 0; }
  @media only screen and (max-width: 669px) {
    .overlay-container.search-overlay {
      position: fixed;
      background-color: #f2f4f6;
      transition: opacity 2s cubic-bezier(0.55, 0, 0.1, 1) 0s; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .overlay-container.search-overlay {
      position: fixed;
      background-color: #f2f4f6;
      transition: opacity 2s cubic-bezier(0.55, 0, 0.1, 1) 0s; } }
  @media (min-width: 980px) {
    .overlay-container.search-overlay {
      position: fixed;
      background-color: rgba(242, 244, 246, 0.95);
      transition: opacity 2s cubic-bezier(0.55, 0, 0.1, 1) 0s; } }
  .overlay-open .overlay-container.search-overlay {
    display: block;
    opacity: 1; }
  .overlay-container.search-overlay .overlay-close {
    cursor: pointer;
    font-size: 0;
    position: absolute;
    right: 20px;
    top: 26px; }
    .overlay-container.search-overlay .overlay-close::before {
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%); }
    @media only screen and (max-width: 669px) {
      .overlay-container.search-overlay .overlay-close {
        background: black;
        color: white;
        transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
        display: -ms-inline-flexbox;
        display: inline-flex;
        border-radius: 50%;
        -ms-flex-align: center;
            align-items: center;
        -ms-flex-pack: justify;
            justify-content: space-between;
        width: 30px;
        height: 30px; }
        .overlay-container.search-overlay .overlay-close:hover {
          background: #ab3334;
          color: black; }
        .overlay-container.search-overlay .overlay-close:before {
          content: "";
          font-size: 0.5625rem;
          color: white;
          display: block;
          font-family: 'icons';
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          text-align: center;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale; }
        .overlay-container.search-overlay .overlay-close:before {
          transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s; }
        .overlay-container.search-overlay .overlay-close:hover:before {
          color: black; } }
    @media only screen and (min-width: 670px) and (max-width: 979px) {
      .overlay-container.search-overlay .overlay-close {
        background: black;
        color: white;
        transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
        display: -ms-inline-flexbox;
        display: inline-flex;
        border-radius: 50%;
        -ms-flex-align: center;
            align-items: center;
        -ms-flex-pack: justify;
            justify-content: space-between;
        width: 30px;
        height: 30px; }
        .overlay-container.search-overlay .overlay-close:hover {
          background: #ab3334;
          color: black; }
        .overlay-container.search-overlay .overlay-close:before {
          content: "";
          font-size: 0.5625rem;
          color: white;
          display: block;
          font-family: 'icons';
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          text-align: center;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale; }
        .overlay-container.search-overlay .overlay-close:before {
          transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s; }
        .overlay-container.search-overlay .overlay-close:hover:before {
          color: black; } }
    @media (min-width: 980px) {
      .overlay-container.search-overlay .overlay-close {
        background: black;
        color: white;
        transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
        display: -ms-inline-flexbox;
        display: inline-flex;
        border-radius: 50%;
        -ms-flex-align: center;
            align-items: center;
        -ms-flex-pack: justify;
            justify-content: space-between;
        width: 30px;
        height: 30px; }
        .overlay-container.search-overlay .overlay-close:hover {
          background: #ab3334;
          color: black; }
        .overlay-container.search-overlay .overlay-close:before {
          content: "";
          font-size: 0.5625rem;
          color: white;
          display: block;
          font-family: 'icons';
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          text-align: center;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale; }
        .overlay-container.search-overlay .overlay-close:before {
          transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s; }
        .overlay-container.search-overlay .overlay-close:hover:before {
          color: black; } }
  .overlay-container.search-overlay .overlay-loading {
    background: red url("../assets/img/loader.gif") no-repeat;
    height: 31px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 31px; }
  .overlay-container.search-overlay .overlay-content {
    background: transparent;
    border: 0;
    border-radius: 0;
    max-width: 100%;
    padding: 0;
    position: relative;
    top: 0;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-left: 25px;
    padding-right: 25px; }
    @media only screen and (max-width: 669px) {
      .overlay-container.search-overlay .overlay-content {
        width: auto; } }
    @media only screen and (min-width: 670px) and (max-width: 768px) {
      .overlay-container.search-overlay .overlay-content {
        width: auto; } }
    @media only screen and (min-width: 980px) and (max-width: 1139px) {
      .overlay-container.search-overlay .overlay-content {
        width: 960px; } }
    @media (min-width: 1140px) {
      .overlay-container.search-overlay .overlay-content {
        width: 1140px; } }
  .overlay-container.search-overlay .overlay-content-inner {
    overflow: visible; }

@media only screen and (max-width: 669px) {
  .searchBox-advanced-suggestions {
    position: relative;
    background: transparent;
    margin: 25px 0; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .searchBox-advanced-suggestions {
    position: relative;
    background: transparent;
    margin: 25px 0; } }

@media (min-width: 980px) {
  .searchBox-advanced-suggestions {
    position: relative;
    background: transparent;
    margin: 25px 0; } }

.searchBox-advanced-suggestions .suggestions-section-products,
.searchBox-advanced-suggestions .suggestions-section-articles {
  overflow: hidden; }
  .searchBox-advanced-suggestions .suggestions-section-products h3,
  .searchBox-advanced-suggestions .suggestions-section-products span.results-count,
  .searchBox-advanced-suggestions .suggestions-section-products span.view-all,
  .searchBox-advanced-suggestions .suggestions-section-articles h3,
  .searchBox-advanced-suggestions .suggestions-section-articles span.results-count,
  .searchBox-advanced-suggestions .suggestions-section-articles span.view-all {
    display: inline-block; }
  .searchBox-advanced-suggestions .suggestions-section-products span.view-all,
  .searchBox-advanced-suggestions .suggestions-section-articles span.view-all {
    float: right;
    margin-top: 6px; }
    @media only screen and (max-width: 669px) {
      .searchBox-advanced-suggestions .suggestions-section-products span.view-all,
      .searchBox-advanced-suggestions .suggestions-section-articles span.view-all {
        margin-top: 0; } }
  @media only screen and (max-width: 669px) {
    .searchBox-advanced-suggestions .suggestions-section-products h3,
    .searchBox-advanced-suggestions .suggestions-section-articles h3 {
      display: block; } }
  @media only screen and (max-width: 669px) {
    .searchBox-advanced-suggestions .suggestions-section-products h3,
    .searchBox-advanced-suggestions .suggestions-section-articles h3 {
      color: black;
      font-size: 1.625rem;
      font-weight: bold;
      line-height: 1.15;
      margin: 0 0 5px; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .searchBox-advanced-suggestions .suggestions-section-products h3,
    .searchBox-advanced-suggestions .suggestions-section-articles h3 {
      color: black;
      font-size: 1.625rem;
      font-weight: bold;
      line-height: 1.15;
      margin: 0 0 20px; } }
  @media (min-width: 980px) {
    .searchBox-advanced-suggestions .suggestions-section-products h3,
    .searchBox-advanced-suggestions .suggestions-section-articles h3 {
      color: black;
      font-size: 1.625rem;
      font-weight: bold;
      line-height: 1.15;
      margin: 0 0 20px; } }
  @media only screen and (max-width: 669px) {
    .searchBox-advanced-suggestions .suggestions-section-products span.results-count,
    .searchBox-advanced-suggestions .suggestions-section-articles span.results-count {
      color: black;
      font-size: 1.125rem;
      line-height: 1.15;
      margin-left: 0; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .searchBox-advanced-suggestions .suggestions-section-products span.results-count,
    .searchBox-advanced-suggestions .suggestions-section-articles span.results-count {
      color: black;
      font-size: 1.125rem;
      line-height: 1.15;
      margin-left: 20px; } }
  @media (min-width: 980px) {
    .searchBox-advanced-suggestions .suggestions-section-products span.results-count,
    .searchBox-advanced-suggestions .suggestions-section-articles span.results-count {
      color: black;
      font-size: 1.125rem;
      line-height: 1.15;
      margin-left: 20px; } }
  @media only screen and (max-width: 669px) {
    .searchBox-advanced-suggestions .suggestions-section-products a.view-all,
    .searchBox-advanced-suggestions .suggestions-section-articles a.view-all {
      color: black;
      font-size: 1.125rem;
      font-weight: bold;
      line-height: 1.15;
      text-transform: uppercase;
      text-decoration: none;
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s; }
      .searchBox-advanced-suggestions .suggestions-section-products a.view-all:hover,
      .searchBox-advanced-suggestions .suggestions-section-articles a.view-all:hover {
        text-decoration: underline; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .searchBox-advanced-suggestions .suggestions-section-products a.view-all,
    .searchBox-advanced-suggestions .suggestions-section-articles a.view-all {
      color: black;
      font-size: 1.125rem;
      font-weight: bold;
      line-height: 1.15;
      text-transform: uppercase;
      text-decoration: none;
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s; }
      .searchBox-advanced-suggestions .suggestions-section-products a.view-all:hover,
      .searchBox-advanced-suggestions .suggestions-section-articles a.view-all:hover {
        text-decoration: underline; } }
  @media (min-width: 980px) {
    .searchBox-advanced-suggestions .suggestions-section-products a.view-all,
    .searchBox-advanced-suggestions .suggestions-section-articles a.view-all {
      color: black;
      font-size: 1.125rem;
      font-weight: bold;
      line-height: 1.15;
      text-transform: uppercase;
      text-decoration: none;
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s; }
      .searchBox-advanced-suggestions .suggestions-section-products a.view-all:hover,
      .searchBox-advanced-suggestions .suggestions-section-articles a.view-all:hover {
        text-decoration: underline; } }

.searchBox-advanced-suggestions .suggestions-section-contents {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row; }
  @media only screen and (max-width: 669px) {
    .searchBox-advanced-suggestions .suggestions-section-contents {
      -ms-flex-direction: column;
          flex-direction: column; } }
  @media only screen and (max-width: 669px) {
    .searchBox-advanced-suggestions .suggestions-section-contents {
      position: relative;
      background: transparent;
      border-top: solid 1px #D0D0D0;
      padding: 20px 0 0;
      margin: 25px 0; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .searchBox-advanced-suggestions .suggestions-section-contents {
      position: relative;
      background: transparent;
      border-top: solid 1px #D0D0D0;
      padding: 20px 0 0;
      margin: 0 0 25px; } }
  @media (min-width: 980px) {
    .searchBox-advanced-suggestions .suggestions-section-contents {
      position: relative;
      background: transparent;
      border-top: solid 1px #D0D0D0;
      padding: 20px 0 0;
      margin: 0 0 25px; } }
  .searchBox-advanced-suggestions .suggestions-section-contents .suggestions-item {
    box-sizing: border-box; }
    @media only screen and (min-width: 670px) and (max-width: 768px) {
      .searchBox-advanced-suggestions .suggestions-section-contents .suggestions-item {
        max-width: 86px; }
        .mod-objectfit .searchBox-advanced-suggestions .suggestions-section-contents .suggestions-item img {
          height: 76px;
          -o-object-fit: cover;
             object-fit: cover; }
        .ua-ie-11 .searchBox-advanced-suggestions .suggestions-section-contents .suggestions-item .suggestions-picture {
          max-width: 86px; } }
    @media (min-width: 980px) {
      .searchBox-advanced-suggestions .suggestions-section-contents .suggestions-item {
        max-width: 150px; }
        .mod-objectfit .searchBox-advanced-suggestions .suggestions-section-contents .suggestions-item img {
          height: 140px;
          -o-object-fit: cover;
             object-fit: cover; }
        .mod-no-objectfit .searchBox-advanced-suggestions .suggestions-section-contents .suggestions-item img {
          max-width: 140px; }
        .ua-ie-11 .searchBox-advanced-suggestions .suggestions-section-contents .suggestions-item .suggestions-picture {
          max-width: 150px; } }
    @media only screen and (max-width: 669px) {
      .searchBox-advanced-suggestions .suggestions-section-contents .suggestions-item {
        position: relative;
        background: transparent;
        padding: 5px;
        margin: 20px 0; } }
    @media only screen and (min-width: 670px) and (max-width: 979px) {
      .searchBox-advanced-suggestions .suggestions-section-contents .suggestions-item {
        position: relative;
        background: transparent;
        padding: 5px;
        margin: 0 20px; } }
    @media (min-width: 980px) {
      .searchBox-advanced-suggestions .suggestions-section-contents .suggestions-item {
        position: relative;
        background: transparent;
        padding: 5px;
        margin: 0 20px; } }
    @media only screen and (max-width: 669px) {
      .searchBox-advanced-suggestions .suggestions-section-contents .suggestions-item:hover {
        background: #e09798; } }
    @media only screen and (min-width: 670px) and (max-width: 979px) {
      .searchBox-advanced-suggestions .suggestions-section-contents .suggestions-item:hover {
        background: #e09798; } }
    @media (min-width: 980px) {
      .searchBox-advanced-suggestions .suggestions-section-contents .suggestions-item:hover {
        background: #e09798; } }
    @media only screen and (max-width: 669px) {
      .searchBox-advanced-suggestions .suggestions-section-contents .suggestions-item:first-child {
        margin-top: 0; }
      .searchBox-advanced-suggestions .suggestions-section-contents .suggestions-item:last-child {
        margin-bottom: 0; } }
    @media (min-width: 670px) {
      .searchBox-advanced-suggestions .suggestions-section-contents .suggestions-item:first-child {
        margin-left: 0; }
      .searchBox-advanced-suggestions .suggestions-section-contents .suggestions-item:last-child {
        margin-right: 0; } }
    .searchBox-advanced-suggestions .suggestions-section-contents .suggestions-item .suggestions-picture {
      box-sizing: border-box;
      font-size: 0; }
      @media only screen and (max-width: 669px) {
        .searchBox-advanced-suggestions .suggestions-section-contents .suggestions-item .suggestions-picture {
          position: relative; } }
      @media only screen and (min-width: 670px) and (max-width: 979px) {
        .searchBox-advanced-suggestions .suggestions-section-contents .suggestions-item .suggestions-picture {
          position: relative; } }
      @media (min-width: 980px) {
        .searchBox-advanced-suggestions .suggestions-section-contents .suggestions-item .suggestions-picture {
          position: relative; } }
      .searchBox-advanced-suggestions .suggestions-section-contents .suggestions-item .suggestions-picture a {
        display: block; }
        @media only screen and (max-width: 669px) {
          .searchBox-advanced-suggestions .suggestions-section-contents .suggestions-item .suggestions-picture a {
            position: relative; } }
        @media only screen and (min-width: 670px) and (max-width: 979px) {
          .searchBox-advanced-suggestions .suggestions-section-contents .suggestions-item .suggestions-picture a {
            position: relative; } }
        @media (min-width: 980px) {
          .searchBox-advanced-suggestions .suggestions-section-contents .suggestions-item .suggestions-picture a {
            position: relative; } }
    .searchBox-advanced-suggestions .suggestions-section-contents .suggestions-item .suggestions-title {
      box-sizing: border-box; }
      @media only screen and (max-width: 669px) {
        .searchBox-advanced-suggestions .suggestions-section-contents .suggestions-item .suggestions-title {
          position: relative;
          margin: 20px 0 0;
          color: black;
          font-size: 1rem;
          font-weight: bold;
          line-height: 1.33;
          text-align: center; } }
      @media only screen and (min-width: 670px) and (max-width: 979px) {
        .searchBox-advanced-suggestions .suggestions-section-contents .suggestions-item .suggestions-title {
          position: relative;
          margin: 20px 0 0;
          color: black;
          font-size: 1rem;
          font-weight: bold;
          line-height: 1.33;
          text-align: center; } }
      @media (min-width: 980px) {
        .searchBox-advanced-suggestions .suggestions-section-contents .suggestions-item .suggestions-title {
          position: relative;
          margin: 20px 0 0;
          color: black;
          font-size: 1rem;
          font-weight: bold;
          line-height: 1.33;
          text-align: center; } }
      @media only screen and (max-width: 669px) {
        .searchBox-advanced-suggestions .suggestions-section-contents .suggestions-item .suggestions-title a {
          color: black;
          text-decoration: none;
          transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s; } }
      @media only screen and (min-width: 670px) and (max-width: 979px) {
        .searchBox-advanced-suggestions .suggestions-section-contents .suggestions-item .suggestions-title a {
          color: black;
          text-decoration: none;
          transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s; } }
      @media (min-width: 980px) {
        .searchBox-advanced-suggestions .suggestions-section-contents .suggestions-item .suggestions-title a {
          color: black;
          text-decoration: none;
          transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s; } }

/*# sourceMappingURL=index.css.map */
