.image-brand-logo {
  @function gl($a...) { @return get-last($header, 'main._logo', $a...); }

  @include breakpoints {
    @include box(merge((
      display: flex,
      box-sizing: border-box,
      flex: (
        align-items: center,
        justify-content: center,
        justify-self: flex-start
      )
    ), gl('box')), $media);
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
  }
}
