@media only screen and (max-width: 669px) {
  .composite-centered_featuredcontent {
    position: relative;
    margin: 60px 0; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .composite-centered_featuredcontent {
    position: relative;
    margin: 60px 0; } }

@media (min-width: 980px) {
  .composite-centered_featuredcontent {
    position: relative;
    margin: 120px 0; } }

@media only screen and (max-width: 669px) {
  .composite-centered_featuredcontent .box > .component-content {
    position: relative;
    background-size: cover;
    background-position: center;
    padding: 80px 0; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .composite-centered_featuredcontent .box > .component-content {
    position: relative;
    background-size: cover;
    background-position: center;
    padding: 80px 0; } }

@media (min-width: 980px) {
  .composite-centered_featuredcontent .box > .component-content {
    position: relative;
    background-size: cover;
    background-position: center;
    padding: 150px 0; } }

@media only screen and (max-width: 669px) {
  .composite-centered_featuredcontent .box > .component-content > .content {
    position: relative;
    margin-bottom: -15px;
    max-width: 730px;
    text-align: center; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .composite-centered_featuredcontent .box > .component-content > .content {
    position: relative;
    margin-bottom: -15px;
    max-width: 730px;
    text-align: center; } }

@media (min-width: 980px) {
  .composite-centered_featuredcontent .box > .component-content > .content {
    position: relative;
    margin-bottom: -15px;
    max-width: 730px;
    text-align: center; } }

@media only screen and (max-width: 669px) {
  .composite-centered_featuredcontent .richText-content h2, .composite-centered_featuredcontent .richText-content h3 {
    font-size: 1.625rem;
    font-weight: bold;
    line-height: 1.2;
    text-transform: uppercase;
    font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
    margin: 0; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .composite-centered_featuredcontent .richText-content h2, .composite-centered_featuredcontent .richText-content h3 {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.2;
    text-transform: uppercase;
    font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
    margin: 0; } }

@media (min-width: 980px) {
  .composite-centered_featuredcontent .richText-content h2, .composite-centered_featuredcontent .richText-content h3 {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.2;
    text-transform: uppercase;
    font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
    margin: 0; } }

@media only screen and (max-width: 669px) {
  .composite-centered_featuredcontent .richText-content p {
    margin-top: 10px; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .composite-centered_featuredcontent .richText-content p {
    margin-top: 10px; } }

@media (min-width: 980px) {
  .composite-centered_featuredcontent .richText-content p {
    margin-top: 15px; } }

@media only screen and (max-width: 669px) {
  .composite-centered_featuredcontent .richText-content .button-secondary {
    width: 100%; } }

/*# sourceMappingURL=index.css.map */
