@import '../../core/config';

.buyitnow {
  @import 'config-buy-it-now';
  @function g($a...) { @return get-last($config-buy-it-now, $a...); }

  @include breakpoints() {
    @include box(g('box'), $media);
  }

  .shoppable {

    button {
    cursor: pointer;

      @include breakpoints() {
        @include button(g('button'), $media);
      }
    }
  }
}
