$config-buy-it-now: (
  spacings: common('spacings')
);

$config-buy-it-now: merge($config-buy-it-now, (
  box: (
    width: 100%
  ),
  button: extend('_base.button', (
    background: color('primary', 'base'),
    max-width: 180px,
    width: 100%,
    border: (
      border: solid 1px color('primary', 'base'),
      border-radius: 3px
    ),
    padding: 17px get($config-buy-it-now, 'spacings.xs') 19px get($config-buy-it-now, 'spacings.xs'),
    text: (
      color: color('black'),
      font-size: px(18),
      line-height: 1.22
    ),
    hover: (
      background: color('white')
    )
  ))
));
