$rich-text: (
  spacings: common('spacings')
);

$rich-text: merge($rich-text, (
  _title: (
    paragraph: (
      text: (
        color: color('black'),
        font-family: 'primary',
        font-size: px(48),
        line-height: 1.08,
        letter-spacing: 0.3px,
        text-transform: uppercase
      ),
      margin: (
        margin: get($rich-text, 'spacings.l') 0 get($rich-text, 'spacings.m')
      )
    )
  ),
  _description: (
    paragraph: (
      text: (
        color: color('black'),
        font-family: 'body',
        font-size: px(14),
        line-height: 1.43
      ),
      margin: (
        margin: 0 0 get($rich-text, 'spacings.m')
      )
    )
  ),
  _product-details: (
    // link: ()
  )
));
