@import '../../core/config';

.image {
  @import 'config-image';
  @function g($a...) { @return get-last($image, $a...); }

  height: 100%;
  left: 0;
  max-height: 395px;
  max-width: 395px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;

  @include breakpoints() {
    @include box(g('box'), $media);
  }
}
