// this will add important to all properties as this module needs to override
// third party inline styles and !important rules.

@import '../../core/config';

.ratingsandreviews {
  @import 'config-ratings-and-reviews';
  @function g($a...) { @return get-last($ratings-and-reviews, $a...); }

  /*! @important(start) */
  /*! @important(stop) */
  .bv_main_container {
    /*! @important(start) */
    display: block;
    width: 100%;
    /*! @important(stop) */

    .bv_main_container_row_split {
        /*! @important(start) */
        display: flex;
        font-size: 0;
        /*! @important(stop) */

      &:empty {
        /*! @important(start) */
        display: none;
        /*! @important(stop) */
      }

      &:last-child {
        /*! @important(start) */
        margin: 7px 0;
        /*! @important(stop) */
      }

      // .bv_stars_component_container {}

      .bv_avgRating_component_container {

        @include breakpoints() {
          /*! @important(start) */
          @include box(g('_avg-rating.box'), $media);
          /*! @important(stop) */
        }

        .bv_avgRating {
          pointer-events: none;

          @include breakpoints() {
            /*! @important(start) */
            @include link(g('_avg-rating.link'), $media);
            /*! @important(stop) */
          }

          &:hover {
            @include breakpoints() {
              /*! @important(start) */
              @include hover(g('_avg-rating.link.hover'), $media);
              /*! @important(stop) */
            }
          }
        }
      }

      .bv_numReviews_component_container {

        @include breakpoints() {
          /*! @important(start) */
          @include box(g('_num-reviews.box'), $media);
          /*! @important(stop) */
        }

        .bv_numReviews_text {
          pointer-events: none;

          @include breakpoints() {
            /*! @important(start) */
            @include link(g('_num-reviews.link'), $media);
            /*! @important(stop) */
          }

          &:hover {
            @include breakpoints() {
              /*! @important(start) */
              @include hover(g('_num-reviews.link.hover'), $media);
              /*! @important(stop) */
            }
          }
        }
      }

      .bv_cta_button {

        + .bv_cta_button {
          @include breakpoints() {
            /*! @important(start) */
            @include box(g('_cta-separator.box'), $media);
            @include icon(g('_cta-separator.icon'), $media);
            /*! @important(stop) */
          }

          &:before {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
          }
        }

        .bv_writeAReview_buttonMinimalist {
          /*! @important(start) */
          padding: 0;
          /*! @important(stop) */
          @include breakpoints() {
            /*! @important(start) */
            @include link(g('_cta.link'), $media);
            /*! @important(stop) */
          }

          &:hover {
            @include breakpoints() {
              /*! @important(start) */
              @include hover(g('_cta.link.hover'), $media);
              /*! @important(stop) */
            }
          }
        }
      }
    }
  }

  > div {
    display: none;
  }
}
