@import '../../core/config';

.storelocator {
  @import 'config-store-locator';
  @function g($a...) { @return get-last($store-locator, $a...); }

  .storelocator-toggle,
  .storelocator-button-wrapper {

    button {
      cursor: pointer;

      @include breakpoints() {
        @include button(g('button'), $media);
      }
    }
  }

  .storelocator-product-size-wrapper {

    .storelocator-prefix {
      @include breakpoints() {
        @include paragraph(g('_sizes-title.paragraph'), $media);
      }
    }

    .storelocator-product-size {
      font-size: 0;

      label {
        cursor: pointer;

        @include breakpoints() {
          @include box(g('_sizes-holder.box'), $media);
        }

        &:hover {

          span {

            &.custom-radio {
              @include breakpoints() {
                @include hover(g('_sizes-radio.hover'), $media);
              }
            }
          }
        }

        input[type="radio"] {
          display: none;

          &:checked ~ span {
            @include breakpoints() {
              @include text(g('_sizes-radio-checked.text'), $media);
            }
          }

          &:checked ~ span.custom-radio {
            @include breakpoints() {
              @include background(g('_sizes-radio-checked.background'), $media);
            }
          }
        }

        span {
          box-sizing: border-box;
          display: inline-block;
          left: 50%;
          position: absolute;
          top: 50%;
          transform: translate(-50%, -50%);

          @include breakpoints() {
            @include text(g('_sizes-radio.text'), $media);
          }

          &.custom-radio {
            height: 100%;
            width: 100%;

            @include breakpoints() {
              @include background(g('_sizes-radio.background'), $media);
              @include border(g('_sizes-radio.border'), $media);
            }
          }
        }
      }
    }
  }

  .storelocator-form-wrapper {
    // display: none;

    &.is-active {
      display: block;
    }
  }
}
