@charset "UTF-8";
@media only screen and (max-width: 669px) {
  .channelAdvisor {
    position: relative; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .channelAdvisor {
    position: relative; } }

@media (min-width: 980px) {
  .channelAdvisor {
    position: relative; } }

.channelAdvisor.component-content .channelAdvisor-buy-it-now-btn.addtobag-btn {
  display: block; }
  @media only screen and (max-width: 669px) {
    .channelAdvisor.component-content .channelAdvisor-buy-it-now-btn.addtobag-btn {
      position: relative;
      margin-right: auto;
      margin-left: auto; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .channelAdvisor.component-content .channelAdvisor-buy-it-now-btn.addtobag-btn {
      position: relative;
      margin-right: auto;
      margin-left: auto; } }
  @media (min-width: 980px) {
    .channelAdvisor.component-content .channelAdvisor-buy-it-now-btn.addtobag-btn {
      position: relative;
      margin-right: auto;
      margin-left: auto; } }
  .channelAdvisor.component-content .channelAdvisor-buy-it-now-btn.addtobag-btn:hover {
    cursor: pointer; }

.channelAdvisor-popup {
  transform: translate(-50%, -100%);
  left: 50%; }
  @media only screen and (max-width: 669px) {
    .channelAdvisor-popup {
      position: absolute;
      background: #f2f4f6;
      padding-top: 50px;
      width: 330px;
      height: 270px;
      z-index: 20;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16); } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .channelAdvisor-popup {
      position: absolute;
      background: #f2f4f6;
      padding-top: 50px;
      width: 330px;
      height: 270px;
      z-index: 20;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16); } }
  @media (min-width: 980px) {
    .channelAdvisor-popup {
      position: absolute;
      background: #f2f4f6;
      padding-top: 50px;
      width: 330px;
      height: 270px;
      z-index: 20;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16); } }
  .channelAdvisor-popup::after {
    content: "";
    bottom: 0;
    right: 50%; }
    @media only screen and (max-width: 669px) {
      .channelAdvisor-popup::after {
        position: absolute;
        background: #f2f4f6;
        width: 35px;
        height: 35px;
        z-index: -1;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
        transform: translate(50%, 50%) rotate(45deg); } }
    @media only screen and (min-width: 670px) and (max-width: 979px) {
      .channelAdvisor-popup::after {
        position: absolute;
        background: #f2f4f6;
        width: 35px;
        height: 35px;
        z-index: -1;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
        transform: translate(50%, 50%) rotate(45deg); } }
    @media (min-width: 980px) {
      .channelAdvisor-popup::after {
        position: absolute;
        background: #f2f4f6;
        width: 35px;
        height: 35px;
        z-index: -1;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
        transform: translate(50%, 50%) rotate(45deg); } }
  .channelAdvisor-popup.position-bottom {
    transform: translate(-50%, 0); }
    .channelAdvisor-popup.position-bottom::after {
      box-shadow: none;
      bottom: auto;
      top: -35px; }

.channelAdvisor-retailers-list {
  overflow: auto;
  list-style: none; }
  @media only screen and (max-width: 669px) {
    .channelAdvisor-retailers-list {
      position: relative;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      background: #f2f4f6;
      padding: 0;
      margin: 0;
      max-height: 100%;
      display: -ms-flexbox;
      display: flex; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .channelAdvisor-retailers-list {
      position: relative;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      background: #f2f4f6;
      padding: 0;
      margin: 0;
      max-height: 100%;
      display: -ms-flexbox;
      display: flex; } }
  @media (min-width: 980px) {
    .channelAdvisor-retailers-list {
      position: relative;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      background: #f2f4f6;
      padding: 0;
      margin: 0;
      max-height: 100%;
      display: -ms-flexbox;
      display: flex; } }

@media only screen and (max-width: 669px) {
  .channelAdvisor-item {
    position: relative;
    padding: 0 25px 25px;
    width: 50%;
    box-sizing: border-box;
    text-align: center; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .channelAdvisor-item {
    position: relative;
    padding: 0 25px 25px;
    width: 50%;
    box-sizing: border-box;
    text-align: center; } }

@media (min-width: 980px) {
  .channelAdvisor-item {
    position: relative;
    padding: 0 25px 25px;
    width: 50%;
    box-sizing: border-box;
    text-align: center; } }

.channelAdvisor-item-unavailable .channelAdvisor-currency-symbol,
.channelAdvisor-item-unavailable .channelAdvisor-currency-code {
  display: none; }

.channelAdvisor-close-btn {
  position: absolute;
  right: 0;
  top: 0; }
  @media only screen and (max-width: 669px) {
    .channelAdvisor-close-btn {
      background: transparent;
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: -ms-inline-flexbox;
      display: inline-flex;
      border: none;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: justify;
          justify-content: space-between;
      width: 50px;
      height: 50px; }
      .channelAdvisor-close-btn:after {
        margin: auto;
        margin: auto;
        content: "";
        font-size: 1.25rem;
        color: black;
        display: block;
        font-family: 'icons';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        text-align: center;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .channelAdvisor-close-btn {
      background: transparent;
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: -ms-inline-flexbox;
      display: inline-flex;
      border: none;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: justify;
          justify-content: space-between;
      width: 50px;
      height: 50px; }
      .channelAdvisor-close-btn:after {
        margin: auto;
        margin: auto;
        content: "";
        font-size: 1.25rem;
        color: black;
        display: block;
        font-family: 'icons';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        text-align: center;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; } }
  @media (min-width: 980px) {
    .channelAdvisor-close-btn {
      background: transparent;
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: -ms-inline-flexbox;
      display: inline-flex;
      border: none;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: justify;
          justify-content: space-between;
      width: 50px;
      height: 50px; }
      .channelAdvisor-close-btn:after {
        margin: auto;
        margin: auto;
        content: "";
        font-size: 1.25rem;
        color: black;
        display: block;
        font-family: 'icons';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        text-align: center;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; } }
  .channelAdvisor-close-btn:hover {
    cursor: pointer; }

/*# sourceMappingURL=index.css.map */
