.buyitnow {
  width: auto; }
  .buyitnow .addtobag-btn,
  .buyitnow .shopalyst-btn,
  .buyitnow .btn-primary {
    cursor: pointer; }
    @media only screen and (max-width: 669px) {
      .buyitnow .addtobag-btn,
      .buyitnow .shopalyst-btn,
      .buyitnow .btn-primary {
        background-color: #C9484A;
        color: white;
        font-size: 0.75rem;
        line-height: 1.22;
        text-transform: uppercase;
        text-decoration: none;
        font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
        transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
        display: inline-block;
        padding: 0 25px 0 25px;
        margin-top: 25px;
        margin-right: 0;
        margin-bottom: 10px;
        -ms-flex-align: center;
            align-items: center;
        -ms-flex-pack: center;
            justify-content: center;
        height: 28px;
        min-width: 100%;
        box-sizing: border-box; }
        .buyitnow .addtobag-btn:hover,
        .buyitnow .shopalyst-btn:hover,
        .buyitnow .btn-primary:hover {
          background-color: #ab3334; } }
    @media only screen and (min-width: 670px) and (max-width: 979px) {
      .buyitnow .addtobag-btn,
      .buyitnow .shopalyst-btn,
      .buyitnow .btn-primary {
        background-color: #C9484A;
        color: white;
        font-size: 0.75rem;
        line-height: 1.22;
        text-transform: uppercase;
        text-decoration: none;
        font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
        transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
        padding: 12.36px 40px 11.52px 40px;
        margin-top: 25px;
        margin-right: 20px;
        margin-bottom: 20px;
        -ms-flex-align: center;
            align-items: center;
        -ms-flex-pack: center;
            justify-content: center;
        height: 35px;
        min-width: 180px;
        box-sizing: border-box; }
        .buyitnow .addtobag-btn:hover,
        .buyitnow .shopalyst-btn:hover,
        .buyitnow .btn-primary:hover {
          background-color: #ab3334; } }
    @media (min-width: 980px) {
      .buyitnow .addtobag-btn,
      .buyitnow .shopalyst-btn,
      .buyitnow .btn-primary {
        background-color: #C9484A;
        color: white;
        font-size: 0.75rem;
        line-height: 1.22;
        text-transform: uppercase;
        text-decoration: none;
        font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
        transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
        padding: 12.36px 50px 11.52px 50px;
        margin-top: 25px;
        margin-right: 20px;
        margin-bottom: 20px;
        -ms-flex-align: center;
            align-items: center;
        -ms-flex-pack: center;
            justify-content: center;
        height: 54px;
        min-width: 180px;
        box-sizing: border-box; }
        .buyitnow .addtobag-btn:hover,
        .buyitnow .shopalyst-btn:hover,
        .buyitnow .btn-primary:hover {
          background-color: #ab3334; } }

@media only screen and (max-width: 669px) {
  .buyitnow .sl-iframe {
    position: relative !important;
    width: 100% !important;
    height: 110px !important;
    max-width: none !important; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .buyitnow .sl-iframe {
    position: relative !important;
    width: 100% !important;
    height: 110px !important;
    max-width: none !important; } }

@media (min-width: 980px) {
  .buyitnow .sl-iframe {
    position: relative !important;
    width: 100% !important;
    height: 100px !important;
    max-width: none !important; } }

.shopalyst-active .buyitnow {
  width: 100% !important; }

.shopalyst-active .reference-find-in-store-button {
  bottom: 0;
  left: 200px; }
  @media only screen and (max-width: 669px) {
    .shopalyst-active .reference-find-in-store-button {
      position: relative !important; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .shopalyst-active .reference-find-in-store-button {
      position: relative !important; } }
  @media (min-width: 980px) {
    .shopalyst-active .reference-find-in-store-button {
      position: absolute !important; } }
  @media only screen and (max-width: 1139px) {
    .shopalyst-active .reference-find-in-store-button {
      position: static; } }

/*# sourceMappingURL=index.css.map */
