@media only screen and (max-width: 669px) {
  .recipeContext {
    position: relative; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .recipeContext {
    position: relative; } }

@media (min-width: 980px) {
  .recipeContext {
    position: relative; } }

.recipeContext .recipeContext-error-message {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
  padding-right: 25px; }
  @media only screen and (max-width: 669px) {
    .recipeContext .recipeContext-error-message {
      width: auto; } }
  @media only screen and (min-width: 670px) and (max-width: 768px) {
    .recipeContext .recipeContext-error-message {
      width: auto; } }
  @media only screen and (min-width: 980px) and (max-width: 1139px) {
    .recipeContext .recipeContext-error-message {
      width: 960px; } }
  @media (min-width: 1140px) {
    .recipeContext .recipeContext-error-message {
      width: 1140px; } }
  @media only screen and (max-width: 669px) {
    .recipeContext .recipeContext-error-message {
      position: relative;
      margin-top: 80px;
      margin-bottom: 80px; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .recipeContext .recipeContext-error-message {
      position: relative;
      margin-top: 120px;
      margin-bottom: 120px; } }
  @media (min-width: 980px) {
    .recipeContext .recipeContext-error-message {
      position: relative;
      margin-top: 120px;
      margin-bottom: 120px; } }
  @media only screen and (max-width: 669px) {
    .recipeContext .recipeContext-error-message p {
      color: black;
      font-size: 2.375rem;
      font-weight: bold;
      line-height: 1.3;
      text-transform: uppercase;
      letter-spacing: normal;
      font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
      margin: 0; }
      .recipeContext .recipeContext-error-message p:after {
        content: '';
        border-bottom: 4px solid #C9484A;
        width: 30px; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .recipeContext .recipeContext-error-message p {
      color: black;
      font-size: 2.375rem;
      font-weight: bold;
      line-height: 1.3;
      text-transform: uppercase;
      letter-spacing: normal;
      font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
      margin: 0; }
      .recipeContext .recipeContext-error-message p:after {
        content: '';
        border-bottom: 4px solid #C9484A;
        width: 30px; } }
  @media (min-width: 980px) {
    .recipeContext .recipeContext-error-message p {
      color: black;
      font-size: 2.375rem;
      font-weight: bold;
      line-height: 1.3;
      text-transform: uppercase;
      letter-spacing: normal;
      font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
      margin: 0; }
      .recipeContext .recipeContext-error-message p:after {
        content: '';
        border-bottom: 4px solid #C9484A;
        width: 30px; } }

/*# sourceMappingURL=index.css.map */
