.composite.composite-variation-hero_image_with_side_text .image {
  width: 100%; }
  .composite.composite-variation-hero_image_with_side_text .image img {
    width: 100%; }

@media only screen and (max-width: 669px) {
  .composite.composite-variation-hero_image_with_side_text > .content {
    position: relative; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .composite.composite-variation-hero_image_with_side_text > .content {
    position: relative; } }

@media (min-width: 980px) {
  .composite.composite-variation-hero_image_with_side_text > .content {
    position: relative; } }

.composite.composite-variation-hero_image_with_side_text > .content > .richText {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
  padding-right: 25px; }
  @media only screen and (max-width: 979px) {
    .composite.composite-variation-hero_image_with_side_text > .content > .richText {
      top: 0;
      left: 0;
      transform: translate(0, 0); } }
  @media only screen and (max-width: 669px) {
    .composite.composite-variation-hero_image_with_side_text > .content > .richText {
      width: auto; } }
  @media only screen and (min-width: 670px) and (max-width: 768px) {
    .composite.composite-variation-hero_image_with_side_text > .content > .richText {
      width: auto; } }
  @media only screen and (min-width: 980px) and (max-width: 1139px) {
    .composite.composite-variation-hero_image_with_side_text > .content > .richText {
      width: 960px; } }
  @media (min-width: 1140px) {
    .composite.composite-variation-hero_image_with_side_text > .content > .richText {
      width: 1140px; } }
  @media only screen and (max-width: 669px) {
    .composite.composite-variation-hero_image_with_side_text > .content > .richText {
      position: relative;
      background-color: #f2f4f6;
      padding-top: 25px;
      padding-bottom: 60px; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .composite.composite-variation-hero_image_with_side_text > .content > .richText {
      position: relative;
      background-color: #f2f4f6;
      padding-top: 25px;
      padding-bottom: 60px; } }
  @media (min-width: 980px) {
    .composite.composite-variation-hero_image_with_side_text > .content > .richText {
      position: absolute; } }
  @media only screen and (max-width: 669px) {
    .composite.composite-variation-hero_image_with_side_text > .content > .richText .richText-content {
      position: relative;
      max-width: 100%; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .composite.composite-variation-hero_image_with_side_text > .content > .richText .richText-content {
      position: relative;
      max-width: 100%; } }
  @media (min-width: 980px) {
    .composite.composite-variation-hero_image_with_side_text > .content > .richText .richText-content {
      position: relative;
      max-width: 380px; } }
  @media only screen and (max-width: 669px) {
    .composite.composite-variation-hero_image_with_side_text > .content > .richText .richText-content h3 {
      font-size: 1.625rem;
      line-height: 1;
      margin: 0 0 20px; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .composite.composite-variation-hero_image_with_side_text > .content > .richText .richText-content h3 {
      font-size: 2.375rem;
      line-height: 1;
      margin: 0 0 20px; } }
  @media (min-width: 980px) {
    .composite.composite-variation-hero_image_with_side_text > .content > .richText .richText-content h3 {
      font-size: 2.375rem;
      line-height: 1;
      margin: 0 0 20px; } }

/*# sourceMappingURL=index.css.map */
