@media only screen and (max-width: 669px) {
  .composite-variation-ornament-separator {
    position: relative;
    height: 25px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-left: 25px;
    padding-right: 25px; } }
  @media only screen and (max-width: 669px) and (max-width: 669px) {
    .composite-variation-ornament-separator {
      width: auto; } }
  @media only screen and (max-width: 669px) and (min-width: 670px) and (max-width: 768px) {
    .composite-variation-ornament-separator {
      width: auto; } }
  @media only screen and (max-width: 669px) and (min-width: 980px) and (max-width: 1139px) {
    .composite-variation-ornament-separator {
      width: 960px; } }
  @media only screen and (max-width: 669px) and (min-width: 1140px) {
    .composite-variation-ornament-separator {
      width: 1140px; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .composite-variation-ornament-separator {
    position: relative;
    height: 25px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-left: 25px;
    padding-right: 25px; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) and (max-width: 669px) {
    .composite-variation-ornament-separator {
      width: auto; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) and (min-width: 670px) and (max-width: 768px) {
    .composite-variation-ornament-separator {
      width: auto; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) and (min-width: 980px) and (max-width: 1139px) {
    .composite-variation-ornament-separator {
      width: 960px; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) and (min-width: 1140px) {
    .composite-variation-ornament-separator {
      width: 1140px; } }

@media (min-width: 980px) {
  .composite-variation-ornament-separator {
    position: relative;
    height: 25px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-left: 25px;
    padding-right: 25px; } }
  @media only screen and (min-width: 980px) and (max-width: 669px) {
    .composite-variation-ornament-separator {
      width: auto; } }
  @media only screen and (min-width: 980px) and (min-width: 670px) and (max-width: 768px) {
    .composite-variation-ornament-separator {
      width: auto; } }
  @media only screen and (min-width: 980px) and (min-width: 980px) and (max-width: 1139px) {
    .composite-variation-ornament-separator {
      width: 960px; } }
  @media (min-width: 980px) and (min-width: 1140px) {
    .composite-variation-ornament-separator {
      width: 1140px; } }

.composite-variation-ornament-separator > .content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: row;
      flex-direction: row; }
  @media only screen and (max-width: 669px) {
    .composite-variation-ornament-separator > .content > .box {
      position: relative;
      width: 25px;
      height: 25px;
      background-image: url("/etc/designs/zg/nameera/desktop/assets/img/arabic-icon.svg");
      background-repeat: no-repeat;
      background-size: 105%;
      background-position: center; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .composite-variation-ornament-separator > .content > .box {
      position: relative;
      width: 25px;
      height: 25px;
      background-image: url("/etc/designs/zg/nameera/desktop/assets/img/arabic-icon.svg");
      background-repeat: no-repeat;
      background-size: 105%;
      background-position: center; } }
  @media (min-width: 980px) {
    .composite-variation-ornament-separator > .content > .box {
      position: relative;
      width: 40px;
      height: 40px;
      background-image: url("/etc/designs/zg/nameera/desktop/assets/img/arabic-icon.svg");
      background-repeat: no-repeat;
      background-size: 105%;
      background-position: center; } }
  .composite-variation-ornament-separator > .content:after, .composite-variation-ornament-separator > .content:before {
    content: "";
    display: -ms-flexbox;
    display: flex;
    height: 1px;
    -ms-flex: 1;
        flex: 1;
    background: #D0D0D0; }

/*# sourceMappingURL=index.css.map */
