@media only screen and (max-width: 669px) {
  .composite-what_is_in_out_section {
    position: relative;
    background-color: #f2f4f6;
    padding-top: 48px;
    padding-bottom: 46px; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .composite-what_is_in_out_section {
    position: relative;
    background-color: #f2f4f6;
    padding-top: 48px;
    padding-bottom: 46px; } }

@media (min-width: 980px) {
  .composite-what_is_in_out_section {
    position: relative;
    background-color: #f2f4f6;
    padding-top: 64px;
    padding-bottom: 61px; } }

.composite-what_is_in_out_section > .content {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
  padding-right: 25px; }
  @media only screen and (max-width: 669px) {
    .composite-what_is_in_out_section > .content {
      width: auto; } }
  @media only screen and (min-width: 670px) and (max-width: 768px) {
    .composite-what_is_in_out_section > .content {
      width: auto; } }
  @media only screen and (min-width: 980px) and (max-width: 1139px) {
    .composite-what_is_in_out_section > .content {
      width: 960px; } }
  @media (min-width: 1140px) {
    .composite-what_is_in_out_section > .content {
      width: 1140px; } }
  @media only screen and (max-width: 669px) {
    .composite-what_is_in_out_section > .content {
      position: relative;
      margin-bottom: -15px; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .composite-what_is_in_out_section > .content {
      position: relative;
      margin-bottom: -15px; } }
  @media (min-width: 980px) {
    .composite-what_is_in_out_section > .content {
      position: relative;
      margin-bottom: -15px; } }

@media only screen and (max-width: 669px) {
  .composite-what_is_in_out_section .richText {
    position: relative;
    margin-bottom: 15px; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .composite-what_is_in_out_section .richText {
    position: relative;
    margin-bottom: 15px; } }

@media (min-width: 980px) {
  .composite-what_is_in_out_section .richText {
    position: relative;
    margin-bottom: 15px; } }

@media only screen and (max-width: 669px) {
  .composite-what_is_in_out_section .richText img {
    position: relative;
    margin: 0 auto;
    width: auto;
    max-height: 200px;
    display: block; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .composite-what_is_in_out_section .richText img {
    position: relative;
    margin: 0 auto;
    width: auto;
    max-height: 200px;
    display: block; } }

@media (min-width: 980px) {
  .composite-what_is_in_out_section .richText img {
    position: relative;
    margin: 0 auto;
    width: auto;
    max-height: 200px;
    display: block; } }

@media only screen and (max-width: 669px) {
  .composite-what_is_in_out_section .richText-content {
    text-align: center; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .composite-what_is_in_out_section .richText-content {
    text-align: center; } }

@media (min-width: 980px) {
  .composite-what_is_in_out_section .richText-content {
    text-align: center; } }

@media only screen and (max-width: 669px) {
  .composite-what_is_in_out_section .richText-content h3 {
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 1.33;
    letter-spacing: 1px;
    margin-top: 24px;
    margin-bottom: 20px; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .composite-what_is_in_out_section .richText-content h3 {
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 1.33;
    letter-spacing: 1px;
    margin-top: 24px;
    margin-bottom: 20px; } }

@media (min-width: 980px) {
  .composite-what_is_in_out_section .richText-content h3 {
    font-size: 2rem;
    font-weight: normal;
    line-height: 1.25;
    letter-spacing: 1px;
    margin-top: 24px;
    margin-bottom: 20px; } }

/*# sourceMappingURL=index.css.map */
