@charset "UTF-8";
.listingFilters[class*=default-style] {
  font-size: 1.125rem; }
  .listingFilters[class*=default-style] .filter-form {
    -ms-flex-align: center;
        align-items: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: start;
        justify-content: flex-start; }
    .listingFilters[class*=default-style] .filter-form.loading:after {
      background: url("../../../assets/img/loader.gif") no-repeat;
      content: "";
      margin-left: 5px;
      width: 31px;
      height: 31px; }
  .listingFilters[class*=default-style] .filter-wrapper,
  .listingFilters[class*=default-style] .filter-quantity {
    margin-right: 4px; }
  .listingFilters[class*=default-style] .filter-select > select {
    border-radius: 0;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    cursor: pointer;
    height: 30px;
    font-size: 1rem;
    box-sizing: border-box;
    padding: 3px 10px; }
    .listingFilters[class*=default-style] .filter-select > select::-ms-expand {
      display: none; }
  .listingFilters[class*=default-style] .filter-quantity {
    font-style: italic;
    font-weight: bold;
    display: none; }
    .listingFilters[class*=default-style] .filter-quantity.active {
      display: block; }
  .listingFilters[class*=default-style] .filter-wrapper.no-tags {
    display: none; }
  .listingFilters[class*=default-style] .filter-button {
    display: none; }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .listingFilters[class*=default-style] .filter-wrapper {
      width: 100%; }
    .listingFilters[class*=default-style] .filter-select {
      display: block;
      margin: 5px 0;
      width: 100%; }
      .listingFilters[class*=default-style] .filter-select select {
        width: 100%; } }

.listingFilters-articles {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
  padding-right: 25px; }
  @media only screen and (max-width: 669px) {
    .listingFilters-articles {
      width: auto; } }
  @media only screen and (min-width: 670px) and (max-width: 768px) {
    .listingFilters-articles {
      width: auto; } }
  @media only screen and (min-width: 980px) and (max-width: 1139px) {
    .listingFilters-articles {
      width: 960px; } }
  @media (min-width: 1140px) {
    .listingFilters-articles {
      width: 1140px; } }
  @media only screen and (max-width: 669px) {
    .listingFilters-articles {
      position: relative;
      margin-top: 20px;
      margin-bottom: 20px; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .listingFilters-articles {
      position: relative;
      margin-top: 25px;
      margin-bottom: 20px; } }
  @media (min-width: 980px) {
    .listingFilters-articles {
      position: relative;
      margin-top: 25px;
      margin-bottom: 20px; } }
  @media only screen and (max-width: 669px) {
    .listingFilters-articles .filter-form {
      position: relative;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -ms-flex-pack: justify;
          justify-content: space-between;
      margin-bottom: 25px;
      display: -ms-flexbox;
      display: flex;
      font-size: 1.125rem;
      font-weight: bold;
      text-transform: uppercase;
      font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .listingFilters-articles .filter-form {
      position: relative;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -ms-flex-pack: justify;
          justify-content: space-between;
      margin-bottom: 25px;
      display: -ms-flexbox;
      display: flex;
      font-size: 1.125rem;
      font-weight: bold;
      text-transform: uppercase;
      font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif; } }
  @media (min-width: 980px) {
    .listingFilters-articles .filter-form {
      position: relative;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -ms-flex-pack: justify;
          justify-content: space-between;
      margin-bottom: 25px;
      display: -ms-flexbox;
      display: flex;
      font-size: 1.25rem;
      font-weight: bold;
      text-transform: uppercase;
      font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif; } }
  @media only screen and (max-width: 669px) {
    .listingFilters-articles .filter-form .filter-wrapper {
      position: relative;
      -ms-flex-align: center;
          align-items: center;
      margin-top: 10px;
      margin-right: 10px;
      width: auto;
      display: -ms-flexbox;
      display: flex; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .listingFilters-articles .filter-form .filter-wrapper {
      position: relative;
      -ms-flex-align: center;
          align-items: center;
      margin-top: 10px;
      margin-right: 10px;
      width: auto;
      display: -ms-flexbox;
      display: flex; } }
  @media (min-width: 980px) {
    .listingFilters-articles .filter-form .filter-wrapper {
      position: relative;
      -ms-flex-align: center;
          align-items: center;
      margin-top: 10px;
      margin-right: 30px;
      width: auto;
      display: -ms-flexbox;
      display: flex; } }
  .listingFilters-articles .filter-form .filter-wrapper .filter-prefix {
    position: relative;
    bottom: -6px; }
    @media only screen and (max-width: 979px) {
      .listingFilters-articles .filter-form .filter-wrapper .filter-prefix {
        bottom: 0; } }
    @media only screen and (max-width: 669px) {
      .listingFilters-articles .filter-form .filter-wrapper .filter-prefix {
        line-height: 1.3;
        transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
        display: -ms-inline-flexbox;
        display: inline-flex;
        margin-right: 10px;
        -ms-flex-align: center;
            align-items: center;
        -ms-flex-pack: center;
            justify-content: center; } }
    @media only screen and (min-width: 670px) and (max-width: 979px) {
      .listingFilters-articles .filter-form .filter-wrapper .filter-prefix {
        line-height: 1.3;
        transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
        display: -ms-inline-flexbox;
        display: inline-flex;
        margin-right: 10px;
        -ms-flex-align: center;
            align-items: center;
        -ms-flex-pack: center;
            justify-content: center; } }
    @media (min-width: 980px) {
      .listingFilters-articles .filter-form .filter-wrapper .filter-prefix {
        line-height: 1.3;
        transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
        display: -ms-inline-flexbox;
        display: inline-flex;
        margin-right: 10px;
        -ms-flex-align: center;
            align-items: center;
        -ms-flex-pack: center;
            justify-content: center; } }
    @media only screen and (max-width: 669px) {
      .listingFilters-articles .filter-form .filter-wrapper .filter-prefix {
        display: none; } }
  @media only screen and (max-width: 669px) {
    .listingFilters-articles .filter-form .filter-wrapper .filter-select {
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: -ms-inline-flexbox;
      display: inline-flex;
      position: relative;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: justify;
          justify-content: space-between; }
      .listingFilters-articles .filter-form .filter-wrapper .filter-select:before {
        position: absolute;
        top: 100%;
        left: 0; }
      .listingFilters-articles .filter-form .filter-wrapper .filter-select:before {
        content: '';
        border-top: 2px solid black;
        width: calc(100% - 30px);
        display: block; }
      .listingFilters-articles .filter-form .filter-wrapper .filter-select:before {
        transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, border 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s; }
      .listingFilters-articles .filter-form .filter-wrapper .filter-select:hover:before {
        border-color: #696969; }
      .listingFilters-articles .filter-form .filter-wrapper .filter-select:after {
        content: "";
        font-size: 0.375rem;
        color: #97b049;
        display: block;
        font-family: 'icons';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        text-align: center;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
      .listingFilters-articles .filter-form .filter-wrapper .filter-select:after {
        transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s; }
      .listingFilters-articles .filter-form .filter-wrapper .filter-select:hover:after {
        color: #657D02; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .listingFilters-articles .filter-form .filter-wrapper .filter-select {
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: -ms-inline-flexbox;
      display: inline-flex;
      position: relative;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: justify;
          justify-content: space-between; }
      .listingFilters-articles .filter-form .filter-wrapper .filter-select:before {
        position: absolute;
        top: 100%;
        left: 0; }
      .listingFilters-articles .filter-form .filter-wrapper .filter-select:before {
        content: '';
        border-top: 2px solid black;
        width: calc(100% - 30px);
        display: block; }
      .listingFilters-articles .filter-form .filter-wrapper .filter-select:before {
        transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, border 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s; }
      .listingFilters-articles .filter-form .filter-wrapper .filter-select:hover:before {
        border-color: #696969; }
      .listingFilters-articles .filter-form .filter-wrapper .filter-select:after {
        content: "";
        font-size: 0.375rem;
        color: #97b049;
        display: block;
        font-family: 'icons';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        text-align: center;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
      .listingFilters-articles .filter-form .filter-wrapper .filter-select:after {
        transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s; }
      .listingFilters-articles .filter-form .filter-wrapper .filter-select:hover:after {
        color: #657D02; } }
  @media (min-width: 980px) {
    .listingFilters-articles .filter-form .filter-wrapper .filter-select {
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: -ms-inline-flexbox;
      display: inline-flex;
      position: relative;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: justify;
          justify-content: space-between; }
      .listingFilters-articles .filter-form .filter-wrapper .filter-select:before {
        position: absolute;
        top: 100%;
        left: 0; }
      .listingFilters-articles .filter-form .filter-wrapper .filter-select:before {
        content: '';
        border-top: 3px solid black;
        width: calc(100% - 30px);
        display: block; }
      .listingFilters-articles .filter-form .filter-wrapper .filter-select:before {
        transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, border 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s; }
      .listingFilters-articles .filter-form .filter-wrapper .filter-select:hover:before {
        border-color: #696969; }
      .listingFilters-articles .filter-form .filter-wrapper .filter-select:after {
        content: "";
        font-size: 0.375rem;
        color: #97b049;
        display: block;
        font-family: 'icons';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        text-align: center;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
      .listingFilters-articles .filter-form .filter-wrapper .filter-select:after {
        transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s; }
      .listingFilters-articles .filter-form .filter-wrapper .filter-select:hover:after {
        color: #657D02; } }
  .listingFilters-articles .filter-form .filter-wrapper .filter-select:before {
    top: unset;
    bottom: 0; }
  .listingFilters-articles .filter-form .filter-wrapper .filter-select:after {
    position: relative;
    right: 10px; }
  .listingFilters-articles .filter-form select {
    width: 100%;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    outline: none;
    position: relative;
    background: transparent;
    border: 0; }
    .listingFilters-articles .filter-form select::-ms-expand {
      display: none; }
  .listingFilters-articles .filter-form .select-replacement .select-trigger {
    pointer-events: none;
    white-space: nowrap; }
    @media only screen and (max-width: 669px) {
      .listingFilters-articles .filter-form .select-replacement .select-trigger {
        background-color: transparent;
        color: black;
        font-size: 1.625rem;
        font-weight: bold;
        line-height: 1.1;
        text-transform: uppercase;
        text-decoration: none;
        font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
        transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
        display: -ms-inline-flexbox;
        display: inline-flex;
        border: none;
        padding: 0 20px 0 0;
        -ms-flex-align: center;
            align-items: center;
        -ms-flex-pack: center;
            justify-content: center;
        height: 100%; }
        .listingFilters-articles .filter-form .select-replacement .select-trigger:hover {
          color: #696969; } }
    @media only screen and (min-width: 670px) and (max-width: 979px) {
      .listingFilters-articles .filter-form .select-replacement .select-trigger {
        background-color: transparent;
        color: black;
        font-size: 1.625rem;
        font-weight: bold;
        line-height: 1.1;
        text-transform: uppercase;
        text-decoration: none;
        font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
        transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
        display: -ms-inline-flexbox;
        display: inline-flex;
        border: none;
        padding: 0 20px 0 0;
        -ms-flex-align: center;
            align-items: center;
        -ms-flex-pack: center;
            justify-content: center;
        height: 100%; }
        .listingFilters-articles .filter-form .select-replacement .select-trigger:hover {
          color: #696969; } }
    @media (min-width: 980px) {
      .listingFilters-articles .filter-form .select-replacement .select-trigger {
        background-color: transparent;
        color: black;
        font-size: 2.375rem;
        font-weight: bold;
        line-height: 1.1;
        text-transform: uppercase;
        text-decoration: none;
        font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
        transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
        display: -ms-inline-flexbox;
        display: inline-flex;
        border: none;
        padding: 0 20px 0 0;
        -ms-flex-align: center;
            align-items: center;
        -ms-flex-pack: center;
            justify-content: center;
        height: 100%; }
        .listingFilters-articles .filter-form .select-replacement .select-trigger:hover {
          color: #696969; } }
  .listingFilters-articles .filter-form .select-replacement select {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
    opacity: 0.01; }
    .listingFilters-articles .filter-form .select-replacement select:focus + .select-trigger {
      box-shadow: 0 0 3px 3px #ab3334; }
  @media only screen and (max-width: 669px) {
    .listingFilters-articles .filter-form .filter-wrapper.filter-order {
      position: relative;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
      margin-top: 20px;
      margin-right: 0; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .listingFilters-articles .filter-form .filter-wrapper.filter-order {
      position: relative;
      margin-right: 0; } }
  @media (min-width: 980px) {
    .listingFilters-articles .filter-form .filter-wrapper.filter-order {
      position: relative;
      -ms-flex-positive: 1;
          flex-grow: 1;
      -ms-flex-pack: end;
          justify-content: flex-end;
      margin-right: 0; } }
  .listingFilters-articles .filter-form .filter-wrapper.filter-order .filter-prefix {
    display: -ms-inline-flexbox;
    display: inline-flex; }
  @media only screen and (max-width: 669px) {
    .listingFilters-articles .filter-form .filter-wrapper.filter-order .filter-select {
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: -ms-inline-flexbox;
      display: inline-flex;
      margin-top: 0;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: justify;
          justify-content: space-between; }
      .listingFilters-articles .filter-form .filter-wrapper.filter-order .filter-select:after {
        content: "";
        font-size: 0.375rem;
        color: black;
        display: block;
        font-family: 'icons';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        text-align: center;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .listingFilters-articles .filter-form .filter-wrapper.filter-order .filter-select {
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: -ms-inline-flexbox;
      display: inline-flex;
      margin-top: 0;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: justify;
          justify-content: space-between; }
      .listingFilters-articles .filter-form .filter-wrapper.filter-order .filter-select:after {
        content: "";
        font-size: 0.375rem;
        color: black;
        display: block;
        font-family: 'icons';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        text-align: center;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; } }
  @media (min-width: 980px) {
    .listingFilters-articles .filter-form .filter-wrapper.filter-order .filter-select {
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: -ms-inline-flexbox;
      display: inline-flex;
      margin-top: 10px;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: justify;
          justify-content: space-between; }
      .listingFilters-articles .filter-form .filter-wrapper.filter-order .filter-select:after {
        content: "";
        font-size: 0.375rem;
        color: black;
        display: block;
        font-family: 'icons';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        text-align: center;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; } }
  .listingFilters-articles .filter-form .filter-wrapper.filter-order .filter-select select {
    opacity: 1;
    min-width: 0; }
    @media only screen and (max-width: 669px) {
      .listingFilters-articles .filter-form .filter-wrapper.filter-order .filter-select select {
        font-size: 0.875rem;
        font-weight: normal;
        line-height: 1;
        text-transform: none;
        font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
        transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
        display: -ms-inline-flexbox;
        display: inline-flex;
        border: 1px solid #D0D0D0;
        border-radius: 3px;
        padding: 12.46px 30px 11.48px 10px;
        margin: 0;
        -ms-flex-align: center;
            align-items: center;
        -ms-flex-pack: center;
            justify-content: center;
        width: 100%;
        min-width: 175px;
        box-sizing: border-box; } }
    @media only screen and (min-width: 670px) and (max-width: 979px) {
      .listingFilters-articles .filter-form .filter-wrapper.filter-order .filter-select select {
        font-size: 0.875rem;
        font-weight: normal;
        line-height: 1;
        text-transform: none;
        font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
        transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
        display: -ms-inline-flexbox;
        display: inline-flex;
        border: 1px solid #D0D0D0;
        border-radius: 3px;
        padding: 12.46px 30px 11.48px 10px;
        margin: 0;
        -ms-flex-align: center;
            align-items: center;
        -ms-flex-pack: center;
            justify-content: center;
        width: 100%;
        min-width: 175px;
        box-sizing: border-box; } }
    @media (min-width: 980px) {
      .listingFilters-articles .filter-form .filter-wrapper.filter-order .filter-select select {
        font-size: 0.875rem;
        font-weight: normal;
        line-height: 1;
        text-transform: none;
        font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
        transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
        display: -ms-inline-flexbox;
        display: inline-flex;
        border: 1px solid #D0D0D0;
        border-radius: 3px;
        padding: 12.46px 30px 11.48px 10px;
        margin: 0;
        -ms-flex-align: center;
            align-items: center;
        -ms-flex-pack: center;
            justify-content: center;
        width: 100%;
        min-width: 175px;
        box-sizing: border-box; } }
    @media only screen and (max-width: 669px) {
      .ua-safari .listingFilters-articles .filter-form .filter-wrapper.filter-order .filter-select select {
        font-size: 1rem; } }
    @media only screen and (min-width: 670px) and (max-width: 979px) {
      .ua-safari .listingFilters-articles .filter-form .filter-wrapper.filter-order .filter-select select {
        font-size: 1rem; } }
    .listingFilters-articles .filter-form .filter-wrapper.filter-order .filter-select select option {
      min-height: 0; }
      @media only screen and (max-width: 669px) {
        .listingFilters-articles .filter-form .filter-wrapper.filter-order .filter-select select option {
          font-size: 0.875rem;
          font-weight: normal;
          position: relative;
          padding: 0;
          min-height: 30px; } }
      @media only screen and (min-width: 670px) and (max-width: 979px) {
        .listingFilters-articles .filter-form .filter-wrapper.filter-order .filter-select select option {
          font-size: 0.875rem;
          font-weight: normal;
          position: relative;
          padding: 0;
          min-height: 30px; } }
      @media (min-width: 980px) {
        .listingFilters-articles .filter-form .filter-wrapper.filter-order .filter-select select option {
          font-size: 0.875rem;
          font-weight: normal;
          position: relative;
          padding: 0;
          min-height: 45px; } }
  .listingFilters-articles .filter-form .filter-wrapper.filter-order .filter-select:after {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%); }
  .listingFilters-articles .filter-form .filter-wrapper.filter-order .filter-select:before {
    display: none; }
  .listingFilters-articles .filter-quantity, .listingFilters-articles .filter-button {
    display: none !important; }

@media only screen and (max-width: 669px) {
  .listingFilters.product-listing-filter {
    font-size: 0.875rem;
    font-weight: bold;
    line-height: 1.29;
    letter-spacing: 0.3px;
    font-family: Montserrat, sans-serif;
    position: relative;
    margin-bottom: 10px;
    margin-left: 20px; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .listingFilters.product-listing-filter {
    font-size: 0.875rem;
    font-weight: bold;
    line-height: 1.29;
    letter-spacing: 0.3px;
    font-family: Montserrat, sans-serif;
    position: relative;
    margin-left: 25px; } }

@media (min-width: 980px) {
  .listingFilters.product-listing-filter {
    font-size: 0.875rem;
    font-weight: bold;
    line-height: 1.29;
    letter-spacing: 0.3px;
    font-family: Montserrat, sans-serif;
    position: relative;
    margin-left: 25px; } }

.listingFilters.product-listing-filter .filter-form {
  -ms-flex-align: center;
      align-items: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: end;
      justify-content: flex-end; }
  @media only screen and (max-width: 669px) {
    .listingFilters.product-listing-filter .filter-form {
      position: relative; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .listingFilters.product-listing-filter .filter-form {
      position: relative; } }
  @media (min-width: 980px) {
    .listingFilters.product-listing-filter .filter-form {
      position: relative; } }
  .listingFilters.product-listing-filter .filter-form.loading:after {
    background: url("../assets/img/loader.gif") no-repeat;
    content: "";
    height: 31px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 31px;
    z-index: 15; }

@media only screen and (max-width: 669px) {
  .listingFilters.product-listing-filter .filter-wrapper {
    position: relative;
    -ms-flex-align: center;
        align-items: center;
    display: -ms-flexbox;
    display: flex; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .listingFilters.product-listing-filter .filter-wrapper {
    position: relative;
    -ms-flex-align: center;
        align-items: center;
    display: -ms-flexbox;
    display: flex; } }

@media (min-width: 980px) {
  .listingFilters.product-listing-filter .filter-wrapper {
    position: relative;
    -ms-flex-align: center;
        align-items: center;
    display: -ms-flexbox;
    display: flex; } }

.listingFilters.product-listing-filter .filter-quantity,
.listingFilters.product-listing-filter .filter-button {
  display: none; }

@media only screen and (max-width: 669px) {
  .listingFilters.product-listing-filter .filter-prefix {
    display: none; } }

@media only screen and (max-width: 669px) {
  .listingFilters.product-listing-filter .filter-prefix {
    margin: 0 10px 0 0; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .listingFilters.product-listing-filter .filter-prefix {
    margin: 0 10px 0 0; } }

@media (min-width: 980px) {
  .listingFilters.product-listing-filter .filter-prefix {
    margin: 0 10px 0 0; } }

.listingFilters.product-listing-filter .filter-prefix:empty {
  display: none; }

.listingFilters.product-listing-filter .filter-select {
  position: relative; }
  @media only screen and (max-width: 669px) {
    .listingFilters.product-listing-filter .filter-select:after {
      margin-right: 8px;
      content: "";
      font-size: 0.5rem;
      display: block;
      font-family: 'icons';
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      text-align: center;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .listingFilters.product-listing-filter .filter-select:after {
      margin-right: 8px;
      content: "";
      font-size: 0.25rem;
      display: block;
      font-family: 'icons';
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      text-align: center;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; } }
  @media (min-width: 980px) {
    .listingFilters.product-listing-filter .filter-select:after {
      margin-right: 8px;
      content: "";
      font-size: 0.25rem;
      display: block;
      font-family: 'icons';
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      text-align: center;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; } }
  .listingFilters.product-listing-filter .filter-select:after {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; }
  .listingFilters.product-listing-filter .filter-select select {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    cursor: pointer; }
    @media only screen and (max-width: 669px) {
      .listingFilters.product-listing-filter .filter-select select {
        position: relative;
        background: white;
        border: 1px solid #D0D0D0;
        border-radius: 3px;
        padding: 0 26px 0 6px;
        width: 100%;
        height: 36px;
        color: #696969;
        font-size: 1rem;
        line-height: 2.25rem;
        font-family: Montserrat, sans-serif; } }
    @media only screen and (min-width: 670px) and (max-width: 979px) {
      .listingFilters.product-listing-filter .filter-select select {
        position: relative;
        background: white;
        border: 1px solid #D0D0D0;
        border-radius: 3px;
        padding: 0 26px 0 6px;
        width: 100%;
        height: 36px;
        color: black;
        font-size: 0.75rem;
        line-height: 2.25rem;
        font-family: Montserrat, sans-serif; } }
    @media (min-width: 980px) {
      .listingFilters.product-listing-filter .filter-select select {
        position: relative;
        background: white;
        border: 1px solid #D0D0D0;
        border-radius: 3px;
        padding: 0 26px 0 6px;
        width: 100%;
        height: 36px;
        color: black;
        font-size: 0.75rem;
        line-height: 2.25rem;
        font-family: Montserrat, sans-serif; } }
    .listingFilters.product-listing-filter .filter-select select::-ms-expand {
      display: none; }

/*# sourceMappingURL=index.css.map */
