.searchBox {

  @include media-query(desktop, wide) {
    position: relative;
    z-index: $z-index-behind - 1;
  }

  .searchBox-label {
    position: relative;
    display: block;
  }

  .searchBox-title {
    display: block;
    font-size: 0;

    @include breakpoints (desktop){
      // @include icon(g('main._search.icon'), $media);
    }

    @include breakpoints(mobile, tablet) {
      @include button(merge((
          display: flex,
          flex: (
            align-items: center,
            justify-content: center,
            align-self: stretch,
            flex-shrink: 0
          )
        ), gl('_mobile.search-box.button')), $media);
    }
  }

  button {
    display: none;
  }

  @include media-query(mobile, tablet) {
    input {
      display: none;
    }

  }

  @include breakpoints(desktop) {
    input {
      @include input(g('main._search.input'), $media);
    }
  }

  @include media-query(auto, notebook) {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
  }

  @include breakpoints(mobile, tablet) {
    order: 3;
    flex-grow: 0;
  }
}
