&.is-sticky {
  z-index: $z-index-fixed;
  position: relative;

  .header-supplementary {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
  }

  .header-main {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
  }
}
