@media only screen and (max-width: 669px) {
  .composite-photo-carousel .flickity-viewport {
    position: relative;
    height: 150px !important; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .composite-photo-carousel .flickity-viewport {
    position: relative;
    height: 200px !important; } }

@media (min-width: 980px) {
  .composite-photo-carousel .flickity-viewport {
    position: relative;
    height: 265px !important; } }

@media only screen and (max-width: 669px) {
  .composite-photo-carousel .listing-item {
    position: relative;
    padding: 0 5px;
    width: 150px; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .composite-photo-carousel .listing-item {
    position: relative;
    padding: 0 10px;
    width: 200px; } }

@media (min-width: 980px) {
  .composite-photo-carousel .listing-item {
    position: relative;
    padding: 0 15px;
    width: 265px; } }

.composite-photo-carousel .listing-item .image {
  z-index: 10; }
  @media only screen and (max-width: 669px) {
    .composite-photo-carousel .listing-item .image {
      position: relative;
      height: 150px; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .composite-photo-carousel .listing-item .image {
      position: relative;
      height: 200px; } }
  @media (min-width: 980px) {
    .composite-photo-carousel .listing-item .image {
      position: relative;
      height: 265px; } }
  .composite-photo-carousel .listing-item .image .component-content {
    height: 200px;
    background: red; }
  .composite-photo-carousel .listing-item .image img {
    min-width: 0;
    min-height: 0;
    width: 200px;
    height: 200px;
    -o-object-fit: cover;
    object-fit: cover; }

/*# sourceMappingURL=index.css.map */
