.composite-titeled-icon .richText-content h3 {
  vertical-align: middle; }
  @media only screen and (max-width: 669px) {
    .composite-titeled-icon .richText-content h3 {
      color: #C9484A;
      font-size: 1.4rem; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .composite-titeled-icon .richText-content h3 {
      color: #C9484A;
      font-size: 1.6rem; } }
  @media (min-width: 980px) {
    .composite-titeled-icon .richText-content h3 {
      color: #C9484A;
      font-size: 2rem; } }
  .composite-titeled-icon .richText-content h3:before {
    display: inline-block;
    content: "";
    vertical-align: middle; }
    @media only screen and (max-width: 669px) {
      .composite-titeled-icon .richText-content h3:before {
        position: relative;
        margin-right: 5px;
        width: 28px;
        height: 28px;
        display: inline-block; } }
    @media only screen and (min-width: 670px) and (max-width: 979px) {
      .composite-titeled-icon .richText-content h3:before {
        position: relative;
        margin-right: 10px;
        width: 32px;
        height: 32px;
        display: inline-block; } }
    @media (min-width: 980px) {
      .composite-titeled-icon .richText-content h3:before {
        position: relative;
        margin-right: 25px;
        width: 40px;
        height: 40px;
        display: inline-block; } }

.composite-variation-titeled-icon-morning .richText-content h3:before {
  background-image: url("/etc/designs/zg/nameera/desktop/assets/img/morning-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%; }

.composite-variation-titeled-icon-night .richText-content h3:before {
  background-image: url("/etc/designs/zg/nameera/desktop/assets/img/night-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90%; }

/*# sourceMappingURL=index.css.map */
