@charset "UTF-8";
.tabs[class*=default-style] {
  position: relative; }
  .tabs[class*=default-style] .tabs-heading {
    display: block;
    color: #323131;
    font-size: 1.25rem;
    font-weight: bold;
    padding-bottom: 10px; }
  .tabs[class*=default-style] .tabs-nav {
    position: relative;
    top: 0;
    left: 0;
    height: 39px;
    z-index: 150;
    width: 100%;
    overflow: hidden; }
    .tabs[class*=default-style] .tabs-nav-list {
      position: relative;
      left: 0;
      padding: 0;
      margin: 0;
      width: 2000px;
      list-style: none;
      overflow: hidden; }
    .tabs[class*=default-style] .tabs-nav-item {
      display: inline;
      float: left;
      margin-left: 5px;
      height: 21px;
      top: 4px;
      padding: 7px 10px 7px 10px;
      border-width: 2px 2px 0 2px;
      border-style: solid;
      border-color: #323131;
      background: #e1e1e1;
      font-weight: bold;
      font-size: 0.75rem;
      cursor: pointer; }
      .tabs[class*=default-style] .tabs-nav-item a {
        color: #323131; }
      .tabs[class*=default-style] .tabs-nav-item.is-active,
      .tabs[class*=default-style] .tabs-nav-item.is-active a, .tabs[class*=default-style] .tabs-nav-item.is-active:hover {
        cursor: default;
        background: white; }
      .tabs[class*=default-style] .tabs-nav-item.is-active, .tabs[class*=default-style] .tabs-nav-item.is-active:hover {
        border-bottom: none;
        padding-bottom: 9px; }
      .tabs[class*=default-style] .tabs-nav-item.is-active:hover a {
        color: #323131; }
      .tabs[class*=default-style] .tabs-nav-item:first-child {
        margin-left: 0; }
      .tabs[class*=default-style] .tabs-nav-item:hover {
        background: #939191; }
        .tabs[class*=default-style] .tabs-nav-item:hover a {
          color: white;
          text-decoration: none; }
    .tabs[class*=default-style] .tabs-nav-switcher {
      position: absolute;
      top: 0;
      height: 35px;
      width: 15px;
      border: 2px solid #323131;
      background: #e1e1e1;
      cursor: pointer; }
      .tabs[class*=default-style] .tabs-nav-switcher-right {
        right: 0; }
      .tabs[class*=default-style] .tabs-nav-switcher-left {
        left: 0; }
        .tabs[class*=default-style] .tabs-nav-switcher-left:before {
          content: "f053";
          margin-left: -4px; }
      .tabs[class*=default-style] .tabs-nav-switcher:before {
        left: 50%;
        margin-left: -3px;
        padding: 7px 0;
        font-size: 0.75rem;
        content: icon("f054");
        display: inline-block;
        font-family: FontAwesome;
        font-style: normal;
        position: relative;
        font-weight: normal; }
  .tabs[class*=default-style] .tabs-content {
    padding: 13px;
    position: relative;
    top: -2px;
    z-index: 100;
    border: solid 2px #323131;
    background: white;
    overflow: hidden; }
  .tabs[class*=default-style] .tabMenuItem {
    margin-bottom: 0; }
  .no-js .tabs[class*=default-style] > .component-content {
    padding-top: 0; }
  .no-js .tabs[class*=default-style] .tabs-nav {
    display: none; }
  .no-js .tabs[class*=default-style] .tabs-content {
    display: block !important;
    visibility: visible !important; }

@media only screen and (max-width: 669px) {
  .tabs-product-details {
    position: relative;
    margin-top: 25px;
    margin-bottom: 60px; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .tabs-product-details {
    position: relative;
    margin-top: 25px;
    margin-bottom: 60px; } }

@media (min-width: 980px) {
  .tabs-product-details {
    position: relative;
    margin-top: 25px;
    margin-bottom: 60px; } }

.tabs-product-details .tabs-nav {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
  padding-right: 25px; }
  @media only screen and (max-width: 669px) {
    .tabs-product-details .tabs-nav {
      width: auto; } }
  @media only screen and (min-width: 670px) and (max-width: 768px) {
    .tabs-product-details .tabs-nav {
      width: auto; } }
  @media only screen and (min-width: 980px) and (max-width: 1139px) {
    .tabs-product-details .tabs-nav {
      width: 960px; } }
  @media (min-width: 1140px) {
    .tabs-product-details .tabs-nav {
      width: 1140px; } }

.tabs-product-details .tabs-nav-list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style-type: none; }
  @media only screen and (max-width: 669px) {
    .tabs-product-details .tabs-nav-list {
      position: relative;
      -ms-flex-direction: column;
          flex-direction: column;
      border-top: 2px solid #D0D0D0;
      padding: 0;
      margin-top: 0;
      margin-bottom: 0; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .tabs-product-details .tabs-nav-list {
      position: relative;
      -ms-flex-direction: column;
          flex-direction: column;
      border-top: 2px solid #D0D0D0;
      padding: 0;
      margin-top: 0;
      margin-bottom: 0; } }
  @media (min-width: 980px) {
    .tabs-product-details .tabs-nav-list {
      position: relative;
      padding: 0;
      margin-top: 0;
      margin-bottom: 0; } }

@media only screen and (max-width: 669px) {
  .tabs-product-details .tabs-nav-item a {
    font-size: 1.125rem;
    line-height: 1.22;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
    transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: relative;
    border-bottom: 2px solid #D0D0D0;
    padding: 16.04px 0 14.78px 0;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: start;
        justify-content: flex-start;
    width: 100%;
    max-height: 55px;
    z-index: 1;
    box-sizing: border-box; }
    .tabs-product-details .tabs-nav-item a:hover {
      color: #696969; }
    .tabs-product-details .tabs-nav-item a:after {
      position: absolute;
      top: 100%;
      left: 0; }
    .tabs-product-details .tabs-nav-item a:after {
      content: '';
      border-top: 4px solid black;
      margin: 0;
      transform: scaleX(0);
      transform-origin: 0 0;
      width: 100%;
      display: none; }
    .tabs-product-details .tabs-nav-item a:after {
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, border 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s; }
    .tabs-product-details .tabs-nav-item a:before {
      background-color: black;
      border-radius: 50%;
      margin-right: 20px;
      width: 20px;
      height: 20px;
      content: "";
      font-size: 0.625rem;
      color: white;
      display: block;
      font-family: 'icons';
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      text-align: center;
      line-height: 1.25rem;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; }
    .tabs-product-details .tabs-nav-item a:before {
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s; }
    .tabs-product-details .tabs-nav-item a:hover:before {
      background-color: #696969; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .tabs-product-details .tabs-nav-item a {
    font-size: 1.125rem;
    line-height: 1.22;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
    transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: relative;
    border-bottom: 2px solid #D0D0D0;
    padding: 16.04px 0 14.78px 0;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: start;
        justify-content: flex-start;
    width: 100%;
    max-height: 55px;
    z-index: 1;
    box-sizing: border-box; }
    .tabs-product-details .tabs-nav-item a:hover {
      color: #696969; }
    .tabs-product-details .tabs-nav-item a:after {
      position: absolute;
      top: 100%;
      left: 0; }
    .tabs-product-details .tabs-nav-item a:after {
      content: '';
      border-top: 4px solid black;
      margin: 0;
      transform: scaleX(0);
      transform-origin: 0 0;
      width: 100%;
      display: none; }
    .tabs-product-details .tabs-nav-item a:after {
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, border 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s; }
    .tabs-product-details .tabs-nav-item a:before {
      background-color: black;
      border-radius: 50%;
      margin-right: 20px;
      width: 20px;
      height: 20px;
      content: "";
      font-size: 0.625rem;
      color: white;
      display: block;
      font-family: 'icons';
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      text-align: center;
      line-height: 1.25rem;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; }
    .tabs-product-details .tabs-nav-item a:before {
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s; }
    .tabs-product-details .tabs-nav-item a:hover:before {
      background-color: #696969; } }

@media (min-width: 980px) {
  .tabs-product-details .tabs-nav-item a {
    font-size: 1.125rem;
    line-height: 1.44;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
    transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: relative;
    padding: 9.06px 20px 7.8px 20px;
    -ms-flex-align: center;
        align-items: center;
    z-index: 1;
    box-sizing: border-box; }
    .tabs-product-details .tabs-nav-item a:hover {
      color: #696969; }
    .tabs-product-details .tabs-nav-item a:after {
      position: absolute;
      top: 100%;
      left: 0; }
    .tabs-product-details .tabs-nav-item a:after {
      content: '';
      border-top: 4px solid black;
      margin: 0;
      transform: scaleX(0);
      transform-origin: 0 0;
      width: 100%; }
    .tabs-product-details .tabs-nav-item a:after {
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, border 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s; }
    .tabs-product-details .tabs-nav-item a:before {
      background-color: black;
      border-radius: 50%;
      margin-right: 20px;
      width: 20px;
      height: 20px;
      display: none;
      content: "";
      font-size: 0.625rem;
      color: white;
      display: none;
      font-family: 'icons';
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      text-align: center;
      line-height: 1.25rem;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; }
    .tabs-product-details .tabs-nav-item a:before {
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s; }
    .tabs-product-details .tabs-nav-item a:hover:before {
      background-color: #696969; } }

@media only screen and (max-width: 669px) {
  .tabs-product-details .tabs-nav-item.is-active a {
    font-size: 1.125rem;
    line-height: 1.22;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
    transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: relative;
    border-bottom: none;
    padding: 16.04px 0 14.78px 0;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: start;
        justify-content: flex-start;
    width: 100%;
    z-index: 1; }
    .tabs-product-details .tabs-nav-item.is-active a:hover {
      color: #696969; }
    .tabs-product-details .tabs-nav-item.is-active a:after {
      position: absolute;
      top: 100%;
      left: 0; }
    .tabs-product-details .tabs-nav-item.is-active a:after {
      content: '';
      border-top: 4px solid black;
      margin: 0;
      transform: scaleX(1);
      transform-origin: 0 0;
      width: 100%;
      display: none; }
    .tabs-product-details .tabs-nav-item.is-active a:after {
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, border 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s; }
    .tabs-product-details .tabs-nav-item.is-active a:before {
      background-color: black;
      border-radius: 50%;
      margin-right: 20px;
      width: 20px;
      height: 20px;
      content: "";
      font-size: 0.625rem;
      color: white;
      display: block;
      font-family: 'icons';
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      text-align: center;
      line-height: 1.25rem;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; }
    .tabs-product-details .tabs-nav-item.is-active a:before {
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s; }
    .tabs-product-details .tabs-nav-item.is-active a:hover:before {
      background-color: #696969; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .tabs-product-details .tabs-nav-item.is-active a {
    font-size: 1.125rem;
    line-height: 1.22;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
    transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: relative;
    border-bottom: none;
    padding: 16.04px 0 14.78px 0;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: start;
        justify-content: flex-start;
    width: 100%;
    z-index: 1; }
    .tabs-product-details .tabs-nav-item.is-active a:hover {
      color: #696969; }
    .tabs-product-details .tabs-nav-item.is-active a:after {
      position: absolute;
      top: 100%;
      left: 0; }
    .tabs-product-details .tabs-nav-item.is-active a:after {
      content: '';
      border-top: 4px solid black;
      margin: 0;
      transform: scaleX(1);
      transform-origin: 0 0;
      width: 100%;
      display: none; }
    .tabs-product-details .tabs-nav-item.is-active a:after {
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, border 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s; }
    .tabs-product-details .tabs-nav-item.is-active a:before {
      background-color: black;
      border-radius: 50%;
      margin-right: 20px;
      width: 20px;
      height: 20px;
      content: "";
      font-size: 0.625rem;
      color: white;
      display: block;
      font-family: 'icons';
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      text-align: center;
      line-height: 1.25rem;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; }
    .tabs-product-details .tabs-nav-item.is-active a:before {
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s; }
    .tabs-product-details .tabs-nav-item.is-active a:hover:before {
      background-color: #696969; } }

@media (min-width: 980px) {
  .tabs-product-details .tabs-nav-item.is-active a {
    font-size: 1.125rem;
    line-height: 1.44;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
    transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: relative;
    border-bottom: none;
    padding: 9.06px 20px 7.8px 20px;
    -ms-flex-align: center;
        align-items: center;
    z-index: 1; }
    .tabs-product-details .tabs-nav-item.is-active a:hover {
      color: #696969; }
    .tabs-product-details .tabs-nav-item.is-active a:after {
      position: absolute;
      top: 100%;
      left: 0; }
    .tabs-product-details .tabs-nav-item.is-active a:after {
      content: '';
      border-top: 4px solid black;
      margin: 0;
      transform: scaleX(1);
      transform-origin: 0 0;
      width: 100%; }
    .tabs-product-details .tabs-nav-item.is-active a:after {
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, border 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s; }
    .tabs-product-details .tabs-nav-item.is-active a:before {
      background-color: black;
      border-radius: 50%;
      margin-right: 20px;
      width: 20px;
      height: 20px;
      display: none;
      content: "";
      font-size: 0.625rem;
      color: white;
      display: none;
      font-family: 'icons';
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      text-align: center;
      line-height: 1.25rem;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; }
    .tabs-product-details .tabs-nav-item.is-active a:before {
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s; }
    .tabs-product-details .tabs-nav-item.is-active a:hover:before {
      background-color: #696969; } }

@media only screen and (max-width: 669px) {
  .tabs-product-details .tabs-nav-item .tabItem-smartlabel a {
    transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .tabs-product-details .tabs-nav-item .tabItem-smartlabel a {
    transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center; } }

@media (min-width: 980px) {
  .tabs-product-details .tabs-nav-item .tabItem-smartlabel a {
    transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center; } }

.tabs-product-details .tabs-nav-item .tabItem-smartlabel > div {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row-reverse;
      flex-direction: row-reverse; }
  @media only screen and (max-width: 669px) {
    .tabs-product-details .tabs-nav-item .tabItem-smartlabel > div .text-wrapper {
      line-height: 1.4;
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .tabs-product-details .tabs-nav-item .tabItem-smartlabel > div .text-wrapper {
      line-height: 1.4;
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center; } }
  @media (min-width: 980px) {
    .tabs-product-details .tabs-nav-item .tabItem-smartlabel > div .text-wrapper {
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center; } }

.tabs-product-details .tabs-nav-item .tabItem-smartlabel .image-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  min-width: 66px; }
  @media only screen and (max-width: 669px) {
    .tabs-product-details .tabs-nav-item .tabItem-smartlabel .image-wrapper img {
      position: relative;
      margin-left: 10px; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .tabs-product-details .tabs-nav-item .tabItem-smartlabel .image-wrapper img {
      position: relative;
      margin-left: 10px; } }
  @media (min-width: 980px) {
    .tabs-product-details .tabs-nav-item .tabItem-smartlabel .image-wrapper img {
      position: relative;
      margin-left: 10px; } }

@media only screen and (max-width: 979px) {
  .tabs-product-details .tabs-content {
    margin-left: -20px;
    margin-right: -20px; } }

@media only screen and (max-width: 669px) {
  .tabs-product-details .tabs-content {
    position: relative;
    background-color: #f2f4f6;
    padding: 40px 0; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .tabs-product-details .tabs-content {
    position: relative;
    background-color: #f2f4f6;
    padding: 40px 0; } }

@media (min-width: 980px) {
  .tabs-product-details .tabs-content {
    position: relative;
    background-color: #f2f4f6;
    padding: 60px 0; } }

.tabs-product-details .tabs-content > .tabContent > .content {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
  padding-right: 25px; }
  .tabs-product-details .tabs-content > .tabContent > .content:before, .tabs-product-details .tabs-content > .tabContent > .content:after {
    content: "";
    display: table; }
  .tabs-product-details .tabs-content > .tabContent > .content:after {
    clear: both; }
  @media only screen and (max-width: 669px) {
    .tabs-product-details .tabs-content > .tabContent > .content {
      width: auto; } }
  @media only screen and (min-width: 670px) and (max-width: 768px) {
    .tabs-product-details .tabs-content > .tabContent > .content {
      width: auto; } }
  @media only screen and (min-width: 980px) and (max-width: 1139px) {
    .tabs-product-details .tabs-content > .tabContent > .content {
      width: 960px; } }
  @media (min-width: 1140px) {
    .tabs-product-details .tabs-content > .tabContent > .content {
      width: 1140px; } }

@media only screen and (max-width: 669px) {
  .tabs-product-details .tabs-content .richText {
    font-size: 1.125rem;
    line-height: 1.44; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .tabs-product-details .tabs-content .richText {
    font-size: 1.125rem;
    line-height: 1.44; } }

@media (min-width: 980px) {
  .tabs-product-details .tabs-content .richText {
    font-size: 1rem;
    line-height: 1.56; } }

@media only screen and (max-width: 669px) {
  .tabs-product-details .tabs-content .richText h2 {
    font-size: 1.25rem;
    line-height: 1.3;
    margin-top: 20px;
    margin-bottom: 15px; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .tabs-product-details .tabs-content .richText h2 {
    font-size: 1.25rem;
    line-height: 1.3;
    margin-top: 0;
    margin-bottom: 15px; } }

@media (min-width: 980px) {
  .tabs-product-details .tabs-content .richText h2 {
    font-size: 1.625rem;
    line-height: 1.23;
    margin-top: 0;
    margin-bottom: 10px; } }

.tabs-product-details .tabs-content .richText p:last-of-type {
  margin-bottom: 0; }

@media only screen and (max-width: 669px) {
  .tabs-what-customers-think {
    position: relative; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .tabs-what-customers-think {
    position: relative; } }

@media (min-width: 980px) {
  .tabs-what-customers-think {
    position: relative; } }

.tabs-what-customers-think > .component-content {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
  padding-right: 25px; }
  @media only screen and (max-width: 669px) {
    .tabs-what-customers-think > .component-content {
      width: auto; } }
  @media only screen and (min-width: 670px) and (max-width: 768px) {
    .tabs-what-customers-think > .component-content {
      width: auto; } }
  @media only screen and (min-width: 980px) and (max-width: 1139px) {
    .tabs-what-customers-think > .component-content {
      width: 960px; } }
  @media (min-width: 1140px) {
    .tabs-what-customers-think > .component-content {
      width: 1140px; } }

.tabs-what-customers-think .tabs-nav-list {
  display: -ms-flexbox;
  display: flex;
  list-style-type: none; }
  @media only screen and (max-width: 669px) {
    .tabs-what-customers-think .tabs-nav-list {
      position: relative;
      border-bottom: 2px solid #D0D0D0;
      padding: 0;
      margin-top: 15px;
      margin-bottom: 0; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .tabs-what-customers-think .tabs-nav-list {
      position: relative;
      border-bottom: 2px solid #D0D0D0;
      padding: 0;
      margin-top: 15px;
      margin-bottom: 0; } }
  @media (min-width: 980px) {
    .tabs-what-customers-think .tabs-nav-list {
      position: relative;
      border-bottom: 2px solid #D0D0D0;
      padding: 0;
      margin-top: 15px;
      margin-bottom: 0; } }

@media only screen and (max-width: 669px) {
  .tabs-what-customers-think .tabs-nav-item {
    font-size: 1.125rem;
    line-height: 1.22;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
    transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: relative;
    border-left: 1px solid #D0D0D0;
    padding: 6.04px 25px 4.78px 25px;
    margin: 15px 0;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center; }
    .tabs-what-customers-think .tabs-nav-item:hover {
      color: #696969; }
    .tabs-what-customers-think .tabs-nav-item:before {
      position: absolute;
      top: 100%;
      left: 0; }
    .tabs-what-customers-think .tabs-nav-item:before {
      content: '';
      border-top: 3px solid #97b049;
      margin: 0;
      margin-top: 15px;
      margin-left: 20px;
      transform: scaleX(0);
      transform-origin: 0 0;
      width: calc(100% - 40px); }
    .tabs-what-customers-think .tabs-nav-item:before {
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, border 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .tabs-what-customers-think .tabs-nav-item {
    font-size: 1.125rem;
    line-height: 1.22;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
    transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: relative;
    border-left: 1px solid #D0D0D0;
    padding: 6.04px 25px 4.78px 25px;
    margin: 15px 0;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center; }
    .tabs-what-customers-think .tabs-nav-item:hover {
      color: #696969; }
    .tabs-what-customers-think .tabs-nav-item:before {
      position: absolute;
      top: 100%;
      left: 0; }
    .tabs-what-customers-think .tabs-nav-item:before {
      content: '';
      border-top: 3px solid #97b049;
      margin: 0;
      margin-top: 15px;
      margin-left: 20px;
      transform: scaleX(0);
      transform-origin: 0 0;
      width: calc(100% - 40px); }
    .tabs-what-customers-think .tabs-nav-item:before {
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, border 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s; } }

@media (min-width: 980px) {
  .tabs-what-customers-think .tabs-nav-item {
    font-size: 1.125rem;
    line-height: 1.44;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
    transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: relative;
    border-left: 1px solid #D0D0D0;
    padding: 0 25px 0 25px;
    margin: 10px 0;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center; }
    .tabs-what-customers-think .tabs-nav-item:hover {
      color: #696969; }
    .tabs-what-customers-think .tabs-nav-item:before {
      position: absolute;
      top: 100%;
      left: 0; }
    .tabs-what-customers-think .tabs-nav-item:before {
      content: '';
      border-top: 3px solid #97b049;
      margin: 0;
      margin-top: 10px;
      margin-left: 20px;
      transform: scaleX(0);
      transform-origin: 0 0;
      width: calc(100% - 40px); }
    .tabs-what-customers-think .tabs-nav-item:before {
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, border 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s; } }

@media only screen and (max-width: 669px) {
  .tabs-what-customers-think .tabs-nav-item:first-of-type {
    font-size: 1.125rem;
    line-height: 1.22;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
    transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: relative;
    border-left: 0;
    padding: 6.04px 25px 4.78px 25px;
    margin: 15px 0;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center; }
    .tabs-what-customers-think .tabs-nav-item:first-of-type:hover {
      color: #696969; }
    .tabs-what-customers-think .tabs-nav-item:first-of-type:before {
      position: absolute;
      top: 100%;
      left: 0; }
    .tabs-what-customers-think .tabs-nav-item:first-of-type:before {
      content: '';
      border-top: 3px solid #97b049;
      margin: 0;
      margin-top: 15px;
      margin-left: 20px;
      transform: scaleX(0);
      transform-origin: 0 0;
      width: calc(100% - 40px); }
    .tabs-what-customers-think .tabs-nav-item:first-of-type:before {
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, border 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .tabs-what-customers-think .tabs-nav-item:first-of-type {
    font-size: 1.125rem;
    line-height: 1.22;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
    transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: relative;
    border-left: 0;
    padding: 6.04px 25px 4.78px 25px;
    margin: 15px 0;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center; }
    .tabs-what-customers-think .tabs-nav-item:first-of-type:hover {
      color: #696969; }
    .tabs-what-customers-think .tabs-nav-item:first-of-type:before {
      position: absolute;
      top: 100%;
      left: 0; }
    .tabs-what-customers-think .tabs-nav-item:first-of-type:before {
      content: '';
      border-top: 3px solid #97b049;
      margin: 0;
      margin-top: 15px;
      margin-left: 20px;
      transform: scaleX(0);
      transform-origin: 0 0;
      width: calc(100% - 40px); }
    .tabs-what-customers-think .tabs-nav-item:first-of-type:before {
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, border 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s; } }

@media (min-width: 980px) {
  .tabs-what-customers-think .tabs-nav-item:first-of-type {
    font-size: 1.125rem;
    line-height: 1.44;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
    transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: relative;
    border-left: 0;
    padding: 0 25px 0 25px;
    margin: 10px 0;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center; }
    .tabs-what-customers-think .tabs-nav-item:first-of-type:hover {
      color: #696969; }
    .tabs-what-customers-think .tabs-nav-item:first-of-type:before {
      position: absolute;
      top: 100%;
      left: 0; }
    .tabs-what-customers-think .tabs-nav-item:first-of-type:before {
      content: '';
      border-top: 3px solid #97b049;
      margin: 0;
      margin-top: 10px;
      margin-left: 20px;
      transform: scaleX(0);
      transform-origin: 0 0;
      width: calc(100% - 40px); }
    .tabs-what-customers-think .tabs-nav-item:first-of-type:before {
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, border 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s; } }

@media only screen and (max-width: 669px) {
  .tabs-what-customers-think .tabs-nav-item.is-active {
    color: #97b049;
    font-size: 1.125rem;
    line-height: 1.22;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
    transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: relative;
    border-left: 1px solid #D0D0D0;
    padding: 6.04px 25px 4.78px 25px;
    margin: 15px 0;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center; }
    .tabs-what-customers-think .tabs-nav-item.is-active:hover {
      color: #97b049; }
    .tabs-what-customers-think .tabs-nav-item.is-active:before {
      position: absolute;
      top: 100%;
      left: 0; }
    .tabs-what-customers-think .tabs-nav-item.is-active:before {
      content: '';
      border-top: 3px solid #97b049;
      margin: 0;
      margin-top: 15px;
      margin-left: 20px;
      transform: scaleX(1);
      transform-origin: 0 0;
      width: calc(100% - 40px); }
    .tabs-what-customers-think .tabs-nav-item.is-active:before {
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, border 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .tabs-what-customers-think .tabs-nav-item.is-active {
    color: #97b049;
    font-size: 1.125rem;
    line-height: 1.22;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
    transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: relative;
    border-left: 1px solid #D0D0D0;
    padding: 6.04px 25px 4.78px 25px;
    margin: 15px 0;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center; }
    .tabs-what-customers-think .tabs-nav-item.is-active:hover {
      color: #97b049; }
    .tabs-what-customers-think .tabs-nav-item.is-active:before {
      position: absolute;
      top: 100%;
      left: 0; }
    .tabs-what-customers-think .tabs-nav-item.is-active:before {
      content: '';
      border-top: 3px solid #97b049;
      margin: 0;
      margin-top: 15px;
      margin-left: 20px;
      transform: scaleX(1);
      transform-origin: 0 0;
      width: calc(100% - 40px); }
    .tabs-what-customers-think .tabs-nav-item.is-active:before {
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, border 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s; } }

@media (min-width: 980px) {
  .tabs-what-customers-think .tabs-nav-item.is-active {
    color: #97b049;
    font-size: 1.125rem;
    line-height: 1.44;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
    transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: relative;
    border-left: 1px solid #D0D0D0;
    padding: 0 25px 0 25px;
    margin: 10px 0;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center; }
    .tabs-what-customers-think .tabs-nav-item.is-active:hover {
      color: #97b049; }
    .tabs-what-customers-think .tabs-nav-item.is-active:before {
      position: absolute;
      top: 100%;
      left: 0; }
    .tabs-what-customers-think .tabs-nav-item.is-active:before {
      content: '';
      border-top: 3px solid #97b049;
      margin: 0;
      margin-top: 10px;
      margin-left: 20px;
      transform: scaleX(1);
      transform-origin: 0 0;
      width: calc(100% - 40px); }
    .tabs-what-customers-think .tabs-nav-item.is-active:before {
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, border 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s; } }

@media only screen and (max-width: 669px) {
  .tabs-what-customers-think .tabs-nav-item.is-active:first-of-type {
    border-left: 0; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .tabs-what-customers-think .tabs-nav-item.is-active:first-of-type {
    border-left: 0; } }

@media (min-width: 980px) {
  .tabs-what-customers-think .tabs-nav-item.is-active:first-of-type {
    border-left: 0; } }

.tabs-what-customers-think .tabs-nav-item a {
  text-decoration: inherit; }

@media only screen and (max-width: 669px) {
  .tabs-what-customers-think .tabs-content {
    position: relative; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .tabs-what-customers-think .tabs-content {
    position: relative; } }

@media (min-width: 980px) {
  .tabs-what-customers-think .tabs-content {
    position: relative; } }

/*# sourceMappingURL=index.css.map */
