.composite-about-icons {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
  padding-right: 25px; }
  @media only screen and (max-width: 669px) {
    .composite-about-icons {
      width: auto; } }
  @media only screen and (min-width: 670px) and (max-width: 768px) {
    .composite-about-icons {
      width: auto; } }
  @media only screen and (min-width: 980px) and (max-width: 1139px) {
    .composite-about-icons {
      width: 960px; } }
  @media (min-width: 1140px) {
    .composite-about-icons {
      width: 1140px; } }
  @media only screen and (max-width: 669px) {
    .composite-about-icons {
      position: relative;
      margin: 60px 0; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .composite-about-icons {
      position: relative;
      margin: 60px 0; } }
  @media (min-width: 980px) {
    .composite-about-icons {
      position: relative;
      margin: 80px auto; } }
  @media only screen and (max-width: 669px) {
    .composite-about-icons .box > .component-content > .content {
      position: relative;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-direction: column;
          flex-direction: column;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      margin: -25px 0;
      display: -ms-flexbox;
      display: flex; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .composite-about-icons .box > .component-content > .content {
      position: relative;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-direction: column;
          flex-direction: column;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      margin: -25px 0;
      display: -ms-flexbox;
      display: flex; } }
  @media (min-width: 980px) {
    .composite-about-icons .box > .component-content > .content {
      position: relative;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-direction: row;
          flex-direction: row;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      margin: -25px 0;
      display: -ms-flexbox;
      display: flex; } }
  .composite-about-icons .box > .component-content > .content a {
    display: none; }
  .composite-about-icons .richText {
    text-align: center; }
    @media only screen and (max-width: 669px) {
      .composite-about-icons .richText {
        position: relative;
        -ms-flex-positive: 1;
            flex-grow: 1;
        margin: 25px 0; } }
    @media only screen and (min-width: 670px) and (max-width: 979px) {
      .composite-about-icons .richText {
        position: relative;
        -ms-flex-positive: 1;
            flex-grow: 1;
        margin: 25px 0;
        max-width: 255px; } }
    @media (min-width: 980px) {
      .composite-about-icons .richText {
        position: relative;
        -ms-flex-positive: 1;
            flex-grow: 1;
        margin: 25px 0;
        max-width: 255px; } }
    @media only screen and (max-width: 669px) {
      .composite-about-icons .richText img {
        position: relative;
        margin-bottom: 15px;
        max-width: 90px; } }
    @media only screen and (min-width: 670px) and (max-width: 979px) {
      .composite-about-icons .richText img {
        position: relative;
        margin-bottom: 15px;
        max-width: 90px; } }
    @media (min-width: 980px) {
      .composite-about-icons .richText img {
        position: relative;
        margin-bottom: 25px;
        max-width: 132px; } }
    @media only screen and (max-width: 669px) {
      .composite-about-icons .richText h2, .composite-about-icons .richText h3, .composite-about-icons .richText h4 {
        font-size: 1.25rem;
        line-height: 1.3;
        margin: 0 0 10px; } }
    @media only screen and (min-width: 670px) and (max-width: 979px) {
      .composite-about-icons .richText h2, .composite-about-icons .richText h3, .composite-about-icons .richText h4 {
        font-size: 1.25rem;
        line-height: 1.3;
        margin: 0 0 10px; } }
    @media (min-width: 980px) {
      .composite-about-icons .richText h2, .composite-about-icons .richText h3, .composite-about-icons .richText h4 {
        font-size: 1.75rem;
        line-height: 1.23;
        margin: 0 0 10px; } }
    @media only screen and (max-width: 669px) {
      .composite-about-icons .richText p {
        font-size: 1.125rem;
        line-height: 1.44;
        margin: 0; } }
    @media only screen and (min-width: 670px) and (max-width: 979px) {
      .composite-about-icons .richText p {
        font-size: 1.125rem;
        line-height: 1.44;
        margin: 0; } }
    @media (min-width: 980px) {
      .composite-about-icons .richText p {
        font-size: 1.125rem;
        line-height: 1.44;
        margin: 0; } }

/*# sourceMappingURL=index.css.map */
