$sectionTitle: (
  _wrapper: (
    box: ()
  ),
  _medium: (
    paragraph: (
      text: (
        font-size: 1.34rem,
        color: color('primary', 'base'))
    )
  ),
  _large: (
    paragraph: (
      text: (
        font-size: 1.9rem,
        color: color('primary', 'base'))
    )
  )
);
