.richText-section-title {
  @import 'config';
  @function g($a...) {
    @return get-last($sectionTitle, $a...);
  }

  $wrapper: merge((
    margin: (
      margin-top: breakpoint((tablet-max: spacings('m'), desktop: spacings('s'))),
      margin-bottom: breakpoint((tablet-max: spacings('m'), desktop: 60px))
    )
  ), g('_wrapper.box'));

  @include breakpoints() {
    @include box($wrapper, $media);
  }

  h2 {
    $title: merge((
      margin: 0
    ), g('_medium.paragraph'));

    @include breakpoints() {
      @include paragraph($title, $media);
    }
  }

  h1 {
    $title: merge((
      margin: 0
    ), g('_large.paragraph'));

    @include breakpoints() {
      @include paragraph($title, $media);
    }
  }
}
