// RAW styles

$modal-width: 900px !default;
$modal-mobile-margin: 20px !default;
$modal-padding: 20px;

.browsersupport {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgba(color('neutral', 'dark'), 0.5);
  z-index: $z-index-modal;

  &.is-open {
    display: block;
  }
  .image[class*=default-style] img {
    margin-left: auto;
    margin-right: auto;
  }
}

.browsersupport-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: $modal-width;
  max-width: calc(100% - #{2 * $modal-mobile-margin});
  background: $white;
  border: 1px solid rgba(color('neutral', 'dark'), .2);
  box-shadow: 0 5px 15px rgba(color('neutral', 'dark'), .5);
  border-radius: 5px;
  p:first-child strong {
    font-size: 1.75rem;
  }
  figcaption p {
    font-size: 1rem;
  }
}

.browsersupport-dialog-close {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  outline: none;
  border: none;

  span {
    font-size: 0;

    &:before {
      @include font-awesome($fa-var-times);
      color: color('neutral', 'dark');
      opacity: 0.2;
      font-size: 25px;
    }
  }
}

.browsersupport-dialog-content {
  padding: $modal-padding;
}


@include respond-to(tablet-portrait) {
  .browsersupport {
    position: absolute;

    h1 {
      font-size: 2.4rem;
      margin-top: 60px;
    }
  }

  .browsersupport-dialog {
    position: absolute;
    top: 20px;
    transform: translate(-50%, 0);
  }
}
