$inner-width: 700px;

.exit-notification {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  background: rgba(0, 0, 0, 0.8);
  z-index: 1000;

  &.is-hidden {
    display: none;
  }

  &-buttons {
    text-align: right;
  }

  &-restrictive {
    @media screen and (max-width: 699px) {
      position: absolute;
    }
  }

  &-inner {
    padding: 13px;
    background: $background-color;
    position: fixed;
    top: 100px;
    width: $inner-width;
    margin-left: -($inner-width/2 + 13);
    left: 50%;

    @media screen and (max-width: 699px) {
      position: absolute;
      width: auto;
      margin: 20px;
      left: 0;
      top: 0;
    }
  }
}
