// Avenir font for Nameera

@font-face {
  font-family: 'Montserrat';
  src: url('../../assets/fonts/Montserrat-Italic.woff2') format('woff2'),
      url('../../assets/fonts/Montserrat-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../assets/fonts/Montserrat-Medium.woff2') format('woff2'),
      url('../../assets/fonts/Montserrat-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../assets/fonts/Montserrat-Regular.woff2') format('woff2'),
      url('../../assets/fonts/Montserrat-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../assets/fonts/Montserrat-Bold.woff2') format('woff2'),
      url('../../assets/fonts/Montserrat-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Baloo';
  src: url('../../assets/fonts/Baloo-Regular.woff2') format('woff2'),
      url('../../assets/fonts/Baloo-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}



html, body {

  @include text(common('text.body'), $media);
  @include background(common('background.body'), $media);


  @media only screen and (max-width: 669px) {
    html, body {
      font-size: px('xxxs');
      line-height: 1.25rem;
    }}

  @media only screen and (min-width: 670px) and (max-width: 979px) {
    html, body {
      font-size: px('xxs');
      line-height: 1.6rem;
    }}

  @media (min-width: 980px) {
    html, body {
      font-size: px(18);
      line-height: 2rem;
    }}


  
}

h1 {font-size: 28px;}
h2 {font-size: 21px;}
h3 {font-size: 16px;}
h4 {font-size: 14px;}
h5 {font-size: 12px;}
h6 {font-size: 9px;}
#header img {font-size: 7px;} // set small alt text if images 404 in header

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

a, button {
  @include breakpoints {
    @include link(common('_links._base-focus.link'), $media);
  }
}

a {
  &, &:active, &:hover, &:visited {
    color: inherit;
  }
}

input {
  @include breakpoints {
    @include input(common('_base-focus.input'), $media);
  }
}

.component {
  > .component-content {
    @include clearfix;
  }
}

#wrapper {
  // this is temporary
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  #content {
    flex-grow: 1;
  }

  #header {
    @include media-query(desktop, wide) {
      position: relative;
      z-index: $z-index-content + 1;
    }
  }

  &, > .main {
    // reseting grid.css stuff for full-width layouts
    padding: 0;
    margin: 0;
    width: auto;
  }
}

.composite {
  @include clearfix;
}

.alert {
  margin-bottom: 20px;

  &-list {
    margin: 0;
    padding: 0;
    list-style: disc inside;

    li {
      padding-left: 4px;
    }
  }

  &-error {
    color: $alert-text-color;
  }
}

.clearfix {
  @include clearfix;
}

.pull {
  &-right {
    float: right;
  }

  &-left {
    float: left;
  }
}

.is-hidden {
  display: none !important;
  visibility: hidden !important;
}

.button {
  background-color: $background-color;
  color: $text-color;
  padding: 5px 20px;
  cursor: pointer;
  display: inline-block;

  &:hover {
    background-color: $background-hover-color;
    color: $text-hover-color;
  }
}

.object-fit-polyfill {
  // set bg image
  background-size: cover;
  background-position: center center;
  img {
    opacity: 0;
    visibility: hidden;
  }
}

img {
  vertical-align: middle;
  max-width: 100%;
}

.ua-ie-11 {   //fix for IE 11
  #content {
    height: 100%;
  }
}

.lazyload,
.lazyloading {
  opacity: 0;
}

.lazyloaded {
  opacity: 1;
  transition: opacity 300ms;
}

// show screen reader text in author, or publish in debug mode i.e. $("body").addClass("show-sr-text")
// watch out double :not() works like AND
body:not(.cq-wcm-edit-touch):not(.show-sr-text) .sr-only {
  border: 0;
  clip: rect(0,0,0,0);
  height: 1px;
  margin: -1px;
  opacity: .1;
  outline: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  &:after {
    content: "";
  }
}

// in author and debug mode show SR text opaque and labeled
.richText.sr-only,
.title.sr-only h1,
span.sr-only {
  margin: 0 !important;
  opacity: .5;
  padding: 0 !important;
  &:after {
    content: " (screenreader)";
    font-size: 8px;
  }
  &:before {
    content: " ";
    display: inline-block;
    width: 1rem;
  }
}
.title.sr-only {
  text-align: center;
}
