/**
* This file will be included in author mode only
*
* USE:
* ".aem-AuthorLayer-Edit" to detect Touch UI authoring
* ".cq-wcm-edit" to detect Classic UI authoring
*/
#cq-emulator-content.firefox {
  background-color: #fff !important; }

.hiddenField {
  display: block; }

#header,
#content,
#footer {
  height: auto; }

.row .new.section.cq-Editable-dom {
  clear: both; }

#wrapper {
  min-height: 0; }

[class*=reference-header] .box-heading,
.reference-footer .box-heading {
  display: none; }

[class*=reference-header].snippet-content-page .new.section,
.reference-footer.snippet-content-page .new.section {
  width: 100%;
  box-sizing: border-box; }

[class*=reference-header].snippet-content-page .component,
.reference-footer.snippet-content-page .component {
  border: 2px solid #ccc;
  margin: 0 !important;
  padding: 5px !important; }

[class*=reference-header].snippet-content-page .cq-Editable-dom--container,
.reference-footer.snippet-content-page .cq-Editable-dom--container {
  padding: 5px; }

[class*=reference-header] .tabContent > .content > a {
  display: none; }

[class*=reference-header].snippet-content-page .header-supplementary .box-heading {
  display: none; }

[class*=reference-header].snippet-content-page .header-supplementary > .component-content > .content {
  display: block !important; }

[class*=reference-header].snippet-content-page .header-main > .component-content > .content {
  display: block !important; }

[class*=reference-header].snippet-content-page .header-main .tabs {
  display: block; }
  [class*=reference-header].snippet-content-page .header-main .tabs [style="clear:both"] {
    display: none; }

[class*=reference-header].snippet-content-page .header-main .tabs-content {
  display: block !important;
  position: static !important;
  width: auto !important;
  padding: 0 !important;
  margin-left: 0 !important;
  margin-top: 0 !important;
  visibility: visible !important;
  opacity: 1 !important;
  transform: none !important; }
  [class*=reference-header].snippet-content-page .header-main .tabs-content:before, [class*=reference-header].snippet-content-page .header-main .tabs-content:after {
    display: none; }

[class*=reference-header].snippet-content-page .header-main [class*="grid_"] {
  visibility: visible !important;
  opacity: 1 !important;
  transform: none !important; }

[class*=reference-header].snippet-content-page .header-main .tabContent > .content {
  margin: 0 !important;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  [class*=reference-header].snippet-content-page .header-main .tabContent > .content > div {
    -ms-flex-preferred-size: auto !important;
        flex-basis: auto !important; }

[class*=reference-header].snippet-content-page .header-main .tabs-main-navigation .tabs-content .tabContent > .content > div {
  opacity: 1 !important;
  visibility: visible !important;
  transform: none !important; }

[class*=reference-header].snippet-content-page .box-language-selector .richText p {
  display: block; }

[class*=reference-header].snippet-content-page .box-language-selector .navigation-item .navigation-item-title {
  display: -ms-flexbox;
  display: flex; }

[class*=reference-header] .richText-skip-to-content .richText-content a {
  opacity: 1;
  height: auto;
  width: auto; }

[class*=reference-header] .box-language-selector .navigation-item .navigation-item-title.is-active {
  display: -ms-flexbox;
  display: flex; }

.shoppable-cart-open-button {
  margin-top: 55px !important; }

.reference-footer * {
  box-sizing: border-box; }

.reference-footer .cq-Editable-dom--container {
  display: block !important;
  margin: 0 auto !important; }

.reference-footer .component {
  width: 100% !important; }
  .reference-footer .component.formButton {
    width: auto !important;
    max-height: 60px; }

.reference-footer .formContent.cq-Editable-dom--container {
  padding: 0; }

.reference-phone-link {
  display: block !important; }

.virtual-agent-holder .virtualAgent div.virtualAgent-noresults {
  display: block; }

.virtual-agent-holder .virtualAgent div.virtualAgent-footer {
  display: block; }

.box-store-locator-holder,
.box-store-locator-holder .box-store-locator-controls > .component-content > .content {
  height: auto !important;
  min-height: 0 !important;
  max-height: none !important; }

.box-store-locator-holder .box-store-locator-map {
  position: relative !important;
  height: 300px !important; }

.box-store-locator-holder .box-store-locator-step-1,
.box-store-locator-holder .box-store-locator-step-2,
.box-store-locator-holder .box-store-locator-step-3 {
  display: block; }

.box-store-locator-holder .listing.listing-cols-3 .listing-item {
  width: auto; }
  .box-store-locator-holder .listing.listing-cols-3 .listing-item .image.component {
    width: 33.33333%; }

.box-store-locator-holder .box-store-locator-step-2 .listing-product-list .component.storelocator {
  position: relative; }

.box-store-locator-holder .box-store-locator-step-2 .listing-product-list .storelocator-form-wrapper {
  display: block;
  position: relative; }

.box-store-locator-holder .box-store-locator-step-2 .listing-product-list .listing-item > .component-content {
  height: auto !important; }

.box-store-locator-holder .tabs-content.is-hidden {
  position: relative;
  left: 0;
  visibility: visible !important; }

.html--shoppable-checkout iframe {
  min-height: 500px; }

.listing--as-carousel .quickview-btn {
  position: static !important;
  transform: translate(0) !important;
  opacity: 1 !important; }

.listing--as-carousel .listing-item .box:nth-of-type(2) {
  padding: 30px 10px;
  margin-top: 150px; }

.listing {
  display: block !important;
  min-height: 100px; }

.listing.listing-article-list .listing-item .component-content .richText-content a {
  display: block; }

.cta-filter-mobile {
  display: block; }

.button-clear-filters {
  display: block; }

.cta-select-category {
  display: block; }

.template-product-landing-page .product-filters-and-category-navigation .mobile-buttons-wrapper {
  display: block;
  font-size: 1rem; }

.carousel-hero .carousel-slides {
  height: auto !important; }

.carousel-hero .carousel-slide {
  display: block !important;
  position: static !important; }

.search-filters {
  display: block !important; }

.searchFilter {
  display: block !important; }

.email-us-form form .fieldSet.odd .fields {
  display: block !important; }

.mobile-only {
  display: block !important; }

.composite-contact_us_boxes > .section {
  margin: 0 100px; }

.richText--newsletter-trigger {
  display: block !important; }

body .quizCTA {
  opacity: 1; }

.quizCTA-image:not([alt]) {
  outline: 2px dotted red; }

.floating-error-message {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 10px;
  margin: -30px 0 0 10px;
  position: absolute;
  z-index: 2147483647; }

/*# sourceMappingURL=author.css.map */
