@media only screen and (max-width: 669px) {
  .recipeIngredients {
    position: relative;
    margin-bottom: 20px; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .recipeIngredients {
    position: relative;
    margin-bottom: 20px; } }

@media (min-width: 980px) {
  .recipeIngredients {
    position: relative;
    margin-bottom: 20px; } }

.recipeIngredients-list {
  list-style: none;
  padding-left: 0; }
  @media only screen and (max-width: 669px) {
    .recipeIngredients-list {
      position: relative;
      margin: 0; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .recipeIngredients-list {
      position: relative;
      margin: 0; } }
  @media (min-width: 980px) {
    .recipeIngredients-list {
      position: relative;
      margin: 0; } }

@media only screen and (max-width: 669px) {
  .recipeIngredients-item {
    position: relative;
    border-top: solid 1px #D0D0D0;
    padding: 10px 0; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .recipeIngredients-item {
    position: relative;
    border-top: solid 1px #D0D0D0;
    padding: 10px 0; } }

@media (min-width: 980px) {
  .recipeIngredients-item {
    position: relative;
    border-top: solid 1px #D0D0D0;
    padding: 10px 0; } }

@media only screen and (max-width: 669px) {
  .recipeIngredients-text {
    font-size: 1.125rem;
    line-height: 1.44; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .recipeIngredients-text {
    font-size: 1.125rem;
    line-height: 1.44; } }

@media (min-width: 980px) {
  .recipeIngredients-text {
    font-size: 1.125rem;
    line-height: 1.44; } }

/*# sourceMappingURL=index.css.map */
