@media only screen and (max-width: 669px) {
  .productVariantList[class*=default-style] {
    position: relative; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .productVariantList[class*=default-style] {
    position: relative; } }

@media (min-width: 980px) {
  .productVariantList[class*=default-style] {
    position: relative; } }

.productVariantList[class*=default-style] .productVariantList-list {
  list-style-type: none;
  padding: 0; }
  @media only screen and (max-width: 669px) {
    .productVariantList[class*=default-style] .productVariantList-list {
      position: relative;
      margin: -10px; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .productVariantList[class*=default-style] .productVariantList-list {
      position: relative;
      margin: -10px; } }
  @media (min-width: 980px) {
    .productVariantList[class*=default-style] .productVariantList-list {
      position: relative;
      margin: -20px; } }

@media only screen and (max-width: 669px) {
  .productVariantList[class*=default-style] .productVariantList-item {
    position: relative;
    margin: 5px; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .productVariantList[class*=default-style] .productVariantList-item {
    position: relative;
    margin: 10px; } }

@media (min-width: 980px) {
  .productVariantList[class*=default-style] .productVariantList-item {
    position: relative;
    margin: 10px; } }

.productVariantList[class*=default-style] .productVariantList-link {
  text-decoration: none; }
  @media only screen and (max-width: 669px) {
    .productVariantList[class*=default-style] .productVariantList-link {
      background-color: white;
      color: black;
      font-size: 1.125rem;
      font-weight: bold;
      line-height: 1;
      font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: -ms-inline-flexbox;
      display: inline-flex;
      border: solid 1px #D0D0D0;
      border-radius: 50%;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center;
      width: 47px;
      height: 47px;
      box-sizing: border-box; }
      .productVariantList[class*=default-style] .productVariantList-link:hover {
        background: #D0D0D0;
        color: white; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .productVariantList[class*=default-style] .productVariantList-link {
      background-color: white;
      color: black;
      font-size: 1.125rem;
      font-weight: bold;
      line-height: 1;
      font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: -ms-inline-flexbox;
      display: inline-flex;
      border: solid 1px #D0D0D0;
      border-radius: 50%;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center;
      width: 59px;
      height: 59px;
      box-sizing: border-box; }
      .productVariantList[class*=default-style] .productVariantList-link:hover {
        background: #D0D0D0;
        color: white; } }
  @media (min-width: 980px) {
    .productVariantList[class*=default-style] .productVariantList-link {
      background-color: white;
      color: black;
      font-size: 1.125rem;
      font-weight: bold;
      line-height: 1;
      font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: -ms-inline-flexbox;
      display: inline-flex;
      border: solid 1px #D0D0D0;
      border-radius: 50%;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center;
      width: 59px;
      height: 59px;
      box-sizing: border-box; }
      .productVariantList[class*=default-style] .productVariantList-link:hover {
        background: #D0D0D0;
        color: white; } }
  @media only screen and (max-width: 669px) {
    .productVariantList[class*=default-style] .productVariantList-link.is-active {
      background-color: black;
      color: white;
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center; }
      .productVariantList[class*=default-style] .productVariantList-link.is-active:hover {
        background: #696969;
        color: white; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .productVariantList[class*=default-style] .productVariantList-link.is-active {
      background-color: black;
      color: white;
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center; }
      .productVariantList[class*=default-style] .productVariantList-link.is-active:hover {
        background: #696969;
        color: white; } }
  @media (min-width: 980px) {
    .productVariantList[class*=default-style] .productVariantList-link.is-active {
      background-color: black;
      color: white;
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center; }
      .productVariantList[class*=default-style] .productVariantList-link.is-active:hover {
        background: #696969;
        color: white; } }

/*# sourceMappingURL=index.css.map */
