@media only screen and (max-width: 669px) {
  .search-content-wrapper {
    position: relative; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .search-content-wrapper {
    position: relative; } }

@media (min-width: 980px) {
  .search-content-wrapper {
    position: relative; } }

.search-content-wrapper > .component-content > .content {
  display: -ms-flexbox;
  display: flex; }
  @media only screen and (max-width: 669px) {
    .search-content-wrapper > .component-content > .content {
      position: relative; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .search-content-wrapper > .component-content > .content {
      position: relative; } }
  @media (min-width: 980px) {
    .search-content-wrapper > .component-content > .content {
      position: relative; } }

@media only screen and (max-width: 669px) {
  .search-content-wrapper .search-filters {
    position: fixed;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    background: white;
    border-right: 0;
    padding: 20px;
    margin: 0 0 0 0;
    width: 100%;
    z-index: 20;
    box-sizing: border-box; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .search-content-wrapper .search-filters {
    position: relative;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    background: white;
    border-right: solid 1px #D0D0D0;
    padding: 0 20px 0 0;
    margin: 0 20px 0 0;
    width: 190px;
    z-index: 10;
    box-sizing: border-box; } }

@media (min-width: 980px) {
  .search-content-wrapper .search-filters {
    position: relative;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    background: white;
    border-right: solid 1px #D0D0D0;
    padding: 0 60px 0 0;
    margin: 0 60px 0 0;
    width: 220px;
    z-index: 10;
    box-sizing: border-box; } }

@media only screen and (max-width: 669px) {
  .search-content-wrapper .search-filters {
    display: none;
    left: 0;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    top: 0; }
    .search-content-wrapper .search-filters .button-clear-filters {
      position: absolute;
      top: 0;
      right: 0; } }
    @media only screen and (max-width: 669px) and (max-width: 669px) {
      .search-content-wrapper .search-filters .button-clear-filters {
        margin: 12px 20px 0 0; } }
    @media only screen and (max-width: 669px) and (min-width: 670px) and (max-width: 979px) {
      .search-content-wrapper .search-filters .button-clear-filters {
        margin: 12px 20px 0 0; } }
    @media only screen and (max-width: 669px) and (min-width: 980px) {
      .search-content-wrapper .search-filters .button-clear-filters {
        margin: 12px 20px 0 0; } }

.search-content-wrapper .search-filters .component-content {
  display: none; }

.search-content-wrapper .search-filters.is-not-empty .component-content {
  display: block; }

@media only screen and (max-width: 669px) {
  [dir="rtl"] .search-content-wrapper .search-filters {
    position: relative;
    border-left: 0;
    border-right: 0;
    padding: 20px;
    margin: 0 0 0 0; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  [dir="rtl"] .search-content-wrapper .search-filters {
    position: relative;
    border-left: solid 1px #D0D0D0;
    border-right: 0;
    padding: 0 0 0 20px;
    margin: 0 0 0 20px; } }

@media (min-width: 980px) {
  [dir="rtl"] .search-content-wrapper .search-filters {
    position: relative;
    border-left: solid 1px #D0D0D0;
    border-right: 0;
    padding: 0 0 0 60px;
    margin: 0 0 0 60px !important; } }

@media only screen and (max-width: 669px) {
  .search-content-wrapper .search-results-wrapper {
    position: relative;
    -ms-flex-positive: 1;
        flex-grow: 1;
    margin: -10px 0;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .search-content-wrapper .search-results-wrapper {
    position: relative;
    -ms-flex-positive: 1;
        flex-grow: 1;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    box-sizing: border-box; } }

@media (min-width: 980px) {
  .search-content-wrapper .search-results-wrapper {
    position: relative;
    -ms-flex-positive: 1;
        flex-grow: 1;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    box-sizing: border-box; } }

.no-results .reference-icon-link .back-to-top {
  display: none; }

/*# sourceMappingURL=index.css.map */
