@media only screen and (max-width: 669px) {
  .composite-article-carousel .listing-item {
    position: relative;
    padding: 0 5px;
    width: 200px; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .composite-article-carousel .listing-item {
    position: relative;
    padding: 0 10px;
    width: 265px; } }

@media (min-width: 980px) {
  .composite-article-carousel .listing-item {
    position: relative;
    padding: 0 15px;
    width: 350px; } }

.composite-article-carousel .listing-item .image {
  z-index: 10; }
  @media only screen and (max-width: 669px) {
    .composite-article-carousel .listing-item .image {
      position: relative;
      height: 162px; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .composite-article-carousel .listing-item .image {
      position: relative;
      height: 215px; } }
  @media (min-width: 980px) {
    .composite-article-carousel .listing-item .image {
      position: relative;
      height: 285px; } }
  .composite-article-carousel .listing-item .image .component-content {
    height: 100%; }
  .composite-article-carousel .listing-item .image img {
    min-width: 0;
    min-height: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover; }

.composite-article-carousel .listing-item .richText {
  z-index: 15; }
  @media only screen and (max-width: 669px) {
    .composite-article-carousel .listing-item .richText {
      position: relative;
      border: 0.5px solid #D0D0D0;
      padding: 10px;
      margin-top: -1px;
      box-sizing: border-box;
      box-shadow: 1px 2px 9px #D0D0D0; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .composite-article-carousel .listing-item .richText {
      position: relative;
      border: 0.5px solid #D0D0D0;
      padding: 15px;
      margin-top: -1px;
      box-sizing: border-box;
      box-shadow: 1px 2px 9px #D0D0D0; } }
  @media (min-width: 980px) {
    .composite-article-carousel .listing-item .richText {
      position: relative;
      border: 0.5px solid #D0D0D0;
      padding: 25px;
      margin-top: -1px;
      box-sizing: border-box;
      box-shadow: 1px 2px 9px #D0D0D0; } }
  @media only screen and (max-width: 669px) {
    .composite-article-carousel .listing-item .richText p {
      font-size: 0.875rem;
      letter-spacing: 0.3em;
      margin: 0; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .composite-article-carousel .listing-item .richText p {
      font-size: 0.875rem;
      letter-spacing: 0.3em;
      margin: 0; } }
  @media (min-width: 980px) {
    .composite-article-carousel .listing-item .richText p {
      font-size: 0.875rem;
      letter-spacing: 0.3em;
      margin: 0; } }
  @media only screen and (max-width: 669px) {
    .composite-article-carousel .listing-item .richText h1 {
      color: #C9484A;
      font-size: 1.25rem;
      margin-bottom: 0 !important; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .composite-article-carousel .listing-item .richText h1 {
      color: #C9484A;
      font-size: 1.25rem;
      margin-bottom: 0 !important; } }
  @media (min-width: 980px) {
    .composite-article-carousel .listing-item .richText h1 {
      color: #C9484A;
      font-size: 1.25rem;
      margin-bottom: 0 !important; } }

/*# sourceMappingURL=index.css.map */
