.smart-link {
  margin: 10px 0; }
  .smart-link-previous:before, .smart-link-next:after {
    display: inline-block;
    position: relative;
    top: -1px;
    height: 14px;
    width: 6px;
    font-size: 0.5rem;
    color: black; }
  .smart-link-next:after {
    margin-left: 10px;
    content: icon("f054");
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    position: relative;
    font-weight: normal; }
  .smart-link-previous:before {
    margin-right: 10px;
    content: icon("f053");
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    position: relative;
    font-weight: normal; }
  .smart-link-list {
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;
    text-align: center; }
    .smart-link-list li {
      display: inline-block; }

/*# sourceMappingURL=index.css.map */
