@charset "UTF-8";
.virtual-agent-holder > .component-content {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
  padding-right: 25px; }
  @media only screen and (max-width: 669px) {
    .virtual-agent-holder > .component-content {
      width: auto; } }
  @media only screen and (min-width: 670px) and (max-width: 768px) {
    .virtual-agent-holder > .component-content {
      width: auto; } }
  @media only screen and (min-width: 980px) and (max-width: 1139px) {
    .virtual-agent-holder > .component-content {
      width: 960px; } }
  @media (min-width: 1140px) {
    .virtual-agent-holder > .component-content {
      width: 1140px; } }
  @media only screen and (max-width: 669px) {
    .virtual-agent-holder > .component-content {
      position: relative;
      margin-top: 40px;
      margin-bottom: 50px; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .virtual-agent-holder > .component-content {
      position: relative;
      margin-top: 40px;
      margin-bottom: 80px; } }
  @media (min-width: 980px) {
    .virtual-agent-holder > .component-content {
      position: relative;
      margin-top: 50px;
      margin-bottom: 120px; } }

@media only screen and (max-width: 669px) {
  .virtual-agent-holder .virtual-agent--quick-tip {
    font-size: 1.125rem;
    line-height: 1.5rem;
    margin-bottom: 40px; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .virtual-agent-holder .virtual-agent--quick-tip {
    font-size: 1.125rem;
    line-height: 1.5rem;
    letter-spacing: 0.3px;
    margin-bottom: 80px; } }

@media (min-width: 980px) {
  .virtual-agent-holder .virtual-agent--quick-tip {
    font-size: 1.125rem;
    line-height: 1.5rem;
    letter-spacing: 0.3px;
    margin-bottom: 80px; } }

.virtual-agent-holder .virtual-agent--quick-tip p {
  margin: 0; }

.virtual-agent-holder .virtualAgent .virtualAgent-form-wrapper {
  position: relative;
  display: -ms-flexbox;
  display: flex; }
  @media only screen and (max-width: 669px) {
    .virtual-agent-holder .virtualAgent .virtualAgent-form-wrapper {
      position: relative;
      border-bottom: 1px solid black; }
      .virtual-agent-holder .virtualAgent .virtualAgent-form-wrapper:after {
        padding: 10px 20px 0;
        content: "";
        font-size: 1.25rem;
        color: dimgray;
        display: block;
        font-family: 'icons';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        text-align: center;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .virtual-agent-holder .virtualAgent .virtualAgent-form-wrapper {
      position: relative;
      border-bottom: 1px solid black; }
      .virtual-agent-holder .virtualAgent .virtualAgent-form-wrapper:after {
        padding: 10px 20px 0;
        content: "";
        font-size: 1.25rem;
        color: dimgray;
        display: block;
        font-family: 'icons';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        text-align: center;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; } }
  @media (min-width: 980px) {
    .virtual-agent-holder .virtualAgent .virtualAgent-form-wrapper {
      position: relative;
      border-bottom: 1px solid black; }
      .virtual-agent-holder .virtualAgent .virtualAgent-form-wrapper:after {
        padding: 10px 20px 0;
        content: "";
        font-size: 1.25rem;
        color: dimgray;
        display: block;
        font-family: 'icons';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        text-align: center;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; } }

.virtual-agent-holder .virtualAgent .twitter-typeahead {
  width: 100%; }

.virtual-agent-holder .virtualAgent .virtualAgent-input {
  width: 100%; }
  @media only screen and (max-width: 669px) {
    .virtual-agent-holder .virtualAgent .virtualAgent-input {
      font-size: 1.25rem;
      font-weight: bold;
      line-height: 1.375rem;
      font-family: Montserrat, sans-serif;
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: -ms-inline-flexbox;
      display: inline-flex;
      border: 0;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center; }
      .virtual-agent-holder .virtualAgent .virtualAgent-input::-webkit-input-placeholder {
        color: #d0d0d0;
        font-size: 1.25rem;
        line-height: 1.375rem; }
      .virtual-agent-holder .virtualAgent .virtualAgent-input:-ms-input-placeholder {
        color: #d0d0d0;
        font-size: 1.25rem;
        line-height: 1.375rem; }
      .virtual-agent-holder .virtualAgent .virtualAgent-input::placeholder {
        color: #d0d0d0;
        font-size: 1.25rem;
        line-height: 1.375rem; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .virtual-agent-holder .virtualAgent .virtualAgent-input {
      font-size: 2.375rem;
      font-weight: bold;
      line-height: 1.875rem;
      font-family: Montserrat, sans-serif;
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: -ms-inline-flexbox;
      display: inline-flex;
      border: 0;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center; }
      .virtual-agent-holder .virtualAgent .virtualAgent-input::-webkit-input-placeholder {
        color: #d0d0d0;
        font-size: 1.625rem;
        line-height: 1.875rem; }
      .virtual-agent-holder .virtualAgent .virtualAgent-input:-ms-input-placeholder {
        color: #d0d0d0;
        font-size: 1.625rem;
        line-height: 1.875rem; }
      .virtual-agent-holder .virtualAgent .virtualAgent-input::placeholder {
        color: #d0d0d0;
        font-size: 1.625rem;
        line-height: 1.875rem; } }
  @media (min-width: 980px) {
    .virtual-agent-holder .virtualAgent .virtualAgent-input {
      font-size: 2.375rem;
      font-weight: bold;
      line-height: 1.875rem;
      font-family: Montserrat, sans-serif;
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: -ms-inline-flexbox;
      display: inline-flex;
      border: 0;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center; }
      .virtual-agent-holder .virtualAgent .virtualAgent-input::-webkit-input-placeholder {
        color: #d0d0d0;
        font-size: 1.625rem;
        line-height: 1.875rem; }
      .virtual-agent-holder .virtualAgent .virtualAgent-input:-ms-input-placeholder {
        color: #d0d0d0;
        font-size: 1.625rem;
        line-height: 1.875rem; }
      .virtual-agent-holder .virtualAgent .virtualAgent-input::placeholder {
        color: #d0d0d0;
        font-size: 1.625rem;
        line-height: 1.875rem; } }

.virtual-agent-holder .virtualAgent .tt-menu {
  width: 100%; }

@media only screen and (max-width: 669px) {
  .virtual-agent-holder .virtualAgent .tt-dataset {
    position: relative;
    background-color: white;
    padding-top: 27px;
    margin-top: 1px;
    font-size: 1.125rem;
    line-height: 1.5rem; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .virtual-agent-holder .virtualAgent .tt-dataset {
    position: relative;
    background-color: white;
    padding-top: 21px;
    margin-top: 1px;
    font-size: 1.125rem;
    line-height: 1.375rem;
    letter-spacing: 0.3px; } }

@media (min-width: 980px) {
  .virtual-agent-holder .virtualAgent .tt-dataset {
    position: relative;
    background-color: white;
    padding-top: 21px;
    margin-top: 1px;
    font-size: 1.125rem;
    line-height: 1.375rem;
    letter-spacing: 0.3px; } }

@media only screen and (max-width: 669px) {
  .virtual-agent-holder .virtualAgent .tt-suggestion {
    position: relative;
    padding: 12px 10px 21px;
    margin-left: -10px; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .virtual-agent-holder .virtualAgent .tt-suggestion {
    position: relative;
    padding: 13px 10px 15px;
    margin-left: -10px; } }

@media (min-width: 980px) {
  .virtual-agent-holder .virtualAgent .tt-suggestion {
    position: relative;
    padding: 14px;
    margin-left: -14px; } }

.virtual-agent-holder .virtualAgent .tt-suggestion:empty {
  display: none; }

.virtual-agent-holder .virtualAgent .tt-suggestion:hover {
  cursor: pointer; }
  @media only screen and (max-width: 669px) {
    .virtual-agent-holder .virtualAgent .tt-suggestion:hover {
      position: relative;
      background-color: #f2f4f6; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .virtual-agent-holder .virtualAgent .tt-suggestion:hover {
      position: relative;
      background-color: #f2f4f6; } }
  @media (min-width: 980px) {
    .virtual-agent-holder .virtualAgent .tt-suggestion:hover {
      position: relative;
      background-color: #f2f4f6; } }

@media only screen and (max-width: 669px) {
  .virtual-agent-holder .virtualAgent .tt-cursor {
    position: relative;
    background-color: #f2f4f6; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .virtual-agent-holder .virtualAgent .tt-cursor {
    position: relative;
    background-color: #f2f4f6; } }

@media (min-width: 980px) {
  .virtual-agent-holder .virtualAgent .tt-cursor {
    position: relative;
    background-color: #f2f4f6; } }

.virtual-agent-holder .virtualAgent .virtualAgent-reset {
  position: absolute;
  right: 10px;
  top: 0;
  bottom: 2px; }
  @media only screen and (max-width: 669px) {
    .virtual-agent-holder .virtualAgent .virtualAgent-reset {
      background-color: white;
      color: white;
      font-size: 0;
      line-height: 1.22;
      text-transform: uppercase;
      text-decoration: none;
      font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: -ms-inline-flexbox;
      display: inline-flex;
      padding: 10px 0 10px 13px;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: justify;
          justify-content: space-between;
      height: 28px; }
      .virtual-agent-holder .virtualAgent .virtualAgent-reset:hover {
        background-color: white; }
      .virtual-agent-holder .virtualAgent .virtualAgent-reset:before {
        content: "";
        font-size: 1rem;
        color: dimgray;
        display: block;
        font-family: 'icons';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        text-align: left;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .virtual-agent-holder .virtualAgent .virtualAgent-reset {
      background-color: white;
      color: white;
      font-size: 0;
      line-height: 1.22;
      text-transform: uppercase;
      text-decoration: none;
      font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: -ms-inline-flexbox;
      display: inline-flex;
      padding: 10px 10px 10px 10px;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: justify;
          justify-content: space-between;
      height: 35px; }
      .virtual-agent-holder .virtualAgent .virtualAgent-reset:hover {
        background-color: white; }
      .virtual-agent-holder .virtualAgent .virtualAgent-reset:before {
        content: "";
        font-size: 1rem;
        color: dimgray;
        display: block;
        font-family: 'icons';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        text-align: left;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; } }
  @media (min-width: 980px) {
    .virtual-agent-holder .virtualAgent .virtualAgent-reset {
      background-color: white;
      color: white;
      font-size: 0;
      line-height: 1.22;
      text-transform: uppercase;
      text-decoration: none;
      font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: -ms-inline-flexbox;
      display: inline-flex;
      padding: 16px 16px 16px 16px;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: justify;
          justify-content: space-between;
      height: 54px; }
      .virtual-agent-holder .virtualAgent .virtualAgent-reset:hover {
        background-color: white; }
      .virtual-agent-holder .virtualAgent .virtualAgent-reset:before {
        content: "";
        font-size: 1rem;
        color: dimgray;
        display: block;
        font-family: 'icons';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        text-align: left;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; } }
  .virtual-agent-holder .virtualAgent .virtualAgent-reset:hover {
    cursor: pointer; }

.virtual-agent-holder .virtualAgent button.virtualAgent-reset {
  display: none; }

.virtual-agent-holder .virtualAgent .virtualAgent-submit {
  display: none; }

@media only screen and (max-width: 669px) {
  .virtual-agent-holder .virtualAgent .virtualAgent-results {
    position: relative;
    margin-top: 25px; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .virtual-agent-holder .virtualAgent .virtualAgent-results {
    position: relative;
    margin-top: 25px; } }

@media (min-width: 980px) {
  .virtual-agent-holder .virtualAgent .virtualAgent-results {
    position: relative;
    margin-top: 25px; } }

@media only screen and (max-width: 669px) {
  .virtual-agent-holder .virtualAgent .virtualAgent-results.is-loading {
    position: relative;
    background: url("../assets/img/loader.gif");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    min-height: 50px; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .virtual-agent-holder .virtualAgent .virtualAgent-results.is-loading {
    position: relative;
    background: url("../assets/img/loader.gif");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    min-height: 50px; } }

@media (min-width: 980px) {
  .virtual-agent-holder .virtualAgent .virtualAgent-results.is-loading {
    position: relative;
    background: url("../assets/img/loader.gif");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    min-height: 50px; } }

@media only screen and (max-width: 669px) {
  .virtual-agent-holder .virtualAgent .virtualAgent-question {
    font-size: 1.25rem;
    line-height: 1.875rem;
    margin-bottom: 25px; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .virtual-agent-holder .virtualAgent .virtualAgent-question {
    font-size: 1.25rem;
    line-height: 1.875rem;
    margin-bottom: 25px; } }

@media (min-width: 980px) {
  .virtual-agent-holder .virtualAgent .virtualAgent-question {
    font-size: 1.25rem;
    line-height: 1.875rem;
    margin-bottom: 25px; } }

.virtual-agent-holder .virtualAgent .virtualAgent-question:empty {
  display: none; }

@media only screen and (max-width: 669px) {
  .virtual-agent-holder .virtualAgent .virtualAgent-answer {
    font-size: 0.875rem;
    letter-spacing: 0.2px;
    margin-bottom: 40px; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .virtual-agent-holder .virtualAgent .virtualAgent-answer {
    font-size: 0.875rem;
    letter-spacing: 0.2px;
    margin-bottom: 40px; } }

@media (min-width: 980px) {
  .virtual-agent-holder .virtualAgent .virtualAgent-answer {
    font-size: 0.875rem;
    letter-spacing: 0.2px;
    margin-bottom: 40px; } }

.virtual-agent-holder .virtualAgent .virtualAgent-answer:empty {
  display: none; }

.virtual-agent-holder .virtualAgent .virtualAgent-related-questions:empty {
  display: none; }

.virtual-agent-holder .virtualAgent .virtualAgent-related-questions ul {
  list-style: none;
  padding: 0;
  margin: 0; }

@media only screen and (max-width: 669px) {
  .virtual-agent-holder .virtualAgent .virtualAgent-related-questions li {
    margin-bottom: 10px; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .virtual-agent-holder .virtualAgent .virtualAgent-related-questions li {
    margin-bottom: 10px; } }

@media (min-width: 980px) {
  .virtual-agent-holder .virtualAgent .virtualAgent-related-questions li {
    margin-bottom: 10px; } }

@media only screen and (max-width: 669px) {
  .virtual-agent-holder .virtualAgent .virtualAgent-related-question {
    font-size: 0.75rem;
    font-weight: bold;
    line-height: 1rem;
    text-transform: uppercase;
    margin-bottom: 10px; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .virtual-agent-holder .virtualAgent .virtualAgent-related-question {
    font-size: 0.75rem;
    font-weight: bold;
    line-height: 1rem;
    text-transform: uppercase;
    margin-bottom: 10px; } }

@media (min-width: 980px) {
  .virtual-agent-holder .virtualAgent .virtualAgent-related-question {
    font-size: 0.75rem;
    font-weight: bold;
    line-height: 1rem;
    text-transform: uppercase;
    margin-bottom: 10px; } }

.virtual-agent-holder .virtualAgent .virtualAgent-noresults {
  display: none; }
  @media only screen and (max-width: 669px) {
    .virtual-agent-holder .virtualAgent .virtualAgent-noresults .default-style p {
      font-size: 1.125rem;
      line-height: 1.375rem;
      margin-top: 36px;
      margin-bottom: 0; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .virtual-agent-holder .virtualAgent .virtualAgent-noresults .default-style p {
      font-size: 1.125rem;
      line-height: 1.375rem;
      margin-top: 36px;
      margin-bottom: 0; } }
  @media (min-width: 980px) {
    .virtual-agent-holder .virtualAgent .virtualAgent-noresults .default-style p {
      font-size: 1.125rem;
      line-height: 1.375rem;
      margin-top: 36px;
      margin-bottom: 0; } }

.virtual-agent-holder .virtualAgent .virtualAgent-footer {
  display: none; }
  @media only screen and (max-width: 669px) {
    .virtual-agent-holder .virtualAgent .virtualAgent-footer {
      font-size: 0.875rem;
      margin-top: 80px; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .virtual-agent-holder .virtualAgent .virtualAgent-footer {
      font-size: 0.875rem;
      margin-top: 80px; } }
  @media (min-width: 980px) {
    .virtual-agent-holder .virtualAgent .virtualAgent-footer {
      font-size: 0.875rem;
      margin-top: 80px; } }
  .virtual-agent-holder .virtualAgent .virtualAgent-footer p {
    margin: 0; }

/*# sourceMappingURL=index.css.map */
