.composite-variation-hero_image_with_richtextbelow img {
  width: 100%; }

@media only screen and (max-width: 669px) {
  .composite-variation-hero_image_with_richtextbelow > .content {
    position: relative; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .composite-variation-hero_image_with_richtextbelow > .content {
    position: relative; } }

@media (min-width: 980px) {
  .composite-variation-hero_image_with_richtextbelow > .content {
    position: relative; } }

.composite-variation-hero_image_with_richtextbelow > .content > .richText {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
  padding-right: 25px; }
  @media only screen and (max-width: 669px) {
    .composite-variation-hero_image_with_richtextbelow > .content > .richText {
      width: auto; } }
  @media only screen and (min-width: 670px) and (max-width: 768px) {
    .composite-variation-hero_image_with_richtextbelow > .content > .richText {
      width: auto; } }
  @media only screen and (min-width: 980px) and (max-width: 1139px) {
    .composite-variation-hero_image_with_richtextbelow > .content > .richText {
      width: 960px; } }
  @media (min-width: 1140px) {
    .composite-variation-hero_image_with_richtextbelow > .content > .richText {
      width: 1140px; } }
  @media only screen and (max-width: 669px) {
    .composite-variation-hero_image_with_richtextbelow > .content > .richText {
      position: relative;
      margin-top: -77px;
      margin-bottom: 16px; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .composite-variation-hero_image_with_richtextbelow > .content > .richText {
      position: relative;
      margin-top: -77px;
      margin-bottom: 16px; } }
  @media (min-width: 980px) {
    .composite-variation-hero_image_with_richtextbelow > .content > .richText {
      position: relative;
      margin-top: -65px;
      margin-bottom: 64px; } }
  @media only screen and (max-width: 669px) {
    .composite-variation-hero_image_with_richtextbelow > .content > .richText .richText-content {
      position: relative;
      background-color: #f7e5e6;
      padding: 26px 16px 32px; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .composite-variation-hero_image_with_richtextbelow > .content > .richText .richText-content {
      position: relative;
      background-color: #f7e5e6;
      padding: 26px 16px 32px; } }
  @media (min-width: 980px) {
    .composite-variation-hero_image_with_richtextbelow > .content > .richText .richText-content {
      position: relative;
      background-color: #f7e5e6;
      padding: 38px 104px 48px; } }

/*# sourceMappingURL=index.css.map */
