$gap: spacings('m');

.field-phone-number {
  box-sizing: border-box;
  display: inline-block;
  padding-right: calc(#{$gap} / 2);
  vertical-align: top;
  width: 80%;

  @include media-query(mobile) {
    width: 70%;
  }
}

.field-phone-number-ext {
  box-sizing: border-box;
  display: inline-block;
  padding-left: calc(#{$gap} / 2);
  vertical-align: top;
  width: 20%;

  @include media-query(mobile) {
    width: 30%;
  }
}

@include media-query(desktop, auto) {

  .field-given-name,
  .field-family-name,
  .field-zip-code {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    width: 50%;

    .component-content {
      margin: 0;
    }
  }

  .field-given-name,
  .field-zip-code {
    padding-right: calc(#{$gap} / 2);
  }

  .field-family-name {
    padding-left: calc(#{$gap} / 2);
  }

  .reference-datepicker {
    box-sizing: border-box;
    display: inline-block;
    padding-right: calc(#{$gap} / 2);
    vertical-align: top;
    width: 50%;

    + .form-element {
      box-sizing: border-box;
      display: inline-block;
      padding-left: calc(#{$gap} / 2);
      vertical-align: top;
      width: 60%;
    }

    + .checkboxField {
      width: 100%;
      padding-left: 0;
      margin: #{$gap} 0;
      display: block;
    }
  }
}
