@import '../../core/_config';

.recipeIngredients {
  @import 'config';
  @function g($a...) {
    @return get-last($recipeIngredients, $a...);
  }

  @include breakpoints() {
    @include box(g('box'), $media);
  }

  &-list {
    list-style: none;
    padding-left: 0;

    @include breakpoints() {
      @include box(g('_list.box'), $media);
    }
  }

  &-item {
    @include breakpoints() {
      @include box(g('_list._item.box'), $media);
    }
  }

  &-text {
    @include breakpoints() {
      @include text(g('_list._item.text'), $media);
    }
  }
}
