.richText-content {
  @import 'config';
  @function g($a...) {
    @return get-last($section-title-medium, $a...);
  }

  .section-title-medium {
    @include breakpoints() {
      @include paragraph(g('paragraph'), $media);
    }
  }
}
