@media only screen and (max-width: 669px) {
  .composite-tutorial_step {
    position: relative;
    margin-bottom: 60px; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .composite-tutorial_step {
    position: relative;
    margin-bottom: 60px; } }

@media (min-width: 980px) {
  .composite-tutorial_step {
    position: relative;
    margin-bottom: 80px; } }

.composite-tutorial_step > .content {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
  padding-right: 25px; }
  @media only screen and (max-width: 669px) {
    .composite-tutorial_step > .content {
      width: auto; } }
  @media only screen and (min-width: 670px) and (max-width: 768px) {
    .composite-tutorial_step > .content {
      width: auto; } }
  @media only screen and (min-width: 980px) and (max-width: 1139px) {
    .composite-tutorial_step > .content {
      width: 960px; } }
  @media (min-width: 1140px) {
    .composite-tutorial_step > .content {
      width: 1140px; } }
  @media only screen and (max-width: 979px) {
    .composite-tutorial_step > .content {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
          flex-direction: column; } }
  @media only screen and (max-width: 669px) {
    .composite-tutorial_step > .content > .component:first-of-type {
      position: relative;
      width: 100%; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .composite-tutorial_step > .content > .component:first-of-type {
      position: relative;
      width: 100%; } }
  @media (min-width: 980px) {
    .composite-tutorial_step > .content > .component:first-of-type {
      position: relative;
      padding-right: calc(95px - 2.08333%); } }
  @media only screen and (max-width: 669px) {
    .composite-tutorial_step > .content > .component:last-of-type {
      position: relative;
      margin-left: 0;
      width: 100%; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .composite-tutorial_step > .content > .component:last-of-type {
      position: relative;
      margin-left: 0;
      width: 100%; } }
  @media (min-width: 980px) {
    .composite-tutorial_step > .content > .component:last-of-type {
      position: relative; } }

@media only screen and (max-width: 669px) {
  .composite-tutorial_step .image {
    position: relative;
    -ms-flex-order: -1;
        order: -1;
    width: 100%; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .composite-tutorial_step .image {
    position: relative;
    -ms-flex-order: -1;
        order: -1;
    width: 100%; } }

@media (min-width: 980px) {
  .composite-tutorial_step .image {
    position: relative;
    -ms-flex-order: -1;
        order: -1; } }

@media only screen and (max-width: 669px) {
  .composite-tutorial_step .image img {
    position: relative;
    margin: 0 auto; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .composite-tutorial_step .image img {
    position: relative;
    margin: 0 auto; } }

@media (min-width: 980px) {
  .composite-tutorial_step .image img {
    position: relative; } }

@media only screen and (max-width: 669px) {
  .composite-tutorial_step .richText {
    position: relative;
    padding-top: 25px; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .composite-tutorial_step .richText {
    position: relative;
    padding-top: 25px; } }

@media (min-width: 980px) {
  .composite-tutorial_step .richText {
    position: relative; } }

@media only screen and (max-width: 669px) {
  .composite-tutorial_step .richText h2, .composite-tutorial_step .richText h3 {
    color: black;
    font-size: 2.375rem;
    font-weight: bold;
    line-height: 1.16;
    text-transform: uppercase;
    font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
    margin: 0; }
    .composite-tutorial_step .richText h2:after, .composite-tutorial_step .richText h3:after {
      content: '';
      border-bottom: 4px solid #C9484A;
      margin: 15px 0 20px;
      width: 25px;
      display: block; }
    .composite-tutorial_step .richText h2 + h3, .composite-tutorial_step .richText h2 h4, .composite-tutorial_step .richText h3 + h3, .composite-tutorial_step .richText h3 h4 {
      color: black;
      font-size: 1.625rem;
      font-weight: bold;
      line-height: 1.23;
      text-transform: initial;
      font-family: Montserrat, sans-serif;
      margin: 0; }
      .composite-tutorial_step .richText h2 + h3:after, .composite-tutorial_step .richText h2 h4:after, .composite-tutorial_step .richText h3 + h3:after, .composite-tutorial_step .richText h3 h4:after {
        content: '';
        display: none; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .composite-tutorial_step .richText h2, .composite-tutorial_step .richText h3 {
    color: black;
    font-size: 2.375rem;
    font-weight: bold;
    line-height: 1.16;
    text-transform: uppercase;
    font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
    margin: 0; }
    .composite-tutorial_step .richText h2:after, .composite-tutorial_step .richText h3:after {
      content: '';
      border-bottom: 4px solid #C9484A;
      margin: 15px 0 20px;
      width: 25px;
      display: block; }
    .composite-tutorial_step .richText h2 + h3, .composite-tutorial_step .richText h2 h4, .composite-tutorial_step .richText h3 + h3, .composite-tutorial_step .richText h3 h4 {
      color: black;
      font-size: 1.625rem;
      font-weight: bold;
      line-height: 1.23;
      text-transform: initial;
      font-family: Montserrat, sans-serif;
      margin: 0; }
      .composite-tutorial_step .richText h2 + h3:after, .composite-tutorial_step .richText h2 h4:after, .composite-tutorial_step .richText h3 + h3:after, .composite-tutorial_step .richText h3 h4:after {
        content: '';
        display: none; } }

@media (min-width: 980px) {
  .composite-tutorial_step .richText h2, .composite-tutorial_step .richText h3 {
    color: black;
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.13;
    text-transform: uppercase;
    font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
    margin: 0; }
    .composite-tutorial_step .richText h2:after, .composite-tutorial_step .richText h3:after {
      content: '';
      border-bottom: 4px solid #C9484A;
      margin: 15px 0 20px;
      width: 25px;
      display: block; }
    .composite-tutorial_step .richText h2 + h3, .composite-tutorial_step .richText h2 h4, .composite-tutorial_step .richText h3 + h3, .composite-tutorial_step .richText h3 h4 {
      color: black;
      font-size: 2.375rem;
      font-weight: bold;
      line-height: 1.16;
      text-transform: initial;
      font-family: Montserrat, sans-serif;
      margin: 0; }
      .composite-tutorial_step .richText h2 + h3:after, .composite-tutorial_step .richText h2 h4:after, .composite-tutorial_step .richText h3 + h3:after, .composite-tutorial_step .richText h3 h4:after {
        content: '';
        display: none; } }

@media only screen and (max-width: 669px) {
  .composite-tutorial_step .richText a[class*=button] {
    transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .composite-tutorial_step .richText a[class*=button] {
    transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center; } }

@media (min-width: 980px) {
  .composite-tutorial_step .richText a[class*=button] {
    transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center; } }

/*# sourceMappingURL=index.css.map */
