$singleFeaturedArticle: (
  _outer-wrapper: (
    box: (),
  ),
  _article-content: (
    box: (),
    _text-wrapper: (
      box: (),
      _heading: (
        paragraph: (
          text: (
            font-size: breakpoint((
              mobile: 1.9rem,
              tablet: 3rem,
              desktop: 3.2rem
            )),
            line-height: 1.16
          )
        ),
      ),
      _secondary: (
        paragraph: (
          text: (
            font-size: breakpoint((
              mobile: 1.4rem,
              tablet: 1.6rem,
              desktop: 2rem
            )),
            line-height: 1.16,
            margin-top: 0
          )
        ),
      ),
      _description: (
        paragraph: (
          text: (
            line-height: breakpoint((
              mobile: 1.8rem,
              tablet: 1.8rem,
              desktop: 1.4rem
            )),
            font-size: breakpoint((
              mobile: px('xs'),
              tablet: px('s'),
              desktop: 1rem
            ))
          )
        )
      )
    ),
    _image: (
      box: (
        width: breakpoint((
            mobile: 100%,
            tablet: 50%, 
            desktop: 40%
          )),
        flex: (
          flex-shrink: breakpoint((tablet: 0, desktop: 0))
        )
      ),
      img: (
        max-width: breakpoint((
          mobile: 275px,
          tablet: 400px, 
          desktop: 600px
        )),
      ),
      background: (
        background: url(/etc/designs/zg/nameera/desktop/assets/img/featured_articles_bg.svg) no-repeat center center,
      )
    ),
    _cta: (
      button: ()
    )
  )
);
