@import '../../core/config';

.composite-single-featured-article {
  @import 'config';
  @function g($a...) {
    @return get-last($singleFeaturedArticle, $a...);
  }

  $box: merge((
    position: relative,
    padding: (
      padding: spacings('s') 0
    )
  ), g('_main.box'));

  @include breakpoints() {
    @include box($box, $media);

    // background: url(/etc/designs/zg/nameera/desktop/assets/img/featured_articles_bg.svg) no-repeat;
    // background-size: 110%;
  }

  > .content {
    @include wrapper;
    position: relative;
    z-index: $z-index-content;
  }

  .listing-item .content {
    $wrapper: merge((
      display: flex,
      flex: (
        flex-direction: breakpoint((mobile: column))
      )
    ), g('_article-content.box'));

    @include breakpoints() {
      @include box($wrapper, $media);
    }
  }

  .richText {
    $textWrapper: merge((
      margin: (
        margin-bottom: spacings('s') * -1
      )
    ), g('_article-content._text-wrapper.box'));

    @include breakpoints() {
      @include box($textWrapper, $media);
    }

    @include breakpoints(mobile) {
      order: 2;
    }

    h2, h3, h4 {
      $heading: merge((
        margin: (
          margin-top: breakpoint((tablet-max: 20px, desktop: 0)),
          margin-bottom: 5px
        )
      ), g('_article-content._text-wrapper._heading.paragraph'));

      @include breakpoints() {
        @include paragraph($heading, $media);
      }

	  &.main-title__green,
	  .main-title__green {
        color: color('secondary', 'dark')
      }

	  &.main-title__red,
	  .main-title__red {
        color: color('primary', 'dark')
      }

	}
	
	h5 {

		&.sub-title__green,
		.sub-title__green {
		  color: color('secondary', 'base');
		  margin-top: 0 !important;
		  @include breakpoints() {
			  @include paragraph(g('_article-content._text-wrapper._secondary.paragraph'), $media);
		  }
		}
  
		&.sub-title__red,
		.sub-title__red {
		  color: color('primary', 'base');
		  margin-top: 0 !important;
		  @include breakpoints() {
			  @include paragraph(g('_article-content._text-wrapper._secondary.paragraph'), $media);
			}
		}
	}

    p {
      @include breakpoints() {
        @include paragraph(g('_article-content._text-wrapper._description.paragraph'), $media);
      }
    }
  }

  .image {
    @include breakpoints() {
      @include box(g('_article-content._image.box'), $media);
      @include background(g('_article-content._image.background'), $media);
    }

    img {
        @include breakpoints() {
            @include box(g('_article-content._image.img'), $media);
        }

        margin-left: auto;
        margin-right: auto;
    }

    @include breakpoints(mobile) {
      order: 1
    }

  }

  a[class*=button] {
    $cta: merge((
      margin: (
        margin-top: spacings('s')
      ),
      width: breakpoint((mobile: 100%))
    ), g('_article-content._cta.button'));

    @include breakpoints() {
      @include button($cta, $media);
    }
  }
}

@import 'singleFeaturedArticleLeft/index';
@import 'singleFeaturedArticleRight/index';
@import 'singleFeaturedArticleWithFlower/index';
@import 'singleFeaturedArticleWithBubble/index';
