@media only screen and (max-width: 669px) {
  .composite-featured_articles {
    position: relative;
    margin: 40px 0; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .composite-featured_articles {
    position: relative;
    margin: 80px 0; } }

@media (min-width: 980px) {
  .composite-featured_articles {
    position: relative;
    margin: 80px 0; } }

.composite-featured_articles > .content {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
  padding-right: 25px; }
  @media only screen and (max-width: 669px) {
    .composite-featured_articles > .content {
      width: auto; } }
  @media only screen and (min-width: 670px) and (max-width: 768px) {
    .composite-featured_articles > .content {
      width: auto; } }
  @media only screen and (min-width: 980px) and (max-width: 1139px) {
    .composite-featured_articles > .content {
      width: 960px; } }
  @media (min-width: 1140px) {
    .composite-featured_articles > .content {
      width: 1140px; } }

@media only screen and (max-width: 669px) {
  .listing.listing-featured-articles {
    position: relative; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .listing.listing-featured-articles {
    position: relative; } }

@media (min-width: 980px) {
  .listing.listing-featured-articles {
    position: relative; } }

@media only screen and (max-width: 669px) {
  .listing.listing-featured-articles .listing-items {
    position: relative; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .listing.listing-featured-articles .listing-items {
    position: relative;
    margin: 0 -15px; } }

@media (min-width: 980px) {
  .listing.listing-featured-articles .listing-items {
    position: relative;
    margin: 0 -15px; } }

@media only screen and (max-width: 669px) {
  .listing.listing-featured-articles .listing-item {
    position: relative; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .listing.listing-featured-articles .listing-item {
    position: relative;
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    -ms-flex-positive: 1;
        flex-grow: 1;
    padding: 0 15px; } }

@media (min-width: 980px) {
  .listing.listing-featured-articles .listing-item {
    position: relative;
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    -ms-flex-positive: 1;
        flex-grow: 1;
    padding: 0 15px; } }

@media only screen and (max-width: 669px) {
  .listing.listing-featured-articles .image {
    margin: 0 -20px; } }

.listing.listing-featured-articles .image img {
  width: 100%; }

@media only screen and (max-width: 669px) {
  .listing.listing-featured-articles .richText h2, .listing.listing-featured-articles .richText h3 {
    font-size: 1.625rem;
    line-height: 1.23;
    margin: 20px 0; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .listing.listing-featured-articles .richText h2, .listing.listing-featured-articles .richText h3 {
    font-size: 1.625rem;
    line-height: 1.23;
    margin: 20px 0 15px; } }

@media (min-width: 980px) {
  .listing.listing-featured-articles .richText h2, .listing.listing-featured-articles .richText h3 {
    font-size: 1.625rem;
    line-height: 1.23;
    margin: 20px 0 15px; } }

@media only screen and (max-width: 669px) {
  .listing.listing-featured-articles .richText .button-secondary {
    transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 15px 0;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    width: 100%; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .listing.listing-featured-articles .richText .button-secondary {
    transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 15px 0;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center; } }

@media (min-width: 980px) {
  .listing.listing-featured-articles .richText .button-secondary {
    transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 15px 0;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center; } }

/*# sourceMappingURL=index.css.map */
