.composite-secondary_header_section {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
  padding-right: 25px; }
  @media only screen and (max-width: 669px) {
    .composite-secondary_header_section {
      width: auto; } }
  @media only screen and (min-width: 670px) and (max-width: 768px) {
    .composite-secondary_header_section {
      width: auto; } }
  @media only screen and (min-width: 980px) and (max-width: 1139px) {
    .composite-secondary_header_section {
      width: 960px; } }
  @media (min-width: 1140px) {
    .composite-secondary_header_section {
      width: 1140px; } }
  @media only screen and (max-width: 669px) {
    .composite-secondary_header_section {
      position: relative;
      margin-top: 25px;
      margin-bottom: 80px; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .composite-secondary_header_section {
      position: relative;
      margin-top: 25px;
      margin-bottom: 96px; } }
  @media (min-width: 980px) {
    .composite-secondary_header_section {
      position: relative;
      margin-top: 25px;
      margin-bottom: 96px; } }
  @media only screen and (max-width: 669px) {
    .composite-secondary_header_section .box > .component-content > .content {
      position: relative;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -ms-flex-pack: center;
          justify-content: center;
      margin-top: 0;
      margin-bottom: -40px; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .composite-secondary_header_section .box > .component-content > .content {
      position: relative;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -ms-flex-pack: center;
          justify-content: center;
      margin-top: 0;
      margin-right: -15px;
      margin-bottom: -40px;
      margin-left: -15px;
      display: -ms-flexbox;
      display: flex; } }
  @media (min-width: 980px) {
    .composite-secondary_header_section .box > .component-content > .content {
      position: relative;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -ms-flex-pack: center;
          justify-content: center;
      margin-top: 0;
      margin-right: -15px;
      margin-left: -15px;
      display: -ms-flexbox;
      display: flex; } }
  @media only screen and (max-width: 669px) {
    .composite-secondary_header_section .richText-secondary-header {
      position: relative;
      -ms-flex-preferred-size: 0;
          flex-basis: 0;
      -ms-flex-positive: 1;
          flex-grow: 1; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .composite-secondary_header_section .richText-secondary-header {
      position: relative;
      -ms-flex-preferred-size: 0;
          flex-basis: 0;
      -ms-flex-positive: 1;
          flex-grow: 1;
      margin: 0 15px; } }
  @media (min-width: 980px) {
    .composite-secondary_header_section .richText-secondary-header {
      position: relative;
      -ms-flex-preferred-size: 0;
          flex-basis: 0;
      -ms-flex-positive: 1;
          flex-grow: 1;
      margin: 0 15px; } }
  .composite-secondary_header_section * ~ p {
    margin: 0; }
  @media only screen and (max-width: 669px) {
    .composite-secondary_header_section .button-secondary {
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: -ms-inline-flexbox;
      display: inline-flex;
      margin-top: 20px;
      margin-bottom: 40px;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .composite-secondary_header_section .button-secondary {
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: -ms-inline-flexbox;
      display: inline-flex;
      margin-top: 20px;
      margin-bottom: 40px;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center; } }
  @media (min-width: 980px) {
    .composite-secondary_header_section .button-secondary {
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: -ms-inline-flexbox;
      display: inline-flex;
      margin-top: 25px;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center; } }

/*# sourceMappingURL=index.css.map */
