@charset "UTF-8";
.imageGallery .imageGallery-view-overlay {
  display: none; }

.imageGallery .imageGallery-view img {
  height: auto;
  min-height: 600px;
  display: block;
  margin: 0 auto; }
  @media only screen and (max-width: 669px) {
    .imageGallery .imageGallery-view img {
      min-height: 300px; } }

.imageGallery .imageGallery-thumbnails {
  margin: 15px 0; }

.imageGallery .imageGallery-list {
  position: relative; }

.imageGallery .imageGallery-list-inner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  overflow: hidden;
  padding: 0;
  margin: 0 auto;
  list-style: none;
  width: 100%; }

.imageGallery .imageGallery-thumbnail {
  overflow: hidden;
  padding: 0;
  position: relative;
  display: block; }
  @media only screen and (max-width: 669px) {
    .imageGallery .imageGallery-thumbnail {
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: -ms-inline-flexbox;
      display: inline-flex;
      border: 1px solid black;
      border-radius: 50%;
      margin: 0 5px;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center;
      width: 10px;
      height: 10px;
      max-width: 40px;
      max-height: 40px;
      box-sizing: border-box; }
      .imageGallery .imageGallery-thumbnail:hover {
        background-color: #696969;
        border: 1px solid #696969; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .imageGallery .imageGallery-thumbnail {
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: -ms-inline-flexbox;
      display: inline-flex;
      border: 1px solid transparent;
      border-radius: 0;
      margin: 0 5px;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center;
      max-width: 40px;
      max-height: 40px;
      box-sizing: border-box; }
      .imageGallery .imageGallery-thumbnail:hover {
        background-color: transparent;
        border: 1px solid #D0D0D0; } }
  @media (min-width: 980px) {
    .imageGallery .imageGallery-thumbnail {
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: -ms-inline-flexbox;
      display: inline-flex;
      border: 1px solid transparent;
      border-radius: 0;
      margin: 0 5px;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center;
      max-width: 40px;
      max-height: 40px;
      box-sizing: border-box; }
      .imageGallery .imageGallery-thumbnail:hover {
        background-color: transparent;
        border: 1px solid #D0D0D0; } }
  @media only screen and (max-width: 669px) {
    .imageGallery .imageGallery-thumbnail.is-active {
      background-color: black;
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: -ms-inline-flexbox;
      display: inline-flex;
      border-color: black;
      border-radius: 50%;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center;
      width: 10px;
      height: 10px;
      max-width: 40px;
      max-height: 40px;
      box-sizing: border-box; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .imageGallery .imageGallery-thumbnail.is-active {
      background-color: white;
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: -ms-inline-flexbox;
      display: inline-flex;
      border-color: black;
      border-radius: 0;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center;
      max-width: 40px;
      max-height: 40px;
      box-sizing: border-box; } }
  @media (min-width: 980px) {
    .imageGallery .imageGallery-thumbnail.is-active {
      background-color: white;
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: -ms-inline-flexbox;
      display: inline-flex;
      border-color: black;
      border-radius: 0;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center;
      max-width: 40px;
      max-height: 40px;
      box-sizing: border-box; } }
  .imageGallery .imageGallery-thumbnail a {
    display: block; }
  .imageGallery .imageGallery-thumbnail img {
    display: block;
    margin: 0 auto;
    width: 100%; }
    @media only screen and (max-width: 669px) {
      .imageGallery .imageGallery-thumbnail img {
        display: none; } }

.imageGallery .imageGallery-arrow {
  display: none; }

.imageGallery-with-zoom {
  position: relative; }

.imageGallery-with-zoom__button {
  cursor: pointer;
  overflow: hidden;
  position: absolute;
  z-index: 10; }
  @media only screen and (max-width: 669px) {
    .imageGallery-with-zoom__button {
      background-color: white;
      color: black;
      font-size: 1.125rem;
      font-weight: bold;
      line-height: 1;
      font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: -ms-inline-flexbox;
      display: inline-flex;
      border: solid 1px #D0D0D0;
      border-radius: 50%;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center;
      width: 47px;
      height: 47px;
      box-sizing: border-box;
      right: 5px;
      top: 5px; }
      .imageGallery-with-zoom__button:hover {
        background: #D0D0D0;
        color: white; }
      .imageGallery-with-zoom__button:focus {
        background: #D0D0D0;
        color: white; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .imageGallery-with-zoom__button {
      background-color: white;
      color: black;
      font-size: 1.125rem;
      font-weight: bold;
      line-height: 1;
      font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: -ms-inline-flexbox;
      display: inline-flex;
      border: solid 1px #D0D0D0;
      border-radius: 50%;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center;
      width: 59px;
      height: 59px;
      box-sizing: border-box;
      right: 20px;
      top: 20px; }
      .imageGallery-with-zoom__button:hover {
        background: #D0D0D0;
        color: white; }
      .imageGallery-with-zoom__button:focus {
        background: #D0D0D0;
        color: white; } }
  @media (min-width: 980px) {
    .imageGallery-with-zoom__button {
      background-color: white;
      color: black;
      font-size: 1.125rem;
      font-weight: bold;
      line-height: 1;
      font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: -ms-inline-flexbox;
      display: inline-flex;
      border: solid 1px #D0D0D0;
      border-radius: 50%;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center;
      width: 59px;
      height: 59px;
      box-sizing: border-box;
      right: 10px;
      top: 10px; }
      .imageGallery-with-zoom__button:hover {
        background: #D0D0D0;
        color: white; }
      .imageGallery-with-zoom__button:focus {
        background: #D0D0D0;
        color: white; } }
  .imageGallery-with-zoom__button:before {
    content: "";
    font-family: 'icons';
    speak: none;
    font-size: 1.75rem;
    font-weight: normal; }
  .imageGallery-with-zoom__button:after {
    content: "zoom";
    left: -1000px;
    position: absolute; }
  .ua-mobile-iphone.ua-safari .imageGallery-with-zoom__button:before {
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }

.imageGallery-with-zoom__overlay {
  background-color: white;
  bottom: 0;
  left: 0;
  opacity: 0;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity 1s;
  z-index: 25; }
  .imageGallery-with-zoom__overlay:before {
    position: fixed;
    right: 10px;
    top: 10px;
    z-index: 3; }
    @media only screen and (max-width: 669px) {
      .imageGallery-with-zoom__overlay:before {
        background-color: white;
        color: black;
        font-size: 1.125rem;
        font-weight: bold;
        line-height: 1;
        font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
        transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
        display: -ms-inline-flexbox;
        display: inline-flex;
        border: solid 1px #D0D0D0;
        border-radius: 50%;
        -ms-flex-align: center;
            align-items: center;
        -ms-flex-pack: center;
            justify-content: center;
        width: 47px;
        height: 47px;
        box-sizing: border-box; }
        .imageGallery-with-zoom__overlay:before:hover {
          background: #D0D0D0;
          color: white; }
        .imageGallery-with-zoom__overlay:before:focus {
          background: #D0D0D0;
          color: white; } }
    @media only screen and (min-width: 670px) and (max-width: 979px) {
      .imageGallery-with-zoom__overlay:before {
        background-color: white;
        color: black;
        font-size: 1.125rem;
        font-weight: bold;
        line-height: 1;
        font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
        transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
        display: -ms-inline-flexbox;
        display: inline-flex;
        border: solid 1px #D0D0D0;
        border-radius: 50%;
        -ms-flex-align: center;
            align-items: center;
        -ms-flex-pack: center;
            justify-content: center;
        width: 59px;
        height: 59px;
        box-sizing: border-box; }
        .imageGallery-with-zoom__overlay:before:hover {
          background: #D0D0D0;
          color: white; }
        .imageGallery-with-zoom__overlay:before:focus {
          background: #D0D0D0;
          color: white; } }
    @media (min-width: 980px) {
      .imageGallery-with-zoom__overlay:before {
        background-color: white;
        color: black;
        font-size: 1.125rem;
        font-weight: bold;
        line-height: 1;
        font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
        transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
        display: -ms-inline-flexbox;
        display: inline-flex;
        border: solid 1px #D0D0D0;
        border-radius: 50%;
        -ms-flex-align: center;
            align-items: center;
        -ms-flex-pack: center;
            justify-content: center;
        width: 59px;
        height: 59px;
        box-sizing: border-box; }
        .imageGallery-with-zoom__overlay:before:hover {
          background: #D0D0D0;
          color: white; }
        .imageGallery-with-zoom__overlay:before:focus {
          background: #D0D0D0;
          color: white; } }
  .imageGallery-with-zoom__overlay.is-active {
    cursor: url("../../assets/img/button-close.svg"), auto; }

.imageGallery-with-zoom__image {
  height: auto;
  top: 0;
  z-index: 1; }
  @media only screen and (max-width: 669px) {
    .imageGallery-with-zoom__image {
      left: 0;
      position: static;
      transform: none; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .imageGallery-with-zoom__image {
      left: 50%;
      position: absolute;
      transform: translateX(-50%); } }
  @media (min-width: 980px) {
    .imageGallery-with-zoom__image {
      left: 50%;
      position: absolute;
      transform: translateX(-50%); } }

/*# sourceMappingURL=index.css.map */
