$addThis: (
  spacings: common('spacings')
);

$addThis: merge($addThis, (
  _main: (
    _wrapper: (
      box: (
        margin: (
          margin: breakpoint((mobile: 0, tablet-max: 0, desktop: 0 ))
        )
      )
    ),
    _social-icons: (
      classlist: (
        defaults: (
          button: (
            text: (
              text-decoration: none
            ),
            margin: (
              margin: breakpoint((mobile: 0, tablet-min: 0, desktop:0))
            ),

            icon: (
              
              side: after,
              font-size: breakpoint((mobile: px(22), tablet-min: px(15))),
              line-height: 2,
              hover: (
                color: color('neutral', 'dark')
              )
            ),
          )
        ),
        items: (
          addthis_button_facebook: (
            button: (
              icon: (
                content: common('icon.facebook'),
                color: #6279B4
              )
            )
          ),
          addthis_button_twitter: (
            button: (
              icon: (
                content: common('icon.twitter'),
                color: #63C8E8
              )
            )
          ),
          addthis_button_pinterest_share: (
            button: (
              icon: (
                content: common('icon.pinterest'),
                color: color('primary','base')
              )
            )
          ),
          addthis_button_email: (
            button: (
              icon: (
                content: common('icon.email')
              )
            )
          )
        )
      )
    )
  )
));
