@import '../../core/config';

.addthis {
  @import 'config';
  @function g($a...) {
    @return get-last($addThis, $a...);
  }
  @include breakpoints ('tablet','desktop'){
    float: right;
    margin-right: 17.01389% !important;
    margin-top: -50px; 
  }
  .addthis_toolbox {
    @include breakpoints() {
      @include box(g('_main._wrapper.box'), $media);
    }
  }

  a {
    @include breakpoints() {
      @include classlist(g('_main._social-icons.classlist')) {
        @include button(get($curr, 'button'), $media);
      }
    }
    @include breakpoints('tablet','desktop') {
      margin-left: 20px !important;
    }
    > .at-icon-wrapper {
      display: none;
    }
  }

  .addthis-missing-func {
    display: none;
  }

  &.is-disabled {
    .addthis_toolbox {
      display: none;
    }

    .addthis-missing-func {
      display: block;
    }
  }
}
.addthis.grid_8{
  float: none;
  a {
    @include breakpoints('tablet','desktop'){
      margin-left: 0 !important;
      margin-right: 20px;
    }
  }
}
@import 'bigIcons/index';
