.richText.richText--recipe-stats {
  @import 'config';
  @function g($a...) { @return get-last($recipeStats, $a...); }

  $box: merge((
    border: (
      border-top: solid 1px color('neutral', 'light'),
      border-bottom: solid 1px color('neutral', 'light'),
    ),
    margin: spacings('m') 0 60px,
  ), g('box'));

  @include breakpoints() {
    @include box($box, $media);
  }

  .richText-content {
    $box: merge((
      display: flex,
      flex: (
        flex-wrap: wrap,
      ),
      margin: (
        margin: breakpoint((
          mobile: spacings('xs') 0,
          tablet-min: 28px 0
        ))
      )
    ), g('_container.box'));

    @include breakpoints() {
      @include box($box, $media);
    }
  }

  P {
    $box: merge((
      width: breakpoint(percentage(1/2), percentage(1/3), percentage(1/3)),
      margin: (
        margin: breakpoint((
          mobile: spacings('xs') 0,
          tablet-min: 0
        ))
      )
    ), g('_container._item.box'));

    @include breakpoints() {
      @include box($box, $media);
    }
  }

  .recipe-stats-title,
  .recipe-stats-value {
    display: block;
  }

  .recipe-stats-title {
    @include breakpoints() {
      @include paragraph(g('_container._item._title.paragraph'), $media);
    }
  }

  .recipe-stats-value {
    @include breakpoints() {
      @include paragraph(g('_container._item._value.paragraph'), $media);
    }
  }
}
