.composite-variation-single-featured-article-with-bubble {
  @import "config";
  @function g($a...) {
    @return get-last($singleFeaturedArticleRight, $a...);
  }

  &:after {
        @include breakpoints(mobile) {
                content: "";
                display: block;
                height: 100%;
                width: 100%;
                background: url('/etc/designs/zg/nameera/desktop/assets/img//water_drople.png') no-repeat;
                background-size: 100%;
                background-position: top center;
                position: absolute;
                left: 0px;
                top: 0px;

        }
}
}
