@import '../../core/config';
.flickity-enabled {
    @import 'config';

    .flickity-page-dots {
        display: none;
    }

    .flickity-button {
        @include breakpoints(mobile, tablet){
            display: none;
        }
    }
}