@charset "UTF-8";
.accordion.accordion-faq {
  margin-bottom: 45px; }
  @media only screen and (max-width: 669px) {
    .accordion.accordion-faq {
      position: relative;
      padding-top: 0;
      padding-bottom: 0; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .accordion.accordion-faq {
      position: relative;
      padding-top: 0;
      padding-bottom: 0; } }
  @media (min-width: 980px) {
    .accordion.accordion-faq {
      position: relative;
      padding-top: 0;
      padding-bottom: 0; } }
  @media only screen and (max-width: 669px) {
    .accordion.accordion-faq .accordion-slide {
      position: relative;
      border-bottom: 1px solid #dcdcdc;
      padding: 0; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .accordion.accordion-faq .accordion-slide {
      position: relative;
      border-bottom: 1px solid #dcdcdc;
      padding: 0; } }
  @media (min-width: 980px) {
    .accordion.accordion-faq .accordion-slide {
      position: relative;
      border-bottom: 1px solid #dcdcdc;
      padding: 0; } }
  .accordion.accordion-faq .accordion-slide.is-active > .accordion-head h3 a:after {
    transform: rotate(180deg) translateY(50%); }
  @media only screen and (max-width: 669px) {
    .accordion.accordion-faq .accordion-head {
      position: relative;
      padding: 4px 0 10px; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .accordion.accordion-faq .accordion-head {
      position: relative;
      padding: 4px 0 10px; } }
  @media (min-width: 980px) {
    .accordion.accordion-faq .accordion-head {
      position: relative;
      padding: 4px 0 10px; } }
  @media only screen and (max-width: 669px) {
    .accordion.accordion-faq .accordion-head h3 a {
      font-size: 1.625rem;
      font-weight: normal;
      line-height: 1;
      text-transform: capitalize;
      text-decoration: none; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .accordion.accordion-faq .accordion-head h3 a {
      font-size: 1.625rem;
      font-weight: normal;
      line-height: 1;
      text-transform: capitalize;
      text-decoration: none; } }
  @media (min-width: 980px) {
    .accordion.accordion-faq .accordion-head h3 a {
      font-size: 1.625rem;
      font-weight: normal;
      line-height: 1;
      text-transform: capitalize;
      text-decoration: none; } }
  @media only screen and (max-width: 669px) {
    .accordion.accordion-faq .accordion-head h3 a:after {
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center;
      background-color: inherit;
      display: -ms-flexbox;
      display: flex;
      margin-right: 15px;
      content: "";
      font-size: 0.625rem;
      color: inherit;
      display: flex;
      font-family: 'icons';
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      text-align: center;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .accordion.accordion-faq .accordion-head h3 a:after {
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center;
      background-color: inherit;
      display: -ms-flexbox;
      display: flex;
      margin-right: 15px;
      content: "";
      font-size: 0.625rem;
      color: inherit;
      display: flex;
      font-family: 'icons';
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      text-align: center;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; } }
  @media (min-width: 980px) {
    .accordion.accordion-faq .accordion-head h3 a:after {
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center;
      background-color: inherit;
      display: -ms-flexbox;
      display: flex;
      margin-right: 15px;
      content: "";
      font-size: 0.625rem;
      color: inherit;
      display: flex;
      font-family: 'icons';
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      text-align: center;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; } }
  .accordion.accordion-faq .accordion-head h3 a:after {
    top: 50%;
    transform: translateY(-50%);
    transition: transform, linea, 200ms;
    color: #C9484A; }
  .accordion.accordion-faq .accordion-head h3 a .accordion-title-text {
    position: relative;
    font-size: 1rem;
    color: #C9484A; }
  .wf-loading .accordion.accordion-faq .accordion-head h3 {
    visibility: hidden; }
  @media only screen and (max-width: 669px) {
    .accordion.accordion-faq .accordion-content {
      position: relative;
      padding: 0;
      width: auto; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .accordion.accordion-faq .accordion-content {
      position: relative;
      padding: 0;
      width: 88%; } }
  @media (min-width: 980px) {
    .accordion.accordion-faq .accordion-content {
      position: relative;
      padding: 0;
      width: 88%; } }
  .accordion.accordion-faq .accordion-content .richText-content :first-child {
    margin-top: 0; }
  .accordion.accordion-faq .accordion-content .richText-content h3 {
    font-size: 0.75rem;
    color: #696969;
    text-transform: capitalize;
    font-weight: bold;
    margin-bottom: 0; }
  .accordion.accordion-faq .accordion-content .richText-content p {
    font-size: 0.75rem;
    color: #696969;
    line-height: 2;
    margin-top: 5px;
    margin-bottom: 5px; }
  @media only screen and (max-width: 669px) {
    .accordion.accordion-faq .accordion-slide.is-active > .accordion-head {
      position: relative; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .accordion.accordion-faq .accordion-slide.is-active > .accordion-head {
      position: relative; } }
  @media (min-width: 980px) {
    .accordion.accordion-faq .accordion-slide.is-active > .accordion-head {
      position: relative; } }
  @media only screen and (max-width: 669px) {
    .accordion.accordion-faq .accordion-slide.is-active > .accordion-head h3 a:after {
      display: -ms-flexbox;
      display: flex;
      content: "";
      display: flex;
      font-family: 'icons';
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      text-align: center;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .accordion.accordion-faq .accordion-slide.is-active > .accordion-head h3 a:after {
      display: -ms-flexbox;
      display: flex;
      content: "";
      display: flex;
      font-family: 'icons';
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      text-align: center;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; } }
  @media (min-width: 980px) {
    .accordion.accordion-faq .accordion-slide.is-active > .accordion-head h3 a:after {
      display: -ms-flexbox;
      display: flex;
      content: "";
      display: flex;
      font-family: 'icons';
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      text-align: center;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; } }

/*# sourceMappingURL=index.css.map */
