@import '../../core/config';

.composite-variation-hero_image_with_richtextbelow {
  @import 'config';
  @function g($a...) {
    @return get-last($heroImageWithRichTextBelow, $a...);
  }

  img {
    width: 100%;
  }

  > .content {
    @include breakpoints() {
      @include box(g('_main.box'), $media)
    }

    > .richText {
      @include wrapper;

      @include breakpoints() {
        @include box(g('_main._text-wrapper.box'), $media);
      }

      .richText-content {
        @include breakpoints() {
          @include box(g('_main._text-wrapper._wrapper-content.box'), $media);
        }
      }
    }
  }
}
