$articleCarousel: (
    spacings: common('spacings')
);

$articleCarousel: merge($articleCarousel, (
    _main: (
        box:(
            width: breakpoint((
                mobile: 200px,
                tablet: 265px,
                desktop: 350px,
            )),
            padding: (
                padding: breakpoint(0 5px, 0 10px, 0 15px)
            )
        )
    ),
    image: (
        box: (
            height: breakpoint((
                mobile: 162px,
                tablet: 215px,
                desktop: 285px,
            )),
        )
    ),
    description: (
        box:(
            border: .5px solid color('neutral', 'light'),
            padding: (
                padding: breakpoint(spacings('xs'),spacings('s'), spacings('m'))
            ),
            margin: (
                margin-top: -1px
            )
        ),
        tag: (
            paragraph:(
                text:(
                    letter-spacing: .3em,
                    font-size: px(14)
                ),
                margin: 0
            )
        ),
        title: (
            paragraph: (
                text:(
                    font-size: px('s'),
                    color: color('primary', 'base')
                ),
                margin: (
                    margin-bottom: 0 !important
                )
            )
        )
    )
))

