@import '../../core/config';
.composite-article-carousel {
    @import 'config';
    @function g($a...) {
      @return get-last($articleCarousel, $a...);
    }

    .listing-item {
        
        @include breakpoints(){
            @include box(g('_main.box'), $media);
        }

        .image {

            z-index: $z-index-content;

            @include breakpoints(){
                @include box(g('image.box'), $media)
            }

            .component-content {
                height: 100%;
            }

            img {
                min-width: 0;
                min-height: 0;
                width: 100%;
                height: 100%;
                -o-object-fit: cover;
                object-fit: cover;
            }
        }

        .richText {

            z-index: $z-index-layer;

            @include breakpoints(){
                @include box(g('description.box'), $media);

                box-sizing: border-box;
                box-shadow: 1px 2px 9px color("neutral", "light");
            }

            p {
                @include breakpoints(){
                    @include paragraph(g('description.tag.paragraph'), $media);
                }
            }

            h1 {
                @include breakpoints() {
                    @include paragraph(g('description.title.paragraph'), $media)
                }
            }
        }

    }
}