$productThumbnail: (
    box: (
        height: breakpoint(240px, 430px, 400px),
        width: breakpoint(200px, 250px, 250px),
        padding: (
            padding: breakpoint(spacings('xxs'), spacings('xs'), spacings('s'))
        )
    ),
    content: (
        box: (
            display: flex !important,
            flex: (
                justify-content: center,
                align-items: center,
                align-self: center
            )
        )
    ),
    image : (
        box: (
            height: breakpoint(100px, 300px, 160px),
        )
    ),
    text: (
        box: (
            margin: 0
        )
    )
)