@import '../../core/config';

.product-thumbnail {
    @import 'config';
    @function g($a...) { @return get-last($productThumbnail, $a...); }

    @include breakpoints(){
        @include box(g('box'), $media);
    }

    .component-content {
        @include breakpoints(){
            @include box(g('content.box'), $media);
            @include flex(g('content.box.flex'), $media);
        }
    }

    .image {
        img {
            @include breakpoints(){
                @include box(g('image.box'), $media);
                @include flex(g('image.box.flex'), $media);
            }

        }
    }

    p {
        @include breakpoints(){
            @include box(g('text.box'), $media)
        }
    }
}