@import '../../../core/config';

.box-inline-elements {
  @import 'config';
  @function g($a...) { @return get-last($config-inline-elements, $a...); }

  > .component-content > .content {
    $box: merge((
      margin: 0 spacings('xs') * -1
    ), g('box'));

    @include breakpoints() {
      @include box($box, $media);
    }
  }

  .reference-find-in-store-button,
  .buyitnow {
    $box: merge((
      margin: 0 spacings('xs')
    ), g('_button-wrappers.box'));

    @include breakpoints() {
      @include box($box, $media);
    }
  }

  .reference-find-in-store-button {
    margin: unset !important;

    .button-tertiary {
      $button: merge((
        margin: (
          margin-bottom: 20px
        ),
        min-width: 180px
      ), g('_find-in-store.button'));

      @include breakpoints() {
        @include button($button, $media);
      }
    }
  }

  .buyitnow {
    .addtobag-btn,
    .shopalyst-btn,
    .btn-primary {
      $button: merge((
        margin: (
          margin-top: 0,
          margin-right: 0
        )
      ), g('_buy-it-now.button'));

      @include breakpoints() {
        @include button($button, $media);
      }
    }
  }
}
