.fileList-heading {
  display: block;
  color: #323131;
  font-size: 1.25rem;
  font-weight: bold;
  padding-bottom: 10px; }

.fileList-date {
  margin-bottom: 10px;
  color: #868484; }

.fileList-file {
  margin-bottom: 20px;
  overflow: hidden; }

.fileList-description {
  overflow: hidden; }

.fileList-title {
  display: block;
  color: #323131;
  font-size: 1.25rem;
  font-weight: bold;
  padding-bottom: 10px; }

.fileList-list {
  margin: 0;
  padding: 0;
  list-style: none; }

.fileList-thumbnail {
  margin-right: 15px;
  float: left;
  max-width: 100px; }
  @media only screen and (max-width: 669px) {
    .fileList-thumbnail {
      float: none;
      margin: auto;
      display: block; } }

.fileList-download {
  text-align: right; }
  .fileList-download-size {
    display: block;
    color: #868484; }

/*# sourceMappingURL=index.css.map */
