.box-recipe-image-and-meta.box,
.box-recipe-ingredients-and-directions.box {
  margin-left: 0; }

.box-recipe-image-and-meta > .component-content > .content,
.box-recipe-ingredients-and-directions > .component-content > .content {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
  padding-right: 25px; }
  @media only screen and (max-width: 669px) {
    .box-recipe-image-and-meta > .component-content > .content,
    .box-recipe-ingredients-and-directions > .component-content > .content {
      width: auto; } }
  @media only screen and (min-width: 670px) and (max-width: 768px) {
    .box-recipe-image-and-meta > .component-content > .content,
    .box-recipe-ingredients-and-directions > .component-content > .content {
      width: auto; } }
  @media only screen and (min-width: 980px) and (max-width: 1139px) {
    .box-recipe-image-and-meta > .component-content > .content,
    .box-recipe-ingredients-and-directions > .component-content > .content {
      width: 960px; } }
  @media (min-width: 1140px) {
    .box-recipe-image-and-meta > .component-content > .content,
    .box-recipe-ingredients-and-directions > .component-content > .content {
      width: 1140px; } }
  @media only screen and (max-width: 669px) {
    .box-recipe-image-and-meta > .component-content > .content,
    .box-recipe-ingredients-and-directions > .component-content > .content {
      position: relative;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      display: block;
      overflow: hidden;
      box-sizing: border-box; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .box-recipe-image-and-meta > .component-content > .content,
    .box-recipe-ingredients-and-directions > .component-content > .content {
      position: relative;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      display: block;
      overflow: hidden;
      box-sizing: border-box; } }
  @media (min-width: 980px) {
    .box-recipe-image-and-meta > .component-content > .content,
    .box-recipe-ingredients-and-directions > .component-content > .content {
      position: relative;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      display: -ms-flexbox;
      display: flex;
      overflow: hidden;
      box-sizing: border-box; } }
  @media only screen and (max-width: 669px) {
    .box-recipe-image-and-meta > .component-content > .content > .section,
    .box-recipe-ingredients-and-directions > .component-content > .content > .section {
      position: relative;
      width: 100%;
      box-sizing: border-box; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .box-recipe-image-and-meta > .component-content > .content > .section,
    .box-recipe-ingredients-and-directions > .component-content > .content > .section {
      position: relative;
      width: 100%;
      box-sizing: border-box; } }
  @media (min-width: 980px) {
    .box-recipe-image-and-meta > .component-content > .content > .section,
    .box-recipe-ingredients-and-directions > .component-content > .content > .section {
      position: relative;
      box-sizing: border-box; } }

@media only screen and (max-width: 669px) {
  .box-recipe-image-and-meta {
    position: relative; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .box-recipe-image-and-meta {
    position: relative; } }

@media (min-width: 980px) {
  .box-recipe-image-and-meta {
    position: relative;
    margin-bottom: 60px; } }

@media only screen and (max-width: 669px) {
  .box-recipe-image-and-meta > .component-content > .content {
    -ms-flex-direction: column;
        flex-direction: column;
    padding: 0 20px; }
    .box-recipe-image-and-meta > .component-content > .content .image,
    .box-recipe-image-and-meta > .component-content > .content .composite-recipe-meta-details {
      width: 100%; } }

@media only screen and (min-width: 670px) and (max-width: 768px) {
  .box-recipe-image-and-meta > .component-content > .content {
    -ms-flex-direction: column;
        flex-direction: column;
    padding: 0 20px; }
    .box-recipe-image-and-meta > .component-content > .content .image,
    .box-recipe-image-and-meta > .component-content > .content .composite-recipe-meta-details {
      width: 100%; } }

@media only screen and (min-width: 980px) and (max-width: 1139px) {
  .box-recipe-image-and-meta > .component-content > .content {
    width: 960px;
    padding: 0 20px; }
    .box-recipe-image-and-meta > .component-content > .content .image {
      width: calc((960px / 12) * 7 - 40px); }
    .box-recipe-image-and-meta > .component-content > .content .composite-recipe-meta-details {
      width: calc((960px / 12) * 5); } }

@media (min-width: 1140px) {
  .box-recipe-image-and-meta > .component-content > .content {
    width: 1140px;
    padding: 0 20px; }
    .box-recipe-image-and-meta > .component-content > .content .image {
      width: calc((1140px / 12) * 7 - 40px); }
    .box-recipe-image-and-meta > .component-content > .content .composite-recipe-meta-details {
      width: calc((1140px / 12) * 5); } }

@media only screen and (max-width: 669px) {
  .box-recipe-image-and-meta > .component-content > .content {
    position: relative;
    background: transparent; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .box-recipe-image-and-meta > .component-content > .content {
    position: relative;
    background: transparent; } }

@media (min-width: 980px) {
  .box-recipe-image-and-meta > .component-content > .content {
    position: relative;
    background: transparent;
    margin-top: 85px; } }

@media only screen and (max-width: 669px) {
  .box-recipe-image-and-meta > .component-content > .content > .image {
    position: relative;
    background: transparent;
    width: 100%;
    height: 100%; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .box-recipe-image-and-meta > .component-content > .content > .image {
    position: relative;
    background: transparent;
    width: 100%;
    height: 100%; } }

@media (min-width: 980px) {
  .box-recipe-image-and-meta > .component-content > .content > .image {
    position: relative;
    background: transparent;
    height: 100%; } }

@media only screen and (max-width: 669px) {
  .box-recipe-image-and-meta > .component-content > .content > .image img {
    position: relative;
    margin: 0 -20px;
    width: calc(100% + 40px);
    max-width: none; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .box-recipe-image-and-meta > .component-content > .content > .image img {
    position: relative;
    margin: 0 -20px;
    width: calc(100% + 40px);
    max-width: none; } }

@media (min-width: 980px) {
  .box-recipe-image-and-meta > .component-content > .content > .image img {
    position: relative; } }

@media only screen and (max-width: 669px) {
  .box-recipe-image-and-meta > .component-content > .content > .composite-recipe-meta-details {
    position: relative;
    background: transparent; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .box-recipe-image-and-meta > .component-content > .content > .composite-recipe-meta-details {
    position: relative;
    background: transparent; } }

@media (min-width: 980px) {
  .box-recipe-image-and-meta > .component-content > .content > .composite-recipe-meta-details {
    position: relative;
    background: transparent;
    padding-left: 95px; } }

@media only screen and (max-width: 669px) {
  .box-recipe-ingredients-and-directions {
    position: relative;
    margin-bottom: 60px; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .box-recipe-ingredients-and-directions {
    position: relative;
    margin-bottom: 60px; } }

@media (min-width: 980px) {
  .box-recipe-ingredients-and-directions {
    position: relative;
    margin-bottom: 120px; } }

@media only screen and (max-width: 669px) {
  .box-recipe-ingredients-and-directions > .component-content > .content {
    -ms-flex-direction: column;
        flex-direction: column;
    padding: 0 20px; }
    .box-recipe-ingredients-and-directions > .component-content > .content .composite-recipe-ingredients-details,
    .box-recipe-ingredients-and-directions > .component-content > .content .recipeDirections {
      width: 100%; } }

@media only screen and (min-width: 670px) and (max-width: 768px) {
  .box-recipe-ingredients-and-directions > .component-content > .content {
    -ms-flex-direction: column;
        flex-direction: column;
    padding: 0 20px; }
    .box-recipe-ingredients-and-directions > .component-content > .content .composite-recipe-ingredients-details,
    .box-recipe-ingredients-and-directions > .component-content > .content .recipeDirections {
      width: 100%; } }

@media only screen and (min-width: 980px) and (max-width: 1139px) {
  .box-recipe-ingredients-and-directions > .component-content > .content {
    width: 960px;
    padding: 0 20px; }
    .box-recipe-ingredients-and-directions > .component-content > .content .composite-recipe-ingredients-details {
      width: calc((960px / 12) * 5 - 40px); }
    .box-recipe-ingredients-and-directions > .component-content > .content .recipeDirections {
      width: calc((960px / 12) * 7); } }

@media (min-width: 1140px) {
  .box-recipe-ingredients-and-directions > .component-content > .content {
    width: 1140px;
    padding: 0 20px; }
    .box-recipe-ingredients-and-directions > .component-content > .content .composite-recipe-ingredients-details {
      width: calc((1140px / 12) * 5 - 40px); }
    .box-recipe-ingredients-and-directions > .component-content > .content .recipeDirections {
      width: calc((1140px / 12) * 7); } }

@media only screen and (max-width: 669px) {
  .box-recipe-ingredients-and-directions > .component-content > .content {
    position: relative;
    background: transparent; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .box-recipe-ingredients-and-directions > .component-content > .content {
    position: relative;
    background: transparent; } }

@media (min-width: 980px) {
  .box-recipe-ingredients-and-directions > .component-content > .content {
    position: relative;
    background: transparent; } }

@media only screen and (max-width: 669px) {
  .box-recipe-ingredients-and-directions > .component-content > .content > .composite-recipe-ingredients-details {
    position: relative;
    background: transparent; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .box-recipe-ingredients-and-directions > .component-content > .content > .composite-recipe-ingredients-details {
    position: relative;
    background: transparent; } }

@media (min-width: 980px) {
  .box-recipe-ingredients-and-directions > .component-content > .content > .composite-recipe-ingredients-details {
    position: relative;
    background: transparent; } }

@media only screen and (max-width: 669px) {
  .box-recipe-ingredients-and-directions > .component-content > .content > .recipeDirections {
    position: relative;
    background: transparent; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .box-recipe-ingredients-and-directions > .component-content > .content > .recipeDirections {
    position: relative;
    background: transparent; } }

@media (min-width: 980px) {
  .box-recipe-ingredients-and-directions > .component-content > .content > .recipeDirections {
    position: relative;
    background: transparent;
    padding-left: 95px; } }

/*# sourceMappingURL=index.css.map */
