@charset "UTF-8";
.reference-icon-link .back-to-top {
  float: right; }
  @media only screen and (max-width: 669px) {
    .reference-icon-link .back-to-top {
      background-color: transparent;
      font-weight: bold;
      text-transform: uppercase;
      text-decoration: none;
      font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: -ms-inline-flexbox;
      display: inline-flex;
      position: relative;
      border: none;
      margin: 20px 0;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: justify;
          justify-content: space-between; }
      .reference-icon-link .back-to-top:before {
        position: absolute;
        top: 100%;
        left: 0; }
      .reference-icon-link .back-to-top:before {
        content: '';
        border-top: 2px solid black;
        margin-top: -3px;
        transform: scaleX(0);
        transform-origin: 0 0;
        width: calc(100% - 25px);
        display: block; }
      .reference-icon-link .back-to-top:before {
        transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, border 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s; }
      .reference-icon-link .back-to-top:hover:before {
        transform: scaleX(1); }
      .reference-icon-link .back-to-top:after {
        border-width: 1px;
        border-style: solid;
        border-color: black;
        border-radius: 50%;
        margin-left: 10px;
        width: 14px;
        height: 14px;
        content: "";
        font-size: 0.3125rem;
        color: black;
        display: block;
        font-family: 'icons';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        text-align: center;
        line-height: 0.875rem;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .reference-icon-link .back-to-top {
      background-color: transparent;
      font-weight: bold;
      text-transform: uppercase;
      text-decoration: none;
      font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: -ms-inline-flexbox;
      display: inline-flex;
      position: relative;
      border: none;
      margin: 20px 0;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: justify;
          justify-content: space-between; }
      .reference-icon-link .back-to-top:before {
        position: absolute;
        top: 100%;
        left: 0; }
      .reference-icon-link .back-to-top:before {
        content: '';
        border-top: 2px solid black;
        margin-top: -3px;
        transform: scaleX(0);
        transform-origin: 0 0;
        width: calc(100% - 25px);
        display: block; }
      .reference-icon-link .back-to-top:before {
        transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, border 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s; }
      .reference-icon-link .back-to-top:hover:before {
        transform: scaleX(1); }
      .reference-icon-link .back-to-top:after {
        border-width: 1px;
        border-style: solid;
        border-color: black;
        border-radius: 50%;
        margin-left: 10px;
        width: 14px;
        height: 14px;
        content: "";
        font-size: 0.3125rem;
        color: black;
        display: block;
        font-family: 'icons';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        text-align: center;
        line-height: 0.875rem;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; } }
  @media (min-width: 980px) {
    .reference-icon-link .back-to-top {
      background-color: transparent;
      font-weight: bold;
      text-transform: uppercase;
      text-decoration: none;
      font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: -ms-inline-flexbox;
      display: inline-flex;
      position: relative;
      border: none;
      margin: 20px 0;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: justify;
          justify-content: space-between; }
      .reference-icon-link .back-to-top:before {
        position: absolute;
        top: 100%;
        left: 0; }
      .reference-icon-link .back-to-top:before {
        content: '';
        border-top: 2px solid black;
        margin-top: -3px;
        transform: scaleX(0);
        transform-origin: 0 0;
        width: calc(100% - 25px);
        display: block; }
      .reference-icon-link .back-to-top:before {
        transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, border 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s; }
      .reference-icon-link .back-to-top:hover:before {
        transform: scaleX(1); }
      .reference-icon-link .back-to-top:after {
        border-width: 1px;
        border-style: solid;
        border-color: black;
        border-radius: 50%;
        margin-left: 10px;
        width: 14px;
        height: 14px;
        content: "";
        font-size: 0.3125rem;
        color: black;
        display: block;
        font-family: 'icons';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        text-align: center;
        line-height: 0.875rem;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; } }

/*# sourceMappingURL=index.css.map */
