$testimonial: (
  spacings: common('spacings')
);

$testimonial: merge($testimonial, (
  text: (
    font-size: px(18),
    line-height: 1.44
  ),
  box: (
    background: transparent,
    display: flex,
    padding: (
      padding: breakpoint(20px 0, 35px 0, 40px 0)
    ),
    flex: (
      flex-flow: column-reverse,
      justify-content: center,
      align-items: center
    )
  ),
  picture: (
    box: (
      overflow: hidden,
      height: breakpoint(75px, 115px, 150px),
      border: (
        border-radius: 50%
      )
    ),
    flex: (
      order: 2
    )
  ),
  content: (
    box: (
      display: flex,
      margin: (
        margin-bottom: breakpoint(20px, 30px, 40px)
      ),
      flex: (
        flex-flow: column,
        justify-content: center,
        align-items: center
      )
    ),
    quotes: (
      box: (
        margin: (
          margin: 0 !important
        )
      ),
      text: (
        font-size: breakpoint(20px, 32px, 45px),
        text-align: center,
        color: color('primary', 'base'),
      )
    ),
    author: (
      text:(
        font-size: breakpoint(16px, 18px, 22px),
        text-align: center,
        color: color('neutral', 'dark')
      )
    )
  )
));
