.richText.richText-testimonial {
  @import 'config';
  @function g($a...) {
    @return get-last($testimonial, $a...);
  }

  @include breakpoints {
    @include text(g('text'), $media);
    @include box(g('box'), $media);
  }

  .component-content {
    // @include wrapper;
    @include breakpoints(){
      @include box(g('box'), $media);
      @include flex(g('box.flex'), $media);
    }
  }

  picture {

    @include breakpoints(){
      @include box(g('picture.box'), $media);
      @include border(g('picture.box.border'), $media);
    }

    img {
      @include breakpoints(){
        @include box(g('picture.box'), $media);
        @include border(g('picture.box.border'), $media);
      }
    }

  }

  .richText-content {
    @include breakpoints(){
      @include box(g('content.box'), $media);
      @include flex(g('content.box.flex'), $media);
    }

    p{
        @include breakpoints(){
          @include text(g('content.quotes.text'), $media);
          @include box(g('content.quotes.box'), $media)
        }

        &:last-child {
          @include breakpoints(){
            @include text(g('content.author.text'), $media);
          }
        }
    }
  }


}
