@media only screen and (max-width: 669px) {
  .ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-content-title,
  .ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-author,
  .ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-content-datetime,
  .ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-content-summary-body-text p,
  .ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-content-item .bv-content-feedback-vote .bv-content-feedback-vote-request,
  .ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-content-data-label,
  .ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-content-data .bv-content-data-value,
  .ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-core-container-144 .bv-control-bar,
  .ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-content-badges-container,
  .ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-inline-histogram-ratings-score span,
  .ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-inline-histogram-ratings-star-container .bv-inline-histogram-ratings-star {
    font-family: Montserrat, sans-serif !important; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-content-title,
  .ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-author,
  .ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-content-datetime,
  .ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-content-summary-body-text p,
  .ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-content-item .bv-content-feedback-vote .bv-content-feedback-vote-request,
  .ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-content-data-label,
  .ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-content-data .bv-content-data-value,
  .ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-core-container-144 .bv-control-bar,
  .ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-content-badges-container,
  .ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-inline-histogram-ratings-score span,
  .ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-inline-histogram-ratings-star-container .bv-inline-histogram-ratings-star {
    font-family: Montserrat, sans-serif !important; } }

@media (min-width: 980px) {
  .ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-content-title,
  .ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-author,
  .ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-content-datetime,
  .ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-content-summary-body-text p,
  .ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-content-item .bv-content-feedback-vote .bv-content-feedback-vote-request,
  .ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-content-data-label,
  .ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-content-data .bv-content-data-value,
  .ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-core-container-144 .bv-control-bar,
  .ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-content-badges-container,
  .ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-inline-histogram-ratings-score span,
  .ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-inline-histogram-ratings-star-container .bv-inline-histogram-ratings-star {
    font-family: Montserrat, sans-serif !important; } }

@media only screen and (max-width: 669px) {
  .ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] {
    position: relative !important;
    font-family: Montserrat, sans-serif !important; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] {
    position: relative !important;
    font-family: Montserrat, sans-serif !important; } }

@media (min-width: 980px) {
  .ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] {
    position: relative !important;
    font-family: Montserrat, sans-serif !important; } }

@media only screen and (max-width: 669px) {
  .ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-action-bar {
    position: relative !important;
    padding: 25px 0 !important; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-action-bar {
    position: relative !important; } }

@media (min-width: 980px) {
  .ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-action-bar {
    position: relative !important; } }

@media only screen and (max-width: 669px) {
  .ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-action-bar .bv-write-review-container .bv-write-review {
    line-height: 1.57 !important;
    font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif !important;
    transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
    -ms-flex-align: center !important;
        align-items: center !important;
    -ms-flex-pack: center !important;
        justify-content: center !important; }
    .ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-action-bar .bv-write-review-container .bv-write-review:hover {
      color: #696969;
      line-height: 1.57;
      font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-action-bar .bv-write-review-container .bv-write-review {
    line-height: 1.57 !important;
    font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif !important;
    transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
    -ms-flex-align: center !important;
        align-items: center !important;
    -ms-flex-pack: center !important;
        justify-content: center !important; }
    .ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-action-bar .bv-write-review-container .bv-write-review:hover {
      color: #696969;
      line-height: 1.57;
      font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif; } }

@media (min-width: 980px) {
  .ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-action-bar .bv-write-review-container .bv-write-review {
    line-height: 1.57 !important;
    font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif !important;
    transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
    -ms-flex-align: center !important;
        align-items: center !important;
    -ms-flex-pack: center !important;
        justify-content: center !important; }
    .ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-action-bar .bv-write-review-container .bv-write-review:hover {
      color: #696969;
      line-height: 1.57;
      font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif; } }

@media only screen and (max-width: 669px) {
  .ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-section-summary {
    position: relative !important;
    padding: 0 !important;
    margin: 0 !important; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-section-summary {
    position: relative !important;
    padding: 0 !important;
    margin: 0 !important; } }

@media (min-width: 980px) {
  .ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-section-summary {
    position: relative !important;
    padding: 0 !important;
    margin: 0 !important; } }

@media only screen and (max-width: 669px) {
  .ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-section-summary .bv-inline-histogram-ratings table {
    position: relative !important;
    padding-right: 40px !important;
    margin: 0 0 25px !important;
    width: calc(100% - 42px) !important; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-section-summary .bv-inline-histogram-ratings table {
    position: relative !important;
    padding-right: 40px !important;
    margin: 0 0 25px !important;
    width: calc(100% - 42px) !important; } }

@media (min-width: 980px) {
  .ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-section-summary .bv-inline-histogram-ratings table {
    position: relative !important;
    border-right: 2px solid #D0D0D0 !important;
    padding-right: 40px !important;
    margin: 0 0 25px !important;
    width: calc(100% - 42px) !important; } }

.ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-section-summary .bv-section-summary-inline .bv-secondary-rating-summary .bv-secondary-rating-summary-list .bv-secondary-rating-summary-rating {
  float: none !important; }
  @media only screen and (max-width: 669px) {
    .ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-section-summary .bv-section-summary-inline .bv-secondary-rating-summary .bv-secondary-rating-summary-list .bv-secondary-rating-summary-rating {
      font-family: Montserrat, sans-serif !important;
      font-size: 1.125rem !important;
      font-weight: bold !important;
      text-align: left !important; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-section-summary .bv-section-summary-inline .bv-secondary-rating-summary .bv-secondary-rating-summary-list .bv-secondary-rating-summary-rating {
      font-family: Montserrat, sans-serif !important;
      font-size: 1.125rem !important;
      font-weight: bold !important;
      text-align: left !important; } }
  @media (min-width: 980px) {
    .ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-section-summary .bv-section-summary-inline .bv-secondary-rating-summary .bv-secondary-rating-summary-list .bv-secondary-rating-summary-rating {
      font-family: Montserrat, sans-serif !important;
      font-size: 1.125rem !important;
      font-weight: bold !important;
      text-align: left !important; } }

@media (min-width: 670px) {
  .ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-cv2-cleanslate .bv-core-container-144 .bv-section-summary .bv-section-summary-table {
    width: auto !important; } }

@media only screen and (max-width: 669px) {
  .ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-cv2-cleanslate .bv-core-container-144 .bv-section-summary .bv-section-summary-inline .bv-secondary-rating-summary .bv-secondary-rating-summary-list {
    position: relative !important;
    margin: 3px 0 25px !important; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-cv2-cleanslate .bv-core-container-144 .bv-section-summary .bv-section-summary-inline .bv-secondary-rating-summary .bv-secondary-rating-summary-list {
    position: relative !important;
    margin: 3px 0 25px 40px !important; } }

@media (min-width: 980px) {
  .ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-cv2-cleanslate .bv-core-container-144 .bv-section-summary .bv-section-summary-inline .bv-secondary-rating-summary .bv-secondary-rating-summary-list {
    position: relative !important;
    margin: 3px 0 25px 80px !important; } }

.ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-cv2-cleanslate .bv-core-container-144 .bv-section-summary .bv-section-summary-inline .bv-secondary-rating-summary .bv-rating-ratio {
  padding: 0 !important; }

@media only screen and (max-width: 669px) {
  .ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-control-bar {
    position: relative !important;
    -ms-flex-wrap: nowrap !important;
        flex-wrap: nowrap !important;
    padding: 5px !important; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-control-bar {
    position: relative !important;
    -ms-flex-wrap: nowrap !important;
        flex-wrap: nowrap !important;
    padding: 10px !important; } }

@media (min-width: 980px) {
  .ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-control-bar {
    position: relative !important;
    -ms-flex-wrap: nowrap !important;
        flex-wrap: nowrap !important;
    padding: 10px !important; } }

.ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-control-bar .bv-control-bar-count {
  text-align: left !important; }
  @media only screen and (max-width: 669px) {
    .ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-control-bar .bv-control-bar-count {
      max-width: 40% !important; } }

@media only screen and (max-width: 669px) {
  .ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-content-summary {
    position: relative !important;
    max-width: 700px !important; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-content-summary {
    position: relative !important;
    max-width: 700px !important; } }

@media (min-width: 980px) {
  .ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-content-summary {
    position: relative !important;
    max-width: 700px !important; } }

@media only screen and (max-width: 669px) {
  .ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-content-meta-wrapper {
    position: relative !important; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-content-meta-wrapper {
    position: relative !important; } }

@media (min-width: 980px) {
  .ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-content-meta-wrapper {
    position: relative !important;
    padding-left: 40px !important; } }

@media only screen and (max-width: 669px) {
  .ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-cv2-cleanslate .bv-core-container-144 .bv-content-data-summary .bv-content-meta .bv-content-datetime {
    position: relative !important;
    padding-left: 20px !important; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-cv2-cleanslate .bv-core-container-144 .bv-content-data-summary .bv-content-meta .bv-content-datetime {
    position: relative !important;
    padding-left: 20px !important; } }

@media (min-width: 980px) {
  .ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-cv2-cleanslate .bv-core-container-144 .bv-content-data-summary .bv-content-meta .bv-content-datetime {
    position: relative !important;
    padding-left: 20px !important; } }

@media only screen and (max-width: 669px) {
  .ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-content-actions-container {
    position: relative !important;
    padding: 0 !important;
    margin: 0 !important; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-content-actions-container {
    position: relative !important;
    padding: 0 !important;
    margin: 0 !important; } }

@media (min-width: 980px) {
  .ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-content-actions-container {
    position: relative !important;
    padding: 0 !important;
    margin: 0 !important; } }

@media only screen and (max-width: 669px) {
  .ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-content-actions-container .bv-content-feedback-vote-request {
    font-size: 0.75rem !important;
    margin: 0 !important; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-content-actions-container .bv-content-feedback-vote-request {
    font-size: 0.75rem !important;
    margin: 0 !important; } }

@media (min-width: 980px) {
  .ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-content-actions-container .bv-content-feedback-vote-request {
    font-size: 0.75rem !important;
    margin: 0 !important; } }

.ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-content-actions-container .bv-content-btn-feedback-yes,
.ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-content-actions-container .bv-content-btn-feedback-no {
  border-right: 0 !important; }
  .ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-content-actions-container .bv-content-btn-feedback-yes > span,
  .ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-content-actions-container .bv-content-btn-feedback-no > span {
    cursor: pointer !important; }
    @media only screen and (max-width: 669px) {
      .ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-content-actions-container .bv-content-btn-feedback-yes > span,
      .ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-content-actions-container .bv-content-btn-feedback-no > span {
        color: black !important;
        font-size: 0.75rem !important;
        line-height: 1.33 !important;
        text-transform: uppercase !important;
        text-decoration: underline !important;
        font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif !important;
        transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s !important;
        display: -ms-inline-flexbox !important;
        display: inline-flex !important;
        padding: 1.7px 0 0.86px 0 !important;
        margin-top: 0 !important;
        -ms-flex-align: center !important;
            align-items: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important; }
        .ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-content-actions-container .bv-content-btn-feedback-yes > span:hover,
        .ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-content-actions-container .bv-content-btn-feedback-no > span:hover {
          color: #6e7f8d; } }
    @media only screen and (min-width: 670px) and (max-width: 979px) {
      .ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-content-actions-container .bv-content-btn-feedback-yes > span,
      .ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-content-actions-container .bv-content-btn-feedback-no > span {
        color: black !important;
        font-size: 0.75rem !important;
        line-height: 1.33 !important;
        text-transform: uppercase !important;
        text-decoration: underline !important;
        font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif !important;
        transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s !important;
        display: -ms-inline-flexbox !important;
        display: inline-flex !important;
        padding: 1.7px 0 0.86px 0 !important;
        margin-top: 0 !important;
        -ms-flex-align: center !important;
            align-items: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important; }
        .ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-content-actions-container .bv-content-btn-feedback-yes > span:hover,
        .ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-content-actions-container .bv-content-btn-feedback-no > span:hover {
          color: #6e7f8d; } }
    @media (min-width: 980px) {
      .ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-content-actions-container .bv-content-btn-feedback-yes > span,
      .ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-content-actions-container .bv-content-btn-feedback-no > span {
        color: black !important;
        font-size: 0.75rem !important;
        line-height: 1.33 !important;
        text-transform: uppercase !important;
        text-decoration: underline !important;
        font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif !important;
        transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s !important;
        display: -ms-inline-flexbox !important;
        display: inline-flex !important;
        padding: 1.7px 0 0.86px 0 !important;
        margin-top: 0 !important;
        -ms-flex-align: center !important;
            align-items: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important; }
        .ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-content-actions-container .bv-content-btn-feedback-yes > span:hover,
        .ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-content-actions-container .bv-content-btn-feedback-no > span:hover {
          color: #6e7f8d; } }

.ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-content-actions-container .bv-content-report-btn {
  float: none !important; }
  @media only screen and (max-width: 669px) {
    .ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-content-actions-container .bv-content-report-btn {
      font-size: 0.75rem !important;
      line-height: 1.33 !important;
      text-transform: uppercase !important;
      text-decoration: underline !important;
      font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif !important;
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s !important;
      display: -ms-inline-flexbox !important;
      display: inline-flex !important;
      -ms-flex-align: center !important;
          align-items: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-content-actions-container .bv-content-report-btn {
      font-size: 0.75rem !important;
      line-height: 1.33 !important;
      text-transform: uppercase !important;
      text-decoration: underline !important;
      font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif !important;
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s !important;
      display: -ms-inline-flexbox !important;
      display: inline-flex !important;
      -ms-flex-align: center !important;
          align-items: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important; } }
  @media (min-width: 980px) {
    .ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-content-actions-container .bv-content-report-btn {
      font-size: 0.75rem !important;
      line-height: 1.33 !important;
      text-transform: uppercase !important;
      text-decoration: underline !important;
      font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif !important;
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s !important;
      display: -ms-inline-flexbox !important;
      display: inline-flex !important;
      -ms-flex-align: center !important;
          align-items: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important; } }

@media only screen and (max-width: 669px) {
  .ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-content-title-container {
    margin-top: 20px !important; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-content-title-container {
    margin-top: 20px !important; } }

@media (min-width: 980px) {
  .ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-content-title-container {
    margin-top: 20px !important; } }

.ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-cv2-cleanslate .bv-core-container-144 .bv-content-item .bv-content-btn:hover,
.ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-cv2-cleanslate .bv-core-container-144 .bv-content-item .bv-content-feedback-voted-negative .bv-content-btn-feedback-no,
.ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-cv2-cleanslate .bv-core-container-144 .bv-content-item .bv-content-feedback-voted-positive .bv-content-btn-feedback-no,
.ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-cv2-cleanslate .bv-core-container-144 .bv-content-item .bv-content-feedback-voted-negative .bv-content-btn-feedback-yes,
.ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-cv2-cleanslate .bv-core-container-144 .bv-content-item .bv-content-feedback-voted-positive .bv-content-btn-feedback-yes,
.ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-cv2-cleanslate .bv-core-container-144 .bv-content-item:hover .bv-content-feedback-btn-container .bv-content-btn,
.ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-cv2-cleanslate .bv-core-container-144 .bv-content-item:hover .bv-content-btn:hover .bv-content-btn-count {
  background: none !important;
  box-shadow: none !important;
  cursor: pointer !important;
  color: black !important; }

@media only screen and (max-width: 669px) {
  .ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-write-review-container {
    float: left !important; } }

@media only screen and (max-width: 669px) {
  .ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-cv2-cleanslate .bv-core-container-144 .bv-content-item .bv-content-btn:focus .bv-content-btn-count, .ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-cv2-cleanslate .bv-core-container-144 .bv-content-item:hover .bv-content-btn:focus .bv-content-btn-count {
    color: black !important; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-cv2-cleanslate .bv-core-container-144 .bv-content-item .bv-content-btn:focus .bv-content-btn-count, .ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-cv2-cleanslate .bv-core-container-144 .bv-content-item:hover .bv-content-btn:focus .bv-content-btn-count {
    color: black !important; } }

@media (min-width: 980px) {
  .ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-cv2-cleanslate .bv-core-container-144 .bv-content-item .bv-content-btn:focus .bv-content-btn-count, .ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-cv2-cleanslate .bv-core-container-144 .bv-content-item:hover .bv-content-btn:focus .bv-content-btn-count {
    color: black !important; } }

.ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-cv2-cleanslate .bv-core-container-144 .bv-content-details-offset-off {
  width: 100% !important; }

.ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-cv2-cleanslate .bv-core-container-144 .bv-focusable:focus {
  outline: none !important; }

.ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-content-list > .bv-content-item:last-of-type {
  border-bottom: none !important; }

.ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-action-bar-header,
.ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-inline-histogram-header,
.ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-secondary-rating-summary-header,
.ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-histogram-filter-helper,
.ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-secondary-rating-summary-id,
.ratingsandreviews .bazaarvoice div[data-bv-show="reviews"] .bv-cv2-cleanslate .bv-content-data-summary .bv-content-meta .bv-content-datetime-dot {
  display: none !important; }

body .bv-cv2-cleanslate .bv-filters .bv-content-filter-select .bv-dropdown,
body .bv-cv2-cleanslate .bv-core-container-144 .bv-dropdown-container .bv-dropdown ul .bv-dropdown-item,
.bv-cv2-cleanslate .bv-core-container-144 .bv-popup-relevancy-link .bv-popup {
  font-family: Montserrat, sans-serif !important; }

@media only screen and (max-width: 669px) {
  .ratingsandreviews .bazaarvoice div[data-bv-show="rating_summary"] .bv_main_container {
    position: relative !important;
    -ms-flex-direction: column !important;
        flex-direction: column !important;
    margin: 0 0 15px !important; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .ratingsandreviews .bazaarvoice div[data-bv-show="rating_summary"] .bv_main_container {
    position: relative !important;
    -ms-flex-direction: column !important;
        flex-direction: column !important;
    margin: 0 0 15px !important; } }

@media (min-width: 980px) {
  .ratingsandreviews .bazaarvoice div[data-bv-show="rating_summary"] .bv_main_container {
    position: relative !important;
    -ms-flex-direction: column !important;
        flex-direction: column !important;
    margin: 0 0 15px !important; } }

@media only screen and (max-width: 669px) {
  .ratingsandreviews .bazaarvoice div[data-bv-show="rating_summary"] .bv_main_container .bv_stars_button_container {
    position: relative !important;
    padding: 0 !important;
    margin-right: 8px !important; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .ratingsandreviews .bazaarvoice div[data-bv-show="rating_summary"] .bv_main_container .bv_stars_button_container {
    position: relative !important;
    padding: 0 !important;
    margin-right: 8px !important; } }

@media (min-width: 980px) {
  .ratingsandreviews .bazaarvoice div[data-bv-show="rating_summary"] .bv_main_container .bv_stars_button_container {
    position: relative !important;
    padding: 0 !important;
    margin-right: 8px !important; } }

@media only screen and (max-width: 669px) {
  .ratingsandreviews .bazaarvoice div[data-bv-show="rating_summary"] .bv_avgRating,
  .ratingsandreviews .bazaarvoice div[data-bv-show="rating_summary"] .bv_numReviews_text {
    font-family: Montserrat, sans-serif !important;
    transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
    -ms-flex-align: center !important;
        align-items: center !important;
    -ms-flex-pack: center !important;
        justify-content: center !important; }
    .ratingsandreviews .bazaarvoice div[data-bv-show="rating_summary"] .bv_avgRating:hover,
    .ratingsandreviews .bazaarvoice div[data-bv-show="rating_summary"] .bv_numReviews_text:hover {
      font-family: Montserrat, sans-serif; }
    .ratingsandreviews .bazaarvoice div[data-bv-show="rating_summary"] .bv_avgRating:hover,
    .ratingsandreviews .bazaarvoice div[data-bv-show="rating_summary"] .bv_numReviews_text:hover {
      font-family: Montserrat, sans-serif !important; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .ratingsandreviews .bazaarvoice div[data-bv-show="rating_summary"] .bv_avgRating,
  .ratingsandreviews .bazaarvoice div[data-bv-show="rating_summary"] .bv_numReviews_text {
    font-family: Montserrat, sans-serif !important;
    transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
    -ms-flex-align: center !important;
        align-items: center !important;
    -ms-flex-pack: center !important;
        justify-content: center !important; }
    .ratingsandreviews .bazaarvoice div[data-bv-show="rating_summary"] .bv_avgRating:hover,
    .ratingsandreviews .bazaarvoice div[data-bv-show="rating_summary"] .bv_numReviews_text:hover {
      font-family: Montserrat, sans-serif; }
    .ratingsandreviews .bazaarvoice div[data-bv-show="rating_summary"] .bv_avgRating:hover,
    .ratingsandreviews .bazaarvoice div[data-bv-show="rating_summary"] .bv_numReviews_text:hover {
      font-family: Montserrat, sans-serif !important; } }

@media (min-width: 980px) {
  .ratingsandreviews .bazaarvoice div[data-bv-show="rating_summary"] .bv_avgRating,
  .ratingsandreviews .bazaarvoice div[data-bv-show="rating_summary"] .bv_numReviews_text {
    font-family: Montserrat, sans-serif !important;
    transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
    -ms-flex-align: center !important;
        align-items: center !important;
    -ms-flex-pack: center !important;
        justify-content: center !important; }
    .ratingsandreviews .bazaarvoice div[data-bv-show="rating_summary"] .bv_avgRating:hover,
    .ratingsandreviews .bazaarvoice div[data-bv-show="rating_summary"] .bv_numReviews_text:hover {
      font-family: Montserrat, sans-serif; }
    .ratingsandreviews .bazaarvoice div[data-bv-show="rating_summary"] .bv_avgRating:hover,
    .ratingsandreviews .bazaarvoice div[data-bv-show="rating_summary"] .bv_numReviews_text:hover {
      font-family: Montserrat, sans-serif !important; } }

@media only screen and (max-width: 669px) {
  .ratingsandreviews .bazaarvoice div[data-bv-show="rating_summary"] .bv_main_container_row_split:last-of-type,
  .ratingsandreviews .bazaarvoice div[data-bv-show="rating_summary"] .bv_main_container_row_flex:last-of-type {
    position: relative !important;
    margin: 8px -20px !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .ratingsandreviews .bazaarvoice div[data-bv-show="rating_summary"] .bv_main_container_row_split:last-of-type,
  .ratingsandreviews .bazaarvoice div[data-bv-show="rating_summary"] .bv_main_container_row_flex:last-of-type {
    position: relative !important;
    margin: 8px -20px !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important; } }

@media (min-width: 980px) {
  .ratingsandreviews .bazaarvoice div[data-bv-show="rating_summary"] .bv_main_container_row_split:last-of-type,
  .ratingsandreviews .bazaarvoice div[data-bv-show="rating_summary"] .bv_main_container_row_flex:last-of-type {
    position: relative !important;
    margin: 8px -20px !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important; } }

.ratingsandreviews .bazaarvoice div[data-bv-show="rating_summary"] .bv_main_container_row_split:last-of-type .bv_main_container_row_flex,
.ratingsandreviews .bazaarvoice div[data-bv-show="rating_summary"] .bv_main_container_row_flex:last-of-type .bv_main_container_row_flex {
  margin: 0 !important; }

@media only screen and (max-width: 669px) {
  .ratingsandreviews .bazaarvoice div[data-bv-show="rating_summary"] .reference-link_to_tab_item .link-to-tab-item,
  .ratingsandreviews .bazaarvoice div[data-bv-show="rating_summary"] .bv_writeAReview_buttonMinimalist,
  .ratingsandreviews .bazaarvoice div[data-bv-show="rating_summary"] .bv_button_buttonMinimalist {
    color: black !important;
    font-size: 0.75rem !important;
    font-weight: bold !important;
    line-height: 1.36 !important;
    text-transform: uppercase !important;
    text-decoration: none !important;
    font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif !important;
    transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
    border-right: 2px solid #D0D0D0 !important;
    padding: 0 20px 0 20px !important;
    -ms-flex-align: center !important;
        align-items: center !important;
    -ms-flex-pack: center !important;
        justify-content: center !important; }
    .ratingsandreviews .bazaarvoice div[data-bv-show="rating_summary"] .reference-link_to_tab_item .link-to-tab-item:hover,
    .ratingsandreviews .bazaarvoice div[data-bv-show="rating_summary"] .bv_writeAReview_buttonMinimalist:hover,
    .ratingsandreviews .bazaarvoice div[data-bv-show="rating_summary"] .bv_button_buttonMinimalist:hover {
      color: #696969;
      text-transform: uppercase;
      font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif; }
    .ratingsandreviews .bazaarvoice div[data-bv-show="rating_summary"] .reference-link_to_tab_item .link-to-tab-item:hover,
    .ratingsandreviews .bazaarvoice div[data-bv-show="rating_summary"] .bv_writeAReview_buttonMinimalist:hover,
    .ratingsandreviews .bazaarvoice div[data-bv-show="rating_summary"] .bv_button_buttonMinimalist:hover {
      color: #696969 !important;
      text-transform: uppercase !important;
      font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif !important; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .ratingsandreviews .bazaarvoice div[data-bv-show="rating_summary"] .reference-link_to_tab_item .link-to-tab-item,
  .ratingsandreviews .bazaarvoice div[data-bv-show="rating_summary"] .bv_writeAReview_buttonMinimalist,
  .ratingsandreviews .bazaarvoice div[data-bv-show="rating_summary"] .bv_button_buttonMinimalist {
    color: black !important;
    font-size: 0.75rem !important;
    font-weight: bold !important;
    line-height: 1.83 !important;
    text-transform: uppercase !important;
    text-decoration: none !important;
    font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif !important;
    transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
    border-right: 2px solid #D0D0D0 !important;
    padding: 0 20px 0 20px !important;
    -ms-flex-align: center !important;
        align-items: center !important;
    -ms-flex-pack: center !important;
        justify-content: center !important; }
    .ratingsandreviews .bazaarvoice div[data-bv-show="rating_summary"] .reference-link_to_tab_item .link-to-tab-item:hover,
    .ratingsandreviews .bazaarvoice div[data-bv-show="rating_summary"] .bv_writeAReview_buttonMinimalist:hover,
    .ratingsandreviews .bazaarvoice div[data-bv-show="rating_summary"] .bv_button_buttonMinimalist:hover {
      color: #696969;
      text-transform: uppercase;
      font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif; }
    .ratingsandreviews .bazaarvoice div[data-bv-show="rating_summary"] .reference-link_to_tab_item .link-to-tab-item:hover,
    .ratingsandreviews .bazaarvoice div[data-bv-show="rating_summary"] .bv_writeAReview_buttonMinimalist:hover,
    .ratingsandreviews .bazaarvoice div[data-bv-show="rating_summary"] .bv_button_buttonMinimalist:hover {
      color: #696969 !important;
      text-transform: uppercase !important;
      font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif !important; } }

@media (min-width: 980px) {
  .ratingsandreviews .bazaarvoice div[data-bv-show="rating_summary"] .reference-link_to_tab_item .link-to-tab-item,
  .ratingsandreviews .bazaarvoice div[data-bv-show="rating_summary"] .bv_writeAReview_buttonMinimalist,
  .ratingsandreviews .bazaarvoice div[data-bv-show="rating_summary"] .bv_button_buttonMinimalist {
    color: black !important;
    font-size: 0.75rem !important;
    font-weight: bold !important;
    line-height: 1.83 !important;
    text-transform: uppercase !important;
    text-decoration: none !important;
    font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif !important;
    transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
    border-right: 2px solid #D0D0D0 !important;
    padding: 0 20px 0 20px !important;
    -ms-flex-align: center !important;
        align-items: center !important;
    -ms-flex-pack: center !important;
        justify-content: center !important; }
    .ratingsandreviews .bazaarvoice div[data-bv-show="rating_summary"] .reference-link_to_tab_item .link-to-tab-item:hover,
    .ratingsandreviews .bazaarvoice div[data-bv-show="rating_summary"] .bv_writeAReview_buttonMinimalist:hover,
    .ratingsandreviews .bazaarvoice div[data-bv-show="rating_summary"] .bv_button_buttonMinimalist:hover {
      color: #696969;
      text-transform: uppercase;
      font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif; }
    .ratingsandreviews .bazaarvoice div[data-bv-show="rating_summary"] .reference-link_to_tab_item .link-to-tab-item:hover,
    .ratingsandreviews .bazaarvoice div[data-bv-show="rating_summary"] .bv_writeAReview_buttonMinimalist:hover,
    .ratingsandreviews .bazaarvoice div[data-bv-show="rating_summary"] .bv_button_buttonMinimalist:hover {
      color: #696969 !important;
      text-transform: uppercase !important;
      font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif !important; } }

@media only screen and (max-width: 669px) {
  .ratingsandreviews .bazaarvoice div[data-bv-show="rating_summary"] .bv_cta_button:last-of-type .bv_writeAReview_buttonMinimalist,
  .ratingsandreviews .bazaarvoice div[data-bv-show="rating_summary"] .reference-link_to_tab_item:last-of-type .link-to-tab-item {
    color: black !important;
    font-size: 0.75rem !important;
    font-weight: bold !important;
    line-height: 1.36 !important;
    text-transform: uppercase !important;
    text-decoration: none !important;
    font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif !important;
    transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
    border: none !important;
    padding: 0 20px 0 20px !important;
    -ms-flex-align: center !important;
        align-items: center !important;
    -ms-flex-pack: center !important;
        justify-content: center !important; }
    .ratingsandreviews .bazaarvoice div[data-bv-show="rating_summary"] .bv_cta_button:last-of-type .bv_writeAReview_buttonMinimalist:hover,
    .ratingsandreviews .bazaarvoice div[data-bv-show="rating_summary"] .reference-link_to_tab_item:last-of-type .link-to-tab-item:hover {
      color: #696969;
      text-transform: uppercase;
      font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .ratingsandreviews .bazaarvoice div[data-bv-show="rating_summary"] .bv_cta_button:last-of-type .bv_writeAReview_buttonMinimalist,
  .ratingsandreviews .bazaarvoice div[data-bv-show="rating_summary"] .reference-link_to_tab_item:last-of-type .link-to-tab-item {
    color: black !important;
    font-size: 0.75rem !important;
    font-weight: bold !important;
    line-height: 1.83 !important;
    text-transform: uppercase !important;
    text-decoration: none !important;
    font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif !important;
    transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
    border: none !important;
    padding: 0 20px 0 20px !important;
    -ms-flex-align: center !important;
        align-items: center !important;
    -ms-flex-pack: center !important;
        justify-content: center !important; }
    .ratingsandreviews .bazaarvoice div[data-bv-show="rating_summary"] .bv_cta_button:last-of-type .bv_writeAReview_buttonMinimalist:hover,
    .ratingsandreviews .bazaarvoice div[data-bv-show="rating_summary"] .reference-link_to_tab_item:last-of-type .link-to-tab-item:hover {
      color: #696969;
      text-transform: uppercase;
      font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif; } }

@media (min-width: 980px) {
  .ratingsandreviews .bazaarvoice div[data-bv-show="rating_summary"] .bv_cta_button:last-of-type .bv_writeAReview_buttonMinimalist,
  .ratingsandreviews .bazaarvoice div[data-bv-show="rating_summary"] .reference-link_to_tab_item:last-of-type .link-to-tab-item {
    color: black !important;
    font-size: 0.75rem !important;
    font-weight: bold !important;
    line-height: 1.83 !important;
    text-transform: uppercase !important;
    text-decoration: none !important;
    font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif !important;
    transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
    border: none !important;
    padding: 0 20px 0 20px !important;
    -ms-flex-align: center !important;
        align-items: center !important;
    -ms-flex-pack: center !important;
        justify-content: center !important; }
    .ratingsandreviews .bazaarvoice div[data-bv-show="rating_summary"] .bv_cta_button:last-of-type .bv_writeAReview_buttonMinimalist:hover,
    .ratingsandreviews .bazaarvoice div[data-bv-show="rating_summary"] .reference-link_to_tab_item:last-of-type .link-to-tab-item:hover {
      color: #696969;
      text-transform: uppercase;
      font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif; } }

#bv-mbox-overlay-id {
  opacity: .8 !important; }
  @media only screen and (max-width: 669px) {
    #bv-mbox-overlay-id {
      position: absolute !important;
      background-color: white !important; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    #bv-mbox-overlay-id {
      position: absolute !important;
      background-color: white !important; } }
  @media (min-width: 980px) {
    #bv-mbox-overlay-id {
      position: absolute !important;
      background-color: white !important; } }

@media only screen and (max-width: 669px) {
  #bv-mboxzone-lightbox #bv-mbox-lightbox-list {
    position: relative !important;
    padding: 0 !important;
    box-shadow: 0 4px 75px 30px rgba(0, 0, 0, 0.2) !important; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  #bv-mboxzone-lightbox #bv-mbox-lightbox-list {
    position: relative !important;
    padding: 0 !important;
    box-shadow: 0 4px 75px 30px rgba(0, 0, 0, 0.2) !important; } }

@media (min-width: 980px) {
  #bv-mboxzone-lightbox #bv-mbox-lightbox-list {
    position: relative !important;
    padding: 0 !important;
    box-shadow: 0 4px 75px 30px rgba(0, 0, 0, 0.2) !important; } }

#bv-mboxzone-lightbox .bv-mbox-close {
  top: 10px !important;
  right: 10px !important; }

@media only screen and (max-width: 669px) {
  #bv-mboxzone-lightbox button.bv-submission-button-submit.bv-form-actions-submit {
    background-color: #97b049 !important;
    color: white !important;
    font-size: 0.75rem !important;
    line-height: 1.22 !important;
    text-align: center !important;
    text-transform: uppercase !important;
    text-decoration: none !important;
    font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif !important;
    transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s !important;
    display: block !important;
    border: none !important;
    padding: 12.36px 50px 11.52px 50px !important;
    margin-top: 10px !important;
    -ms-flex-align: center !important;
        align-items: center !important;
    -ms-flex-pack: center !important;
        justify-content: center !important;
    height: auto !important;
    box-sizing: border-box !important; }
    #bv-mboxzone-lightbox button.bv-submission-button-submit.bv-form-actions-submit:hover {
      background-color: #657D02;
      color: white; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  #bv-mboxzone-lightbox button.bv-submission-button-submit.bv-form-actions-submit {
    background-color: #97b049 !important;
    color: white !important;
    font-size: 0.75rem !important;
    line-height: 1.22 !important;
    text-align: center !important;
    text-transform: uppercase !important;
    text-decoration: none !important;
    font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif !important;
    transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s !important;
    border: none !important;
    padding: 12.36px 50px 11.52px 50px !important;
    margin-top: 10px !important;
    margin-right: 10px !important;
    -ms-flex-align: center !important;
        align-items: center !important;
    -ms-flex-pack: center !important;
        justify-content: center !important;
    height: auto !important;
    box-sizing: border-box !important; }
    #bv-mboxzone-lightbox button.bv-submission-button-submit.bv-form-actions-submit:hover {
      background-color: #657D02;
      color: white; } }

@media (min-width: 980px) {
  #bv-mboxzone-lightbox button.bv-submission-button-submit.bv-form-actions-submit {
    background-color: #97b049 !important;
    color: white !important;
    font-size: 0.75rem !important;
    line-height: 1.22 !important;
    text-align: center !important;
    text-transform: uppercase !important;
    text-decoration: none !important;
    font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif !important;
    transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s !important;
    border: none !important;
    padding: 12.36px 50px 11.52px 50px !important;
    margin-top: 10px !important;
    margin-right: 10px !important;
    -ms-flex-align: center !important;
        align-items: center !important;
    -ms-flex-pack: center !important;
        justify-content: center !important;
    height: auto !important;
    box-sizing: border-box !important; }
    #bv-mboxzone-lightbox button.bv-submission-button-submit.bv-form-actions-submit:hover {
      background-color: #657D02;
      color: white; } }

@media only screen and (max-width: 669px) {
  #bv-mboxzone-lightbox button.bv-cancel {
    background-color: white !important;
    color: black !important;
    font-size: 1.125rem !important;
    font-weight: bold !important;
    line-height: 1.22 !important;
    text-transform: uppercase !important;
    text-decoration: none !important;
    font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif !important;
    transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
    border: 1px solid #D0D0D0 !important;
    padding: 11.04px 50px 9.78px 50px !important;
    margin-top: 10px !important;
    -ms-flex-align: center !important;
        align-items: center !important;
    -ms-flex-pack: center !important;
        justify-content: center !important;
    width: 100% !important;
    height: 28px !important;
    box-sizing: border-box !important; }
    #bv-mboxzone-lightbox button.bv-cancel:hover {
      background-color: rgba(208, 208, 208, 0.2); } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  #bv-mboxzone-lightbox button.bv-cancel {
    background-color: white !important;
    color: black !important;
    font-size: 1.125rem !important;
    font-weight: bold !important;
    line-height: 1.22 !important;
    text-transform: uppercase !important;
    text-decoration: none !important;
    font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif !important;
    transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
    border: 1px solid #D0D0D0 !important;
    padding: 11.04px 50px 9.78px 50px !important;
    margin-top: 10px !important;
    -ms-flex-align: center !important;
        align-items: center !important;
    -ms-flex-pack: center !important;
        justify-content: center !important;
    width: auto !important;
    height: 35px !important;
    box-sizing: border-box !important; }
    #bv-mboxzone-lightbox button.bv-cancel:hover {
      background-color: rgba(208, 208, 208, 0.2); } }

@media (min-width: 980px) {
  #bv-mboxzone-lightbox button.bv-cancel {
    background-color: white !important;
    color: black !important;
    font-size: 1.125rem !important;
    font-weight: bold !important;
    line-height: 1.22 !important;
    text-transform: uppercase !important;
    text-decoration: none !important;
    font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif !important;
    transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
    border: 1px solid #D0D0D0 !important;
    padding: 11.04px 50px 9.78px 50px !important;
    margin-top: 10px !important;
    -ms-flex-align: center !important;
        align-items: center !important;
    -ms-flex-pack: center !important;
        justify-content: center !important;
    width: auto !important;
    height: 54px !important;
    box-sizing: border-box !important; }
    #bv-mboxzone-lightbox button.bv-cancel:hover {
      background-color: rgba(208, 208, 208, 0.2); } }

.ratingsandreviews .kritique .rr-widget-container {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
  padding-right: 25px;
  margin: 0 auto !important; }
  @media only screen and (max-width: 669px) {
    .ratingsandreviews .kritique .rr-widget-container {
      width: auto; } }
  @media only screen and (min-width: 670px) and (max-width: 768px) {
    .ratingsandreviews .kritique .rr-widget-container {
      width: auto; } }
  @media only screen and (min-width: 980px) and (max-width: 1139px) {
    .ratingsandreviews .kritique .rr-widget-container {
      width: 960px; } }
  @media (min-width: 1140px) {
    .ratingsandreviews .kritique .rr-widget-container {
      width: 1140px; } }
  .ratingsandreviews .kritique .rr-widget-container img {
    max-width: initial;
    width: auto; }
  .ratingsandreviews .kritique .rr-widget-container .customReview {
    cursor: pointer; }
  .ratingsandreviews .kritique .rr-widget-container.rr-inline-widget {
    padding: 0;
    width: auto; }
    @media only screen and (max-width: 669px) {
      .ratingsandreviews .kritique .rr-widget-container.rr-inline-widget {
        font-size: 0.75rem; } }
    @media only screen and (min-width: 670px) and (max-width: 979px) {
      .ratingsandreviews .kritique .rr-widget-container.rr-inline-widget {
        font-size: 0.75rem; } }
    @media (min-width: 980px) {
      .ratingsandreviews .kritique .rr-widget-container.rr-inline-widget {
        font-size: 0.75rem; } }
    @media only screen and (max-width: 669px) {
      .ratingsandreviews .kritique .rr-widget-container.rr-inline-widget .aggregateRating img {
        position: relative;
        height: 16px; } }
    @media only screen and (min-width: 670px) and (max-width: 979px) {
      .ratingsandreviews .kritique .rr-widget-container.rr-inline-widget .aggregateRating img {
        position: relative;
        height: 16px; } }
    @media (min-width: 980px) {
      .ratingsandreviews .kritique .rr-widget-container.rr-inline-widget .aggregateRating img {
        position: relative;
        height: 16px; } }
    @media only screen and (max-width: 669px) {
      .ratingsandreviews .kritique .rr-widget-container.rr-inline-widget .wRtng {
        color: black;
        font-size: 0.75rem;
        font-weight: bold;
        line-height: 1.36;
        text-transform: uppercase;
        text-decoration: none;
        font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
        transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
        display: inline-block;
        border-right: 2px solid #D0D0D0;
        padding: 0 20px 0 20px;
        -ms-flex-align: center;
            align-items: center;
        -ms-flex-pack: center;
            justify-content: center; }
        .ratingsandreviews .kritique .rr-widget-container.rr-inline-widget .wRtng:hover {
          color: #696969;
          text-transform: uppercase;
          font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif; } }
    @media only screen and (min-width: 670px) and (max-width: 979px) {
      .ratingsandreviews .kritique .rr-widget-container.rr-inline-widget .wRtng {
        color: black;
        font-size: 0.75rem;
        font-weight: bold;
        line-height: 1.83;
        text-transform: uppercase;
        text-decoration: none;
        font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
        transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
        display: inline-block;
        border-right: 2px solid #D0D0D0;
        padding: 0 20px 0 20px;
        -ms-flex-align: center;
            align-items: center;
        -ms-flex-pack: center;
            justify-content: center; }
        .ratingsandreviews .kritique .rr-widget-container.rr-inline-widget .wRtng:hover {
          color: #696969;
          text-transform: uppercase;
          font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif; } }
    @media (min-width: 980px) {
      .ratingsandreviews .kritique .rr-widget-container.rr-inline-widget .wRtng {
        color: black;
        font-size: 0.75rem;
        font-weight: bold;
        line-height: 1.83;
        text-transform: uppercase;
        text-decoration: none;
        font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
        transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
        display: inline-block;
        border-right: 2px solid #D0D0D0;
        padding: 0 20px 0 20px;
        -ms-flex-align: center;
            align-items: center;
        -ms-flex-pack: center;
            justify-content: center; }
        .ratingsandreviews .kritique .rr-widget-container.rr-inline-widget .wRtng:hover {
          color: #696969;
          text-transform: uppercase;
          font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif; } }
    @media only screen and (max-width: 669px) {
      .ratingsandreviews .kritique .rr-widget-container.rr-inline-widget .wRtng:last-of-type {
        color: black;
        font-size: 0.75rem;
        font-weight: bold;
        line-height: 1.36;
        text-transform: uppercase;
        text-decoration: none;
        font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
        transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
        display: inline-block;
        border: none;
        padding: 0 20px 0 20px;
        -ms-flex-align: center;
            align-items: center;
        -ms-flex-pack: center;
            justify-content: center; }
        .ratingsandreviews .kritique .rr-widget-container.rr-inline-widget .wRtng:last-of-type:hover {
          color: #696969;
          text-transform: uppercase;
          font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif; } }
    @media only screen and (min-width: 670px) and (max-width: 979px) {
      .ratingsandreviews .kritique .rr-widget-container.rr-inline-widget .wRtng:last-of-type {
        color: black;
        font-size: 0.75rem;
        font-weight: bold;
        line-height: 1.83;
        text-transform: uppercase;
        text-decoration: none;
        font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
        transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
        display: inline-block;
        border: none;
        padding: 0 20px 0 20px;
        -ms-flex-align: center;
            align-items: center;
        -ms-flex-pack: center;
            justify-content: center; }
        .ratingsandreviews .kritique .rr-widget-container.rr-inline-widget .wRtng:last-of-type:hover {
          color: #696969;
          text-transform: uppercase;
          font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif; } }
    @media (min-width: 980px) {
      .ratingsandreviews .kritique .rr-widget-container.rr-inline-widget .wRtng:last-of-type {
        color: black;
        font-size: 0.75rem;
        font-weight: bold;
        line-height: 1.83;
        text-transform: uppercase;
        text-decoration: none;
        font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
        transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
        display: inline-block;
        border: none;
        padding: 0 20px 0 20px;
        -ms-flex-align: center;
            align-items: center;
        -ms-flex-pack: center;
            justify-content: center; }
        .ratingsandreviews .kritique .rr-widget-container.rr-inline-widget .wRtng:last-of-type:hover {
          color: #696969;
          text-transform: uppercase;
          font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif; } }

.ratingsandreviews .kritique .rr-product-reviews {
  margin: 0; }
  @media only screen and (max-width: 669px) {
    .ratingsandreviews .kritique .rr-product-reviews {
      font-family: Montserrat, sans-serif;
      position: relative; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .ratingsandreviews .kritique .rr-product-reviews {
      font-family: Montserrat, sans-serif;
      position: relative; } }
  @media (min-width: 980px) {
    .ratingsandreviews .kritique .rr-product-reviews {
      font-family: Montserrat, sans-serif;
      position: relative; } }
  @media only screen and (max-width: 669px) {
    .ratingsandreviews .kritique .rr-product-reviews .averageRingBlock {
      position: relative;
      background-color: #f2f4f6;
      padding: 25px 0;
      margin: 40px 0; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .ratingsandreviews .kritique .rr-product-reviews .averageRingBlock {
      position: relative;
      background-color: #f2f4f6;
      padding: 25px 0;
      margin: 40px 0; } }
  @media (min-width: 980px) {
    .ratingsandreviews .kritique .rr-product-reviews .averageRingBlock {
      position: relative;
      background-color: #f2f4f6;
      padding: 25px 0;
      margin: 40px 0; } }
  .ratingsandreviews .kritique .rr-product-reviews .averageRingBlock h3 {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-left: 25px;
    padding-right: 25px; }
    @media only screen and (max-width: 669px) {
      .ratingsandreviews .kritique .rr-product-reviews .averageRingBlock h3 {
        width: auto; } }
    @media only screen and (min-width: 670px) and (max-width: 768px) {
      .ratingsandreviews .kritique .rr-product-reviews .averageRingBlock h3 {
        width: auto; } }
    @media only screen and (min-width: 980px) and (max-width: 1139px) {
      .ratingsandreviews .kritique .rr-product-reviews .averageRingBlock h3 {
        width: 960px; } }
    @media (min-width: 1140px) {
      .ratingsandreviews .kritique .rr-product-reviews .averageRingBlock h3 {
        width: 1140px; } }
    @media only screen and (max-width: 669px) {
      .ratingsandreviews .kritique .rr-product-reviews .averageRingBlock h3 {
        font-size: 1.625rem;
        font-weight: bold; } }
    @media only screen and (min-width: 670px) and (max-width: 979px) {
      .ratingsandreviews .kritique .rr-product-reviews .averageRingBlock h3 {
        font-size: 1.625rem;
        font-weight: bold; } }
    @media (min-width: 980px) {
      .ratingsandreviews .kritique .rr-product-reviews .averageRingBlock h3 {
        font-size: 1.625rem;
        font-weight: bold; } }
  .ratingsandreviews .kritique .rr-product-reviews .averageRingBlock .average-rating {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-left: 25px;
    padding-right: 25px; }
    @media only screen and (max-width: 669px) {
      .ratingsandreviews .kritique .rr-product-reviews .averageRingBlock .average-rating {
        width: auto; } }
    @media only screen and (min-width: 670px) and (max-width: 768px) {
      .ratingsandreviews .kritique .rr-product-reviews .averageRingBlock .average-rating {
        width: auto; } }
    @media only screen and (min-width: 980px) and (max-width: 1139px) {
      .ratingsandreviews .kritique .rr-product-reviews .averageRingBlock .average-rating {
        width: 960px; } }
    @media (min-width: 1140px) {
      .ratingsandreviews .kritique .rr-product-reviews .averageRingBlock .average-rating {
        width: 1140px; } }
    @media only screen and (max-width: 669px) {
      .ratingsandreviews .kritique .rr-product-reviews .averageRingBlock .average-rating {
        position: relative;
        -ms-flex-align: center;
            align-items: center;
        -ms-flex-direction: column;
            flex-direction: column;
        display: -ms-flexbox;
        display: flex; } }
    @media only screen and (min-width: 670px) and (max-width: 979px) {
      .ratingsandreviews .kritique .rr-product-reviews .averageRingBlock .average-rating {
        position: relative;
        -ms-flex-align: center;
            align-items: center;
        display: -ms-flexbox;
        display: flex; } }
    @media (min-width: 980px) {
      .ratingsandreviews .kritique .rr-product-reviews .averageRingBlock .average-rating {
        position: relative;
        -ms-flex-align: center;
            align-items: center;
        display: -ms-flexbox;
        display: flex; } }
  .ratingsandreviews .kritique .rr-product-reviews .averageRingBlock .write-review-btn {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-left: 25px;
    padding-right: 25px; }
    @media only screen and (max-width: 669px) {
      .ratingsandreviews .kritique .rr-product-reviews .averageRingBlock .write-review-btn {
        width: auto; } }
    @media only screen and (min-width: 670px) and (max-width: 768px) {
      .ratingsandreviews .kritique .rr-product-reviews .averageRingBlock .write-review-btn {
        width: auto; } }
    @media only screen and (min-width: 980px) and (max-width: 1139px) {
      .ratingsandreviews .kritique .rr-product-reviews .averageRingBlock .write-review-btn {
        width: 960px; } }
    @media (min-width: 1140px) {
      .ratingsandreviews .kritique .rr-product-reviews .averageRingBlock .write-review-btn {
        width: 1140px; } }
    @media only screen and (max-width: 669px) {
      .ratingsandreviews .kritique .rr-product-reviews .averageRingBlock .write-review-btn {
        background-color: black;
        color: white;
        font-size: 0.75rem;
        line-height: 1.22;
        text-transform: uppercase;
        text-decoration: none;
        font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
        transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
        display: -ms-inline-flexbox;
        display: inline-flex;
        padding: 7.36px 25px 6.52px 25px;
        margin: 0 20px;
        -ms-flex-align: center;
            align-items: center;
        -ms-flex-pack: center;
            justify-content: center;
        width: calc(100% - 40px);
        height: 50px; }
        .ratingsandreviews .kritique .rr-product-reviews .averageRingBlock .write-review-btn:hover {
          background-color: #696969; } }
    @media only screen and (min-width: 670px) and (max-width: 979px) {
      .ratingsandreviews .kritique .rr-product-reviews .averageRingBlock .write-review-btn {
        background-color: black;
        color: white;
        font-size: 0.75rem;
        line-height: 1.22;
        text-transform: uppercase;
        text-decoration: none;
        font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
        transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
        display: -ms-inline-flexbox;
        display: inline-flex;
        padding: 7.36px 25px 6.52px 25px;
        margin: 0 20px;
        -ms-flex-align: center;
            align-items: center;
        -ms-flex-pack: center;
            justify-content: center;
        height: 50px; }
        .ratingsandreviews .kritique .rr-product-reviews .averageRingBlock .write-review-btn:hover {
          background-color: #696969; } }
    @media (min-width: 980px) {
      .ratingsandreviews .kritique .rr-product-reviews .averageRingBlock .write-review-btn {
        background-color: black;
        color: white;
        font-size: 0.75rem;
        line-height: 1.22;
        text-transform: uppercase;
        text-decoration: none;
        font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
        transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
        display: -ms-inline-flexbox;
        display: inline-flex;
        padding: 7.36px 25px 6.52px 25px;
        -ms-flex-align: center;
            align-items: center;
        -ms-flex-pack: center;
            justify-content: center;
        height: 50px;
        max-width: 180px; }
        .ratingsandreviews .kritique .rr-product-reviews .averageRingBlock .write-review-btn:hover {
          background-color: #696969; } }
  .ratingsandreviews .kritique .rr-product-reviews .averageRingBlock .agRatingDeSelect img {
    max-width: initial;
    width: auto; }
    @media only screen and (max-width: 669px) {
      .ratingsandreviews .kritique .rr-product-reviews .averageRingBlock .agRatingDeSelect img {
        position: relative; } }
    @media only screen and (min-width: 670px) and (max-width: 979px) {
      .ratingsandreviews .kritique .rr-product-reviews .averageRingBlock .agRatingDeSelect img {
        position: relative; } }
    @media (min-width: 980px) {
      .ratingsandreviews .kritique .rr-product-reviews .averageRingBlock .agRatingDeSelect img {
        position: relative; } }
  @media only screen and (max-width: 669px) {
    .ratingsandreviews .kritique .rr-product-reviews .averageRingBlock .aggRtng {
      position: relative; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .ratingsandreviews .kritique .rr-product-reviews .averageRingBlock .aggRtng {
      position: relative; } }
  @media (min-width: 980px) {
    .ratingsandreviews .kritique .rr-product-reviews .averageRingBlock .aggRtng {
      position: relative; } }
  .ratingsandreviews .kritique .rr-product-reviews > h2 {
    display: none; }

/*# sourceMappingURL=index.css.map */
