.title-component-filter {
  @import 'config';
  @function g($a...) {
    @return get-last($title-component-filter, $a...);
  }

  @include breakpoints {
    @include box(g('box'), $media);
  }

  // .component-content {}

  .richText-content {
    @include breakpoints {
      @include box(g('_content.box'), $media);
    }

    h2, h3, h4 {
      @include breakpoints {
        @include paragraph(g('_content._title.paragraph'), $media);
        @include box(g('_content._title.box'), $media);
      }

      @include media-query(mobile) {
        @include icon(g('_content.icon'), $media);
      }
    }
  }
}
