@charset "UTF-8";
@media only screen and (max-width: 669px) {
  .plp-wrapper {
    position: relative;
    margin: 0 0 80px; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .plp-wrapper {
    position: relative;
    margin: 50px 0 80px; } }

@media (min-width: 980px) {
  .plp-wrapper {
    position: relative;
    margin: 50px 0 80px; } }

.plp-wrapper > .component-content > .content {
  display: -ms-flexbox;
  display: flex; }

@media only screen and (max-width: 669px) {
  .plp-wrapper .product-filters-and-category-navigation {
    position: relative;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    border-right: 0;
    padding: 0 20px;
    box-sizing: border-box; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .plp-wrapper .product-filters-and-category-navigation {
    position: relative;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    border-right: solid 1px #D0D0D0;
    padding: 0 20px;
    box-sizing: border-box; } }

@media (min-width: 980px) {
  .plp-wrapper .product-filters-and-category-navigation {
    position: relative;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    border-right: solid 1px #D0D0D0;
    padding: 0 60px 0 0;
    box-sizing: border-box; } }

.plp-wrapper .product-filters-and-category-navigation .mobile-buttons-wrapper {
  display: none; }

@media only screen and (max-width: 768px) {
  .plp-wrapper .product-filters-and-category-navigation {
    display: none; }
    .plp-wrapper .product-filters-and-category-navigation.show-filter, .plp-wrapper .product-filters-and-category-navigation.show-category {
      box-sizing: border-box;
      display: block;
      left: 0;
      height: 100%;
      overflow: hidden;
      overflow-y: auto;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 20; }
      .plp-wrapper .product-filters-and-category-navigation.show-filter .mobile-buttons-wrapper, .plp-wrapper .product-filters-and-category-navigation.show-category .mobile-buttons-wrapper {
        display: block; } }
  @media only screen and (max-width: 768px) and (max-width: 669px) {
    .plp-wrapper .product-filters-and-category-navigation.show-filter {
      background: #f2f4f6; } }
  @media only screen and (max-width: 768px) and (min-width: 670px) and (max-width: 979px) {
    .plp-wrapper .product-filters-and-category-navigation.show-filter {
      background: #f2f4f6; } }
  @media only screen and (max-width: 768px) and (min-width: 980px) {
    .plp-wrapper .product-filters-and-category-navigation.show-filter {
      background: #f2f4f6; } }

@media only screen and (max-width: 768px) {
    .plp-wrapper .product-filters-and-category-navigation.show-filter .navigation {
      display: none; } }
  @media only screen and (max-width: 768px) and (max-width: 669px) {
    .plp-wrapper .product-filters-and-category-navigation.show-category {
      background: white; } }
  @media only screen and (max-width: 768px) and (min-width: 670px) and (max-width: 979px) {
    .plp-wrapper .product-filters-and-category-navigation.show-category {
      background: white; } }
  @media only screen and (max-width: 768px) and (min-width: 980px) {
    .plp-wrapper .product-filters-and-category-navigation.show-category {
      background: white; } }

@media only screen and (max-width: 768px) {
    .plp-wrapper .product-filters-and-category-navigation.show-category .listingCheckBoxesFilter {
      display: none; } }

.plp-wrapper .product-results-wrapper {
  box-sizing: border-box;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  max-width: 100%; }
  @media only screen and (max-width: 669px) {
    .plp-wrapper .product-results-wrapper {
      position: relative; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .plp-wrapper .product-results-wrapper {
      position: relative; } }
  @media (min-width: 980px) {
    .plp-wrapper .product-results-wrapper {
      position: relative;
      width: calc(100% - 200px); } }
  .plp-wrapper .product-results-wrapper .link-read-more {
    display: none; }
  .plp-wrapper .product-results-wrapper.display-list .link-read-more {
    display: inline-block; }

@media only screen and (max-width: 669px) {
  .plp-wrapper .listing.product-landing-list {
    position: relative; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .plp-wrapper .listing.product-landing-list {
    position: relative; } }

@media (min-width: 980px) {
  .plp-wrapper .listing.product-landing-list {
    position: relative; } }

.plp-wrapper .listing.product-landing-list .reference-link_to_tab_item {
  display: none; }

.plp-wrapper .listing.product-landing-list .listing-items {
  margin-top: -80px; }
  @media only screen and (max-width: 669px) {
    .plp-wrapper .listing.product-landing-list .listing-items .listing-item {
      position: relative;
      margin-top: 80px; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .plp-wrapper .listing.product-landing-list .listing-items .listing-item {
      position: relative;
      margin-top: 80px; } }
  @media (min-width: 980px) {
    .plp-wrapper .listing.product-landing-list .listing-items .listing-item {
      position: relative;
      margin-top: 80px; } }
  .plp-wrapper .listing.product-landing-list .listing-items .listing-item .box:last-of-type .bv_main_container {
    margin-bottom: 0 !important; }
  .plp-wrapper .listing.product-landing-list .listing-items .listing-item .box:last-of-type .bv_main_container_row_flex .bv_avgRating_component_container,
  .plp-wrapper .listing.product-landing-list .listing-items .listing-item .box:last-of-type .bv_main_container_row_flex .bv_numReviews_component_container {
    display: none !important; }
  .plp-wrapper .listing.product-landing-list .listing-items .listing-item .box:last-of-type .bv_main_container_row_flex .bv_stars_button_container {
    margin-right: 0 !important; }
  .plp-wrapper .listing.product-landing-list .listing-items .listing-item .box:last-of-type .bv_main_container_row_flex:last-of-type {
    display: none !important; }
  .plp-wrapper .listing.product-landing-list .listing-items .listing-item .box:last-of-type .buyitnow,
  .plp-wrapper .listing.product-landing-list .listing-items .listing-item .box:last-of-type .reference-find-in-store-button {
    display: none; }
  .plp-wrapper .listing.product-landing-list .listing-items .listing-item .box:last-of-type .richText:last-of-type {
    display: none; }

@media only screen and (max-width: 669px) {
  .plp-wrapper .display-list .listing-product-default-view .listing-items {
    position: relative;
    -ms-flex-direction: column;
        flex-direction: column;
    margin: 0; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .plp-wrapper .display-list .listing-product-default-view .listing-items {
    position: relative;
    -ms-flex-direction: column;
        flex-direction: column;
    margin: 0; } }

@media (min-width: 980px) {
  .plp-wrapper .display-list .listing-product-default-view .listing-items {
    position: relative;
    -ms-flex-direction: column;
        flex-direction: column;
    margin: 0; } }

@media only screen and (max-width: 669px) {
  .plp-wrapper .display-list .listing-product-default-view .listing-items .listing-item {
    position: relative;
    padding: 0;
    margin-top: 0px;
    margin-bottom: 80px;
    width: 100%; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .plp-wrapper .display-list .listing-product-default-view .listing-items .listing-item {
    position: relative;
    padding: 0;
    margin-top: 0px;
    margin-bottom: 60px;
    width: 100%; } }

@media (min-width: 980px) {
  .plp-wrapper .display-list .listing-product-default-view .listing-items .listing-item {
    position: relative;
    padding: 0;
    margin-top: 0px;
    margin-bottom: 60px;
    width: 100%; } }

@media only screen and (max-width: 669px) {
  .plp-wrapper .display-list .listing-product-default-view .listing-items .content {
    position: relative;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-direction: column;
        flex-direction: column; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .plp-wrapper .display-list .listing-product-default-view .listing-items .content {
    position: relative;
    -ms-flex-direction: row;
        flex-direction: row; } }

@media (min-width: 980px) {
  .plp-wrapper .display-list .listing-product-default-view .listing-items .content {
    position: relative;
    -ms-flex-direction: row;
        flex-direction: row; } }

@media only screen and (max-width: 669px) {
  .plp-wrapper .display-list .listing-product-default-view .listing-items .content .box:first-of-type {
    position: relative;
    max-width: 255px;
    max-height: 255px; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .plp-wrapper .display-list .listing-product-default-view .listing-items .content .box:first-of-type {
    position: relative;
    margin-right: 25px;
    max-width: 255px;
    max-height: 255px; } }

@media (min-width: 980px) {
  .plp-wrapper .display-list .listing-product-default-view .listing-items .content .box:first-of-type {
    position: relative;
    margin-right: 25px;
    max-width: 255px;
    max-height: 255px; } }

.plp-wrapper .display-list .listing-product-default-view .listing-items .content .box:first-of-type .productQuickView {
  display: none; }

.plp-wrapper .display-list .listing-product-default-view .listing-items .content .box:first-of-type img {
  position: static;
  transform: none;
  margin: 0 auto; }

@media only screen and (max-width: 669px) {
  .plp-wrapper .display-list .listing-product-default-view .listing-items .content .box:last-of-type {
    position: relative;
    background-color: white;
    padding: 0;
    margin-top: 0;
    width: 100%; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .plp-wrapper .display-list .listing-product-default-view .listing-items .content .box:last-of-type {
    position: relative;
    background-color: white;
    padding: 0;
    margin-top: 0;
    width: 100%; } }

@media (min-width: 980px) {
  .plp-wrapper .display-list .listing-product-default-view .listing-items .content .box:last-of-type {
    position: relative;
    background-color: white;
    padding: 0;
    margin-top: 0;
    width: 100%; } }

@media only screen and (max-width: 669px) {
  .plp-wrapper .display-list .listing-product-default-view .listing-items .content .box:last-of-type .content {
    position: relative;
    -ms-flex-align: start;
        align-items: flex-start;
    -ms-flex-direction: column;
        flex-direction: column;
    display: -ms-flexbox;
    display: flex; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .plp-wrapper .display-list .listing-product-default-view .listing-items .content .box:last-of-type .content {
    position: relative;
    -ms-flex-align: start;
        align-items: flex-start;
    -ms-flex-direction: column;
        flex-direction: column;
    display: -ms-flexbox;
    display: flex; } }

@media (min-width: 980px) {
  .plp-wrapper .display-list .listing-product-default-view .listing-items .content .box:last-of-type .content {
    position: relative;
    -ms-flex-align: start;
        align-items: flex-start;
    -ms-flex-direction: column;
        flex-direction: column;
    display: -ms-flexbox;
    display: flex; } }

@media only screen and (max-width: 669px) {
  .plp-wrapper .display-list .listing-product-default-view .listing-items .content .box:last-of-type .content h3, .plp-wrapper .display-list .listing-product-default-view .listing-items .content .box:last-of-type .content h4, .plp-wrapper .display-list .listing-product-default-view .listing-items .content .box:last-of-type .content h5, .plp-wrapper .display-list .listing-product-default-view .listing-items .content .box:last-of-type .content h6 {
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 1.2;
    margin-top: 0; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .plp-wrapper .display-list .listing-product-default-view .listing-items .content .box:last-of-type .content h3, .plp-wrapper .display-list .listing-product-default-view .listing-items .content .box:last-of-type .content h4, .plp-wrapper .display-list .listing-product-default-view .listing-items .content .box:last-of-type .content h5, .plp-wrapper .display-list .listing-product-default-view .listing-items .content .box:last-of-type .content h6 {
    font-size: 1.625rem;
    font-weight: bold;
    line-height: 1.15;
    margin-top: 0; } }

@media (min-width: 980px) {
  .plp-wrapper .display-list .listing-product-default-view .listing-items .content .box:last-of-type .content h3, .plp-wrapper .display-list .listing-product-default-view .listing-items .content .box:last-of-type .content h4, .plp-wrapper .display-list .listing-product-default-view .listing-items .content .box:last-of-type .content h5, .plp-wrapper .display-list .listing-product-default-view .listing-items .content .box:last-of-type .content h6 {
    font-size: 1.625rem;
    font-weight: bold;
    line-height: 1.15;
    margin-top: 0; } }

@media only screen and (max-width: 669px) {
  .plp-wrapper .display-list .listing-product-default-view .listing-items .content .box:last-of-type .box {
    position: relative;
    -ms-flex-order: 2;
        order: 2;
    margin: 25px 0 0;
    width: 100%; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .plp-wrapper .display-list .listing-product-default-view .listing-items .content .box:last-of-type .box {
    position: relative;
    margin: 20px 0;
    width: 100%; } }

@media (min-width: 980px) {
  .plp-wrapper .display-list .listing-product-default-view .listing-items .content .box:last-of-type .box {
    position: relative;
    margin: 20px 0;
    width: 100%; } }

@media only screen and (max-width: 669px) {
  .plp-wrapper .display-list .listing-product-default-view .listing-items .content .box:last-of-type .box .content {
    position: relative;
    -ms-flex-direction: column;
        flex-direction: column;
    display: -ms-flexbox;
    display: flex; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .plp-wrapper .display-list .listing-product-default-view .listing-items .content .box:last-of-type .box .content {
    position: relative;
    -ms-flex-direction: row;
        flex-direction: row;
    display: -ms-flexbox;
    display: flex; } }

@media (min-width: 980px) {
  .plp-wrapper .display-list .listing-product-default-view .listing-items .content .box:last-of-type .box .content {
    position: relative;
    -ms-flex-direction: row;
        flex-direction: row;
    display: -ms-flexbox;
    display: flex; } }

@media only screen and (max-width: 669px) {
  .plp-wrapper .display-list .listing-product-default-view .listing-items .content .box:last-of-type .buyitnow {
    position: relative;
    margin-right: 0;
    width: 100%;
    display: block; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .plp-wrapper .display-list .listing-product-default-view .listing-items .content .box:last-of-type .buyitnow {
    position: relative;
    margin-right: 20px;
    display: block; } }

@media (min-width: 980px) {
  .plp-wrapper .display-list .listing-product-default-view .listing-items .content .box:last-of-type .buyitnow {
    position: relative;
    margin-right: 20px;
    display: block; } }

.plp-wrapper .display-list .listing-product-default-view .listing-items .content .box:last-of-type .addtobag-btn {
  margin: 0; }
  @media only screen and (max-width: 669px) {
    .plp-wrapper .display-list .listing-product-default-view .listing-items .content .box:last-of-type .addtobag-btn {
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: block;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .plp-wrapper .display-list .listing-product-default-view .listing-items .content .box:last-of-type .addtobag-btn {
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: block;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center; } }
  @media (min-width: 980px) {
    .plp-wrapper .display-list .listing-product-default-view .listing-items .content .box:last-of-type .addtobag-btn {
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: block;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center; } }

@media only screen and (max-width: 669px) {
  .plp-wrapper .display-list .listing-product-default-view .listing-items .content .box:last-of-type .reference-find-in-store-button {
    transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-top: 10px;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    width: 100%; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .plp-wrapper .display-list .listing-product-default-view .listing-items .content .box:last-of-type .reference-find-in-store-button {
    transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    width: 100%; } }

@media (min-width: 980px) {
  .plp-wrapper .display-list .listing-product-default-view .listing-items .content .box:last-of-type .reference-find-in-store-button {
    transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    width: 100%; } }

.plp-wrapper .display-list .listing-product-default-view .listing-items .content .box:last-of-type .reference-find-in-store-button .component-content {
  width: 100%; }

.plp-wrapper .display-list .listing-product-default-view .listing-items .content .box:last-of-type .reference-find-in-store-button .button-tertiary {
  min-width: 188px; }
  @media only screen and (max-width: 669px) {
    .plp-wrapper .display-list .listing-product-default-view .listing-items .content .box:last-of-type .reference-find-in-store-button .button-tertiary {
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .plp-wrapper .display-list .listing-product-default-view .listing-items .content .box:last-of-type .reference-find-in-store-button .button-tertiary {
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center; } }
  @media (min-width: 980px) {
    .plp-wrapper .display-list .listing-product-default-view .listing-items .content .box:last-of-type .reference-find-in-store-button .button-tertiary {
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center; } }

@media only screen and (max-width: 669px) {
  .plp-wrapper .display-list .listing-product-default-view .listing-items .content .box:last-of-type .richText:last-of-type {
    position: relative;
    -ms-flex-order: 1;
        order: 1;
    display: -ms-inline-flexbox;
    display: inline-flex; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .plp-wrapper .display-list .listing-product-default-view .listing-items .content .box:last-of-type .richText:last-of-type {
    position: relative;
    -ms-flex-order: 2;
        order: 2;
    display: -ms-inline-flexbox;
    display: inline-flex; } }

@media (min-width: 980px) {
  .plp-wrapper .display-list .listing-product-default-view .listing-items .content .box:last-of-type .richText:last-of-type {
    position: relative;
    -ms-flex-order: 2;
        order: 2;
    display: -ms-inline-flexbox;
    display: inline-flex; } }

.plp-wrapper .display-list .listing-product-default-view .listing-items .content .box:last-of-type .richText:last-of-type p {
  margin-bottom: 0; }

@media only screen and (max-width: 669px) {
  .plp-wrapper .display-list .listing-product-default-view .listing-items .content .box:last-of-type .richText:last-of-type .link-read-more {
    color: #97b049;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
    font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
    transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .plp-wrapper .display-list .listing-product-default-view .listing-items .content .box:last-of-type .richText:last-of-type .link-read-more {
    color: #97b049;
    font-size: 1.125rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
    font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
    transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center; } }

@media (min-width: 980px) {
  .plp-wrapper .display-list .listing-product-default-view .listing-items .content .box:last-of-type .richText:last-of-type .link-read-more {
    color: #97b049;
    font-size: 1.125rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
    font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
    transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center; } }

.plp-wrapper .display-list .listing-product-default-view .listing-items .content .box:last-of-type .ratingsandreviews .bv_main_container {
  margin-bottom: 0 !important;
  -ms-flex-direction: row !important;
      flex-direction: row !important; }

.plp-wrapper .display-list .listing-product-default-view .listing-items .content .box:last-of-type .ratingsandreviews .bv_main_container_row_flex .bv_avgRating_component_container,
.plp-wrapper .display-list .listing-product-default-view .listing-items .content .box:last-of-type .ratingsandreviews .bv_main_container_row_flex .bv_numReviews_component_container {
  display: block !important; }

.plp-wrapper .display-list .listing-product-default-view .listing-items .content .box:last-of-type .ratingsandreviews .bv_main_container_row_flex .bv_stars_button_container {
  margin-right: 8px !important; }

.plp-wrapper .display-list .listing-product-default-view .listing-items .content .box:last-of-type .ratingsandreviews .bv_main_container_row_flex:last-of-type {
  display: -ms-flexbox !important;
  display: flex !important; }

@media only screen and (max-width: 669px) {
  .plp-wrapper .display-list .listing-product-default-view .listing-items .content .richText-product-view-description {
    position: relative;
    -ms-flex-order: 1;
        order: 1; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .plp-wrapper .display-list .listing-product-default-view .listing-items .content .richText-product-view-description {
    position: relative;
    -ms-flex-order: 1;
        order: 1; } }

@media (min-width: 980px) {
  .plp-wrapper .display-list .listing-product-default-view .listing-items .content .richText-product-view-description {
    position: relative;
    -ms-flex-order: 1;
        order: 1; } }

@media only screen and (max-width: 669px) {
  .plp-wrapper .display-list .listing-product-default-view .listing-items .content .richText-product-view-description p {
    font-size: 1.125rem;
    text-align: left;
    margin: 20px 0 10px; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .plp-wrapper .display-list .listing-product-default-view .listing-items .content .richText-product-view-description p {
    font-size: 0.875rem;
    text-align: left;
    margin: 0 0 15px; } }

@media (min-width: 980px) {
  .plp-wrapper .display-list .listing-product-default-view .listing-items .content .richText-product-view-description p {
    font-size: 0.875rem;
    text-align: left;
    margin: 0 0 15px; } }

.plp-wrapper .mobile-buttons-and-sort-by-wrapper {
  box-sizing: border-box;
  font-size: 0;
  z-index: 1; }
  @media only screen and (max-width: 669px) {
    .plp-wrapper .mobile-buttons-and-sort-by-wrapper {
      position: relative;
      background: #f2f4f6;
      padding: 20px;
      margin: 0 -20px 50px -20px; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .plp-wrapper .mobile-buttons-and-sort-by-wrapper {
      position: relative;
      background: transparent;
      padding: 0;
      margin: 0 0 50px 0; } }
  @media (min-width: 980px) {
    .plp-wrapper .mobile-buttons-and-sort-by-wrapper {
      position: relative;
      background: transparent;
      padding: 0;
      margin: 0 0 50px 0; } }
  @media only screen and (max-width: 669px) {
    .plp-wrapper .mobile-buttons-and-sort-by-wrapper > .component-content > .content {
      position: relative;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      margin-bottom: -10px;
      display: -ms-flexbox;
      display: flex; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .plp-wrapper .mobile-buttons-and-sort-by-wrapper > .component-content > .content {
      position: relative;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      display: -ms-flexbox;
      display: flex; } }
  @media (min-width: 980px) {
    .plp-wrapper .mobile-buttons-and-sort-by-wrapper > .component-content > .content {
      position: relative;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      display: -ms-flexbox;
      display: flex; } }
  @media only screen and (max-width: 768px) {
    .plp-wrapper .mobile-buttons-and-sort-by-wrapper > .component-content > .content {
      -ms-flex-pack: justify;
          justify-content: space-between; } }
  @media (min-width: 769px) {
    .plp-wrapper .mobile-buttons-and-sort-by-wrapper > .component-content > .content {
      -ms-flex-pack: end;
          justify-content: flex-end; } }

.plp-wrapper .mobile-buttons-wrapper {
  font-size: 0;
  position: relative; }
  @media only screen and (max-width: 669px) {
    .plp-wrapper .mobile-buttons-wrapper {
      position: relative;
      background: white;
      border-bottom: solid 2px #D0D0D0;
      padding: 20px;
      margin: 0 -20px 20px -20px; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .plp-wrapper .mobile-buttons-wrapper {
      position: relative;
      background: white;
      border-bottom: solid 2px #D0D0D0;
      padding: 20px;
      margin: 0 -20px 20px -20px; } }
  @media (min-width: 980px) {
    .plp-wrapper .mobile-buttons-wrapper {
      position: relative;
      background: white;
      border-bottom: solid 2px #D0D0D0;
      padding: 20px;
      margin: 0 -20px 20px -20px; } }
  .plp-wrapper .mobile-buttons-wrapper .button-clear-filters {
    position: absolute;
    right: 0;
    top: 0; }
    @media only screen and (max-width: 669px) {
      .plp-wrapper .mobile-buttons-wrapper .button-clear-filters {
        margin: 14px 20px 0 0; } }
    @media only screen and (min-width: 670px) and (max-width: 979px) {
      .plp-wrapper .mobile-buttons-wrapper .button-clear-filters {
        margin: 14px 20px 0 0; } }
    @media (min-width: 980px) {
      .plp-wrapper .mobile-buttons-wrapper .button-clear-filters {
        margin: 14px 20px 0 0; } }

@media only screen and (max-width: 669px) {
  .plp-wrapper .show-filter .cta-cancel {
    padding-right: 140px; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .plp-wrapper .show-filter .cta-cancel {
    padding-right: 140px; } }

@media (min-width: 980px) {
  .plp-wrapper .show-filter .cta-cancel {
    padding-right: 140px; } }

.plp-wrapper .show-filter .button-clear-filters {
  display: -ms-inline-flexbox;
  display: inline-flex; }

.plp-wrapper .show-category .button-clear-filters {
  display: none; }

@media only screen and (max-width: 669px) {
  .plp-wrapper .navigation.side-bar {
    position: relative; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .plp-wrapper .navigation.side-bar {
    position: relative; } }

@media (min-width: 980px) {
  .plp-wrapper .navigation.side-bar {
    position: relative; } }

.plp-wrapper .navigation.side-bar .analytics-navigation-tracking,
.plp-wrapper .navigation.side-bar .navigation-mobile-menu {
  display: none; }

@media only screen and (max-width: 669px) {
  .plp-wrapper .navigation.side-bar .component-content {
    position: relative; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .plp-wrapper .navigation.side-bar .component-content {
    position: relative; } }

@media (min-width: 980px) {
  .plp-wrapper .navigation.side-bar .component-content {
    position: relative; } }

.plp-wrapper .navigation.side-bar .component-content::after {
  content: ""; }
  @media only screen and (max-width: 669px) {
    .plp-wrapper .navigation.side-bar .component-content::after {
      position: relative;
      border-bottom: 2px solid black;
      margin-top: 50px;
      margin-right: 0;
      margin-bottom: 50px;
      margin-left: 0;
      display: none; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .plp-wrapper .navigation.side-bar .component-content::after {
      position: relative;
      border-bottom: 2px solid black;
      margin-top: 50px;
      margin-right: 0;
      margin-bottom: 50px;
      margin-left: 0;
      display: block; } }
  @media (min-width: 980px) {
    .plp-wrapper .navigation.side-bar .component-content::after {
      position: relative;
      border-bottom: 2px solid black;
      margin-top: 50px;
      margin-right: 0;
      margin-bottom: 50px;
      margin-left: 0;
      display: block; } }

.plp-wrapper .navigation.side-bar .navigation-root {
  font-size: 0;
  list-style: none;
  margin: 0;
  padding: 0; }
  .plp-wrapper .navigation.side-bar .navigation-root li {
    box-sizing: border-box;
    overflow: hidden;
    position: relative; }
    .plp-wrapper .navigation.side-bar .navigation-root li a {
      position: relative;
      text-decoration: none;
      z-index: 10; }
      .plp-wrapper .navigation.side-bar .navigation-root li a .navigation-item-decoration {
        display: none; }
  @media only screen and (max-width: 669px) {
    .plp-wrapper .navigation.side-bar .navigation-root.navigation-level1 {
      position: relative; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .plp-wrapper .navigation.side-bar .navigation-root.navigation-level1 {
      position: relative; } }
  @media (min-width: 980px) {
    .plp-wrapper .navigation.side-bar .navigation-root.navigation-level1 {
      position: relative; } }
  .plp-wrapper .navigation.side-bar .navigation-root.navigation-level1 > .navigation-item {
    cursor: pointer; }
    @media only screen and (max-width: 669px) {
      .plp-wrapper .navigation.side-bar .navigation-root.navigation-level1 > .navigation-item {
        position: relative;
        border-bottom: 1px solid #D0D0D0;
        padding-bottom: 10px;
        margin-bottom: 10px; }
        .plp-wrapper .navigation.side-bar .navigation-root.navigation-level1 > .navigation-item:before {
          margin-top: 10px;
          content: "";
          font-size: 0.5rem;
          color: black;
          display: block;
          font-family: 'icons';
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          text-align: center;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale; }
        .plp-wrapper .navigation.side-bar .navigation-root.navigation-level1 > .navigation-item:before {
          transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s; }
        .plp-wrapper .navigation.side-bar .navigation-root.navigation-level1 > .navigation-item:hover:before {
          transform: rotate(-90deg); } }
    @media only screen and (min-width: 670px) and (max-width: 979px) {
      .plp-wrapper .navigation.side-bar .navigation-root.navigation-level1 > .navigation-item {
        position: relative;
        border-bottom: 1px solid #D0D0D0;
        padding-bottom: 10px;
        margin-bottom: 10px; }
        .plp-wrapper .navigation.side-bar .navigation-root.navigation-level1 > .navigation-item:before {
          margin-top: 10px;
          content: "";
          font-size: 0.5rem;
          color: black;
          display: block;
          font-family: 'icons';
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          text-align: center;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale; }
        .plp-wrapper .navigation.side-bar .navigation-root.navigation-level1 > .navigation-item:before {
          transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s; }
        .plp-wrapper .navigation.side-bar .navigation-root.navigation-level1 > .navigation-item:hover:before {
          transform: rotate(-90deg); } }
    @media (min-width: 980px) {
      .plp-wrapper .navigation.side-bar .navigation-root.navigation-level1 > .navigation-item {
        position: relative;
        border-bottom: 1px solid #D0D0D0;
        padding-bottom: 10px;
        margin-bottom: 10px; }
        .plp-wrapper .navigation.side-bar .navigation-root.navigation-level1 > .navigation-item:before {
          margin-top: 10px;
          content: "";
          font-size: 0.5rem;
          color: black;
          display: block;
          font-family: 'icons';
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          text-align: center;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale; }
        .plp-wrapper .navigation.side-bar .navigation-root.navigation-level1 > .navigation-item:before {
          transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s; }
        .plp-wrapper .navigation.side-bar .navigation-root.navigation-level1 > .navigation-item:hover:before {
          transform: rotate(-90deg); } }
    .plp-wrapper .navigation.side-bar .navigation-root.navigation-level1 > .navigation-item.last {
      border-bottom: none; }
    .plp-wrapper .navigation.side-bar .navigation-root.navigation-level1 > .navigation-item::before {
      cursor: pointer;
      position: absolute;
      right: 0;
      top: 0; }
    @media only screen and (max-width: 669px) {
      .plp-wrapper .navigation.side-bar .navigation-root.navigation-level1 > .navigation-item.is-active:before, .plp-wrapper .navigation.side-bar .navigation-root.navigation-level1 > .navigation-item.has-active-child:before {
        margin-top: 10px;
        content: "";
        font-size: 0.5rem;
        color: black;
        display: block;
        font-family: 'icons';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        text-align: center;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
      .plp-wrapper .navigation.side-bar .navigation-root.navigation-level1 > .navigation-item.is-active:before, .plp-wrapper .navigation.side-bar .navigation-root.navigation-level1 > .navigation-item.has-active-child:before {
        transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s; }
      .plp-wrapper .navigation.side-bar .navigation-root.navigation-level1 > .navigation-item.is-active:hover:before, .plp-wrapper .navigation.side-bar .navigation-root.navigation-level1 > .navigation-item.has-active-child:hover:before {
        transform: rotate(-90deg); } }
    @media only screen and (min-width: 670px) and (max-width: 979px) {
      .plp-wrapper .navigation.side-bar .navigation-root.navigation-level1 > .navigation-item.is-active:before, .plp-wrapper .navigation.side-bar .navigation-root.navigation-level1 > .navigation-item.has-active-child:before {
        margin-top: 10px;
        content: "";
        font-size: 0.5rem;
        color: black;
        display: block;
        font-family: 'icons';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        text-align: center;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
      .plp-wrapper .navigation.side-bar .navigation-root.navigation-level1 > .navigation-item.is-active:before, .plp-wrapper .navigation.side-bar .navigation-root.navigation-level1 > .navigation-item.has-active-child:before {
        transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s; }
      .plp-wrapper .navigation.side-bar .navigation-root.navigation-level1 > .navigation-item.is-active:hover:before, .plp-wrapper .navigation.side-bar .navigation-root.navigation-level1 > .navigation-item.has-active-child:hover:before {
        transform: rotate(-90deg); } }
    @media (min-width: 980px) {
      .plp-wrapper .navigation.side-bar .navigation-root.navigation-level1 > .navigation-item.is-active:before, .plp-wrapper .navigation.side-bar .navigation-root.navigation-level1 > .navigation-item.has-active-child:before {
        margin-top: 10px;
        content: "";
        font-size: 0.5rem;
        color: black;
        display: block;
        font-family: 'icons';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        text-align: center;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
      .plp-wrapper .navigation.side-bar .navigation-root.navigation-level1 > .navigation-item.is-active:before, .plp-wrapper .navigation.side-bar .navigation-root.navigation-level1 > .navigation-item.has-active-child:before {
        transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s; }
      .plp-wrapper .navigation.side-bar .navigation-root.navigation-level1 > .navigation-item.is-active:hover:before, .plp-wrapper .navigation.side-bar .navigation-root.navigation-level1 > .navigation-item.has-active-child:hover:before {
        transform: rotate(-90deg); } }
    @media only screen and (max-width: 669px) {
      .plp-wrapper .navigation.side-bar .navigation-root.navigation-level1 > .navigation-item.is-active::before, .plp-wrapper .navigation.side-bar .navigation-root.navigation-level1 > .navigation-item.has-active-child::before {
        transform: rotate(-180deg); } }
    @media only screen and (min-width: 670px) and (max-width: 979px) {
      .plp-wrapper .navigation.side-bar .navigation-root.navigation-level1 > .navigation-item.is-active::before, .plp-wrapper .navigation.side-bar .navigation-root.navigation-level1 > .navigation-item.has-active-child::before {
        transform: rotate(-180deg); } }
    @media (min-width: 980px) {
      .plp-wrapper .navigation.side-bar .navigation-root.navigation-level1 > .navigation-item.is-active::before, .plp-wrapper .navigation.side-bar .navigation-root.navigation-level1 > .navigation-item.has-active-child::before {
        transform: rotate(-180deg); } }
    .plp-wrapper .navigation.side-bar .navigation-root.navigation-level1 > .navigation-item.is-active .navigation-item-title, .plp-wrapper .navigation.side-bar .navigation-root.navigation-level1 > .navigation-item.has-active-child .navigation-item-title {
      pointer-events: initial; }
    .plp-wrapper .navigation.side-bar .navigation-root.navigation-level1 > .navigation-item.is-active .navigation-level2, .plp-wrapper .navigation.side-bar .navigation-root.navigation-level1 > .navigation-item.has-active-child .navigation-level2 {
      display: block; }
    .plp-wrapper .navigation.side-bar .navigation-root.navigation-level1 > .navigation-item > .navigation-item-title {
      display: inline-block;
      pointer-events: none; }
      @media only screen and (max-width: 669px) {
        .plp-wrapper .navigation.side-bar .navigation-root.navigation-level1 > .navigation-item > .navigation-item-title {
          color: black;
          font-size: 1.625rem;
          font-weight: bold;
          line-height: 1.23;
          text-transform: uppercase;
          font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
          transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
          display: inline-block;
          margin-right: 20px;
          -ms-flex-align: center;
              align-items: center;
          -ms-flex-pack: center;
              justify-content: center; }
          .plp-wrapper .navigation.side-bar .navigation-root.navigation-level1 > .navigation-item > .navigation-item-title:hover {
            color: #97b049; } }
      @media only screen and (min-width: 670px) and (max-width: 979px) {
        .plp-wrapper .navigation.side-bar .navigation-root.navigation-level1 > .navigation-item > .navigation-item-title {
          color: black;
          font-size: 1.625rem;
          font-weight: bold;
          line-height: 1.23;
          text-transform: uppercase;
          font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
          transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
          display: inline-block;
          margin-right: 20px;
          -ms-flex-align: center;
              align-items: center;
          -ms-flex-pack: center;
              justify-content: center; }
          .plp-wrapper .navigation.side-bar .navigation-root.navigation-level1 > .navigation-item > .navigation-item-title:hover {
            color: #97b049; } }
      @media (min-width: 980px) {
        .plp-wrapper .navigation.side-bar .navigation-root.navigation-level1 > .navigation-item > .navigation-item-title {
          color: black;
          font-size: 1.625rem;
          font-weight: bold;
          line-height: 1.23;
          text-transform: uppercase;
          font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
          transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
          display: inline-block;
          margin-right: 20px;
          -ms-flex-align: center;
              align-items: center;
          -ms-flex-pack: center;
              justify-content: center; }
          .plp-wrapper .navigation.side-bar .navigation-root.navigation-level1 > .navigation-item > .navigation-item-title:hover {
            color: #97b049; } }
      .plp-wrapper .navigation.side-bar .navigation-root.navigation-level1 > .navigation-item > .navigation-item-title > .navigation-item-decoration {
        display: none; }
        @media only screen and (max-width: 669px) {
          .plp-wrapper .navigation.side-bar .navigation-root.navigation-level1 > .navigation-item > .navigation-item-title > .navigation-item-decoration {
            transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
            display: none;
            -ms-flex-align: center;
                align-items: center;
            -ms-flex-pack: center;
                justify-content: center; } }
        @media only screen and (min-width: 670px) and (max-width: 979px) {
          .plp-wrapper .navigation.side-bar .navigation-root.navigation-level1 > .navigation-item > .navigation-item-title > .navigation-item-decoration {
            transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
            display: none;
            -ms-flex-align: center;
                align-items: center;
            -ms-flex-pack: center;
                justify-content: center; } }
        @media (min-width: 980px) {
          .plp-wrapper .navigation.side-bar .navigation-root.navigation-level1 > .navigation-item > .navigation-item-title > .navigation-item-decoration {
            transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
            display: none;
            -ms-flex-align: center;
                align-items: center;
            -ms-flex-pack: center;
                justify-content: center; } }
  .plp-wrapper .navigation.side-bar .navigation-root.navigation-level2 {
    display: none; }
    @media only screen and (max-width: 669px) {
      .plp-wrapper .navigation.side-bar .navigation-root.navigation-level2 {
        position: relative; } }
    @media only screen and (min-width: 670px) and (max-width: 979px) {
      .plp-wrapper .navigation.side-bar .navigation-root.navigation-level2 {
        position: relative; } }
    @media (min-width: 980px) {
      .plp-wrapper .navigation.side-bar .navigation-root.navigation-level2 {
        position: relative; } }
    @media only screen and (max-width: 669px) {
      .plp-wrapper .navigation.side-bar .navigation-root.navigation-level2 > .navigation-item {
        position: relative;
        background: transparent; } }
    @media only screen and (min-width: 670px) and (max-width: 979px) {
      .plp-wrapper .navigation.side-bar .navigation-root.navigation-level2 > .navigation-item {
        position: relative;
        background: transparent; } }
    @media (min-width: 980px) {
      .plp-wrapper .navigation.side-bar .navigation-root.navigation-level2 > .navigation-item {
        position: relative;
        background: transparent; } }
    .plp-wrapper .navigation.side-bar .navigation-root.navigation-level2 > .navigation-item::before {
      background: black;
      content: "";
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      top: 100%;
      transition: top 0.25s cubic-bezier(0.55, 0, 0.1, 1);
      width: 100%;
      z-index: 5; }
    .plp-wrapper .navigation.side-bar .navigation-root.navigation-level2 > .navigation-item.is-active::before, .plp-wrapper .navigation.side-bar .navigation-root.navigation-level2 > .navigation-item:hover::before {
      top: 0; }
    @media only screen and (max-width: 669px) {
      .plp-wrapper .navigation.side-bar .navigation-root.navigation-level2 > .navigation-item.is-active > .navigation-item-title {
        color: white; } }
    @media only screen and (min-width: 670px) and (max-width: 979px) {
      .plp-wrapper .navigation.side-bar .navigation-root.navigation-level2 > .navigation-item.is-active > .navigation-item-title {
        color: white; } }
    @media (min-width: 980px) {
      .plp-wrapper .navigation.side-bar .navigation-root.navigation-level2 > .navigation-item.is-active > .navigation-item-title {
        color: white; } }
    .plp-wrapper .navigation.side-bar .navigation-root.navigation-level2 > .navigation-item > .navigation-item-title {
      display: block; }
      @media only screen and (max-width: 669px) {
        .plp-wrapper .navigation.side-bar .navigation-root.navigation-level2 > .navigation-item > .navigation-item-title {
          background: transparent;
          color: black;
          font-size: 0.875rem;
          line-height: 1.29;
          font-family: Montserrat, sans-serif;
          transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
          display: block;
          padding: 9.01px 0 8.31px 10px;
          -ms-flex-align: center;
              align-items: center;
          -ms-flex-pack: center;
              justify-content: center; }
          .plp-wrapper .navigation.side-bar .navigation-root.navigation-level2 > .navigation-item > .navigation-item-title:hover {
            color: white; } }
      @media only screen and (min-width: 670px) and (max-width: 979px) {
        .plp-wrapper .navigation.side-bar .navigation-root.navigation-level2 > .navigation-item > .navigation-item-title {
          background: transparent;
          color: black;
          font-size: 0.875rem;
          line-height: 1.29;
          font-family: Montserrat, sans-serif;
          transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
          display: block;
          padding: 9.01px 0 8.31px 10px;
          -ms-flex-align: center;
              align-items: center;
          -ms-flex-pack: center;
              justify-content: center; }
          .plp-wrapper .navigation.side-bar .navigation-root.navigation-level2 > .navigation-item > .navigation-item-title:hover {
            color: white; } }
      @media (min-width: 980px) {
        .plp-wrapper .navigation.side-bar .navigation-root.navigation-level2 > .navigation-item > .navigation-item-title {
          background: transparent;
          color: black;
          font-size: 0.875rem;
          line-height: 1.29;
          font-family: Montserrat, sans-serif;
          transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
          display: block;
          padding: 9.01px 0 8.31px 10px;
          -ms-flex-align: center;
              align-items: center;
          -ms-flex-pack: center;
              justify-content: center; }
          .plp-wrapper .navigation.side-bar .navigation-root.navigation-level2 > .navigation-item > .navigation-item-title:hover {
            color: white; } }
      .plp-wrapper .navigation.side-bar .navigation-root.navigation-level2 > .navigation-item > .navigation-item-title > .navigation-item-decoration {
        display: none; }
        @media only screen and (max-width: 669px) {
          .plp-wrapper .navigation.side-bar .navigation-root.navigation-level2 > .navigation-item > .navigation-item-title > .navigation-item-decoration {
            transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
            display: none;
            -ms-flex-align: center;
                align-items: center;
            -ms-flex-pack: center;
                justify-content: center; } }
        @media only screen and (min-width: 670px) and (max-width: 979px) {
          .plp-wrapper .navigation.side-bar .navigation-root.navigation-level2 > .navigation-item > .navigation-item-title > .navigation-item-decoration {
            transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
            display: none;
            -ms-flex-align: center;
                align-items: center;
            -ms-flex-pack: center;
                justify-content: center; } }
        @media (min-width: 980px) {
          .plp-wrapper .navigation.side-bar .navigation-root.navigation-level2 > .navigation-item > .navigation-item-title > .navigation-item-decoration {
            transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
            display: none;
            -ms-flex-align: center;
                align-items: center;
            -ms-flex-pack: center;
                justify-content: center; } }

/*# sourceMappingURL=index.css.map */
