@charset "UTF-8";
@media only screen and (max-width: 669px) {
  .composite-recipe-finder {
    position: relative;
    margin-top: 50px; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .composite-recipe-finder {
    position: relative;
    margin-top: 50px; } }

@media (min-width: 980px) {
  .composite-recipe-finder {
    position: relative;
    margin-top: 50px; } }

.composite-subcategory-section + .composite-recipe-finder {
  margin-top: 0; }

@media only screen and (max-width: 669px) {
  .composite-recipe-finder > div > .box > .component-content {
    position: relative;
    background-size: cover;
    background-position: center;
    padding: 60px 0 120px;
    min-height: 250px;
    box-sizing: border-box; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .composite-recipe-finder > div > .box > .component-content {
    position: relative;
    background-size: cover;
    background-position: center;
    padding: 60px 0 120px;
    min-height: 326px;
    box-sizing: border-box; } }

@media (min-width: 980px) {
  .composite-recipe-finder > div > .box > .component-content {
    position: relative;
    background-size: cover;
    background-position: center;
    padding: 96px 0 120px;
    min-height: 326px;
    box-sizing: border-box; } }

@media only screen and (max-width: 669px) {
  .composite-recipe-finder > div > .box > .component-content .richText {
    position: relative; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .composite-recipe-finder > div > .box > .component-content .richText {
    position: relative; } }

@media (min-width: 980px) {
  .composite-recipe-finder > div > .box > .component-content .richText {
    position: relative; } }

@media only screen and (max-width: 669px) {
  .composite-recipe-finder > div > .box > .component-content .richText h3 {
    margin-bottom: 20px; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .composite-recipe-finder > div > .box > .component-content .richText h3 {
    margin-bottom: 20px; } }

@media (min-width: 980px) {
  .composite-recipe-finder > div > .box > .component-content .richText h3 {
    margin-bottom: 25px; } }

.composite-recipe-finder .form-search {
  position: relative; }

.composite-recipe-finder .search-query {
  box-sizing: border-box; }
  @media only screen and (max-width: 669px) {
    .composite-recipe-finder .search-query {
      background: rgba(255, 255, 255, 0.8);
      font-size: 1.25rem;
      line-height: 1.3;
      font-family: Montserrat, sans-serif;
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: block;
      border: 0;
      padding: 10.2px 44px 9.2px 10px;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center;
      width: 100%; }
      .composite-recipe-finder .search-query::-webkit-input-placeholder {
        color: black; }
      .composite-recipe-finder .search-query:-ms-input-placeholder {
        color: black; }
      .composite-recipe-finder .search-query::placeholder {
        color: black; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .composite-recipe-finder .search-query {
      background: rgba(255, 255, 255, 0.8);
      font-size: 1.25rem;
      line-height: 1.3;
      font-family: Montserrat, sans-serif;
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: block;
      border: 0;
      padding: 10.2px 44px 9.2px 10px;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center;
      width: 100%; }
      .composite-recipe-finder .search-query::-webkit-input-placeholder {
        color: black; }
      .composite-recipe-finder .search-query:-ms-input-placeholder {
        color: black; }
      .composite-recipe-finder .search-query::placeholder {
        color: black; } }
  @media (min-width: 980px) {
    .composite-recipe-finder .search-query {
      background: rgba(255, 255, 255, 0.8);
      font-size: 1.625rem;
      line-height: 1.23;
      font-family: Montserrat, sans-serif;
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: block;
      border: 0;
      padding: 21.37px 70px 20.07px 20px;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center;
      width: 100%; }
      .composite-recipe-finder .search-query::-webkit-input-placeholder {
        color: black; }
      .composite-recipe-finder .search-query:-ms-input-placeholder {
        color: black; }
      .composite-recipe-finder .search-query::placeholder {
        color: black; } }

.composite-recipe-finder .searchBox .button {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 0;
  padding: 0; }
  @media only screen and (max-width: 669px) {
    .composite-recipe-finder .searchBox .button {
      background: transparent;
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: -ms-inline-flexbox;
      display: inline-flex;
      border: 0;
      margin: 10px;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: justify;
          justify-content: space-between; }
      .composite-recipe-finder .searchBox .button:before {
        display: inline-block;
        content: "";
        font-size: 1.625rem;
        color: black;
        display: inline-block;
        font-family: 'icons';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        text-align: center;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .composite-recipe-finder .searchBox .button {
      background: transparent;
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: -ms-inline-flexbox;
      display: inline-flex;
      border: 0;
      margin: 10px;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: justify;
          justify-content: space-between; }
      .composite-recipe-finder .searchBox .button:before {
        display: inline-block;
        content: "";
        font-size: 1.625rem;
        color: black;
        display: inline-block;
        font-family: 'icons';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        text-align: center;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; } }
  @media (min-width: 980px) {
    .composite-recipe-finder .searchBox .button {
      background: transparent;
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: -ms-inline-flexbox;
      display: inline-flex;
      border: 0;
      margin: 20px;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: justify;
          justify-content: space-between; }
      .composite-recipe-finder .searchBox .button:before {
        display: inline-block;
        content: "";
        font-size: 2rem;
        color: black;
        display: inline-block;
        font-family: 'icons';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        text-align: center;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; } }

@media only screen and (max-width: 669px) {
  .composite-recipe-finder.composite-variation-recipe-finder-header .box > .component-content {
    position: relative;
    padding-top: 60px;
    margin-bottom: -60px; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .composite-recipe-finder.composite-variation-recipe-finder-header .box > .component-content {
    position: relative;
    padding-top: 96px;
    margin-bottom: -60px; } }

@media (min-width: 980px) {
  .composite-recipe-finder.composite-variation-recipe-finder-header .box > .component-content {
    position: relative;
    padding-top: 96px;
    margin-bottom: -60px; } }

@media only screen and (max-width: 669px) {
  .composite-recipe-finder.composite-variation-recipe-finder-header .box > .component-content .richText {
    position: relative;
    margin-bottom: 45px; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .composite-recipe-finder.composite-variation-recipe-finder-header .box > .component-content .richText {
    position: relative;
    margin-bottom: 45px; } }

@media (min-width: 980px) {
  .composite-recipe-finder.composite-variation-recipe-finder-header .box > .component-content .richText {
    position: relative;
    margin-bottom: 45px; } }

@media only screen and (max-width: 669px) {
  .composite-recipe-finder.composite-variation-recipe-finder-header .box > .component-content .richText h1, .composite-recipe-finder.composite-variation-recipe-finder-header .box > .component-content .richText h2, .composite-recipe-finder.composite-variation-recipe-finder-header .box > .component-content .richText h3 {
    color: black;
    font-size: 2.375rem;
    font-weight: bold;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
    margin-top: 0;
    margin-bottom: 20px; }
    .composite-recipe-finder.composite-variation-recipe-finder-header .box > .component-content .richText h1:after, .composite-recipe-finder.composite-variation-recipe-finder-header .box > .component-content .richText h2:after, .composite-recipe-finder.composite-variation-recipe-finder-header .box > .component-content .richText h3:after {
      content: '';
      border-bottom: 4px solid #ab3334;
      margin-left: 5px;
      width: 30px;
      display: inline-block; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .composite-recipe-finder.composite-variation-recipe-finder-header .box > .component-content .richText h1, .composite-recipe-finder.composite-variation-recipe-finder-header .box > .component-content .richText h2, .composite-recipe-finder.composite-variation-recipe-finder-header .box > .component-content .richText h3 {
    color: black;
    font-size: 4.5rem;
    font-weight: bold;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
    margin-top: 0;
    margin-bottom: 20px; }
    .composite-recipe-finder.composite-variation-recipe-finder-header .box > .component-content .richText h1:after, .composite-recipe-finder.composite-variation-recipe-finder-header .box > .component-content .richText h2:after, .composite-recipe-finder.composite-variation-recipe-finder-header .box > .component-content .richText h3:after {
      content: '';
      border-bottom: 4px solid #ab3334;
      margin-left: 5px;
      width: 30px;
      display: inline-block; } }

@media (min-width: 980px) {
  .composite-recipe-finder.composite-variation-recipe-finder-header .box > .component-content .richText h1, .composite-recipe-finder.composite-variation-recipe-finder-header .box > .component-content .richText h2, .composite-recipe-finder.composite-variation-recipe-finder-header .box > .component-content .richText h3 {
    color: black;
    font-size: 4.5rem;
    font-weight: bold;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
    margin-top: 0;
    margin-bottom: 25px; }
    .composite-recipe-finder.composite-variation-recipe-finder-header .box > .component-content .richText h1:after, .composite-recipe-finder.composite-variation-recipe-finder-header .box > .component-content .richText h2:after, .composite-recipe-finder.composite-variation-recipe-finder-header .box > .component-content .richText h3:after {
      content: '';
      border-bottom: 4px solid #ab3334;
      margin-left: 5px;
      width: 30px;
      display: inline-block; } }

.composite-recipe-finder.composite-variation-recipe-finder-header .form-search {
  position: relative; }

.composite-recipe-finder.composite-variation-recipe-finder-header .search-query {
  box-sizing: border-box; }
  @media only screen and (max-width: 669px) {
    .composite-recipe-finder.composite-variation-recipe-finder-header .search-query {
      background: rgba(255, 255, 255, 0.8);
      font-size: 1.25rem;
      line-height: 1.3;
      font-family: Montserrat, sans-serif;
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center; }
      .composite-recipe-finder.composite-variation-recipe-finder-header .search-query::-webkit-input-placeholder {
        color: black; }
      .composite-recipe-finder.composite-variation-recipe-finder-header .search-query:-ms-input-placeholder {
        color: black; }
      .composite-recipe-finder.composite-variation-recipe-finder-header .search-query::placeholder {
        color: black; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .composite-recipe-finder.composite-variation-recipe-finder-header .search-query {
      background: rgba(255, 255, 255, 0.8);
      font-size: 1.25rem;
      line-height: 1.3;
      font-family: Montserrat, sans-serif;
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center; }
      .composite-recipe-finder.composite-variation-recipe-finder-header .search-query::-webkit-input-placeholder {
        color: black; }
      .composite-recipe-finder.composite-variation-recipe-finder-header .search-query:-ms-input-placeholder {
        color: black; }
      .composite-recipe-finder.composite-variation-recipe-finder-header .search-query::placeholder {
        color: black; } }
  @media (min-width: 980px) {
    .composite-recipe-finder.composite-variation-recipe-finder-header .search-query {
      background: rgba(255, 255, 255, 0.8);
      font-size: 1.625rem;
      line-height: 1.23;
      font-family: Montserrat, sans-serif;
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center; }
      .composite-recipe-finder.composite-variation-recipe-finder-header .search-query::-webkit-input-placeholder {
        color: black; }
      .composite-recipe-finder.composite-variation-recipe-finder-header .search-query:-ms-input-placeholder {
        color: black; }
      .composite-recipe-finder.composite-variation-recipe-finder-header .search-query::placeholder {
        color: black; } }

@media only screen and (max-width: 669px) {
  .composite-recipe-finder.composite-variation-recipe-finder-header .searchBox .button {
    transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .composite-recipe-finder.composite-variation-recipe-finder-header .searchBox .button {
    transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center; } }

@media (min-width: 980px) {
  .composite-recipe-finder.composite-variation-recipe-finder-header .searchBox .button {
    transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center; } }

@media only screen and (max-width: 669px) {
  .composite-variation-recipe-finder-with-carousel > div > .box > .component-content {
    position: relative;
    padding-top: 60px;
    padding-bottom: 120px; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .composite-variation-recipe-finder-with-carousel > div > .box > .component-content {
    position: relative;
    padding-top: 60px;
    padding-bottom: 120px; } }

@media (min-width: 980px) {
  .composite-variation-recipe-finder-with-carousel > div > .box > .component-content {
    position: relative;
    padding-top: 120px;
    padding-bottom: 120px; } }

@media only screen and (max-width: 669px) {
  .composite-variation-recipe-finder-with-carousel > div > .box > .component-content > .content {
    position: relative;
    padding: 0; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .composite-variation-recipe-finder-with-carousel > div > .box > .component-content > .content {
    position: relative; } }

@media (min-width: 980px) {
  .composite-variation-recipe-finder-with-carousel > div > .box > .component-content > .content {
    position: relative; } }

@media only screen and (max-width: 669px) {
  .composite-variation-recipe-finder-with-carousel > div > .box > .component-content .richText-tertiary-header {
    position: relative;
    margin-bottom: 40px; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .composite-variation-recipe-finder-with-carousel > div > .box > .component-content .richText-tertiary-header {
    position: relative;
    margin-bottom: 40px; } }

@media (min-width: 980px) {
  .composite-variation-recipe-finder-with-carousel > div > .box > .component-content .richText-tertiary-header {
    position: relative;
    margin-bottom: 60px; } }

@media (min-width: 980px) {
  .composite-variation-recipe-finder-with-carousel > div > .box > .component-content .richText-tertiary-header h2, .composite-variation-recipe-finder-with-carousel > div > .box > .component-content .richText-tertiary-header h3, .composite-variation-recipe-finder-with-carousel > div > .box > .component-content .richText-tertiary-header h4 {
    font-size: 4.0625rem; } }

@media only screen and (max-width: 669px) {
  .composite-variation-recipe-finder-with-carousel .searchBox {
    margin: 0 20px !important; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .composite-variation-recipe-finder-with-carousel .searchBox { } }

@media (min-width: 980px) {
  .composite-variation-recipe-finder-with-carousel .searchBox { } }

.composite-variation-recipe-finder-with-carousel .recipe-category-carousel > .component-content > .content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px; }

.composite-variation-recipe-finder-with-carousel .reference-recipe-category-carousel-item {
  box-sizing: border-box;
  margin: 0px; }

@media only screen and (max-width: 669px) {
  .composite-variation-recipe-finder-with-carousel .reference-recipe-category-carousel-item {
    width: calc(100% - 0px); }
  .composite-variation-recipe-finder-with-carousel.listing-cols-1 .reference-recipe-category-carousel-item, .composite-variation-recipe-finder-with-carousel.component.listing-cols-1-mobile .reference-recipe-category-carousel-item {
    width: calc(100% - 0px); }
  .composite-variation-recipe-finder-with-carousel.listing-cols-2 .reference-recipe-category-carousel-item, .composite-variation-recipe-finder-with-carousel.component.listing-cols-2-mobile .reference-recipe-category-carousel-item {
    width: calc(50% - 0px); }
  .composite-variation-recipe-finder-with-carousel.listing-cols-3 .reference-recipe-category-carousel-item, .composite-variation-recipe-finder-with-carousel.component.listing-cols-3-mobile .reference-recipe-category-carousel-item {
    width: calc(33.33333% - 0px); }
  .composite-variation-recipe-finder-with-carousel.listing-cols-4 .reference-recipe-category-carousel-item, .composite-variation-recipe-finder-with-carousel.component.listing-cols-4-mobile .reference-recipe-category-carousel-item {
    width: calc(25% - 0px); } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .composite-variation-recipe-finder-with-carousel .reference-recipe-category-carousel-item {
    width: calc(33.33333% - 0px); }
  .composite-variation-recipe-finder-with-carousel.listing-cols-1 .reference-recipe-category-carousel-item, .composite-variation-recipe-finder-with-carousel.component.listing-cols-1-tablet .reference-recipe-category-carousel-item {
    width: calc(100% - 0px); }
  .composite-variation-recipe-finder-with-carousel.listing-cols-2 .reference-recipe-category-carousel-item, .composite-variation-recipe-finder-with-carousel.component.listing-cols-2-tablet .reference-recipe-category-carousel-item {
    width: calc(50% - 0px); }
  .composite-variation-recipe-finder-with-carousel.listing-cols-3 .reference-recipe-category-carousel-item, .composite-variation-recipe-finder-with-carousel.component.listing-cols-3-tablet .reference-recipe-category-carousel-item {
    width: calc(33.33333% - 0px); }
  .composite-variation-recipe-finder-with-carousel.listing-cols-4 .reference-recipe-category-carousel-item, .composite-variation-recipe-finder-with-carousel.component.listing-cols-4-tablet .reference-recipe-category-carousel-item {
    width: calc(25% - 0px); } }

@media (min-width: 980px) {
  .composite-variation-recipe-finder-with-carousel .reference-recipe-category-carousel-item {
    width: calc(33.33333% - 0px); }
  .composite-variation-recipe-finder-with-carousel.listing-cols-1 .reference-recipe-category-carousel-item, .composite-variation-recipe-finder-with-carousel.component.listing-cols-1-desktop .reference-recipe-category-carousel-item {
    width: calc(100% - 0px); }
  .composite-variation-recipe-finder-with-carousel.listing-cols-2 .reference-recipe-category-carousel-item, .composite-variation-recipe-finder-with-carousel.component.listing-cols-2-desktop .reference-recipe-category-carousel-item {
    width: calc(50% - 0px); }
  .composite-variation-recipe-finder-with-carousel.listing-cols-3 .reference-recipe-category-carousel-item, .composite-variation-recipe-finder-with-carousel.component.listing-cols-3-desktop .reference-recipe-category-carousel-item {
    width: calc(33.33333% - 0px); }
  .composite-variation-recipe-finder-with-carousel.listing-cols-4 .reference-recipe-category-carousel-item, .composite-variation-recipe-finder-with-carousel.component.listing-cols-4-desktop .reference-recipe-category-carousel-item {
    width: calc(25% - 0px); } }

.composite-variation-recipe-finder-with-carousel .recipe-category-carousel {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  @media only screen and (max-width: 669px) {
    .composite-variation-recipe-finder-with-carousel .recipe-category-carousel {
      position: relative;
      margin: 40px 0; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .composite-variation-recipe-finder-with-carousel .recipe-category-carousel {
      position: relative;
      padding: 0 64px;
      margin: 60px 0; } }
  @media (min-width: 980px) {
    .composite-variation-recipe-finder-with-carousel .recipe-category-carousel {
      position: relative;
      padding: 0 64px;
      margin: 60px 0; } }
  @media only screen and (max-width: 669px) {
    .composite-variation-recipe-finder-with-carousel .recipe-category-carousel > .component-content {
      position: relative;
      margin: -10px auto;
      width: calc(50% - 05px); } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .composite-variation-recipe-finder-with-carousel .recipe-category-carousel > .component-content {
      position: relative;
      margin: -10px;
      overflow: hidden; } }
  @media (min-width: 980px) {
    .composite-variation-recipe-finder-with-carousel .recipe-category-carousel > .component-content {
      position: relative;
      margin: -15px;
      overflow: hidden; } }
  .composite-variation-recipe-finder-with-carousel .recipe-category-carousel > .component-content > div.content {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; }
  .composite-variation-recipe-finder-with-carousel .recipe-category-carousel + .richText p {
    margin: 0; }
  .composite-variation-recipe-finder-with-carousel .recipe-category-carousel + .richText a {
    width: auto; }

@media only screen and (max-width: 669px) {
  .composite-variation-recipe-finder-with-carousel .reference-recipe-category-carousel-item {
    position: relative;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding: 10px; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .composite-variation-recipe-finder-with-carousel .reference-recipe-category-carousel-item {
    position: relative;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding: 10px; } }

@media (min-width: 980px) {
  .composite-variation-recipe-finder-with-carousel .reference-recipe-category-carousel-item {
    position: relative;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding: 15px; } }

.composite-variation-recipe-finder-with-carousel .reference-recipe-category-carousel-item.is-hidden {
  visibility: hidden;
  display: block !important; }

.composite-variation-recipe-finder-with-carousel .category-link {
  text-decoration: none;
  box-sizing: border-box;
  overflow: hidden;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: end;
      align-items: flex-end;
  position: relative;
  cursor: pointer; }
  @media only screen and (max-width: 669px) {
    .composite-variation-recipe-finder-with-carousel .category-link {
      position: relative;
      height: 136px; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .composite-variation-recipe-finder-with-carousel .category-link {
      position: relative;
      height: 200px; } }
  @media (min-width: 980px) {
    .composite-variation-recipe-finder-with-carousel .category-link {
      position: relative;
      height: 270px; } }
  @media only screen and (max-width: 669px) {
    .composite-variation-recipe-finder-with-carousel .category-link:hover .category-name {
      background-color: #D0D0D0; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .composite-variation-recipe-finder-with-carousel .category-link:hover .category-name {
      background-color: #D0D0D0; } }
  @media (min-width: 980px) {
    .composite-variation-recipe-finder-with-carousel .category-link:hover .category-name {
      background-color: #D0D0D0; } }

.composite-variation-recipe-finder-with-carousel .category-image {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  min-width: 100%;
  min-height: 100%; }
  .mod-objectfit .composite-variation-recipe-finder-with-carousel .category-image {
    min-width: 0;
    min-height: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }
  @media only screen and (max-width: 669px) {
    .composite-variation-recipe-finder-with-carousel .category-image {
      transition: transform 1s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 1s cubic-bezier(0.55, 0, 0.1, 1) 0s, visibility 0s cubic-bezier(0.55, 0, 0.1, 1) 1s; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .composite-variation-recipe-finder-with-carousel .category-image {
      transition: transform 1s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 1s cubic-bezier(0.55, 0, 0.1, 1) 0s, visibility 0s cubic-bezier(0.55, 0, 0.1, 1) 1s; } }
  @media (min-width: 980px) {
    .composite-variation-recipe-finder-with-carousel .category-image {
      transition: transform 1s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 1s cubic-bezier(0.55, 0, 0.1, 1) 0s, visibility 0s cubic-bezier(0.55, 0, 0.1, 1) 1s; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .composite-variation-recipe-finder-with-carousel .category-image:hover {
      transform: scale(1.1, 1.1); } }
  @media (min-width: 980px) {
    .composite-variation-recipe-finder-with-carousel .category-image:hover {
      transform: scale(1.1, 1.1); } }

.composite-variation-recipe-finder-with-carousel .category-name {
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-pack: justify;
      justify-content: space-between;
  z-index: 5;
  width: 100%; }
  @media only screen and (max-width: 669px) {
    .composite-variation-recipe-finder-with-carousel .category-name {
      background-color: #f2f4f6;
      color: black;
      font-size: 0.875rem;
      line-height: 1.1;
      text-transform: uppercase;
      text-decoration: none;
      font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: -ms-inline-flexbox;
      display: inline-flex;
      padding: 2.76px 10px 1.78px 10px;
      margin: 0;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center;
      min-height: 29px; }
      .composite-variation-recipe-finder-with-carousel .category-name:hover {
        background-color: #D0D0D0; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .composite-variation-recipe-finder-with-carousel .category-name {
      background-color: #f2f4f6;
      color: black;
      font-size: 1.25rem;
      line-height: 1.1;
      text-transform: uppercase;
      text-decoration: none;
      font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: -ms-inline-flexbox;
      display: inline-flex;
      padding: 6.8px 10px 5.4px 10px;
      margin: 0;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center;
      min-height: 40px; }
      .composite-variation-recipe-finder-with-carousel .category-name:hover {
        background-color: #D0D0D0; } }
  @media (min-width: 980px) {
    .composite-variation-recipe-finder-with-carousel .category-name {
      background-color: #f2f4f6;
      color: black;
      font-size: 1.25rem;
      line-height: 1.1;
      text-transform: uppercase;
      text-decoration: none;
      font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: -ms-inline-flexbox;
      display: inline-flex;
      padding: 6.8px 10px 5.4px 10px;
      margin: 0;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center;
      min-height: 40px; }
      .composite-variation-recipe-finder-with-carousel .category-name:hover {
        background-color: #D0D0D0; } }

.composite-variation-recipe-finder-with-carousel .carousel-controls {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  width: 100%;
  box-sizing: border-box;
  left: 0;
  top: 50%;
  transform: translateY(-50%); }
  @media only screen and (max-width: 669px) {
    .composite-variation-recipe-finder-with-carousel .carousel-controls {
      position: absolute;
      padding: 0;
      margin: 0; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .composite-variation-recipe-finder-with-carousel .carousel-controls {
      position: absolute;
      padding: 0;
      margin: 0; } }
  @media (min-width: 980px) {
    .composite-variation-recipe-finder-with-carousel .carousel-controls {
      position: absolute;
      padding: 0;
      margin: 0; } }
  .composite-variation-recipe-finder-with-carousel .carousel-controls button {
    cursor: pointer; }
    .composite-variation-recipe-finder-with-carousel .carousel-controls button:focus {
      outline: none; }
  .composite-variation-recipe-finder-with-carousel .carousel-controls .previous,
  .composite-variation-recipe-finder-with-carousel .carousel-controls .next {
    position: absolute;
    border: 0; }
    @media only screen and (max-width: 669px) {
      .composite-variation-recipe-finder-with-carousel .carousel-controls .previous,
      .composite-variation-recipe-finder-with-carousel .carousel-controls .next {
        background-color: black;
        transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
        display: inline-block;
        border-radius: 50%;
        -ms-flex-align: center;
            align-items: center;
        -ms-flex-pack: center;
            justify-content: center;
        width: 16px;
        height: 16px; }
        .composite-variation-recipe-finder-with-carousel .carousel-controls .previous:after,
        .composite-variation-recipe-finder-with-carousel .carousel-controls .next:after {
          margin-top: -1px;
          font-size: 0.5625rem;
          color: white;
          display: block; } }
    @media only screen and (min-width: 670px) and (max-width: 979px) {
      .composite-variation-recipe-finder-with-carousel .carousel-controls .previous,
      .composite-variation-recipe-finder-with-carousel .carousel-controls .next {
        background-color: black;
        transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
        display: inline-block;
        border-radius: 50%;
        -ms-flex-align: center;
            align-items: center;
        -ms-flex-pack: center;
            justify-content: center;
        width: 16px;
        height: 16px; }
        .composite-variation-recipe-finder-with-carousel .carousel-controls .previous:hover,
        .composite-variation-recipe-finder-with-carousel .carousel-controls .next:hover {
          background-color: #696969; }
        .composite-variation-recipe-finder-with-carousel .carousel-controls .previous:after,
        .composite-variation-recipe-finder-with-carousel .carousel-controls .next:after {
          margin-top: -1px;
          font-size: 0.5625rem;
          color: white;
          display: block; } }
    @media (min-width: 980px) {
      .composite-variation-recipe-finder-with-carousel .carousel-controls .previous,
      .composite-variation-recipe-finder-with-carousel .carousel-controls .next {
        background-color: black;
        transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
        display: inline-block;
        border-radius: 50%;
        -ms-flex-align: center;
            align-items: center;
        -ms-flex-pack: center;
            justify-content: center;
        width: 16px;
        height: 16px; }
        .composite-variation-recipe-finder-with-carousel .carousel-controls .previous:hover,
        .composite-variation-recipe-finder-with-carousel .carousel-controls .next:hover {
          background-color: #696969; }
        .composite-variation-recipe-finder-with-carousel .carousel-controls .previous:after,
        .composite-variation-recipe-finder-with-carousel .carousel-controls .next:after {
          margin-top: -1px;
          font-size: 0.5625rem;
          color: white;
          display: block; } }
    @media only screen and (max-width: 669px) {
      .composite-variation-recipe-finder-with-carousel .carousel-controls .previous,
      .composite-variation-recipe-finder-with-carousel .carousel-controls .next {
        display: none !important; } }
    .composite-variation-recipe-finder-with-carousel .carousel-controls .previous.disabled,
    .composite-variation-recipe-finder-with-carousel .carousel-controls .next.disabled {
      pointer-events: none; }
      @media only screen and (max-width: 669px) {
        .composite-variation-recipe-finder-with-carousel .carousel-controls .previous.disabled,
        .composite-variation-recipe-finder-with-carousel .carousel-controls .next.disabled {
          background-color: #f2f4f6;
          transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
          display: -ms-inline-flexbox;
          display: inline-flex;
          -ms-flex-align: center;
              align-items: center;
          -ms-flex-pack: center;
              justify-content: center; } }
      @media only screen and (min-width: 670px) and (max-width: 979px) {
        .composite-variation-recipe-finder-with-carousel .carousel-controls .previous.disabled,
        .composite-variation-recipe-finder-with-carousel .carousel-controls .next.disabled {
          background-color: #f2f4f6;
          transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
          display: -ms-inline-flexbox;
          display: inline-flex;
          -ms-flex-align: center;
              align-items: center;
          -ms-flex-pack: center;
              justify-content: center; } }
      @media (min-width: 980px) {
        .composite-variation-recipe-finder-with-carousel .carousel-controls .previous.disabled,
        .composite-variation-recipe-finder-with-carousel .carousel-controls .next.disabled {
          background-color: #f2f4f6;
          transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
          display: -ms-inline-flexbox;
          display: inline-flex;
          -ms-flex-align: center;
              align-items: center;
          -ms-flex-pack: center;
              justify-content: center; } }
  .composite-variation-recipe-finder-with-carousel .carousel-controls .previous {
    left: 0; }
    @media only screen and (max-width: 669px) {
      .composite-variation-recipe-finder-with-carousel .carousel-controls .previous {
        transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
        display: -ms-inline-flexbox;
        display: inline-flex;
        margin-right: 28px;
        -ms-flex-align: center;
            align-items: center;
        -ms-flex-pack: center;
            justify-content: center;
        width: 26px;
        height: 26px; }
        .composite-variation-recipe-finder-with-carousel .carousel-controls .previous:after {
          content: "";
          display: block;
          font-family: 'icons';
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          text-align: center;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale; } }
    @media only screen and (min-width: 670px) and (max-width: 979px) {
      .composite-variation-recipe-finder-with-carousel .carousel-controls .previous {
        transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
        display: -ms-inline-flexbox;
        display: inline-flex;
        margin-right: 28px;
        -ms-flex-align: center;
            align-items: center;
        -ms-flex-pack: center;
            justify-content: center;
        width: 26px;
        height: 26px; }
        .composite-variation-recipe-finder-with-carousel .carousel-controls .previous:after {
          content: "";
          display: block;
          font-family: 'icons';
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          text-align: center;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale; } }
    @media (min-width: 980px) {
      .composite-variation-recipe-finder-with-carousel .carousel-controls .previous {
        transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
        display: -ms-inline-flexbox;
        display: inline-flex;
        margin-right: 28px;
        -ms-flex-align: center;
            align-items: center;
        -ms-flex-pack: center;
            justify-content: center;
        width: 26px;
        height: 26px; }
        .composite-variation-recipe-finder-with-carousel .carousel-controls .previous:after {
          content: "";
          display: block;
          font-family: 'icons';
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          text-align: center;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale; } }
  .composite-variation-recipe-finder-with-carousel .carousel-controls .next {
    right: 0; }
    @media only screen and (max-width: 669px) {
      .composite-variation-recipe-finder-with-carousel .carousel-controls .next {
        transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
        display: -ms-inline-flexbox;
        display: inline-flex;
        margin-left: 28px;
        -ms-flex-align: center;
            align-items: center;
        -ms-flex-pack: center;
            justify-content: center;
        width: 26px;
        height: 26px; }
        .composite-variation-recipe-finder-with-carousel .carousel-controls .next:after {
          content: "";
          display: block;
          font-family: 'icons';
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          text-align: center;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale; } }
    @media only screen and (min-width: 670px) and (max-width: 979px) {
      .composite-variation-recipe-finder-with-carousel .carousel-controls .next {
        transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
        display: -ms-inline-flexbox;
        display: inline-flex;
        margin-left: 28px;
        -ms-flex-align: center;
            align-items: center;
        -ms-flex-pack: center;
            justify-content: center;
        width: 26px;
        height: 26px; }
        .composite-variation-recipe-finder-with-carousel .carousel-controls .next:after {
          content: "";
          display: block;
          font-family: 'icons';
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          text-align: center;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale; } }
    @media (min-width: 980px) {
      .composite-variation-recipe-finder-with-carousel .carousel-controls .next {
        transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
        display: -ms-inline-flexbox;
        display: inline-flex;
        margin-left: 28px;
        -ms-flex-align: center;
            align-items: center;
        -ms-flex-pack: center;
            justify-content: center;
        width: 26px;
        height: 26px; }
        .composite-variation-recipe-finder-with-carousel .carousel-controls .next:after {
          content: "";
          display: block;
          font-family: 'icons';
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          text-align: center;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale; } }

.ua-ie-11 .composite-variation-recipe-finder-with-carousel .component picture img {
  width: 0; }

/*# sourceMappingURL=index.css.map */
