@import '../../core/_config';

.recipeNutrients {
  @import 'config';
  @function g($a...) {
    @return get-last($recipeNutrients, $a...);
  }

  @include breakpoints() {
    @include box(g('box'), $media);
  }

  &-list {
    list-style: none;
    padding-left: 0;

    @include breakpoints() {
      @include box(g('_list.box'), $media);
    }

    .recipeNutrients-item {
      @include breakpoints() {
        @include box(g('_list._item.box'), $media);
      }

      &:last-child {
        border-bottom: 0
      }
    }
  }

  &-name,
  &-value {
    @include breakpoints() {
      @include text(g('_list._item._text.text'), $media);
    }
  }

  &-value {
    float: right;
  }
}
