@media only screen and (max-width: 669px) {
  .composite-article-images .content {
    position: relative;
    -ms-flex-align: start;
        align-items: flex-start;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: start;
        justify-content: flex-start;
    margin-top: 40px;
    display: -ms-flexbox;
    display: flex; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .composite-article-images .content {
    position: relative;
    -ms-flex-align: start;
        align-items: flex-start;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: start;
        justify-content: flex-start;
    margin-top: 40px;
    display: -ms-flexbox;
    display: flex; } }

@media (min-width: 980px) {
  .composite-article-images .content {
    position: relative;
    -ms-flex-align: start;
        align-items: flex-start;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: start;
        justify-content: flex-start;
    margin-top: 40px;
    margin-bottom: 5px;
    display: -ms-flexbox;
    display: flex; } }

@media only screen and (max-width: 669px) {
  .composite-article-images .content .image {
    position: relative;
    margin: 0; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .composite-article-images .content .image {
    position: relative;
    margin: 0; } }

@media (min-width: 980px) {
  .composite-article-images .content .image {
    position: relative;
    margin: 0; } }

.composite-article-images .content .image:first-of-type {
  margin-right: 25px; }
  @media only screen and (max-width: 979px) {
    .composite-article-images .content .image:first-of-type {
      margin-right: 0; } }

@media only screen and (max-width: 669px) {
  .composite-article-images .content .image figcaption p {
    font-size: 0.875rem;
    line-height: 1.36;
    margin-top: 10px;
    margin-bottom: 22px; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .composite-article-images .content .image figcaption p {
    font-size: 0.875rem;
    line-height: 1.36;
    margin-top: 10px;
    margin-bottom: 22px; } }

@media (min-width: 980px) {
  .composite-article-images .content .image figcaption p {
    font-size: 0.875rem;
    line-height: 1.36;
    margin-top: 10px;
    margin-bottom: 10px; } }

@media only screen and (max-width: 979px) {
  .composite-article-images .content .image figcaption p {
    text-align: left; } }

/*# sourceMappingURL=index.css.map */
