$tutorialCarousel:(
    wrapper: (
        box: (
            margin: (
                margin-bottom: breakpoint((
                    mobile: px(30px)
                ))
            )
        )
    ),
    listing-carousel: (
        box: (
            min-height: breakpoint((
                mobile: 200px !important,
                tablet: 325px !important,
                desktop: 400px !important,
            ))
        )
    ),
    listing-item: (
        box: (
            padding: (
                padding: 0 spacings('s') !important,
            ),
            max-width: breakpoint((
                mobile: 125px,
                tablet: 175px,
                desktop: 275px
            ))
        ),
        number: (
            box: (
                position: absolute
            ),
            text: (
                all: (
                    color: color('orange'),
                    line-height: 0
                ),
                p: (

                ),
                h3: (
                    font-size: px(54),
                    line-height: breakpoint((
                        mobile: 2.8rem,
                        tablet: 3,
                        desktop: 5
                    ))
                )   
            )

        ),
        image: (
            box: (
                min-width: breakpoint((
                    mobile: 125px,
                    tablet: 175px,
                    desktop: 275px
                ))
            )
        )
    )
)