@import "../../core/config";

.composite-tutorial-carousel {
    @import 'config';
    @function g($a...) {
        @return get-last($tutorialCarousel, $a...);
    }

    @include breakpoints(){
        @include box(g('wrapper.box'), $media);
    }
    

    .listing-carousel {
        @include breakpoints(){
            @include box(g('listing-carousel.box'), $media)
        }
    }

    .listing-items {
        .flickity-viewport {
            @include breakpoints(){
                @include box(g('listing-carousel.box'), $media)
            }
        }
    }

    .listing-item {
        @include breakpoints(){
            @include box(g('listing-item.box'), $media)
        }

        > .component-content > .paragraphSystem.content > .box > .component-content > .content{
            position: relative;

            .richText {
                position: absolute;
                left: 10%;
                bottom: 0;
            }

            .image {
                @include breakpoints(){
                    @include box(g('listing-item.image.box'), $media);
                }
            }
        }

        .richText-content .step-number {
            font-family: 'Baloo', Arial, Helvetica, sans-serif;
            @include text(g('listing-item.number.text.all'), $media);
        }

        h3 {

            margin-bottom: 0;

            .step-number {
                @include breakpoints(){
                    @include text(g('listing-item.number.text.h3'), $media);
                }
            }
        }
    }
}