@charset "UTF-8";
[class*=reference-footer] {
  padding-bottom: 41px;
  background: #f7987f;
  position: relative;
  z-index: 10; }
  [class*=reference-footer] .sr-only {
    display: none; }
  [class*=reference-footer] a {
    text-decoration: none; }
  [class*=reference-footer] h5 {
    font-weight: normal; }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    [class*=reference-footer] .richText-content h2 {
      font-size: 0.75rem;
      margin-top: 0;
      font-weight: bold;
      margin-bottom: 0; } }
  @media (min-width: 980px) {
    [class*=reference-footer] .richText-content h2 {
      font-size: 0.75rem;
      margin-top: 0;
      font-weight: bold;
      margin-bottom: 0; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    [class*=reference-footer] .richText-content a {
      font-size: 0.75rem; } }
  @media (min-width: 980px) {
    [class*=reference-footer] .richText-content a {
      font-size: 0.75rem; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    [class*=reference-footer] .richText-content p {
      margin: 12px 0; } }
  @media (min-width: 980px) {
    [class*=reference-footer] .richText-content p {
      margin: 12px 0; } }
  [class*=reference-footer] .footer-main {
    color: white; }
    @media only screen and (max-width: 669px) {
      [class*=reference-footer] .footer-main > .component-content {
        padding-top: 21px;
        padding-bottom: 0; } }
    @media only screen and (min-width: 670px) and (max-width: 979px) {
      [class*=reference-footer] .footer-main > .component-content {
        position: relative;
        background-color: #f7987f;
        padding-top: 50px;
        padding-right: 64px;
        padding-bottom: 50px;
        padding-left: 64px; } }
    @media (min-width: 980px) {
      [class*=reference-footer] .footer-main > .component-content {
        position: relative;
        background-color: #f7987f;
        padding-top: 50px;
        padding-bottom: 50px; } }
    @media only screen and (max-width: 669px) {
      [class*=reference-footer] .footer-main > .component-content > .content {
        padding: 0; } }
    @media only screen and (min-width: 670px) and (max-width: 979px) {
      [class*=reference-footer] .footer-main > .component-content > .content {
        box-sizing: border-box;
        margin-left: auto;
        margin-right: auto;
        padding-left: 25px;
        padding-right: 25px; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) and (max-width: 669px) {
    [class*=reference-footer] .footer-main > .component-content > .content {
      width: auto; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) and (min-width: 670px) and (max-width: 768px) {
    [class*=reference-footer] .footer-main > .component-content > .content {
      width: auto; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) and (min-width: 980px) and (max-width: 1139px) {
    [class*=reference-footer] .footer-main > .component-content > .content {
      width: 960px; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) and (min-width: 1140px) {
    [class*=reference-footer] .footer-main > .component-content > .content {
      width: 1140px; } }
    @media (min-width: 980px) {
      [class*=reference-footer] .footer-main > .component-content > .content {
        box-sizing: border-box;
        margin-left: auto;
        margin-right: auto;
        padding-left: 25px;
        padding-right: 25px; } }
  @media only screen and (min-width: 980px) and (max-width: 669px) {
    [class*=reference-footer] .footer-main > .component-content > .content {
      width: auto; } }
  @media only screen and (min-width: 980px) and (min-width: 670px) and (max-width: 768px) {
    [class*=reference-footer] .footer-main > .component-content > .content {
      width: auto; } }
  @media only screen and (min-width: 980px) and (min-width: 980px) and (max-width: 1139px) {
    [class*=reference-footer] .footer-main > .component-content > .content {
      width: 960px; } }
  @media (min-width: 980px) and (min-width: 1140px) {
    [class*=reference-footer] .footer-main > .component-content > .content {
      width: 1140px; } }
    @media (min-width: 980px) {
      [class*=reference-footer] .footer-main > .component-content > .content {
        display: -ms-flexbox;
        display: flex; } }
  @media (min-width: 980px) {
    [class*=reference-footer] .footer-communications {
      width: 50%; } }
  [class*=reference-footer] .footer-communications h2, [class*=reference-footer] .footer-communications h3 {
    margin-bottom: 10px;
    margin-top: 0; }
    @media only screen and (max-width: 669px) {
      [class*=reference-footer] .footer-communications h2, [class*=reference-footer] .footer-communications h3 {
        font-size: 1.625rem;
        font-weight: bold;
        line-height: 1.3;
        margin-top: 0; } }
    @media only screen and (min-width: 670px) and (max-width: 979px) {
      [class*=reference-footer] .footer-communications h2, [class*=reference-footer] .footer-communications h3 {
        font-size: 1.625rem;
        font-weight: bold;
        line-height: 1.15;
        margin-top: 0;
        margin-bottom: 5px; } }
    @media (min-width: 980px) {
      [class*=reference-footer] .footer-communications h2, [class*=reference-footer] .footer-communications h3 {
        font-size: 1.625rem;
        font-weight: bold;
        margin-top: -5px;
        margin-bottom: 5px; } }
  [class*=reference-footer] .footer-communications p {
    margin-top: 5px;
    margin-bottom: 5px; }
    @media (min-width: 670px) {
      [class*=reference-footer] .footer-communications p {
        margin-bottom: 10px; } }
    @media only screen and (max-width: 669px) {
      [class*=reference-footer] .footer-communications p {
        font-size: 1.125rem;
        line-height: 1.33;
        margin-top: 10px;
        margin-bottom: 15px; } }
    @media only screen and (min-width: 670px) and (max-width: 979px) {
      [class*=reference-footer] .footer-communications p {
        font-size: 0.875rem;
        line-height: 1.33;
        margin-top: 5px;
        margin-bottom: 10px; } }
    @media (min-width: 980px) {
      [class*=reference-footer] .footer-communications p {
        font-size: 0.875rem;
        line-height: 1.33;
        margin-top: 5px;
        margin-bottom: 15px; } }
  [class*=reference-footer] .richText-footer-social-share h2, [class*=reference-footer] .richText-footer-social-share h3, [class*=reference-footer] .richText-footer-social-share h4, [class*=reference-footer] .richText-footer-social-share h5 {
    margin-top: 0;
    margin-bottom: 15px; }
    @media only screen and (max-width: 669px) {
      [class*=reference-footer] .richText-footer-social-share h2, [class*=reference-footer] .richText-footer-social-share h3, [class*=reference-footer] .richText-footer-social-share h4, [class*=reference-footer] .richText-footer-social-share h5 {
        font-size: 1.125rem;
        font-weight: bold;
        line-height: 1.22;
        margin-bottom: 10px; } }
    @media only screen and (min-width: 670px) and (max-width: 979px) {
      [class*=reference-footer] .richText-footer-social-share h2, [class*=reference-footer] .richText-footer-social-share h3, [class*=reference-footer] .richText-footer-social-share h4, [class*=reference-footer] .richText-footer-social-share h5 {
        font-size: 1.125rem;
        font-weight: bold;
        line-height: 1.22;
        margin-bottom: 10px; } }
    @media (min-width: 980px) {
      [class*=reference-footer] .richText-footer-social-share h2, [class*=reference-footer] .richText-footer-social-share h3, [class*=reference-footer] .richText-footer-social-share h4, [class*=reference-footer] .richText-footer-social-share h5 {
        font-size: 1.125rem;
        font-weight: bold;
        line-height: 1.22;
        margin-bottom: 10px; } }
  [class*=reference-footer] .footer-social-links > .component-content > .content {
    -ms-flex-pack: center;
        justify-content: center;
    display: -ms-flexbox;
    display: flex;
    margin: 0 20px; }
    [class*=reference-footer] .footer-social-links > .component-content > .content > .reference-icon-link {
      margin: 0; }
    [class*=reference-footer] .footer-social-links > .component-content > .content a {
      display: block;
      padding: 14px;
      font-size: 0;
      text-decoration: none;
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s; }
      [class*=reference-footer] .footer-social-links > .component-content > .content a:after {
        font-size: 1.3125rem;
        color: black;
        display: block; }
      [class*=reference-footer] .footer-social-links > .component-content > .content a:after {
        transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s; }
      [class*=reference-footer] .footer-social-links > .component-content > .content a:hover:after {
        color: #696969; }
      [class*=reference-footer] .footer-social-links > .component-content > .content a.icon-facebook:after {
        content: "";
        font-size: 1.3125rem;
        color: black;
        display: block;
        font-family: 'icons';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        text-align: center;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
      [class*=reference-footer] .footer-social-links > .component-content > .content a.icon-facebook:after {
        transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s; }
      [class*=reference-footer] .footer-social-links > .component-content > .content a.icon-facebook:hover:after {
        color: #696969; }
      [class*=reference-footer] .footer-social-links > .component-content > .content a.icon-twitter:after {
        content: "";
        font-size: 1.3125rem;
        color: black;
        display: block;
        font-family: 'icons';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        text-align: center;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
      [class*=reference-footer] .footer-social-links > .component-content > .content a.icon-twitter:after {
        transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s; }
      [class*=reference-footer] .footer-social-links > .component-content > .content a.icon-twitter:hover:after {
        color: #696969; }
      [class*=reference-footer] .footer-social-links > .component-content > .content a.icon-pinterest:after {
        content: "";
        font-size: 1.3125rem;
        color: black;
        display: block;
        font-family: 'icons';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        text-align: center;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
      [class*=reference-footer] .footer-social-links > .component-content > .content a.icon-pinterest:after {
        transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s; }
      [class*=reference-footer] .footer-social-links > .component-content > .content a.icon-pinterest:hover:after {
        color: #696969; }
      [class*=reference-footer] .footer-social-links > .component-content > .content a.icon-instagram:after {
        content: "";
        font-size: 1.3125rem;
        color: black;
        display: block;
        font-family: 'icons';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        text-align: center;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
      [class*=reference-footer] .footer-social-links > .component-content > .content a.icon-instagram:after {
        transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s; }
      [class*=reference-footer] .footer-social-links > .component-content > .content a.icon-instagram:hover:after {
        color: #696969; }
    [class*=reference-footer] .footer-social-links > .component-content > .content a::after {
      color: white !important; }
      @media only screen and (max-width: 669px) {
        [class*=reference-footer] .footer-social-links > .component-content > .content a::after {
          font-size: 0.75rem !important; } }
      @media only screen and (min-width: 670px) and (max-width: 979px) {
        [class*=reference-footer] .footer-social-links > .component-content > .content a::after {
          font-size: 1.3125rem !important; } }
      @media (min-width: 980px) {
        [class*=reference-footer] .footer-social-links > .component-content > .content a::after {
          font-size: 1.3125rem !important; } }
    [class*=reference-footer] .footer-social-links > .component-content > .content > a {
      display: none; }
  @media only screen and (max-width: 669px) {
    [class*=reference-footer] .form {
      margin: 0 43px;
      position: relative; } }
  @media (min-width: 670px) {
    [class*=reference-footer] .form {
      max-width: 475px; } }
  [class*=reference-footer] .form .formContent {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: stretch;
        align-items: stretch; }
  [class*=reference-footer] .form .component-content .textField {
    -ms-flex-positive: 2;
        flex-grow: 2; }
    [class*=reference-footer] .form .component-content .textField .control-label {
      display: none; }
    [class*=reference-footer] .form .component-content .textField .controls {
      padding-left: 0; }
    [class*=reference-footer] .form .component-content .textField input {
      width: 100%;
      box-sizing: border-box; }
      @media only screen and (max-width: 669px) {
        [class*=reference-footer] .form .component-content .textField input {
          background-color: #fff;
          color: #000;
          font-size: 0.75rem;
          font-weight: 400;
          line-height: 1;
          text-align: left;
          text-transform: none;
          font-style: normal;
          font-family: Avenir Book,sans-serif;
          transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
          display: -ms-inline-flexbox;
          display: inline-flex;
          border: none !important;
          border-right: 0;
          border-radius: 0 !important;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          padding: 7.62px 10px 6.77px;
          -ms-flex-align: center;
              align-items: center;
          -ms-flex-pack: center;
              justify-content: center;
          height: 26px; }
          [class*=reference-footer] .form .component-content .textField input ::-webkit-input-placeholder {
            text-transform: uppercase; }
          [class*=reference-footer] .form .component-content .textField input :-ms-input-placeholder {
            text-transform: uppercase; }
          [class*=reference-footer] .form .component-content .textField input ::placeholder {
            text-transform: uppercase; } }
      @media only screen and (min-width: 670px) and (max-width: 979px) {
        [class*=reference-footer] .form .component-content .textField input {
          border: none !important;
          border-radius: 0 !important;
          height: 26px; } }
      @media (min-width: 980px) {
        [class*=reference-footer] .form .component-content .textField input {
          border: none !important;
          border-radius: 0 !important;
          height: 26px; } }
  [class*=reference-footer] .form .component-content.error .textField .control-label {
    display: none; }
  [class*=reference-footer] .form .formButton .component-content, [class*=reference-footer] .form .formButton .button {
    height: 100%; }
  [class*=reference-footer] .form .formButton .button {
    min-width: initial;
    padding: 0; }
    @media only screen and (max-width: 669px) {
      [class*=reference-footer] .form .formButton .button {
        background-color: #C9484A;
        color: #fff;
        font-size: 0;
        line-height: 1.22;
        text-transform: uppercase;
        letter-spacing: .3px;
        text-decoration: none;
        font-family: Avenir Book,Franklin Gothic,Avenir Next Condensed,sans-serif;
        transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
        display: inline-block;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 33px;
        height: 26px;
        border-radius: 0;
        border: none; } }
    @media only screen and (min-width: 670px) and (max-width: 979px) {
      [class*=reference-footer] .form .formButton .button {
        background-color: #C9484A;
        padding: 0 10px;
        font-size: 0; } }
    @media (min-width: 980px) {
      [class*=reference-footer] .form .formButton .button {
        background-color: #C9484A;
        padding: 0 10px;
        font-size: 0; } }
  [class*=reference-footer] .form .formButton button::after {
    content: '\25B6';
    font-size: 0.75rem; }
  [class*=reference-footer] .reference-phone-link {
    display: none;
    margin-bottom: 40px; }
    @media only screen and (max-width: 669px) {
      [class*=reference-footer] .reference-phone-link {
        display: block; }
        [class*=reference-footer] .reference-phone-link .phone-link {
          text-decoration: none;
          line-height: 3.125rem;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-pack: justify;
              justify-content: space-between;
          -ms-flex-align: center;
              align-items: center;
          padding-left: 15px;
          padding-right: 15px;
          position: relative;
          background-color: black; }
          [class*=reference-footer] .reference-phone-link .phone-link:after {
            content: "";
            font-size: 1.3125rem;
            color: white;
            display: block;
            font-family: 'icons';
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            text-align: center;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale; }
        [class*=reference-footer] .reference-phone-link .phone-label {
          margin-right: 15px;
          color: #C9484A;
          font-size: 1rem;
          font-weight: bold;
          text-transform: uppercase;
          letter-spacing: 0.5px;
          font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif; }
        [class*=reference-footer] .reference-phone-link .phone-number {
          color: white;
          font-size: 1rem;
          font-weight: normal;
          font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
          -ms-flex-positive: 2;
              flex-grow: 2; } }
  @media only screen and (max-width: 669px) {
    [class*=reference-footer] .footer-primary-nav {
      position: relative;
      margin-top: 44px; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    [class*=reference-footer] .footer-primary-nav {
      position: relative;
      margin-top: 44px; } }
  @media (min-width: 980px) {
    [class*=reference-footer] .footer-primary-nav {
      position: relative;
      margin-top: 2px;
      margin-left: 20px; } }
  @media (min-width: 670px) {
    [class*=reference-footer] .footer-primary-nav {
      -ms-flex-positive: 2;
          flex-grow: 2; } }
  [class*=reference-footer] .footer-primary-nav > .component-content > .content {
    margin: -25px; }
    @media only screen and (max-width: 669px) {
      [class*=reference-footer] .footer-primary-nav > .component-content > .content {
        margin: -40px; } }
    @media (min-width: 670px) {
      [class*=reference-footer] .footer-primary-nav > .component-content > .content {
        display: -ms-flexbox;
        display: flex; } }
    [class*=reference-footer] .footer-primary-nav > .component-content > .content > .box {
      margin: 25px; }
      @media only screen and (max-width: 669px) {
        [class*=reference-footer] .footer-primary-nav > .component-content > .content > .box {
          margin: 40px; } }
      [class*=reference-footer] .footer-primary-nav > .component-content > .content > .box h2, [class*=reference-footer] .footer-primary-nav > .component-content > .content > .box h3, [class*=reference-footer] .footer-primary-nav > .component-content > .content > .box h4 {
        margin: 0; }
        @media only screen and (max-width: 669px) {
          [class*=reference-footer] .footer-primary-nav > .component-content > .content > .box h2, [class*=reference-footer] .footer-primary-nav > .component-content > .content > .box h3, [class*=reference-footer] .footer-primary-nav > .component-content > .content > .box h4 {
            font-size: 1.125rem;
            font-weight: bold;
            line-height: 1.22;
            margin-bottom: 1px; } }
        @media only screen and (min-width: 670px) and (max-width: 979px) {
          [class*=reference-footer] .footer-primary-nav > .component-content > .content > .box h2, [class*=reference-footer] .footer-primary-nav > .component-content > .content > .box h3, [class*=reference-footer] .footer-primary-nav > .component-content > .content > .box h4 {
            font-size: 1.125rem;
            font-weight: bold;
            line-height: 1.22;
            margin-bottom: 1px; } }
        @media (min-width: 980px) {
          [class*=reference-footer] .footer-primary-nav > .component-content > .content > .box h2, [class*=reference-footer] .footer-primary-nav > .component-content > .content > .box h3, [class*=reference-footer] .footer-primary-nav > .component-content > .content > .box h4 {
            font-size: 1.125rem;
            font-weight: bold;
            line-height: 1.22;
            margin-bottom: 1px; } }
    [class*=reference-footer] .footer-primary-nav > .component-content > .content .navigation .navigation-mobile-menu,
    [class*=reference-footer] .footer-primary-nav > .component-content > .content .navigation .navigation-item-decoration {
      display: none; }
    [class*=reference-footer] .footer-primary-nav > .component-content > .content .navigation ul {
      list-style-type: none;
      padding-left: 0;
      margin: 0; }
    [class*=reference-footer] .footer-primary-nav > .component-content > .content .adchoices-script img {
      display: none !important; }
    [class*=reference-footer] .footer-primary-nav > .component-content > .content .navigation-item a,
    [class*=reference-footer] .footer-primary-nav > .component-content > .content .adchoices-script a,
    [class*=reference-footer] .footer-primary-nav > .component-content > .content .cookiemanagement a {
      text-decoration: none; }
    @media only screen and (max-width: 669px) {
      [class*=reference-footer] .footer-primary-nav > .component-content > .content .navigation-item a,
      [class*=reference-footer] .footer-primary-nav > .component-content > .content .adchoices-script a,
      [class*=reference-footer] .footer-primary-nav > .component-content > .content .cookiemanagement a {
        font-size: 1.25rem;
        line-height: 1.5;
        transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
        display: -ms-flexbox;
        display: flex;
        margin-top: 10px;
        -ms-flex-align: center;
            align-items: center;
        -ms-flex-pack: start;
            justify-content: flex-start; }
        [class*=reference-footer] .footer-primary-nav > .component-content > .content .navigation-item a:hover,
        [class*=reference-footer] .footer-primary-nav > .component-content > .content .adchoices-script a:hover,
        [class*=reference-footer] .footer-primary-nav > .component-content > .content .cookiemanagement a:hover {
          color: #D0D0D0; }
        [class*=reference-footer] .footer-primary-nav > .component-content > .content .navigation-item a:before,
        [class*=reference-footer] .footer-primary-nav > .component-content > .content .adchoices-script a:before,
        [class*=reference-footer] .footer-primary-nav > .component-content > .content .cookiemanagement a:before {
          font-size: 0.8125rem;
          display: block; } }
    @media only screen and (min-width: 670px) and (max-width: 979px) {
      [class*=reference-footer] .footer-primary-nav > .component-content > .content .navigation-item a,
      [class*=reference-footer] .footer-primary-nav > .component-content > .content .adchoices-script a,
      [class*=reference-footer] .footer-primary-nav > .component-content > .content .cookiemanagement a {
        font-size: 1rem;
        line-height: 1.38;
        transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
        display: -ms-flexbox;
        display: flex;
        margin-top: 10px;
        -ms-flex-align: center;
            align-items: center;
        -ms-flex-pack: start;
            justify-content: flex-start; }
        [class*=reference-footer] .footer-primary-nav > .component-content > .content .navigation-item a:hover,
        [class*=reference-footer] .footer-primary-nav > .component-content > .content .adchoices-script a:hover,
        [class*=reference-footer] .footer-primary-nav > .component-content > .content .cookiemanagement a:hover {
          color: #D0D0D0; }
        [class*=reference-footer] .footer-primary-nav > .component-content > .content .navigation-item a:before,
        [class*=reference-footer] .footer-primary-nav > .component-content > .content .adchoices-script a:before,
        [class*=reference-footer] .footer-primary-nav > .component-content > .content .cookiemanagement a:before {
          font-size: 0.8125rem;
          display: block; } }
    @media (min-width: 980px) {
      [class*=reference-footer] .footer-primary-nav > .component-content > .content .navigation-item a,
      [class*=reference-footer] .footer-primary-nav > .component-content > .content .adchoices-script a,
      [class*=reference-footer] .footer-primary-nav > .component-content > .content .cookiemanagement a {
        font-size: 1rem;
        line-height: 1.38;
        transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
        display: -ms-flexbox;
        display: flex;
        margin-top: 5px;
        -ms-flex-align: center;
            align-items: center;
        -ms-flex-pack: start;
            justify-content: flex-start; }
        [class*=reference-footer] .footer-primary-nav > .component-content > .content .navigation-item a:hover,
        [class*=reference-footer] .footer-primary-nav > .component-content > .content .adchoices-script a:hover,
        [class*=reference-footer] .footer-primary-nav > .component-content > .content .cookiemanagement a:hover {
          color: #D0D0D0; }
        [class*=reference-footer] .footer-primary-nav > .component-content > .content .navigation-item a:before,
        [class*=reference-footer] .footer-primary-nav > .component-content > .content .adchoices-script a:before,
        [class*=reference-footer] .footer-primary-nav > .component-content > .content .cookiemanagement a:before {
          font-size: 0.8125rem;
          display: block; } }
    @media only screen and (max-width: 669px) {
      [class*=reference-footer] .footer-primary-nav > .component-content > .content .navigation-item.adchoices-script a,
      [class*=reference-footer] .footer-primary-nav > .component-content > .content .adchoices-script.adchoices-script a,
      [class*=reference-footer] .footer-primary-nav > .component-content > .content .cookiemanagement.adchoices-script a {
        font-size: 1.25rem;
        line-height: 1.5;
        transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
        display: -ms-flexbox;
        display: flex;
        margin-top: 10px;
        -ms-flex-align: center;
            align-items: center;
        -ms-flex-pack: start;
            justify-content: flex-start; }
        [class*=reference-footer] .footer-primary-nav > .component-content > .content .navigation-item.adchoices-script a:hover,
        [class*=reference-footer] .footer-primary-nav > .component-content > .content .adchoices-script.adchoices-script a:hover,
        [class*=reference-footer] .footer-primary-nav > .component-content > .content .cookiemanagement.adchoices-script a:hover {
          color: #D0D0D0; }
        [class*=reference-footer] .footer-primary-nav > .component-content > .content .navigation-item.adchoices-script a:before,
        [class*=reference-footer] .footer-primary-nav > .component-content > .content .adchoices-script.adchoices-script a:before,
        [class*=reference-footer] .footer-primary-nav > .component-content > .content .cookiemanagement.adchoices-script a:before {
          margin-right: 5px;
          content: "";
          font-size: 0.8125rem;
          display: block;
          font-family: 'icons';
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          text-align: center;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale; } }
    @media only screen and (min-width: 670px) and (max-width: 979px) {
      [class*=reference-footer] .footer-primary-nav > .component-content > .content .navigation-item.adchoices-script a,
      [class*=reference-footer] .footer-primary-nav > .component-content > .content .adchoices-script.adchoices-script a,
      [class*=reference-footer] .footer-primary-nav > .component-content > .content .cookiemanagement.adchoices-script a {
        font-size: 1rem;
        line-height: 1.38;
        transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
        display: -ms-flexbox;
        display: flex;
        margin-top: 10px;
        -ms-flex-align: center;
            align-items: center;
        -ms-flex-pack: start;
            justify-content: flex-start; }
        [class*=reference-footer] .footer-primary-nav > .component-content > .content .navigation-item.adchoices-script a:hover,
        [class*=reference-footer] .footer-primary-nav > .component-content > .content .adchoices-script.adchoices-script a:hover,
        [class*=reference-footer] .footer-primary-nav > .component-content > .content .cookiemanagement.adchoices-script a:hover {
          color: #D0D0D0; }
        [class*=reference-footer] .footer-primary-nav > .component-content > .content .navigation-item.adchoices-script a:before,
        [class*=reference-footer] .footer-primary-nav > .component-content > .content .adchoices-script.adchoices-script a:before,
        [class*=reference-footer] .footer-primary-nav > .component-content > .content .cookiemanagement.adchoices-script a:before {
          margin-right: 5px;
          content: "";
          font-size: 0.8125rem;
          display: block;
          font-family: 'icons';
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          text-align: center;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale; } }
    @media (min-width: 980px) {
      [class*=reference-footer] .footer-primary-nav > .component-content > .content .navigation-item.adchoices-script a,
      [class*=reference-footer] .footer-primary-nav > .component-content > .content .adchoices-script.adchoices-script a,
      [class*=reference-footer] .footer-primary-nav > .component-content > .content .cookiemanagement.adchoices-script a {
        font-size: 1rem;
        line-height: 1.38;
        transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
        display: -ms-flexbox;
        display: flex;
        margin-top: 5px;
        -ms-flex-align: center;
            align-items: center;
        -ms-flex-pack: start;
            justify-content: flex-start; }
        [class*=reference-footer] .footer-primary-nav > .component-content > .content .navigation-item.adchoices-script a:hover,
        [class*=reference-footer] .footer-primary-nav > .component-content > .content .adchoices-script.adchoices-script a:hover,
        [class*=reference-footer] .footer-primary-nav > .component-content > .content .cookiemanagement.adchoices-script a:hover {
          color: #D0D0D0; }
        [class*=reference-footer] .footer-primary-nav > .component-content > .content .navigation-item.adchoices-script a:before,
        [class*=reference-footer] .footer-primary-nav > .component-content > .content .adchoices-script.adchoices-script a:before,
        [class*=reference-footer] .footer-primary-nav > .component-content > .content .cookiemanagement.adchoices-script a:before {
          margin-right: 5px;
          content: "";
          font-size: 0.8125rem;
          display: block;
          font-family: 'icons';
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          text-align: center;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale; } }
  @media only screen and (max-width: 669px) {
    [class*=reference-footer] .accordion + .navigation {
      display: none; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    [class*=reference-footer] .navigation .navigation-mobile-menu {
      display: none; } }
  @media (min-width: 980px) {
    [class*=reference-footer] .navigation .navigation-mobile-menu {
      display: none; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    [class*=reference-footer] .navigation ul {
      margin: 0;
      padding: 0;
      list-style: none; } }
  @media (min-width: 980px) {
    [class*=reference-footer] .navigation ul {
      margin: 0;
      padding: 0;
      list-style: none; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    [class*=reference-footer] .navigation ul li a {
      font-size: 0.75rem;
      text-transform: uppercase; } }
  @media (min-width: 980px) {
    [class*=reference-footer] .navigation ul li a {
      font-size: 0.75rem;
      text-transform: uppercase; } }
  [class*=reference-footer] .footer-supplementary {
    color: white; }
    @media only screen and (max-width: 669px) {
      [class*=reference-footer] .footer-supplementary > .component-content {
        position: relative;
        background-color: #f7987f;
        padding-top: 21px;
        padding-bottom: 21px; } }
    @media only screen and (min-width: 670px) and (max-width: 979px) {
      [class*=reference-footer] .footer-supplementary > .component-content {
        position: relative;
        background-color: #f7987f;
        padding-top: 25px;
        padding-right: 64px;
        padding-bottom: 25px;
        padding-left: 64px; } }
    @media (min-width: 980px) {
      [class*=reference-footer] .footer-supplementary > .component-content {
        position: relative;
        background-color: #f7987f;
        padding-top: 20px;
        padding-bottom: 25px; } }
    [class*=reference-footer] .footer-supplementary > .component-content .richText-content p {
      line-height: 1.0625rem; }
    [class*=reference-footer] .footer-supplementary > .component-content > .content {
      box-sizing: border-box;
      margin-left: auto;
      margin-right: auto;
      padding-left: 25px;
      padding-right: 25px;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse; }
      @media only screen and (max-width: 669px) {
        [class*=reference-footer] .footer-supplementary > .component-content > .content {
          width: auto; } }
      @media only screen and (min-width: 670px) and (max-width: 768px) {
        [class*=reference-footer] .footer-supplementary > .component-content > .content {
          width: auto; } }
      @media only screen and (min-width: 980px) and (max-width: 1139px) {
        [class*=reference-footer] .footer-supplementary > .component-content > .content {
          width: 960px; } }
      @media (min-width: 1140px) {
        [class*=reference-footer] .footer-supplementary > .component-content > .content {
          width: 1140px; } }
      @media (min-width: 980px) {
        [class*=reference-footer] .footer-supplementary > .component-content > .content {
          -ms-flex-direction: row;
              flex-direction: row; } }
      @media (min-width: 670px) {
        [class*=reference-footer] .footer-supplementary > .component-content > .content > .richText {
          width: 100%; } }
      @media (min-width: 980px) {
        [class*=reference-footer] .footer-supplementary > .component-content > .content > .richText {
          width: 60%;
          margin: 0 auto; } }
      [class*=reference-footer] .footer-supplementary > .component-content > .content > .richText p {
        margin: 0; }
        @media only screen and (max-width: 669px) {
          [class*=reference-footer] .footer-supplementary > .component-content > .content > .richText p {
            font-size: 0.75rem; } }
        @media only screen and (min-width: 670px) and (max-width: 979px) {
          [class*=reference-footer] .footer-supplementary > .component-content > .content > .richText p {
            font-size: 0.75rem; } }
        @media (min-width: 980px) {
          [class*=reference-footer] .footer-supplementary > .component-content > .content > .richText p {
            font-size: 0.75rem; } }
  [class*=reference-footer] .footer-secondary-nav {
    -ms-flex-positive: 1;
        flex-grow: 1; }
    @media only screen and (max-width: 979px) {
      [class*=reference-footer] .footer-secondary-nav {
        margin-bottom: 15px; }
        [class*=reference-footer] .footer-secondary-nav[class*="grid_"] {
          margin-left: 0; } }
    [class*=reference-footer] .footer-secondary-nav > .component-content > .content {
      margin: -15px;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
          align-items: center; }
      @media (min-width: 980px) {
        [class*=reference-footer] .footer-secondary-nav > .component-content > .content {
          -ms-flex-pack: end;
              justify-content: flex-end; } }
      [class*=reference-footer] .footer-secondary-nav > .component-content > .content .richText ul {
        display: -ms-flexbox;
        display: flex;
        margin: 0;
        padding: 0;
        list-style-type: none; }
        [class*=reference-footer] .footer-secondary-nav > .component-content > .content .richText ul li {
          padding: 0;
          margin: 15px; }
          [class*=reference-footer] .footer-secondary-nav > .component-content > .content .richText ul li:before {
            display: none; }
          @media only screen and (max-width: 669px) {
            [class*=reference-footer] .footer-secondary-nav > .component-content > .content .richText ul li a {
              font-size: 0.75rem;
              text-decoration: none;
              transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s; }
              [class*=reference-footer] .footer-secondary-nav > .component-content > .content .richText ul li a:hover {
                color: #D0D0D0; } }
          @media only screen and (min-width: 670px) and (max-width: 979px) {
            [class*=reference-footer] .footer-secondary-nav > .component-content > .content .richText ul li a {
              font-size: 0.75rem;
              text-decoration: none;
              transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s; }
              [class*=reference-footer] .footer-secondary-nav > .component-content > .content .richText ul li a:hover {
                color: #D0D0D0; } }
          @media (min-width: 980px) {
            [class*=reference-footer] .footer-secondary-nav > .component-content > .content .richText ul li a {
              font-size: 0.75rem;
              text-decoration: none;
              transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s; }
              [class*=reference-footer] .footer-secondary-nav > .component-content > .content .richText ul li a:hover {
                color: #D0D0D0; } }
      [class*=reference-footer] .footer-secondary-nav > .component-content > .content .reference-icon-link {
        margin: 15px; }
        [class*=reference-footer] .footer-secondary-nav > .component-content > .content .reference-icon-link .unilever-logo {
          display: block;
          text-align: center;
          position: relative;
          text-decoration: none;
          font-size: 0; }
          @media only screen and (max-width: 669px) {
            [class*=reference-footer] .footer-secondary-nav > .component-content > .content .reference-icon-link .unilever-logo:after {
              content: "";
              font-size: 1.6875rem;
              color: #696969;
              display: block;
              font-family: 'icons';
              speak: none;
              font-style: normal;
              font-weight: normal;
              font-variant: normal;
              text-transform: none;
              text-align: center;
              line-height: 1;
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale; }
            [class*=reference-footer] .footer-secondary-nav > .component-content > .content .reference-icon-link .unilever-logo:after {
              transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s; }
            [class*=reference-footer] .footer-secondary-nav > .component-content > .content .reference-icon-link .unilever-logo:hover:after {
              color: #D0D0D0; } }
          @media only screen and (min-width: 670px) and (max-width: 979px) {
            [class*=reference-footer] .footer-secondary-nav > .component-content > .content .reference-icon-link .unilever-logo:after {
              content: "";
              font-size: 1.6875rem;
              color: #696969;
              display: block;
              font-family: 'icons';
              speak: none;
              font-style: normal;
              font-weight: normal;
              font-variant: normal;
              text-transform: none;
              text-align: center;
              line-height: 1;
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale; }
            [class*=reference-footer] .footer-secondary-nav > .component-content > .content .reference-icon-link .unilever-logo:after {
              transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s; }
            [class*=reference-footer] .footer-secondary-nav > .component-content > .content .reference-icon-link .unilever-logo:hover:after {
              color: #D0D0D0; } }
          @media (min-width: 980px) {
            [class*=reference-footer] .footer-secondary-nav > .component-content > .content .reference-icon-link .unilever-logo:after {
              content: "";
              font-size: 1.6875rem;
              color: #696969;
              display: block;
              font-family: 'icons';
              speak: none;
              font-style: normal;
              font-weight: normal;
              font-variant: normal;
              text-transform: none;
              text-align: center;
              line-height: 1;
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale; }
            [class*=reference-footer] .footer-secondary-nav > .component-content > .content .reference-icon-link .unilever-logo:after {
              transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s; }
            [class*=reference-footer] .footer-secondary-nav > .component-content > .content .reference-icon-link .unilever-logo:hover:after {
              color: #D0D0D0; } }
  [class*=reference-footer] .image {
    background: #f7987f;
    width: 100%;
    text-align: center; }
    [class*=reference-footer] .image img {
      display: unset; }
    [class*=reference-footer] .image > .component-content {
      text-align: center; }
  @media only screen and (max-width: 669px) {
    [class*=reference-footer] .richtext_258025148 {
      display: none; } }
  [class*=reference-footer] .richtext_258025148 h3 {
    margin-top: 42px;
    margin-bottom: 30px;
    font-size: 0.875rem; }
  @media only screen and (max-width: 669px) {
    [class*=reference-footer] .richtext_775073504 {
      display: none; } }
  [class*=reference-footer] .control-label {
    color: white !important; }
  [class*=reference-footer] select {
    color: white !important; }
  @media only screen and (max-width: 669px) {
    [class*=reference-footer] .box_1474716968_copy_1645907835 {
      display: none; } }
  [class*=reference-footer] .box_1474716968_copy_1645907835 .cookiemanagement a {
    font-size: 0.75rem;
    text-transform: uppercase; }
  @media only screen and (max-width: 669px) {
    [class*=reference-footer] .richtext_2047909839 {
      display: none; } }
  @media only screen and (max-width: 669px) {
    [class*=reference-footer] .box_1474716968 {
      display: none; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    [class*=reference-footer] .box_1474716968 {
      display: none; } }
  @media only screen and (max-width: 669px) {
    [class*=reference-footer] .richtext_404902999 {
      display: none; } }
  [class*=reference-footer] .box_1474716968_copy .accordion {
    margin-top: 8px; }
    @media only screen and (min-width: 670px) and (max-width: 979px) {
      [class*=reference-footer] .box_1474716968_copy .accordion {
        display: none; } }
    @media (min-width: 980px) {
      [class*=reference-footer] .box_1474716968_copy .accordion {
        display: none; } }
    [class*=reference-footer] .box_1474716968_copy .accordion .accordion-container {
      border-bottom: 1px solid #fff; }
    [class*=reference-footer] .box_1474716968_copy .accordion .accordion-head {
      padding: 11px 25px;
      border-top: 1px solid #fff; }
    [class*=reference-footer] .box_1474716968_copy .accordion .accordion-content {
      padding-top: 0; }
      [class*=reference-footer] .box_1474716968_copy .accordion .accordion-content p {
        padding: 11px 25px 11px 43px;
        font-size: .75rem;
        border-top: 1px solid #fff;
        margin: 0; }
      [class*=reference-footer] .box_1474716968_copy .accordion .accordion-content .navigation .navigation-mobile-menu {
        display: none; }
      [class*=reference-footer] .box_1474716968_copy .accordion .accordion-content .navigation ul {
        list-style: none;
        margin: 0;
        padding: 0; }
        [class*=reference-footer] .box_1474716968_copy .accordion .accordion-content .navigation ul li {
          border-top: 1px solid #fff;
          padding-left: 43px;
          padding-top: 11px;
          padding-bottom: 11px; }
          [class*=reference-footer] .box_1474716968_copy .accordion .accordion-content .navigation ul li a {
            text-transform: uppercase;
            font-size: 0.75rem; }
      [class*=reference-footer] .box_1474716968_copy .accordion .accordion-content .cookiemanagement {
        border-top: 1px solid #fff;
        padding-left: 43px;
        padding-top: 11px;
        padding-bottom: 11px; }
        [class*=reference-footer] .box_1474716968_copy .accordion .accordion-content .cookiemanagement a {
          font-size: 0.625rem;
          text-transform: uppercase; }
    [class*=reference-footer] .box_1474716968_copy .accordion .accordion-head a::after {
      right: 25px;
      background: none;
      font-size: 1.75rem; }
    [class*=reference-footer] .box_1474716968_copy .accordion .accordion-slide {
      border-bottom: none;
      padding: 0; }
    [class*=reference-footer] .box_1474716968_copy .accordion .accordion-title {
      font-size: 0.75rem;
      line-height: unset; }
    [class*=reference-footer] .box_1474716968_copy .accordion .accordion-title-text {
      font-weight: 800;
      font-size: 0.75rem; }
    [class*=reference-footer] .box_1474716968_copy .accordion .richText-content ul {
      list-style: none; }
      [class*=reference-footer] .box_1474716968_copy .accordion .richText-content ul li {
        border-top: 1px solid #fff;
        padding-left: 43px;
        padding-top: 11px;
        padding-bottom: 11px;
        margin: 0; }
        [class*=reference-footer] .box_1474716968_copy .accordion .richText-content ul li:before {
          display: none; }
        [class*=reference-footer] .box_1474716968_copy .accordion .richText-content ul li a {
          font-size: 0.625rem;
          text-transform: uppercase; }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    [class*=reference-footer] .box_1142277803 {
      display: none; } }
  @media only screen and (max-width: 669px) {
    [class*=reference-footer] .richtext_1924754773 {
      text-align: center; }
      [class*=reference-footer] .richtext_1924754773 h2 {
        font-size: 0.75rem;
        font-weight: normal;
        margin-top: 30px; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    [class*=reference-footer] .richtext_1924754773 h2 {
      margin-bottom: 24px; } }
  @media (min-width: 980px) {
    [class*=reference-footer] .richtext_1924754773 h2 {
      margin-bottom: 24px; } }
  [class*=reference-footer] .form.country-selector-dropdown .selectField .component-content .control-label {
    font-size: 0.875rem;
    font-weight: 800;
    line-height: 1.22;
    text-transform: uppercase; }
  [class*=reference-footer] .richtext_1845105631 .richText-content ul {
    list-style: none;
    margin: 0; }
    [class*=reference-footer] .richtext_1845105631 .richText-content ul li {
      padding-left: 0;
      padding-top: 4px;
      padding-bottom: 0px;
      margin: 0; }
      [class*=reference-footer] .richtext_1845105631 .richText-content ul li:before {
        display: none; }
      [class*=reference-footer] .richtext_1845105631 .richText-content ul li a {
        font-size: 0.75rem;
        text-transform: uppercase; }
  [class*=reference-footer] .country-selector-dropdown {
    display: none; }

@media only screen and (max-width: 669px) {
  .form.country-selector-dropdown .selectField .component-content .control-label {
    color: black;
    font-size: 1.125rem;
    font-weight: bold;
    line-height: 1.22;
    text-transform: none;
    font-family: Montserrat, sans-serif;
    margin-bottom: 1px; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .form.country-selector-dropdown .selectField .component-content .control-label {
    color: black;
    font-size: 1.125rem;
    font-weight: bold;
    line-height: 1.22;
    text-transform: none;
    font-family: Montserrat, sans-serif;
    margin-bottom: 1px; } }

@media (min-width: 980px) {
  .form.country-selector-dropdown .selectField .component-content .control-label {
    color: black;
    font-size: 1.125rem;
    font-weight: bold;
    line-height: 1.22;
    text-transform: none;
    font-family: Montserrat, sans-serif;
    margin-bottom: 1px; } }

.form.country-selector-dropdown .selectField .component-content .controls {
  position: relative; }
  @media only screen and (max-width: 669px) {
    .form.country-selector-dropdown .selectField .component-content .controls {
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: block;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: justify;
          justify-content: space-between; }
      .form.country-selector-dropdown .selectField .component-content .controls:hover {
        color: #D0D0D0; }
      .form.country-selector-dropdown .selectField .component-content .controls:after {
        content: "";
        font-size: 0.375rem;
        display: block;
        font-family: 'icons';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        text-align: center;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .form.country-selector-dropdown .selectField .component-content .controls {
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: block;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: justify;
          justify-content: space-between; }
      .form.country-selector-dropdown .selectField .component-content .controls:hover {
        color: #D0D0D0; }
      .form.country-selector-dropdown .selectField .component-content .controls:after {
        content: "";
        font-size: 0.375rem;
        display: block;
        font-family: 'icons';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        text-align: center;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; } }
  @media (min-width: 980px) {
    .form.country-selector-dropdown .selectField .component-content .controls {
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: block;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: justify;
          justify-content: space-between; }
      .form.country-selector-dropdown .selectField .component-content .controls:hover {
        color: #D0D0D0; }
      .form.country-selector-dropdown .selectField .component-content .controls:after {
        content: "";
        font-size: 0.375rem;
        display: block;
        font-family: 'icons';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        text-align: center;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; } }
  .form.country-selector-dropdown .selectField .component-content .controls:after {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; }
  .form.country-selector-dropdown .selectField .component-content .controls select {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    cursor: pointer;
    height: auto;
    box-shadow: none; }
    @media only screen and (max-width: 669px) {
      .form.country-selector-dropdown .selectField .component-content .controls select {
        background: transparent;
        color: black;
        font-size: 1.25rem;
        line-height: 1.5;
        font-family: Montserrat, sans-serif;
        transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
        display: -ms-flexbox;
        display: flex;
        border: none;
        padding: 0 26px 0 0;
        margin-top: 10px;
        -ms-flex-align: center;
            align-items: center;
        -ms-flex-pack: center;
            justify-content: center;
        width: 100%; }
        .form.country-selector-dropdown .selectField .component-content .controls select:hover {
          color: #D0D0D0; } }
    @media only screen and (min-width: 670px) and (max-width: 979px) {
      .form.country-selector-dropdown .selectField .component-content .controls select {
        background: transparent;
        color: black;
        font-size: 1rem;
        line-height: 1.38;
        font-family: Montserrat, sans-serif;
        transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
        display: -ms-flexbox;
        display: flex;
        border: none;
        padding: 0 26px 0 0;
        margin-top: 10px;
        -ms-flex-align: center;
            align-items: center;
        -ms-flex-pack: center;
            justify-content: center;
        width: 100%; }
        .form.country-selector-dropdown .selectField .component-content .controls select:hover {
          color: #D0D0D0; } }
    @media (min-width: 980px) {
      .form.country-selector-dropdown .selectField .component-content .controls select {
        background: transparent;
        color: black;
        font-size: 1rem;
        line-height: 1.38;
        font-family: Montserrat, sans-serif;
        transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
        display: -ms-flexbox;
        display: flex;
        border: none;
        padding: 0 26px 0 0;
        margin-top: 5px;
        -ms-flex-align: center;
            align-items: center;
        -ms-flex-pack: center;
            justify-content: center;
        width: 100%; }
        .form.country-selector-dropdown .selectField .component-content .controls select:hover {
          color: #D0D0D0; } }
    .form.country-selector-dropdown .selectField .component-content .controls select::-ms-expand {
      display: none; }
    .ua-webkit .form.country-selector-dropdown .selectField .component-content .controls select:focus {
      outline: auto 5px -webkit-focus-ring-color; }

@media only screen and (max-width: 669px) {
  .reference-footer-simple:after {
    display: block; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .reference-footer-simple:after {
    display: block; } }

@media (min-width: 980px) {
  .reference-footer-simple:after {
    display: block; } }

.reference-footer-simple .unilever-logo {
  display: block;
  position: relative;
  text-decoration: none;
  font-size: 0; }
  @media only screen and (max-width: 669px) {
    .reference-footer-simple .unilever-logo:after {
      content: "";
      font-size: 5rem;
      color: #696969;
      display: block;
      font-family: 'icons';
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      text-align: center;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; }
    .reference-footer-simple .unilever-logo:after {
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s; }
    .reference-footer-simple .unilever-logo:hover:after {
      color: #D0D0D0; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .reference-footer-simple .unilever-logo:after {
      content: "";
      font-size: 5rem;
      color: #696969;
      display: block;
      font-family: 'icons';
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      text-align: center;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; }
    .reference-footer-simple .unilever-logo:after {
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s; }
    .reference-footer-simple .unilever-logo:hover:after {
      color: #D0D0D0; } }
  @media (min-width: 980px) {
    .reference-footer-simple .unilever-logo:after {
      margin-right: 96px;
      content: "";
      font-size: 4.0625rem;
      color: #696969;
      display: block;
      font-family: 'icons';
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      text-align: center;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; }
    .reference-footer-simple .unilever-logo:after {
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s; }
    .reference-footer-simple .unilever-logo:hover:after {
      color: #D0D0D0; } }

@media only screen and (max-width: 669px) {
  .reference-footer-simple .footer-primary-nav {
    position: relative;
    margin-top: 40px;
    margin-left: 0; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .reference-footer-simple .footer-primary-nav {
    position: relative;
    margin-top: 40px;
    margin-left: 0; } }

@media (min-width: 980px) {
  .reference-footer-simple .footer-primary-nav {
    position: relative;
    margin-top: 0;
    margin-left: 0; } }

@media only screen and (max-width: 669px) {
  .reference-footer-simple .footer-primary-nav > .component-content > .content > .box h4 {
    text-align: center; } }

@media only screen and (max-width: 669px) {
  .reference-footer-simple .footer-primary-nav > .component-content > .content > .box .navigation-item a {
    font-size: 0.875rem;
    transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .reference-footer-simple .footer-primary-nav > .component-content > .content > .box .navigation-item a {
    font-size: 0.875rem;
    transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center; } }

@media (min-width: 980px) {
  .reference-footer-simple .footer-primary-nav > .component-content > .content > .box .navigation-item a {
    font-size: 0.875rem;
    transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center; } }

@media only screen and (max-width: 669px) {
  .reference-footer-simple .footer-social-links {
    position: relative;
    display: none; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .reference-footer-simple .footer-social-links {
    position: relative;
    margin: 37.5px 22.5px 10px; } }

@media (min-width: 980px) {
  .reference-footer-simple .footer-social-links {
    position: relative; } }

.reference-footer-simple .footer-social-links > .component-content > .content {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -25px; }
  .reference-footer-simple .footer-social-links > .component-content > .content .reference-icon-link {
    margin: 20px 7.5px; }
    @media only screen and (max-width: 669px) {
      .reference-footer-simple .footer-social-links > .component-content > .content .reference-icon-link a:after {
        display: block; }
      .reference-footer-simple .footer-social-links > .component-content > .content .reference-icon-link a.icon-facebook:after {
        display: block; }
      .reference-footer-simple .footer-social-links > .component-content > .content .reference-icon-link a.icon-twitter:after {
        display: block; }
      .reference-footer-simple .footer-social-links > .component-content > .content .reference-icon-link a.icon-pinterest:after {
        display: block; }
      .reference-footer-simple .footer-social-links > .component-content > .content .reference-icon-link a.icon-instagram:after {
        display: block; } }
    @media only screen and (min-width: 670px) and (max-width: 979px) {
      .reference-footer-simple .footer-social-links > .component-content > .content .reference-icon-link a:after {
        font-size: 2rem;
        display: block; }
      .reference-footer-simple .footer-social-links > .component-content > .content .reference-icon-link a.icon-facebook:after {
        font-size: 2rem;
        display: block; }
      .reference-footer-simple .footer-social-links > .component-content > .content .reference-icon-link a.icon-twitter:after {
        font-size: 2rem;
        display: block; }
      .reference-footer-simple .footer-social-links > .component-content > .content .reference-icon-link a.icon-pinterest:after {
        font-size: 2rem;
        display: block; }
      .reference-footer-simple .footer-social-links > .component-content > .content .reference-icon-link a.icon-instagram:after {
        font-size: 2rem;
        display: block; } }
    @media (min-width: 980px) {
      .reference-footer-simple .footer-social-links > .component-content > .content .reference-icon-link a:after {
        font-size: 2rem;
        display: block; }
      .reference-footer-simple .footer-social-links > .component-content > .content .reference-icon-link a.icon-facebook:after {
        font-size: 2rem;
        display: block; }
      .reference-footer-simple .footer-social-links > .component-content > .content .reference-icon-link a.icon-twitter:after {
        font-size: 2rem;
        display: block; }
      .reference-footer-simple .footer-social-links > .component-content > .content .reference-icon-link a.icon-pinterest:after {
        font-size: 2rem;
        display: block; }
      .reference-footer-simple .footer-social-links > .component-content > .content .reference-icon-link a.icon-instagram:after {
        font-size: 2rem;
        display: block; } }

.reference-footer-simple .footer-social-links .richText {
  -ms-flex: 0 0 100%;
      flex: 0 0 100%; }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .reference-footer-simple .footer-social-links .richText {
      margin: 25px 7.5px -20px; } }
  @media (min-width: 980px) {
    .reference-footer-simple .footer-social-links .richText {
      margin: 25px 7.5px -20px; } }

/*# sourceMappingURL=index.css.map */
