$common: () !default;

$common: merge($common, (
  _base: (
    button: (
      justify-content: center,
      align-items: center,
      text: (
        font-size: px(12),
        line-height: 1.22,
        font-family: 'primary',
        text-decoration: none,
        text-transform: uppercase,
        color: color('white')
      ),
      height: breakpoint((
        mobile: 28px,
        tablet: 35px,
        desktop: 54px
      )),
      background: (
        background-color: color('black')
      ),
      hover: (
        transition: (
          speed: 'base'
        )
      )
    )
  )
));

$common: merge($common, (
  _primary: (
    button: extend('_base.button', (
      text: (
        color: color('white')
      ),
      background: (
        background-color: color('primary', 'base')
      ),
      padding: breakpoint((
        mobile: 0px common('spacings.m'),
        tablet: common('spacings.s') common('spacings.l'),
        desktop: common('spacings.s') common('spacings.xl')
      )),
      box-sizing: border-box,
      hover: (
        background: (
          background-color: color('primary', 'dark'),
        )
      )
    ))
  ),
  _secondary: (
    button: extend('_base.button', (
      margin: (
        margin-top: breakpoint((tablet-max: 0px, desktop: 0px))
      ),
      height:auto,
      border-radius:0,
      border:none,
      text: (
        color: color('white'),
        text-decoration: none,
        text-align: center
      ),
      background: (
        background-color: color('secondary', 'base')
      ),
      padding: common('spacings.s') common('spacings.xl'),
      box-sizing: border-box,
      hover: (
        background: (
          background-color: color('secondary', 'dark')
        ),
        text: (
          color: color('white')
        )
      )
    ))
  ),
  _tertiary: (
    button: extend('_base.button', (
      width: breakpoint((mobile: 100%, tablet-min: auto)),
      text: (
        font-size: px(18),
        font-weight: bold,
        color: color('black'),
        text-decoration: none
      ),
      border: (
        border: 1px solid color('neutral', 'light'),
      ),
      box-sizing: border-box,
      padding: common('spacings.s') common('spacings.xl'),
      background: (
        background-color: color('white')
      ),
      hover: (
        background: (
          background-color: rgba(color('neutral', 'light'), 0.2)
        )
      )
    ))
  ),
  _close-button: (
    button: (
      background: (
        background-color: color('black')
      ),
      
      icon: (
        content: common('icon.cross-small'),
        font-size: 10px,
        color: color('white'),
        height: 30px,
        width: 30px,
        hover: (
          color: color('black')
        )
      ),
      hover: (
        background: color('white')
      )
    )
  )
));
