.breadcrumbs.breadcrumbs-floating {
  @import 'config';
  @function g($a...) { @return get-last($breadcrumbs-floating, $a...); }

  position: relative;
  z-index: $z-index-content;

  @include media-query(mobile) {
    display: none;
  }

  @include breakpoints {
    @include box(g('_main.box'), $media);
  }

  .component-content {
    @include breakpoints {
      @include wrapper;
      @include box(g('_main._content.box'), $media);
    }
  }

  .breadcrumbs-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    @include breakpoints {
      @include box(g('_main._content._list.box'), $media);
    }

    li {
      display: inline-block;
      @include breakpoints {
        @include link(g('_main._content._link.link'), $media);
      }

      &.is-current {
        @include breakpoints {
          @include link(g('_main._content._link-current.link'), $media);
        }

        a {
          @include breakpoints {
            @include link(g('_main._content._link-current.link'), $media);
          }
        }
      }

      a {
        @include breakpoints {
          @include link(g('_main._content._link.link'), $media);
        }
      }
    }
  }

  .breadcrumbs-separator {
    display: inline-block;
    @include breakpoints {
      @include icon(g('_main.icon'), $media);
    }
  }
}
