@charset "UTF-8";
@media only screen and (max-width: 669px) {
  .refineSearchBox[class*=default-style] {
    font-size: 0.875rem;
    line-height: 1.29;
    position: relative;
    background: transparent;
    margin-top: 25px;
    margin-bottom: 40px; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .refineSearchBox[class*=default-style] {
    font-size: 0.875rem;
    line-height: 1.29;
    position: relative;
    background: transparent;
    margin-top: 25px;
    margin-bottom: 40px; } }

@media (min-width: 980px) {
  .refineSearchBox[class*=default-style] {
    font-size: 0.875rem;
    line-height: 1.29;
    position: relative;
    background: transparent;
    margin-top: 25px;
    margin-bottom: 40px; } }

.refineSearchBox[class*=default-style] .component-content {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
  padding-right: 25px; }
  @media only screen and (max-width: 669px) {
    .refineSearchBox[class*=default-style] .component-content {
      width: auto; } }
  @media only screen and (min-width: 670px) and (max-width: 768px) {
    .refineSearchBox[class*=default-style] .component-content {
      width: auto; } }
  @media only screen and (min-width: 980px) and (max-width: 1139px) {
    .refineSearchBox[class*=default-style] .component-content {
      width: 960px; } }
  @media (min-width: 1140px) {
    .refineSearchBox[class*=default-style] .component-content {
      width: 1140px; } }

.refineSearchBox[class*=default-style] p.refineSearchHeader {
  display: none; }
  @media only screen and (max-width: 669px) {
    .refineSearchBox[class*=default-style] p.refineSearchHeader {
      font-size: 1rem;
      line-height: 1.38;
      margin-top: 0;
      margin-bottom: 10px; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .refineSearchBox[class*=default-style] p.refineSearchHeader {
      font-size: 1rem;
      line-height: 1.38;
      margin-top: 0;
      margin-bottom: 22px; } }
  @media (min-width: 980px) {
    .refineSearchBox[class*=default-style] p.refineSearchHeader {
      font-size: 0.875rem;
      line-height: 1.29;
      margin-top: 0;
      margin-bottom: 14px; } }
  .refineSearchBox[class*=default-style] p.refineSearchHeader.is-visible {
    display: block; }

.refineSearchBox[class*=default-style] form {
  position: relative; }
  @media only screen and (max-width: 669px) {
    .refineSearchBox[class*=default-style] form p {
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 15px;
      display: -ms-inline-flexbox;
      display: inline-flex; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .refineSearchBox[class*=default-style] form p {
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 15px;
      display: -ms-inline-flexbox;
      display: inline-flex; } }
  @media (min-width: 980px) {
    .refineSearchBox[class*=default-style] form p {
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 15px;
      display: -ms-inline-flexbox;
      display: inline-flex; } }

.refineSearchBox[class*=default-style] input.refineSearchInput {
  box-sizing: border-box; }
  @media only screen and (max-width: 669px) {
    .refineSearchBox[class*=default-style] input.refineSearchInput {
      background: transparent;
      font-size: 2.25rem;
      font-weight: bold;
      line-height: 1.11;
      font-family: Montserrat, sans-serif;
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: block;
      border-top: 0;
      border-left: 0;
      border-right: 0;
      border-bottom: 2px solid black;
      padding: 0 31px 4.18px 0;
      margin-bottom: 10px;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center;
      width: 100%; }
      .refineSearchBox[class*=default-style] input.refineSearchInput::-webkit-input-placeholder {
        color: black; }
      .refineSearchBox[class*=default-style] input.refineSearchInput:-ms-input-placeholder {
        color: black; }
      .refineSearchBox[class*=default-style] input.refineSearchInput::placeholder {
        color: black; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .refineSearchBox[class*=default-style] input.refineSearchInput {
      background: transparent;
      font-size: 2.25rem;
      font-weight: bold;
      line-height: 1.11;
      font-family: Montserrat, sans-serif;
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: block;
      border-top: 0;
      border-left: 0;
      border-right: 0;
      border-bottom: 2px solid black;
      padding: 0 31px 4.18px 0;
      margin-bottom: 19px;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center;
      width: 100%; }
      .refineSearchBox[class*=default-style] input.refineSearchInput::-webkit-input-placeholder {
        color: black; }
      .refineSearchBox[class*=default-style] input.refineSearchInput:-ms-input-placeholder {
        color: black; }
      .refineSearchBox[class*=default-style] input.refineSearchInput::placeholder {
        color: black; } }
  @media (min-width: 980px) {
    .refineSearchBox[class*=default-style] input.refineSearchInput {
      background: transparent;
      font-size: 3rem;
      font-weight: bold;
      line-height: 1.08;
      font-family: Montserrat, sans-serif;
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: block;
      border-top: 0;
      border-left: 0;
      border-right: 0;
      border-bottom: 2px solid black;
      padding: 0 38px 3.96px 0;
      margin-bottom: 14px;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center;
      width: 100%; }
      .refineSearchBox[class*=default-style] input.refineSearchInput::-webkit-input-placeholder {
        color: black; }
      .refineSearchBox[class*=default-style] input.refineSearchInput:-ms-input-placeholder {
        color: black; }
      .refineSearchBox[class*=default-style] input.refineSearchInput::placeholder {
        color: black; } }

.refineSearchBox[class*=default-style] button {
  cursor: pointer; }
  .refineSearchBox[class*=default-style] button.refineSearchSubmitButton, .refineSearchBox[class*=default-style] button.refineSearchClearButton {
    font-size: 0; }
  .refineSearchBox[class*=default-style] button.refineSearchSubmitButton {
    position: absolute;
    right: 0;
    top: 0; }
    @media only screen and (max-width: 669px) {
      .refineSearchBox[class*=default-style] button.refineSearchSubmitButton {
        background: transparent;
        transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
        display: -ms-inline-flexbox;
        display: inline-flex;
        border: 0;
        margin-top: 12px;
        -ms-flex-align: center;
            align-items: center;
        -ms-flex-pack: justify;
            justify-content: space-between; }
        .refineSearchBox[class*=default-style] button.refineSearchSubmitButton:before {
          display: inline-block;
          content: "";
          font-size: 1.3125rem;
          color: black;
          display: inline-block;
          font-family: 'icons';
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          text-align: center;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale; } }
    @media only screen and (min-width: 670px) and (max-width: 979px) {
      .refineSearchBox[class*=default-style] button.refineSearchSubmitButton {
        background: transparent;
        transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
        display: -ms-inline-flexbox;
        display: inline-flex;
        border: 0;
        margin-top: 12px;
        -ms-flex-align: center;
            align-items: center;
        -ms-flex-pack: justify;
            justify-content: space-between; }
        .refineSearchBox[class*=default-style] button.refineSearchSubmitButton:before {
          display: inline-block;
          content: "";
          font-size: 1.3125rem;
          color: black;
          display: inline-block;
          font-family: 'icons';
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          text-align: center;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale; } }
    @media (min-width: 980px) {
      .refineSearchBox[class*=default-style] button.refineSearchSubmitButton {
        background: transparent;
        transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
        display: -ms-inline-flexbox;
        display: inline-flex;
        border: 0;
        margin-top: 12px;
        -ms-flex-align: center;
            align-items: center;
        -ms-flex-pack: justify;
            justify-content: space-between; }
        .refineSearchBox[class*=default-style] button.refineSearchSubmitButton:before {
          display: inline-block;
          content: "";
          font-size: 1.75rem;
          color: black;
          display: inline-block;
          font-family: 'icons';
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          text-align: center;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale; } }
  .refineSearchBox[class*=default-style] button.refineSearchClearButton {
    display: none; }

/*# sourceMappingURL=index.css.map */
