.video {
  position: relative;
  overflow: hidden; }
  .video .component-content {
    padding-top: 56.25%;
    box-sizing: border-box;
    position: relative;
    visibility: hidden;
    overflow: hidden; }
  .video .video-holder,
  .video img {
    position: absolute;
    top: 0;
    left: 0; }
  .video .video-content {
    height: auto;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding-top: 56.25%;
    box-sizing: border-box; }
    .video .video-content.cover-ready {
      visibility: visible; }
  .video .video-holder {
    height: calc(100% + 2px);
    margin-left: -1px;
    margin-top: -1px;
    opacity: 0;
    transition-delay: 0.3s, 0s;
    transition-duration: 0s, 0.3s;
    transition-property: visibility, opacity;
    transition-timing-function: ease-out;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    visibility: hidden;
    width: calc(100% + 2px);
    z-index: 2; }
    .video .video-holder.video-ready {
      visibility: visible;
      opacity: 1;
      transition-delay: 0s; }
    .ua-ie-11 .video .video-holder {
      opacity: 1;
      visibility: visible; }
  .video img {
    left: 50%;
    max-width: none;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    min-width: 100%;
    min-height: 100%; }
    .mod-objectfit .video img {
      height: 100%;
      left: 0;
      -o-object-fit: cover;
         object-fit: cover;
      top: 0;
      transform: none;
      width: 100%; }
  .video.as-background .video-holder:before {
    background: transparent;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 3; }
  .video.full-screen,
  .video.full-screen .component-content {
    height: 100vh;
    left: 0;
    position: absolute;
    top: 0;
    width: 100vw; }

/*# sourceMappingURL=index.css.map */
