.composite-article-images .box {
  width: 100%; }
  @media only screen and (max-width: 669px) {
    .composite-article-images .box > .component-content > .content {
      position: relative;
      -ms-flex-align: start;
          align-items: flex-start;
      -ms-flex-direction: column;
          flex-direction: column;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -ms-flex-pack: start;
          justify-content: flex-start;
      margin: 25px -10px 15px;
      display: -ms-flexbox;
      display: flex; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .composite-article-images .box > .component-content > .content {
      position: relative;
      -ms-flex-align: start;
          align-items: flex-start;
      -ms-flex-direction: column;
          flex-direction: column;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -ms-flex-pack: start;
          justify-content: flex-start;
      margin: 25px -10px 15px;
      display: -ms-flexbox;
      display: flex; } }
  @media (min-width: 980px) {
    .composite-article-images .box > .component-content > .content {
      position: relative;
      -ms-flex-align: start;
          align-items: flex-start;
      -ms-flex-direction: row;
          flex-direction: row;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -ms-flex-pack: start;
          justify-content: flex-start;
      margin: 40px -10px 10px;
      display: -ms-flexbox;
      display: flex; } }

@media only screen and (max-width: 669px) {
  .composite-article-images .image {
    position: relative;
    margin: 10px; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .composite-article-images .image {
    position: relative;
    margin: 10px; } }

@media (min-width: 980px) {
  .composite-article-images .image {
    position: relative;
    margin: 10px; } }

@media only screen and (max-width: 669px) {
  .composite-article-images .image figcaption p {
    font-size: 0.875rem;
    line-height: 1.36;
    margin-top: 10px;
    margin-bottom: 0; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .composite-article-images .image figcaption p {
    font-size: 0.875rem;
    line-height: 1.36;
    margin-top: 10px;
    margin-bottom: 0; } }

@media (min-width: 980px) {
  .composite-article-images .image figcaption p {
    font-size: 0.875rem;
    line-height: 1.36;
    margin-top: 10px;
    margin-bottom: 0; } }

@media only screen and (max-width: 979px) {
  .composite-article-images .image figcaption p {
    text-align: left; } }

@media only screen and (max-width: 669px) {
  .composite-article-images .video {
    position: relative;
    margin: 0 10px;
    width: calc(100% - 20px); } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .composite-article-images .video {
    position: relative;
    margin: 0 10px;
    width: calc(100% - 20px); } }

@media (min-width: 980px) {
  .composite-article-images .video {
    position: relative;
    margin: 0 10px;
    width: 100%; } }

@media only screen and (max-width: 669px) {
  .composite-article-images .video + .richText p {
    font-size: 0.875rem;
    line-height: 1.36;
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: 10px; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .composite-article-images .video + .richText p {
    font-size: 0.875rem;
    line-height: 1.36;
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: 10px; } }

@media (min-width: 980px) {
  .composite-article-images .video + .richText p {
    font-size: 0.875rem;
    line-height: 1.36;
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: 10px; } }

@media only screen and (max-width: 979px) {
  .composite-article-images .video + .richText p {
    text-align: left; } }

.article-wrapper {
  margin-bottom: 50px; }
  .article-wrapper h1 {
    font-size: 1.375rem;
    color: #c9484a;
    line-height: normal;
    margin-bottom: 4px; }
  .article-wrapper p {
    font-size: 0.75rem !important;
    margin-top: 5px !important; }
  .article-wrapper .video.grid_8 {
    margin-left: 17.09722%; }

/*# sourceMappingURL=index.css.map */
