@media only screen and (max-width: 669px) {
  .composite-filtered-articles {
    position: relative;
    margin: 80px 0; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .composite-filtered-articles {
    position: relative;
    margin: 80px 0; } }

@media (min-width: 980px) {
  .composite-filtered-articles {
    position: relative;
    margin: 80px 0; } }

@media only screen and (max-width: 669px) {
  .composite-filtered-articles .listing-article-list {
    position: relative;
    margin: 0 auto; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .composite-filtered-articles .listing-article-list {
    position: relative;
    margin: 0 auto; } }

@media (min-width: 980px) {
  .composite-filtered-articles .listing-article-list {
    position: relative;
    margin: 0 auto; } }

@media only screen and (max-width: 669px) {
  .composite-filtered-articles .listing-article-list .listing-items {
    position: relative;
    margin: -10px; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .composite-filtered-articles .listing-article-list .listing-items {
    position: relative;
    margin: -10px; } }

@media (min-width: 980px) {
  .composite-filtered-articles .listing-article-list .listing-items {
    position: relative;
    margin: -25px -15px; } }

@media only screen and (max-width: 669px) {
  .composite-filtered-articles .listing-article-list .listing-items .listing-item {
    position: relative;
    padding: 10px; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .composite-filtered-articles .listing-article-list .listing-items .listing-item {
    position: relative;
    padding: 10px; } }

@media (min-width: 980px) {
  .composite-filtered-articles .listing-article-list .listing-items .listing-item {
    position: relative;
    padding: 25px 15px; } }

@media only screen and (max-width: 669px) {
  .composite-filtered-articles .listing-article-list .listing-items .listing-item .richText .richText-content {
    position: relative;
    padding: 20px 0; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .composite-filtered-articles .listing-article-list .listing-items .listing-item .richText .richText-content {
    position: relative;
    padding: 20px 0; } }

@media (min-width: 980px) {
  .composite-filtered-articles .listing-article-list .listing-items .listing-item .richText .richText-content {
    position: relative; } }

@media only screen and (max-width: 669px) {
  .composite-filtered-articles .listing-article-list .listing-items .listing-item .richText .richText-content h2, .composite-filtered-articles .listing-article-list .listing-items .listing-item .richText .richText-content h3, .composite-filtered-articles .listing-article-list .listing-items .listing-item .richText .richText-content h4 {
    font-size: 1.125rem;
    text-transform: none; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .composite-filtered-articles .listing-article-list .listing-items .listing-item .richText .richText-content h2, .composite-filtered-articles .listing-article-list .listing-items .listing-item .richText .richText-content h3, .composite-filtered-articles .listing-article-list .listing-items .listing-item .richText .richText-content h4 {
    font-size: 1.125rem;
    text-transform: none; } }

@media (min-width: 980px) {
  .composite-filtered-articles .listing-article-list .listing-items .listing-item .richText .richText-content h2, .composite-filtered-articles .listing-article-list .listing-items .listing-item .richText .richText-content h3, .composite-filtered-articles .listing-article-list .listing-items .listing-item .richText .richText-content h4 {
    text-transform: none; } }

@media only screen and (max-width: 669px) {
  .composite-filtered-articles .listing-article-list .listing-items .listing-item .richText .richText-content p {
    margin-top: 20px;
    margin-bottom: 0;
    display: none; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .composite-filtered-articles .listing-article-list .listing-items .listing-item .richText .richText-content p {
    margin-top: 20px;
    margin-bottom: 0;
    display: none; } }

@media (min-width: 980px) {
  .composite-filtered-articles .listing-article-list .listing-items .listing-item .richText .richText-content p {
    margin-top: 20px;
    margin-bottom: 0; } }

/*# sourceMappingURL=index.css.map */
