@media only screen and (max-width: 669px) {
  .composite-behind-the-scene-slider .free-scroll .listing-items {
    position: relative;
    padding: 5px 0; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .composite-behind-the-scene-slider .free-scroll .listing-items {
    position: relative;
    padding: 10px 0; } }

@media (min-width: 980px) {
  .composite-behind-the-scene-slider .free-scroll .listing-items {
    position: relative;
    padding: 40px 0; } }

@media only screen and (max-width: 669px) {
  .composite-behind-the-scene-slider .listing-item {
    position: relative;
    padding: 5px;
    width: 140px;
    max-height: 140px; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .composite-behind-the-scene-slider .listing-item {
    position: relative;
    padding: 10px;
    width: 235px;
    max-height: 235px; } }

@media (min-width: 980px) {
  .composite-behind-the-scene-slider .listing-item {
    position: relative;
    padding: 15px;
    width: 325px;
    max-height: 325px; } }
