$compositeTiteledIcon: (
    box: (
        text: (
            font-size: breakpoint((
              mobile: 1.4rem,
              tablet: 1.6rem,
              desktop: 2rem
            )),
            color: color('primary', 'base')
        )
    ),
    icon: (
        box:(
            display: inline-block,
            content: "",
            height: breakpoint((
                mobile: 28px,
                tablet: 32px,
                desktop:40px
            )),
            width: breakpoint((
                mobile: 28px,
                tablet: 32px,
                desktop:40px
            )),
            margin: (
                margin-right: breakpoint((
                    mobile: spacings('xxs'),
                    tablet: spacings('xs'),
                    desktop: spacings('m')
                ))
            )
        )
    )
) 