@import '../../core/config';

.composite-titeled-icon {
    @import 'config';
    @function g($a...) {
        @return get-last($compositeTiteledIcon , $a...);
    }
    
    .richText-content h3 {
        @include breakpoints(){
            @include text(g('box.text'), $media);
        }
        vertical-align: middle;

        &:before{
            
            @include breakpoints() {
                @include box(g('icon.box'), $media)
            }

            display: inline-block;
            content: "";
            vertical-align: middle;
        }
    }

}

@import 'titeledIconMorning/index';
@import 'titeledIconNight/index';