@media only screen and (max-width: 669px) {
  .title.title-no-background {
    position: relative;
    margin-top: 60px;
    margin-bottom: 25px; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .title.title-no-background {
    position: relative;
    margin-top: 96px;
    margin-bottom: 25px; } }

@media (min-width: 980px) {
  .title.title-no-background {
    position: relative;
    margin-top: 96px;
    margin-bottom: 25px; } }

.title.title-no-background > .component-content {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
  padding-right: 25px; }
  @media only screen and (max-width: 669px) {
    .title.title-no-background > .component-content {
      width: auto; } }
  @media only screen and (min-width: 670px) and (max-width: 768px) {
    .title.title-no-background > .component-content {
      width: auto; } }
  @media only screen and (min-width: 980px) and (max-width: 1139px) {
    .title.title-no-background > .component-content {
      width: 960px; } }
  @media (min-width: 1140px) {
    .title.title-no-background > .component-content {
      width: 1140px; } }

@media only screen and (max-width: 669px) {
  .title.title-no-background h1, .title.title-no-background h2, .title.title-no-background h3 {
    color: black;
    font-size: 2.375rem;
    font-weight: bold;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: none;
    font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
    margin: 0; }
    .title.title-no-background h1:after, .title.title-no-background h2:after, .title.title-no-background h3:after {
      content: '';
      border-bottom: 4px solid #C9484A;
      margin-left: 5px;
      width: 30px;
      display: inline-block; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .title.title-no-background h1, .title.title-no-background h2, .title.title-no-background h3 {
    color: black;
    font-size: 2.375rem;
    font-weight: bold;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: none;
    font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
    margin: 0; }
    .title.title-no-background h1:after, .title.title-no-background h2:after, .title.title-no-background h3:after {
      content: '';
      border-bottom: 4px solid #C9484A;
      margin-left: 5px;
      width: 30px;
      display: inline-block; } }

@media (min-width: 980px) {
  .title.title-no-background h1, .title.title-no-background h2, .title.title-no-background h3 {
    color: black;
    font-size: 4.5rem;
    font-weight: bold;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: none;
    font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
    margin: 0; }
    .title.title-no-background h1:after, .title.title-no-background h2:after, .title.title-no-background h3:after {
      content: '';
      border-bottom: 4px solid #C9484A;
      margin-left: 5px;
      width: 30px;
      display: inline-block; } }

@media only screen and (max-width: 669px) {
  .title.title-section h2 {
    font-size: 2.375rem;
    font-weight: bold;
    line-height: 2.75rem;
    text-align: center;
    text-transform: uppercase;
    font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
    margin: 40px 0 25px; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .title.title-section h2 {
    font-size: 3rem;
    font-weight: bold;
    line-height: 3.375rem;
    text-align: center;
    text-transform: uppercase;
    font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
    margin: 40px 0 25px; } }

@media (min-width: 980px) {
  .title.title-section h2 {
    font-size: 3rem;
    font-weight: bold;
    line-height: 3.375rem;
    text-align: center;
    text-transform: uppercase;
    font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
    margin: 40px 0 25px; } }

.title h1, .title h2, .title h3, .title h4, .title h5, .title h6 {
  margin-top: 0;
  word-wrap: break-word; }

/*# sourceMappingURL=index.css.map */
