$compositeBehindTheSceneSlider: (
    box: (
        // height: breakpoint(150px, 200px, 350px)
        padding: (
            padding: breakpoint(spacings('xxs') 0, spacings('xs') 0, spacings('l') 0)
        )
    ),
    item: (
        box: (
            max-height: breakpoint(140px, 235px, 325px),
            width: breakpoint(140px, 235px, 325px),
            padding: (
                padding: breakpoint(spacings('xxs'), spacings('xs'), spacings('s'))
            )
        )
    )
)