@import '../../core/config';

.composite-behind-the-scene-slider {
    @import 'config';
    @function g($a...) { @return get-last($compositeBehindTheSceneSlider, $a...); }

    .free-scroll .listing-items {
        @include breakpoints(){
            @include box(g('box'), $media);
        }
    }

    .listing-item {
        @include breakpoints(){
            @include box(g('item.box'), $media);
        }
    }


}