.box.wrapper > .component-content > .content {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
  padding-right: 25px; }
  @media only screen and (max-width: 669px) {
    .box.wrapper > .component-content > .content {
      width: auto; } }
  @media only screen and (min-width: 670px) and (max-width: 768px) {
    .box.wrapper > .component-content > .content {
      width: auto; } }
  @media only screen and (min-width: 980px) and (max-width: 1139px) {
    .box.wrapper > .component-content > .content {
      width: 960px; } }
  @media (min-width: 1140px) {
    .box.wrapper > .component-content > .content {
      width: 1140px; } }

@media only screen and (max-width: 669px) {
  .box-darker-background > .component-content {
    position: relative;
    background: #f2f4f6;
    padding: 60px 0; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .box-darker-background > .component-content {
    position: relative;
    background: #f2f4f6;
    padding: 60px 0; } }

@media (min-width: 980px) {
  .box-darker-background > .component-content {
    position: relative;
    background: #f2f4f6;
    padding: 60px 0; } }

.box-darker-background .composite {
  margin: 0; }

@media only screen and (max-width: 669px) {
  .box-transparent-background {
    position: relative;
    padding-top: 50px;
    padding-bottom: 80px; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .box-transparent-background {
    position: relative;
    padding-top: 50px;
    padding-bottom: 80px; } }

@media (min-width: 980px) {
  .box-transparent-background {
    position: relative;
    padding-top: 50px;
    padding-bottom: 80px; } }

@media only screen and (max-width: 669px) {
  .box.box-meta-details {
    position: relative;
    margin-left: 0; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .box.box-meta-details {
    position: relative;
    padding-left: 30px;
    margin-left: 0; } }

@media (min-width: 980px) {
  .box.box-meta-details {
    position: relative;
    padding-left: 65px;
    margin-left: 0; } }

@media only screen and (max-width: 669px) {
  .box.box-meta-details .richText-tertiary-header h2 {
    line-height: 1;
    margin-top: 20px;
    margin-bottom: 20px; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .box.box-meta-details .richText-tertiary-header h2 {
    line-height: 1;
    margin-top: 0;
    margin-bottom: 20px; } }

@media (min-width: 980px) {
  .box.box-meta-details .richText-tertiary-header h2 {
    line-height: 1.13;
    margin-top: 0;
    margin-bottom: 20px; } }

@media only screen and (max-width: 669px) {
  .box.box-meta-details .richText p {
    font-size: 1.125rem;
    line-height: 1.22; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .box.box-meta-details .richText p {
    font-size: 0.875rem;
    line-height: 1.43; } }

@media (min-width: 980px) {
  .box.box-meta-details .richText p {
    font-size: 0.875rem;
    line-height: 1.43; } }

@media only screen and (max-width: 669px) {
  .box.box-meta-details .box-inline-elements .content {
    position: relative; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .box.box-meta-details .box-inline-elements .content {
    position: relative; } }

@media (min-width: 980px) {
  .box.box-meta-details .box-inline-elements .content {
    position: relative; } }

.box.box-meta-details .box-inline-elements .content .richText-content p {
  margin: 0; }

@media only screen and (max-width: 669px) {
  .box.box-meta-details .box-inline-elements .content .button-tertiary {
    transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: 15.76px 30px 14.96px 30px;
    margin-top: 0;
    margin-bottom: 10px;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    min-width: 100%;
    box-sizing: border-box; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .box.box-meta-details .box-inline-elements .content .button-tertiary {
    transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: 15.76px 30px 14.96px 30px;
    margin-top: 25px;
    margin-bottom: 20px;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    min-width: 178px;
    box-sizing: border-box; } }

@media (min-width: 980px) {
  .box.box-meta-details .box-inline-elements .content .button-tertiary {
    transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: 15.76px 30px 14.96px 30px;
    margin-top: 25px;
    margin-bottom: 20px;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    min-width: 178px;
    box-sizing: border-box; } }

.box.box-meta-details .reference-link_to_tab_item {
  display: none; }

.box.box-product-share .content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center; }
  @media only screen and (max-width: 669px) {
    .box.box-product-share .content {
      -ms-flex-pack: center;
          justify-content: center; } }

@media only screen and (max-width: 669px) {
  .box.box-product-share .richText p {
    font-size: 0.875rem;
    font-weight: bold;
    line-height: 1.57;
    letter-spacing: 0.3px;
    margin-right: 40px; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .box.box-product-share .richText p {
    font-size: 0.875rem;
    font-weight: bold;
    line-height: 1.57;
    letter-spacing: 0.3px;
    margin-right: 40px; } }

@media (min-width: 980px) {
  .box.box-product-share .richText p {
    font-size: 0.875rem;
    font-weight: bold;
    line-height: 1.57;
    letter-spacing: 0.3px;
    margin-right: 20px; } }

.box.box-recipe-share .content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

@media only screen and (max-width: 669px) {
  .box.box-recipe-share .richText:first-of-type {
    position: relative;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .box.box-recipe-share .richText:first-of-type {
    position: relative;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%; } }

@media (min-width: 980px) {
  .box.box-recipe-share .richText:first-of-type {
    position: relative; } }

@media only screen and (max-width: 669px) {
  .box.box-recipe-share .richText:first-of-type p {
    font-size: 0.875rem;
    font-weight: bold;
    line-height: 1.57;
    letter-spacing: 0.3px;
    margin-bottom: 10px; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .box.box-recipe-share .richText:first-of-type p {
    font-size: 0.875rem;
    font-weight: bold;
    line-height: 1.57;
    letter-spacing: 0.3px;
    margin-bottom: 10px; } }

@media (min-width: 980px) {
  .box.box-recipe-share .richText:first-of-type p {
    font-size: 0.875rem;
    font-weight: bold;
    line-height: 1.57;
    letter-spacing: 0.3px;
    margin-right: 20px; } }

@media only screen and (max-width: 669px) {
  .box.box-recipe-share .addthis_toolbox a {
    margin-top: 10px;
    margin-bottom: 10px; } }

@media only screen and (max-width: 669px) {
  .box.box-recipe-share .richText--print p {
    margin: 0; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .box.box-recipe-share .richText--print p {
    margin: 0; } }

@media (min-width: 980px) {
  .box.box-recipe-share .richText--print p {
    margin: 0; } }

.box-inline-elements .content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
      justify-content: flex-start; }
  @media only screen and (max-width: 669px) {
    .box-inline-elements .content {
      position: relative;
      -ms-flex-direction: column;
          flex-direction: column;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .box-inline-elements .content {
      position: relative;
      -ms-flex-direction: column;
          flex-direction: column;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; } }
  @media (min-width: 980px) {
    .box-inline-elements .content {
      position: relative;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; } }

@media only screen and (max-width: 669px) {
  .box.box-gallery-with-sizes > .component-content {
    position: relative;
    margin-right: -20px;
    margin-bottom: 10px;
    margin-left: -20px; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .box.box-gallery-with-sizes > .component-content {
    position: relative;
    margin-right: 0;
    margin-bottom: 10px;
    margin-left: 0; } }

@media (min-width: 980px) {
  .box.box-gallery-with-sizes > .component-content {
    position: relative;
    margin-right: 0;
    margin-bottom: 40px;
    margin-left: 0; } }

.box.box-gallery-with-sizes .productVariantList {
  top: 20px;
  left: 20px;
  height: 100%; }
  @media only screen and (max-width: 669px) {
    .box.box-gallery-with-sizes .productVariantList {
      top: 10px;
      left: 10px; } }
  @media only screen and (max-width: 669px) {
    .box.box-gallery-with-sizes .productVariantList {
      position: absolute; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .box.box-gallery-with-sizes .productVariantList {
      position: absolute; } }
  @media (min-width: 980px) {
    .box.box-gallery-with-sizes .productVariantList {
      position: absolute; } }
  .box.box-gallery-with-sizes .productVariantList > .component-content {
    height: 100%; }
    .box.box-gallery-with-sizes .productVariantList > .component-content .productVariantList-list {
      height: 100%;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
          flex-direction: column;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.box.box-gallery-with-sizes .reference-zoom-icon {
  display: none; }

@media only screen and (max-width: 669px) {
  .box.hide-on-mobile {
    display: none; } }

@media only screen and (max-width: 669px) {
  .product-thumbnail {
    position: relative;
    padding: 5px;
    width: 200px;
    height: 240px; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .product-thumbnail {
    position: relative;
    padding: 10px;
    width: 250px;
    height: 430px; } }

@media (min-width: 980px) {
  .product-thumbnail {
    position: relative;
    padding: 15px;
    width: 250px;
    height: 400px; } }

@media only screen and (max-width: 669px) {
  .product-thumbnail .component-content {
    position: relative;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-item-align: center;
        align-self: center;
    -ms-flex-pack: center;
        justify-content: center;
    display: -ms-flexbox !important;
    display: flex !important;
    align-items: center;
    align-self: center;
    justify-content: center; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .product-thumbnail .component-content {
    position: relative;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-item-align: center;
        align-self: center;
    -ms-flex-pack: center;
        justify-content: center;
    display: -ms-flexbox !important;
    display: flex !important;
    align-items: center;
    align-self: center;
    justify-content: center; } }

@media (min-width: 980px) {
  .product-thumbnail .component-content {
    position: relative;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-item-align: center;
        align-self: center;
    -ms-flex-pack: center;
        justify-content: center;
    display: -ms-flexbox !important;
    display: flex !important;
    align-items: center;
    align-self: center;
    justify-content: center; } }

@media only screen and (max-width: 669px) {
  .product-thumbnail .image img {
    position: relative;
    height: 100px; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .product-thumbnail .image img {
    position: relative;
    height: 300px; } }

@media (min-width: 980px) {
  .product-thumbnail .image img {
    position: relative;
    height: 160px; } }

@media only screen and (max-width: 669px) {
  .product-thumbnail p {
    position: relative;
    margin: 0; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .product-thumbnail p {
    position: relative;
    margin: 0; } }

@media (min-width: 980px) {
  .product-thumbnail p {
    position: relative;
    margin: 0; } }
