.image[class*=default-style] .right {
  text-align: right; }

.image[class*=default-style] .left {
  text-align: left; }

.image[class*=default-style] .middle {
  text-align: center; }

.image[class*=default-style] figure {
  margin: 0; }

.image[class*=default-style] img {
  display: block; }

@media only screen and (max-width: 669px) {
  .image[class*=default-style] .component-content {
    text-align: center; } }

.image-full-width img {
  width: 100%; }

.grid-aem .image.fixed-width img {
  width: 100%; }

/*# sourceMappingURL=index.css.map */
