@media only screen and (max-width: 669px) {
  .recipeCookingInfo {
    position: relative;
    border-top: solid 1px #D0D0D0;
    border-bottom: solid 1px #D0D0D0;
    margin: 25px 0 60px; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .recipeCookingInfo {
    position: relative;
    border-top: solid 1px #D0D0D0;
    border-bottom: solid 1px #D0D0D0;
    margin: 25px 0 60px; } }

@media (min-width: 980px) {
  .recipeCookingInfo {
    position: relative;
    border-top: solid 1px #D0D0D0;
    border-bottom: solid 1px #D0D0D0;
    margin: 25px 0 60px; } }

@media only screen and (max-width: 669px) {
  .recipeCookingInfo .component-content {
    position: relative;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 10px 0;
    display: -ms-flexbox;
    display: flex; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .recipeCookingInfo .component-content {
    position: relative;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 28px 0;
    display: -ms-flexbox;
    display: flex; } }

@media (min-width: 980px) {
  .recipeCookingInfo .component-content {
    position: relative;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 28px 0;
    display: -ms-flexbox;
    display: flex; } }

@media only screen and (max-width: 669px) {
  .recipeCookingInfo-item {
    position: relative;
    margin: 10px 0;
    width: 50%; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .recipeCookingInfo-item {
    position: relative;
    margin: 0;
    width: 33.33333%; } }

@media (min-width: 980px) {
  .recipeCookingInfo-item {
    position: relative;
    margin: 0;
    width: 33.33333%; } }

.recipeCookingInfo-title, .recipeCookingInfo-value {
  display: block;
  margin: 0; }

@media only screen and (max-width: 669px) {
  .recipeCookingInfo-title {
    color: #5d1b1c;
    font-size: 0.75rem;
    line-height: 1.33; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .recipeCookingInfo-title {
    color: #5d1b1c;
    font-size: 0.75rem;
    line-height: 1.33; } }

@media (min-width: 980px) {
  .recipeCookingInfo-title {
    color: #5d1b1c;
    font-size: 0.75rem;
    line-height: 1.33; } }

@media only screen and (max-width: 669px) {
  .recipeCookingInfo-value {
    font-size: 1.125rem;
    line-height: 1.44; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .recipeCookingInfo-value {
    font-size: 1.125rem;
    line-height: 1.44; } }

@media (min-width: 980px) {
  .recipeCookingInfo-value {
    font-size: 1.125rem;
    line-height: 1.44; } }

/*# sourceMappingURL=index.css.map */
