@media only screen and (max-width: 669px) {
  .searchTabNavigation[class*=default-style] {
    position: relative;
    margin-bottom: 0; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .searchTabNavigation[class*=default-style] {
    position: relative;
    margin-bottom: 50px; } }

@media (min-width: 980px) {
  .searchTabNavigation[class*=default-style] {
    position: relative;
    margin-bottom: 50px; } }

@media only screen and (max-width: 669px) {
  .searchTabNavigation[class*=default-style] .component-content {
    position: relative; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .searchTabNavigation[class*=default-style] .component-content {
    position: relative; } }

@media (min-width: 980px) {
  .searchTabNavigation[class*=default-style] .component-content {
    position: relative; } }

.searchTabNavigation[class*=default-style] .navigation-list {
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  font-size: 0;
  -ms-flex-pack: justify;
      justify-content: space-between;
  list-style: none; }
  @media only screen and (max-width: 669px) {
    .searchTabNavigation[class*=default-style] .navigation-list {
      position: relative;
      border-bottom: solid 1px transparent;
      padding: 0;
      margin: 0 -1px; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .searchTabNavigation[class*=default-style] .navigation-list {
      position: relative;
      border-bottom: solid 1px #f2f4f6;
      padding: 0;
      margin: 0 -1px; } }
  @media (min-width: 980px) {
    .searchTabNavigation[class*=default-style] .navigation-list {
      position: relative;
      border-bottom: solid 1px #f2f4f6;
      padding: 0;
      margin: 0 -1px; } }
  .searchTabNavigation[class*=default-style] .navigation-list .navigation-item {
    -ms-flex-item-align: end;
        align-self: flex-end;
    box-sizing: border-box;
    -ms-flex-positive: 1;
        flex-grow: 1; }
    @media only screen and (max-width: 669px) {
      .searchTabNavigation[class*=default-style] .navigation-list .navigation-item {
        font-size: 1.125rem;
        font-weight: bold;
        line-height: 1.22;
        text-transform: uppercase;
        font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
        margin: 0 1px;
        position: relative; } }
    @media only screen and (min-width: 670px) and (max-width: 979px) {
      .searchTabNavigation[class*=default-style] .navigation-list .navigation-item {
        font-size: 1.125rem;
        font-weight: bold;
        line-height: 1.22;
        text-transform: uppercase;
        font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
        margin: 0 1px;
        position: relative; } }
    @media (min-width: 980px) {
      .searchTabNavigation[class*=default-style] .navigation-list .navigation-item {
        font-size: 1.125rem;
        font-weight: bold;
        line-height: 1.22;
        text-transform: uppercase;
        font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
        margin: 0 1px;
        position: relative; } }
    .searchTabNavigation[class*=default-style] .navigation-list .navigation-item a {
      box-sizing: border-box; }
      @media only screen and (max-width: 669px) {
        .searchTabNavigation[class*=default-style] .navigation-list .navigation-item a {
          color: black;
          text-align: center;
          text-decoration: none;
          transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
          display: -ms-inline-flexbox;
          display: inline-flex;
          position: relative;
          padding: 0 3px 5.96px 3px;
          -ms-flex-align: center;
              align-items: center;
          -ms-flex-pack: center;
              justify-content: center;
          width: 100%; }
          .searchTabNavigation[class*=default-style] .navigation-list .navigation-item a:hover {
            color: #97b049; }
          .searchTabNavigation[class*=default-style] .navigation-list .navigation-item a:after {
            position: absolute;
            top: 100%;
            left: 0; }
          .searchTabNavigation[class*=default-style] .navigation-list .navigation-item a:after {
            content: '';
            border-top: 2px solid #97b049;
            margin: 0;
            transform: scaleX(0);
            transform-origin: 0 0;
            width: 100%; }
          .searchTabNavigation[class*=default-style] .navigation-list .navigation-item a:after {
            transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, border 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s; }
          .searchTabNavigation[class*=default-style] .navigation-list .navigation-item a:hover:after {
            transform: scaleX(1); } }
      @media only screen and (min-width: 670px) and (max-width: 979px) {
        .searchTabNavigation[class*=default-style] .navigation-list .navigation-item a {
          color: black;
          text-align: center;
          text-decoration: none;
          transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
          display: -ms-inline-flexbox;
          display: inline-flex;
          position: relative;
          padding: 0 3px 5.96px 3px;
          -ms-flex-align: center;
              align-items: center;
          -ms-flex-pack: center;
              justify-content: center;
          width: 100%; }
          .searchTabNavigation[class*=default-style] .navigation-list .navigation-item a:hover {
            color: #97b049; }
          .searchTabNavigation[class*=default-style] .navigation-list .navigation-item a:after {
            position: absolute;
            top: 100%;
            left: 0; }
          .searchTabNavigation[class*=default-style] .navigation-list .navigation-item a:after {
            content: '';
            border-top: 2px solid #97b049;
            margin: 0;
            transform: scaleX(0);
            transform-origin: 0 0;
            width: 100%; }
          .searchTabNavigation[class*=default-style] .navigation-list .navigation-item a:after {
            transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, border 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s; }
          .searchTabNavigation[class*=default-style] .navigation-list .navigation-item a:hover:after {
            transform: scaleX(1); } }
      @media (min-width: 980px) {
        .searchTabNavigation[class*=default-style] .navigation-list .navigation-item a {
          color: black;
          text-align: center;
          text-decoration: none;
          transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
          display: -ms-inline-flexbox;
          display: inline-flex;
          position: relative;
          padding: 0 3px 19.96px 3px;
          -ms-flex-align: center;
              align-items: center;
          -ms-flex-pack: center;
              justify-content: center;
          width: 100%; }
          .searchTabNavigation[class*=default-style] .navigation-list .navigation-item a:hover {
            color: #97b049; }
          .searchTabNavigation[class*=default-style] .navigation-list .navigation-item a:after {
            position: absolute;
            top: 100%;
            left: 0; }
          .searchTabNavigation[class*=default-style] .navigation-list .navigation-item a:after {
            content: '';
            border-top: 2px solid #97b049;
            margin: 0;
            transform: scaleX(0);
            transform-origin: 0 0;
            width: 100%; }
          .searchTabNavigation[class*=default-style] .navigation-list .navigation-item a:after {
            transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, border 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s; }
          .searchTabNavigation[class*=default-style] .navigation-list .navigation-item a:hover:after {
            transform: scaleX(1); } }
    @media only screen and (max-width: 669px) {
      .searchTabNavigation[class*=default-style] .navigation-list .navigation-item:first-child {
        display: none; } }
    @media only screen and (max-width: 669px) {
      .searchTabNavigation[class*=default-style] .navigation-list .navigation-item.is-active a {
        color: #97b049;
        transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
        display: -ms-inline-flexbox;
        display: inline-flex;
        position: relative;
        padding: 0 3px 5.96px 3px;
        -ms-flex-align: center;
            align-items: center;
        -ms-flex-pack: center;
            justify-content: center; }
        .searchTabNavigation[class*=default-style] .navigation-list .navigation-item.is-active a:after {
          position: absolute;
          top: 100%;
          left: 0; }
        .searchTabNavigation[class*=default-style] .navigation-list .navigation-item.is-active a:after {
          content: '';
          border-top: 2px solid #97b049;
          margin: 0;
          transform: scaleX(1);
          width: 100%; } }
    @media only screen and (min-width: 670px) and (max-width: 979px) {
      .searchTabNavigation[class*=default-style] .navigation-list .navigation-item.is-active a {
        color: #97b049;
        transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
        display: -ms-inline-flexbox;
        display: inline-flex;
        position: relative;
        padding: 0 3px 5.96px 3px;
        -ms-flex-align: center;
            align-items: center;
        -ms-flex-pack: center;
            justify-content: center; }
        .searchTabNavigation[class*=default-style] .navigation-list .navigation-item.is-active a:after {
          position: absolute;
          top: 100%;
          left: 0; }
        .searchTabNavigation[class*=default-style] .navigation-list .navigation-item.is-active a:after {
          content: '';
          border-top: 2px solid #97b049;
          margin: 0;
          transform: scaleX(1);
          width: 100%; } }
    @media (min-width: 980px) {
      .searchTabNavigation[class*=default-style] .navigation-list .navigation-item.is-active a {
        color: #97b049;
        transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
        display: -ms-inline-flexbox;
        display: inline-flex;
        position: relative;
        padding: 0 3px 19.96px 3px;
        -ms-flex-align: center;
            align-items: center;
        -ms-flex-pack: center;
            justify-content: center; }
        .searchTabNavigation[class*=default-style] .navigation-list .navigation-item.is-active a:after {
          position: absolute;
          top: 100%;
          left: 0; }
        .searchTabNavigation[class*=default-style] .navigation-list .navigation-item.is-active a:after {
          content: '';
          border-top: 2px solid #97b049;
          margin: 0;
          transform: scaleX(1);
          width: 100%; } }

/*# sourceMappingURL=index.css.map */
