@charset "UTF-8";
@media only screen and (max-width: 669px) {
  .reference-newsletter-global {
    position: relative;
    background-color: #f2f4f6;
    padding: 60px 0; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .reference-newsletter-global {
    position: relative;
    background-color: #f2f4f6;
    padding: 60px 0; } }

@media (min-width: 980px) {
  .reference-newsletter-global {
    position: relative;
    background-color: #f2f4f6;
    padding: 60px 0; } }

.reference-newsletter-global > .inner {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
  padding-right: 25px; }
  @media only screen and (max-width: 669px) {
    .reference-newsletter-global > .inner {
      width: auto; } }
  @media only screen and (min-width: 670px) and (max-width: 768px) {
    .reference-newsletter-global > .inner {
      width: auto; } }
  @media only screen and (min-width: 980px) and (max-width: 1139px) {
    .reference-newsletter-global > .inner {
      width: 960px; } }
  @media (min-width: 1140px) {
    .reference-newsletter-global > .inner {
      width: 1140px; } }

@media only screen and (max-width: 669px) {
  .reference-newsletter-global .form {
    text-align: center; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .reference-newsletter-global .form {
    text-align: center; } }

@media (min-width: 980px) {
  .reference-newsletter-global .form {
    text-align: center; } }

@media only screen and (max-width: 669px) {
  .reference-newsletter-global .form-heading {
    font-size: 1.625rem;
    line-height: 1.2;
    margin: 0; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .reference-newsletter-global .form-heading {
    font-size: 2.375rem;
    line-height: 1.2;
    margin: 0; } }

@media (min-width: 980px) {
  .reference-newsletter-global .form-heading {
    font-size: 2.375rem;
    line-height: 1.2;
    margin: 0; } }

.reference-newsletter-global .formContent {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center; }
  .reference-newsletter-global .formContent .richText {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%; }
    @media only screen and (max-width: 669px) {
      .reference-newsletter-global .formContent .richText p {
        margin-bottom: 25px; } }
    @media only screen and (min-width: 670px) and (max-width: 979px) {
      .reference-newsletter-global .formContent .richText p {
        margin-bottom: 25px; } }
    @media (min-width: 980px) {
      .reference-newsletter-global .formContent .richText p {
        margin-bottom: 25px; } }

@media only screen and (max-width: 669px) {
  .reference-newsletter-global .textField {
    position: relative;
    -ms-flex-preferred-size: calc(100% - 2.875rem);
        flex-basis: calc(100% - 2.875rem);
    width: 100%; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .reference-newsletter-global .textField {
    position: relative;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    width: 100%;
    max-width: 350px; } }

@media (min-width: 980px) {
  .reference-newsletter-global .textField {
    position: relative;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    width: 100%;
    max-width: 350px; } }

.reference-newsletter-global .textField input {
  width: 100%;
  box-sizing: border-box; }
  @media only screen and (max-width: 669px) {
    .reference-newsletter-global .textField input {
      background-color: white;
      color: #696969;
      font-size: 1.0625rem;
      font-weight: normal;
      line-height: 1;
      text-align: left;
      text-transform: none;
      font-style: normal;
      font-family: Montserrat, sans-serif;
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: -ms-inline-flexbox;
      display: inline-flex;
      border: 1px solid #D0D0D0;
      border-right: 0;
      border-radius: 3px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      padding: 7.62px 10px 6.77px 10px;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center;
      height: 50px; }
      .reference-newsletter-global .textField input::-webkit-input-placeholder {
        color: #D0D0D0; }
      .reference-newsletter-global .textField input:-ms-input-placeholder {
        color: #D0D0D0; }
      .reference-newsletter-global .textField input::placeholder {
        color: #D0D0D0; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .reference-newsletter-global .textField input {
      background-color: white;
      color: #696969;
      font-size: 1.0625rem;
      font-weight: normal;
      line-height: 1;
      text-align: left;
      text-transform: none;
      font-style: normal;
      font-family: Montserrat, sans-serif;
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: -ms-inline-flexbox;
      display: inline-flex;
      border: 1px solid #D0D0D0;
      border-right: 0;
      border-radius: 3px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      padding: 7.62px 10px 6.77px 10px;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center;
      height: 50px; }
      .reference-newsletter-global .textField input::-webkit-input-placeholder {
        color: #D0D0D0; }
      .reference-newsletter-global .textField input:-ms-input-placeholder {
        color: #D0D0D0; }
      .reference-newsletter-global .textField input::placeholder {
        color: #D0D0D0; } }
  @media (min-width: 980px) {
    .reference-newsletter-global .textField input {
      background-color: white;
      color: #696969;
      font-size: 1.0625rem;
      font-weight: normal;
      line-height: 1;
      text-align: left;
      text-transform: none;
      font-style: normal;
      font-family: Montserrat, sans-serif;
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: -ms-inline-flexbox;
      display: inline-flex;
      border: 1px solid #D0D0D0;
      border-right: 0;
      border-radius: 3px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      padding: 7.62px 10px 6.77px 10px;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center;
      height: 50px; }
      .reference-newsletter-global .textField input::-webkit-input-placeholder {
        color: #D0D0D0; }
      .reference-newsletter-global .textField input:-ms-input-placeholder {
        color: #D0D0D0; }
      .reference-newsletter-global .textField input::placeholder {
        color: #D0D0D0; } }

@media only screen and (max-width: 669px) {
  .reference-newsletter-global .formButton .button {
    background-color: black;
    color: transparent;
    font-size: 0;
    line-height: 1.22;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    text-decoration: none;
    font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
    transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
    display: -ms-inline-flexbox;
    display: inline-flex;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    width: 46px;
    height: 50px; }
    .reference-newsletter-global .formButton .button:hover {
      background: #696969; }
    .reference-newsletter-global .formButton .button:after {
      display: block;
      content: "";
      font-size: 1rem;
      color: white;
      display: block;
      font-family: 'icons';
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      text-align: center;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .reference-newsletter-global .formButton .button {
    background-color: black;
    color: white;
    font-size: 0.875rem;
    line-height: 1.22;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    text-decoration: none;
    font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
    transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
    display: -ms-inline-flexbox;
    display: inline-flex;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    width: 107px;
    height: 50px; }
    .reference-newsletter-global .formButton .button:hover {
      background: #696969; }
    .reference-newsletter-global .formButton .button:after {
      display: none;
      content: "";
      font-size: 1rem;
      color: white;
      display: none;
      font-family: 'icons';
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      text-align: center;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; } }

@media (min-width: 980px) {
  .reference-newsletter-global .formButton .button {
    background-color: black;
    color: white;
    font-size: 0.875rem;
    line-height: 1.22;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    text-decoration: none;
    font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
    transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
    display: -ms-inline-flexbox;
    display: inline-flex;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    width: 125px;
    height: 50px; }
    .reference-newsletter-global .formButton .button:hover {
      background: #696969; }
    .reference-newsletter-global .formButton .button:after {
      display: none;
      content: "";
      font-size: 1rem;
      color: white;
      display: none;
      font-family: 'icons';
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      text-align: center;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; } }

/*# sourceMappingURL=index.css.map */
