.flickity-enabled .flickity-page-dots {
  display: none; }

@media only screen and (max-width: 669px) {
  .flickity-enabled .flickity-button {
    display: none; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .flickity-enabled .flickity-button {
    display: none; } }

/*# sourceMappingURL=index.css.map */
