.main .divider {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
  padding-right: 25px; }
  @media only screen and (max-width: 669px) {
    .main .divider {
      width: auto; } }
  @media only screen and (min-width: 670px) and (max-width: 768px) {
    .main .divider {
      width: auto; } }
  @media only screen and (min-width: 980px) and (max-width: 1139px) {
    .main .divider {
      width: 960px; } }
  @media (min-width: 1140px) {
    .main .divider {
      width: 1140px; } }
  @media only screen and (max-width: 669px) {
    .main .divider > .component-content {
      position: relative;
      border-bottom: 2px solid #D0D0D0;
      margin: 60px 0; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .main .divider > .component-content {
      position: relative;
      border-bottom: 2px solid #D0D0D0;
      margin: 60px 0; } }
  @media (min-width: 980px) {
    .main .divider > .component-content {
      position: relative;
      border-bottom: 2px solid #D0D0D0;
      margin: 60px 0; } }

/*# sourceMappingURL=index.css.map */
