@import '../../core/config';

.table {
  &-heading {
    @include heading();
  }

  .button {
    display: none;

    @include respond-to(mobile) {
      display: block;
      margin: 20px;
    }
  }

  &-caption {
    padding: 13px;

    border: solid 2px $border-color;
    background-color: $background-color;
    border-bottom: none;

    .button {
      display: block;
      margin: 10px 0 0 5px;

      @include respond-to(mobile) {
        display: none;
      }
    }
  }

  th, td {
    border: solid 2px $border-color;
    padding: 5px;
  }
  td {
    vertical-align: middle;
  }

  th {
    background-color: $background-color;
    font-weight: bold;
    text-align: center;
  }

  table {
    width: 100%;

    border: solid 2px $border-color;
    border-collapse: collapse;
  }
}

.no-js {
  .table .button {
    display: none;
  }
}