@charset "UTF-8";
.quiz > .component-content {
  margin: 25px;
  overflow: hidden; }
  .quiz > .component-content > .content {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-left: 25px;
    padding-right: 25px; }
    @media only screen and (max-width: 669px) {
      .quiz > .component-content > .content {
        width: auto; } }
    @media only screen and (min-width: 670px) and (max-width: 768px) {
      .quiz > .component-content > .content {
        width: auto; } }
    @media only screen and (min-width: 980px) and (max-width: 1139px) {
      .quiz > .component-content > .content {
        width: 960px; } }
    @media (min-width: 1140px) {
      .quiz > .component-content > .content {
        width: 1140px; } }

.quiz-container {
  position: relative;
  transition: min-height ease .5s .5s; }

.quiz-step {
  left: 0;
  opacity: 1;
  position: absolute;
  transition: opacity linear 1s;
  width: 100%; }
  .quiz-step:after {
    content: " ";
    display: block;
    height: 1px; }
  .quiz-step.current {
    position: relative; }
  .quiz-step.is-active .quizCTA:not(.is-active) {
    opacity: .3; }
  .quiz-step.is-active .quizCTA {
    pointer-events: none; }

.quiz-indicator {
  list-style: none;
  -ms-flex-pack: center;
      justify-content: center;
  margin: 0 0 25px 0;
  padding: 0;
  transition: opacity linear 1s; }
  .quiz-indicator[aria-hidden="false"] {
    display: -ms-flexbox;
    display: flex; }
  .quiz .quiz-indicator[aria-hidden="true"] {
    display: -ms-flexbox;
    display: flex;
    opacity: 0; }
  .quiz-indicator li {
    color: #ab3334;
    padding: 0;
    position: relative;
    width: 70px; }
    .quiz-indicator li span {
      visibility: hidden; }
    .quiz-indicator li[aria-current="step"] ~ li {
      color: #D0D0D0; }
    .quiz-indicator li:before {
      background-color: currentColor;
      content: " ";
      display: block;
      height: 2px;
      left: -50%;
      position: absolute;
      top: 50%;
      width: 100%;
      z-index: 1; }
    .quiz-indicator li:first-of-type:before {
      display: none; }
    .quiz-indicator li:after {
      background-color: currentColor;
      border-radius: 50%;
      content: " ";
      display: block;
      height: 20px;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-10px, -10px);
      width: 20px;
      z-index: 2; }

.quiz-target:before, .quiz-target:after {
  content: "";
  display: table; }

.quiz-target:after {
  clear: both; }

.quiz-target > .richText.component {
  margin-bottom: 15px; }

.quiz-target .quizCTA.component:hover {
  cursor: pointer; }

@media (min-width: 980px) {
  .quiz-target > .component.grid_3.prefix_1.alpha {
    margin-left: 12.76041% !important; } }

.quiz-buttons {
  margin-bottom: 25px;
  text-align: right; }
  .quiz-buttons-previous {
    float: left; }
    @media only screen and (max-width: 669px) {
      .quiz-buttons-previous {
        transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -ms-flex-align: center;
            align-items: center;
        -ms-flex-pack: justify;
            justify-content: space-between; }
        .quiz-buttons-previous:before {
          margin: 0 10px;
          margin: 0 10px;
          content: "";
          font-size: 1.25rem;
          color: black;
          display: block;
          font-family: 'icons';
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          text-align: center;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale; } }
    @media only screen and (min-width: 670px) and (max-width: 979px) {
      .quiz-buttons-previous {
        transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -ms-flex-align: center;
            align-items: center;
        -ms-flex-pack: justify;
            justify-content: space-between; }
        .quiz-buttons-previous:before {
          margin: 0 10px;
          margin: 0 10px;
          content: "";
          font-size: 1.25rem;
          color: black;
          display: block;
          font-family: 'icons';
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          text-align: center;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale; } }
    @media (min-width: 980px) {
      .quiz-buttons-previous {
        transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -ms-flex-align: center;
            align-items: center;
        -ms-flex-pack: justify;
            justify-content: space-between; }
        .quiz-buttons-previous:before {
          margin: 0 10px;
          margin: 0 10px;
          content: "";
          font-size: 1.25rem;
          color: black;
          display: block;
          font-family: 'icons';
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          text-align: center;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale; } }
  @media only screen and (max-width: 669px) {
    .quiz-buttons-reset {
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: justify;
          justify-content: space-between; }
      .quiz-buttons-reset:after {
        margin: 0 10px;
        margin: 0 10px;
        content: "";
        font-size: 1.25rem;
        color: black;
        display: block;
        font-family: 'icons';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        text-align: center;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .quiz-buttons-reset {
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: justify;
          justify-content: space-between; }
      .quiz-buttons-reset:after {
        margin: 0 10px;
        margin: 0 10px;
        content: "";
        font-size: 1.25rem;
        color: black;
        display: block;
        font-family: 'icons';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        text-align: center;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; } }
  @media (min-width: 980px) {
    .quiz-buttons-reset {
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: justify;
          justify-content: space-between; }
      .quiz-buttons-reset:after {
        margin: 0 10px;
        margin: 0 10px;
        content: "";
        font-size: 1.25rem;
        color: black;
        display: block;
        font-family: 'icons';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        text-align: center;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; } }
  .quiz-buttons-previous, .quiz-buttons-reset {
    background-color: transparent;
    border: 0 none;
    cursor: pointer; }
  .quiz-buttons-label {
    display: inline-block;
    opacity: 0;
    width: 20px; }

.quiz.initialized .quizCTA {
  opacity: 1;
  pointer-events: auto; }

.quiz .quizCTA {
  opacity: 0;
  pointer-events: none;
  transition: opacity linear 500ms; }

.quiz [aria-hidden="true"] {
  display: none; }

.quiz .quiz-step > .container:before {
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-name: quiz-rotate;
  animation-timing-function: linear;
  background-color: rgba(255, 255, 255, 0.3);
  border: 3px solid #C9484A;
  border-left-color: transparent;
  border-radius: 50%;
  content: "";
  display: block;
  height: 70px;
  left: -9999px;
  opacity: 0;
  position: absolute;
  top: calc(50% - 35px);
  transition: opacity 1s 1s;
  width: 70px;
  z-index: 2; }

.quiz .quiz-step.current.is-active > .container:before {
  opacity: 1;
  left: calc(50% - 35px); }

.quiz .searchResults .searchResults-section-contents {
  border-bottom-width: 0;
  -ms-flex-pack: center;
      justify-content: center; }

@keyframes quiz-rotate {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

/*# sourceMappingURL=index.css.map */
