.richText-small-label {
  @import 'config';
  @function g($a...) {
    @return get-last($small-label, $a...);
  }

  p {
    $paragraph: merge((
      margin: (
        margin: 0 0 spacings('xs')
      )
    ), g('_main.paragraph'));

    @include breakpoints {
      @include paragraph($paragraph, $media);
    }
  }
}
