@import '../utils/all';

$common: () !default;

// global units //
$common: merge($common, (
  colors: (
    primary: (
      darker: #5d1b1c,
      dark: #ab3334,
      base: #C9484A,
      light: #e09798,
      lighter: #f7e5e6
    ),
    secondary: (
      darker: #4a5624,
      dark: #657D02,
      base: #97b049,
      light: #b6c97d,
      lighter: #dfe7c5
    ),
    neutral: (
      darker: #000000,
      dark: #696969,
      base: #6e7f8d,
      light: #D0D0D0,
      lighter: #f2f4f6,
    ),
    'white': #fff,
    'black': #000,
    'orange': #F7987F,
    'error': #ff0101,
  ),
  font-family: (
    primary: (
      name: unquote('Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif'),
      diff: (top: 0.11, bottom: 0.18)
    ),
    body: (
      name: unquote('Montserrat, sans-serif'),
      diff: (top: 0.14, bottom: 0.19)
    )
  ),
  font-ratio: 1,
  font-sizes: (
    xxxs: 12px,
    xxs: 14px,
    xs: 16px,
    s: 20px,
    m: 26px,
    l: 38px,
    xl: 48px,
    xxl: 65px,
    xxxl: 72px
  ),
  spacings: (
    xxs: 5px,
    xs: 10px,
    s: 15px,
    m: 25px,
    l: 40px,
    xl: 50px,
    xxl: 80px,
    xxxl: 120px
  ),
  icon: (
    arrow-down: '\e908',
    arrow-left: '\e90c',
    arrow-right: '\e90d',
    arrow-up: '\e90e',
    button-bag: '\e900',
    cross-small: '\e901',
    cross: '\e902',
    facebook: '\e90a',
    hamburguer: '\e90f',
    instagram: '\e90b',
    map-location: '\e903',
    map: '\e909',
    pinterest: '\e904',
    search: '\e905',
    twitter: '\e906',
    unilever-logo: '\e907',
    phone: '\e910',
    ad-choices-logo: '\e911',
    speach: '\e912',
    headset: '\e913',
    email: '\e914',
    ok: '\e915',
    plus: '\e917',
    minus: '\e916',
    list-view: '\e918',
    grid-view: '\e919',
    list-bullet: '\e91a',
    filter: '\e91b',
    printer: '\e91d',
    person: '\e91c',
    timer: '\e91e',
    FAQ: '\e91f',
    zoom: '\e920'
  ),
  transitions: (
    speed: (
      slow: 0.6s,
      base: 0.3s,
      fast: 0.15s
    ),
    stagger: (
      slow: 0.12s,
      base: 0.08s,
      fast: 0.04s
    ),
    ease: cubic-bezier(0.55, 0, 0.1, 1) // material design ease out calculation
  )
));

// base configurations //
$common: merge($common, (
  background: (
    body: (
      background-color: color('white')
    )
  ),
  text: (
    body: (
      text-transform: none,
      font-style: normal,
      text-align: left,
      color: color('neutral', 'dark'),
      font-family: 'body',
      font-size: 16px,
      font-weight: normal,
      line-height: 1.5
    )
  )
));

@import '../commons/all';
