#container-article {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
  padding-right: 25px; }
  @media only screen and (max-width: 669px) {
    #container-article {
      width: auto; } }
  @media only screen and (min-width: 670px) and (max-width: 768px) {
    #container-article {
      width: auto; } }
  @media only screen and (min-width: 980px) and (max-width: 1139px) {
    #container-article {
      width: 960px; } }
  @media (min-width: 1140px) {
    #container-article {
      width: 1140px; } }
  @media only screen and (max-width: 669px) {
    #container-article {
      position: relative;
      margin-top: 0; }
      #container-article:before, #container-article:after {
        content: "";
        display: table; }
      #container-article:after {
        clear: both; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    #container-article {
      position: relative;
      margin-top: 0; }
      #container-article:before, #container-article:after {
        content: "";
        display: table; }
      #container-article:after {
        clear: both; } }
  @media (min-width: 980px) {
    #container-article {
      position: relative;
      margin-top: 40px; }
      #container-article:before, #container-article:after {
        content: "";
        display: table; }
      #container-article:after {
        clear: both; } }

/*# sourceMappingURL=index.css.map */
