.accordion-container {
  padding: 0;
  margin: 0;
  list-style: none; }

.accordion-title {
  font-size: 1.6rem;
  line-height: 1.3;
  display: inline-block;
  margin: 0;
  padding: 0; }

.accordion-slide {
  border-bottom: 1px solid #e3e7ec;
  padding: 10px 0;
  width: 100%; }
  .accordion-slide.is-active > .accordion-head a:after {
    content: '-'; }

.accordion-content {
  padding-top: 20px; }

.accordion-head {
  position: relative;
  margin: 0;
  white-space: nowrap;
  cursor: pointer;
  float: none; }
  .accordion-head img {
    float: right;
    max-height: 20px;
    padding-left: 10px; }
  .accordion-head a:hover, .accordion-head a:focus, .accordion-head a:active {
    text-decoration: none; }
  .accordion-head a:after {
    position: absolute;
    right: 0;
    content: '+';
    width: 20px;
    height: 20px;
    background: #696969;
    color: #fff;
    text-align: center;
    line-height: 1.25rem; }

.accordion-head-link {
  display: block; }

.accordion-content-wrapper {
  visibility: hidden;
  height: 0;
  position: relative;
  top: -999999px;
  left: -999999px;
  overflow: hidden;
  margin: 0;
  box-sizing: border-box; }

.accordion-slide.is-active > .accordion-content-wrapper {
  visibility: visible;
  position: relative;
  top: auto;
  left: auto;
  height: auto;
  overflow: hidden; }

/*# sourceMappingURL=index.css.map */
