.quizCTA {
  margin-bottom: 25px;
  margin-top: 25px;
  text-align: center;
  transition: opacity linear 250ms; }
  .quizCTA .quizCTA-image {
    width: 100%; }

@media only screen and (max-width: 669px) {
  a.quizCTA-button {
    background-color: black;
    color: white;
    font-size: 1.125rem;
    font-weight: normal;
    line-height: 1.22;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
    transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
    display: inline-block;
    border: 1px solid black;
    border-radius: 3px;
    padding: 14.04px 0 12.78px 0;
    margin: 15px 0;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    width: 100%;
    height: 28px;
    box-sizing: border-box; }
    a.quizCTA-button:hover {
      background-color: rgba(0, 0, 0, 0.8); } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  a.quizCTA-button {
    background-color: black;
    color: white;
    font-size: 1.125rem;
    font-weight: normal;
    line-height: 1.22;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
    transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
    display: inline-block;
    border: 1px solid black;
    border-radius: 3px;
    padding: 14.04px 18px 12.78px 18px;
    margin: 15px 0;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    width: auto;
    height: 35px;
    box-sizing: border-box; }
    a.quizCTA-button:hover {
      background-color: rgba(0, 0, 0, 0.8); } }

@media (min-width: 980px) {
  a.quizCTA-button {
    background-color: black;
    color: white;
    font-size: 1.125rem;
    font-weight: normal;
    line-height: 1.22;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
    transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
    display: inline-block;
    border: 1px solid black;
    border-radius: 3px;
    padding: 14.04px 32px 12.78px 32px;
    margin: 15px 0;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    width: auto;
    height: 54px;
    box-sizing: border-box; }
    a.quizCTA-button:hover {
      background-color: rgba(0, 0, 0, 0.8); } }

@media only screen and (max-width: 669px) {
  .quiz-step[data-step="0"] .quizCTA-button {
    background-color: #C9484A;
    color: white;
    font-size: 0.75rem;
    font-weight: bold;
    line-height: 1.22;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
    transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: 0 25px 0 25px;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    height: 28px;
    box-sizing: border-box; }
    .quiz-step[data-step="0"] .quizCTA-button:hover {
      background-color: #ab3334; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .quiz-step[data-step="0"] .quizCTA-button {
    background-color: #C9484A;
    color: white;
    font-size: 0.75rem;
    font-weight: bold;
    line-height: 1.22;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
    transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: 12.36px 40px 11.52px 40px;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    height: 35px;
    box-sizing: border-box; }
    .quiz-step[data-step="0"] .quizCTA-button:hover {
      background-color: #ab3334; } }

@media (min-width: 980px) {
  .quiz-step[data-step="0"] .quizCTA-button {
    background-color: #C9484A;
    color: white;
    font-size: 0.75rem;
    font-weight: bold;
    line-height: 1.22;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
    transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: 12.36px 50px 11.52px 50px;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    height: 54px;
    box-sizing: border-box; }
    .quiz-step[data-step="0"] .quizCTA-button:hover {
      background-color: #ab3334; } }

@media only screen and (max-width: 669px) {
  .quiz-step[data-step="0"] .quizCTA-button > span {
    line-height: 1;
    transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: relative;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center; }
    .quiz-step[data-step="0"] .quizCTA-button > span:after {
      position: absolute;
      top: 100%;
      left: 0; }
    .quiz-step[data-step="0"] .quizCTA-button > span:after {
      content: '';
      border-top: 2px solid black;
      transform: scaleX(0);
      transform-origin: 0 0;
      width: 100%; }
    .quiz-step[data-step="0"] .quizCTA-button > span:after {
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, border 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s; }
    .quiz-step[data-step="0"] .quizCTA-button > span:hover:after {
      transform: scaleX(1); } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .quiz-step[data-step="0"] .quizCTA-button > span {
    line-height: 1;
    transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: relative;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center; }
    .quiz-step[data-step="0"] .quizCTA-button > span:after {
      position: absolute;
      top: 100%;
      left: 0; }
    .quiz-step[data-step="0"] .quizCTA-button > span:after {
      content: '';
      border-top: 2px solid black;
      transform: scaleX(0);
      transform-origin: 0 0;
      width: 100%; }
    .quiz-step[data-step="0"] .quizCTA-button > span:after {
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, border 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s; }
    .quiz-step[data-step="0"] .quizCTA-button > span:hover:after {
      transform: scaleX(1); } }

@media (min-width: 980px) {
  .quiz-step[data-step="0"] .quizCTA-button > span {
    line-height: 1;
    transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: relative;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center; }
    .quiz-step[data-step="0"] .quizCTA-button > span:after {
      position: absolute;
      top: 100%;
      left: 0; }
    .quiz-step[data-step="0"] .quizCTA-button > span:after {
      content: '';
      border-top: 2px solid black;
      transform: scaleX(0);
      transform-origin: 0 0;
      width: 100%; }
    .quiz-step[data-step="0"] .quizCTA-button > span:after {
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, border 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s; }
    .quiz-step[data-step="0"] .quizCTA-button > span:hover:after {
      transform: scaleX(1); } }

@media only screen and (max-width: 669px) {
  .quiz-step[data-step="0"] .quizCTA-button:hover > span:after {
    transform: scaleX(1); } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .quiz-step[data-step="0"] .quizCTA-button:hover > span:after {
    transform: scaleX(1); } }

@media (min-width: 980px) {
  .quiz-step[data-step="0"] .quizCTA-button:hover > span:after {
    transform: scaleX(1); } }

/*# sourceMappingURL=index.css.map */
