$heroImage: (
  // composite outer box
  box: (
    margin: (
      margin-top: breakpoint(0 !important, null, null)
    )
  ),
  // the rich text content box
  _content: (
    box: (
      height: breakpoint(50vh, 55vh, 90vh)
    )
  ),
  // the first paragraph before the title
  _pretitle: (
    paragraph: (
      text: (
        color: color('black'),
        line-height: 1,
        font-size: breakpoint(px('s'), px('s'), px('m')),
      ),
      text-transform: capitalize
    )
  ),
  _title:(
    text: (
      font-size: breakpoint(px('s'), px('m'), px('xl'))
    ),
    margin: 0
  ),
  // all paragraphs after pretitle and title
  _description: (
    paragraph: (
      text: (
        color: color('black'),
        line-height: 1.44,
        font-size: px('xs')
      )
    )
  ),
  // If there's a need to override <a> style in the richtext.
  // Usually selection styles are used, defined in /components/richText/hyperlinkStyles
  _cta: (
    button: ()
  )
);
