.addthis.addthis-big-icons {
  @import 'config';
  @function g($a...) {
    @return get-last($bigIcons, $a...);
  }

  $box: merge((
    margin: (
      margin-top: breakpoint((tablet-max: 15px, desktop: 47px)),
      margin-bottom: breakpoint((tablet-max: 5px, desktop: 36px)),
      margin-right: spacings('s') * -1,
      margin-left: spacings('s') * -1
    )
  ), g('_main.box'));

  @include breakpoints() {
    @include box($box, $media);
  }

  .addthis_toolbox {
    $wrapper: merge((
      margin: (
        margin-right: spacings('s') * -1,
        margin-left: spacings('s') * -1
      )
    ), g('_main._wrapper.box'));

    @include breakpoints() {
      @include box($wrapper, $media);
    }
  }

  a {
    @include breakpoints() {
      @include classlist(g('_main._big-icons.classlist')) {
        @include button(get($curr, 'button'), $media);
      }
    }
  }
}
