@media only screen and (max-width: 669px) {
  .recipeNutrients {
    position: relative; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .recipeNutrients {
    position: relative; } }

@media (min-width: 980px) {
  .recipeNutrients {
    position: relative; } }

.recipeNutrients-list {
  list-style: none;
  padding-left: 0; }
  @media only screen and (max-width: 669px) {
    .recipeNutrients-list {
      position: relative;
      margin: 0; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .recipeNutrients-list {
      position: relative;
      margin: 0; } }
  @media (min-width: 980px) {
    .recipeNutrients-list {
      position: relative;
      margin: 0; } }
  @media only screen and (max-width: 669px) {
    .recipeNutrients-list .recipeNutrients-item {
      position: relative;
      border-bottom: solid 1px #D0D0D0;
      padding: 10px 0; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .recipeNutrients-list .recipeNutrients-item {
      position: relative;
      border-bottom: solid 1px #D0D0D0;
      padding: 10px 0; } }
  @media (min-width: 980px) {
    .recipeNutrients-list .recipeNutrients-item {
      position: relative;
      border-bottom: solid 1px #D0D0D0;
      padding: 10px 0; } }
  .recipeNutrients-list .recipeNutrients-item:last-child {
    border-bottom: 0; }

@media only screen and (max-width: 669px) {
  .recipeNutrients-name, .recipeNutrients-value {
    font-size: 1.125rem;
    line-height: 1.44; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .recipeNutrients-name, .recipeNutrients-value {
    font-size: 1.125rem;
    line-height: 1.44; } }

@media (min-width: 980px) {
  .recipeNutrients-name, .recipeNutrients-value {
    font-size: 1.125rem;
    line-height: 1.44; } }

.recipeNutrients-value {
  float: right; }

/*# sourceMappingURL=index.css.map */
