.articleList-list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: start;
      justify-content: flex-start;
  margin: -10px;
  width: auto;
  padding: 0;
  list-style-type: none; }
  .articleList-list:before, .articleList-list:after {
    content: normal; }

.articleList-article-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: stretch;
      align-items: stretch;
  padding: 10px; }
  .articleList-article-wrapper > a {
    display: block;
    -ms-flex-negative: 0;
        flex-shrink: 0; }

.articleList-title {
  -ms-flex-order: 2;
      order: 2; }

.articleList-thumbnail {
  max-width: none;
  width: calc(100% + 20px);
  margin: -10px -10px 10px;
  -ms-flex-order: 1;
      order: 1; }

.articleList-description {
  -ms-flex-order: 3;
      order: 3; }

.articleList-more {
  position: relative;
  z-index: 2;
  -ms-flex-order: 4;
      order: 4; }

.articleList-more-arrow {
  display: none; }

/*# sourceMappingURL=index.css.map */
