$singleFeaturedContent: (
  _main: (
    box: (),
    _wrapper: (
      box: ()
    ),
  ),
  _text-wrapper: (
    box: (),
    _subtitle: (
      paragraph: extend('_subtitle.paragraph', (
        //custom config goes here
      ))
    ),
    _heading: (
      paragraph: (
        text: (
          font-size: breakpoint((tablet-max: px('m'), desktop: px('l'))),
          line-height: 1.16
        )
      )
    ),
    _description: (
      paragraph: (
        text: (
          line-height: breakpoint(1.25rem, 1.6rem, 2rem)
        )
      )
    )
  ),
  _image: (
    box: ()
  ),
  _cta: (
    button: ()
  )
);
