@charset "UTF-8";
@media only screen and (max-width: 669px) {
  .box-topic-list {
    position: relative;
    margin-bottom: 80px; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .box-topic-list {
    position: relative;
    margin-bottom: 80px; } }

@media (min-width: 980px) {
  .box-topic-list {
    position: relative;
    margin-bottom: 80px; } }

.box-topic-list > .component-content > .content {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
  padding-right: 25px; }
  @media only screen and (max-width: 669px) {
    .box-topic-list > .component-content > .content {
      width: auto; } }
  @media only screen and (min-width: 670px) and (max-width: 768px) {
    .box-topic-list > .component-content > .content {
      width: auto; } }
  @media only screen and (min-width: 980px) and (max-width: 1139px) {
    .box-topic-list > .component-content > .content {
      width: 960px; } }
  @media (min-width: 1140px) {
    .box-topic-list > .component-content > .content {
      width: 1140px; } }

@media only screen and (max-width: 669px) {
  .box-topic-list .richText h2, .box-topic-list .richText h3 {
    color: black;
    font-size: 2.375rem;
    font-weight: bold;
    line-height: 1.16;
    text-align: center;
    text-transform: uppercase;
    font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
    margin-top: 80px;
    margin-bottom: 25px; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .box-topic-list .richText h2, .box-topic-list .richText h3 {
    color: black;
    font-size: 2.375rem;
    font-weight: bold;
    line-height: 1.16;
    text-align: center;
    text-transform: uppercase;
    font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
    margin-top: 80px;
    margin-bottom: 25px; } }

@media (min-width: 980px) {
  .box-topic-list .richText h2, .box-topic-list .richText h3 {
    color: black;
    font-size: 2.375rem;
    font-weight: bold;
    line-height: 1.16;
    text-align: center;
    text-transform: uppercase;
    font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
    margin-top: 80px;
    margin-bottom: 25px; } }

.box-topic-list .navigation .navigation-root {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px; }

.box-topic-list .navigation li {
  box-sizing: border-box;
  margin: 15px; }

@media only screen and (max-width: 669px) {
  .box-topic-list .navigation li {
    width: calc(50% - 30px); }
  .box-topic-list .navigation.listing-cols-1 li, .box-topic-list .navigation.component.listing-cols-1-mobile li {
    width: calc(100% - 30px); }
  .box-topic-list .navigation.listing-cols-2 li, .box-topic-list .navigation.component.listing-cols-2-mobile li {
    width: calc(50% - 30px); }
  .box-topic-list .navigation.listing-cols-3 li, .box-topic-list .navigation.component.listing-cols-3-mobile li {
    width: calc(33.33333% - 30px); }
  .box-topic-list .navigation.listing-cols-4 li, .box-topic-list .navigation.component.listing-cols-4-mobile li {
    width: calc(25% - 30px); } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .box-topic-list .navigation li {
    width: calc(33.33333% - 30px); }
  .box-topic-list .navigation.listing-cols-1 li, .box-topic-list .navigation.component.listing-cols-1-tablet li {
    width: calc(100% - 30px); }
  .box-topic-list .navigation.listing-cols-2 li, .box-topic-list .navigation.component.listing-cols-2-tablet li {
    width: calc(50% - 30px); }
  .box-topic-list .navigation.listing-cols-3 li, .box-topic-list .navigation.component.listing-cols-3-tablet li {
    width: calc(33.33333% - 30px); }
  .box-topic-list .navigation.listing-cols-4 li, .box-topic-list .navigation.component.listing-cols-4-tablet li {
    width: calc(25% - 30px); } }

@media (min-width: 980px) {
  .box-topic-list .navigation li {
    width: calc(33.33333% - 30px); }
  .box-topic-list .navigation.listing-cols-1 li, .box-topic-list .navigation.component.listing-cols-1-desktop li {
    width: calc(100% - 30px); }
  .box-topic-list .navigation.listing-cols-2 li, .box-topic-list .navigation.component.listing-cols-2-desktop li {
    width: calc(50% - 30px); }
  .box-topic-list .navigation.listing-cols-3 li, .box-topic-list .navigation.component.listing-cols-3-desktop li {
    width: calc(33.33333% - 30px); }
  .box-topic-list .navigation.listing-cols-4 li, .box-topic-list .navigation.component.listing-cols-4-desktop li {
    width: calc(25% - 30px); } }

.box-topic-list .navigation .navigation-mobile-menu {
  display: none; }

.box-topic-list .navigation .navigation-root {
  display: none;
  list-style-type: none;
  padding: 0; }
  @media only screen and (max-width: 669px) {
    .box-topic-list .navigation .navigation-root {
      margin: -10px; }
      .box-topic-list .navigation .navigation-root li {
        margin: 10px; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .box-topic-list .navigation .navigation-root {
      margin: -15px; }
      .box-topic-list .navigation .navigation-root li {
        margin: 15px; } }
  @media (min-width: 980px) {
    .box-topic-list .navigation .navigation-root {
      margin: -15px; }
      .box-topic-list .navigation .navigation-root li {
        margin: 15px; } }
  .box-topic-list .navigation .navigation-root.navigation-level1 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: center;
        justify-content: center; }
  .box-topic-list .navigation .navigation-root li {
    box-sizing: border-box;
    overflow: hidden;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: end;
        align-items: flex-end;
    position: relative;
    cursor: pointer; }
    @media only screen and (max-width: 669px) {
      .box-topic-list .navigation .navigation-root li {
        position: relative;
        background: linear-gradient(to right, white 0%, #696969 1%, #696969 99%, white 100%);
        height: 136px; } }
    @media only screen and (min-width: 670px) and (max-width: 979px) {
      .box-topic-list .navigation .navigation-root li {
        position: relative;
        background: linear-gradient(to right, white 0%, #696969 1%, #696969 99%, white 100%);
        height: 270px; } }
    @media (min-width: 980px) {
      .box-topic-list .navigation .navigation-root li {
        position: relative;
        background: linear-gradient(to right, white 0%, #696969 1%, #696969 99%, white 100%);
        height: 270px; } }
    @media only screen and (min-width: 670px) and (max-width: 979px) {
      .box-topic-list .navigation .navigation-root li:hover .navigation-item-title {
        background-color: #D0D0D0; } }
    @media (min-width: 980px) {
      .box-topic-list .navigation .navigation-root li:hover .navigation-item-title {
        background-color: #D0D0D0; } }
    @media only screen and (max-width: 669px) {
      .box-topic-list .navigation .navigation-root li:hover img {
        transform-origin: left; } }
    @media only screen and (min-width: 670px) and (max-width: 979px) {
      .box-topic-list .navigation .navigation-root li:hover img {
        transform: scale(1.1, 1.1) translate(-50%, -50%);
        transform-origin: left; } }
    @media (min-width: 980px) {
      .box-topic-list .navigation .navigation-root li:hover img {
        transform: scale(1.1, 1.1) translate(-50%, -50%);
        transform-origin: left; } }
  .box-topic-list .navigation .navigation-root img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: scale(1.01) translate(-50%, -50%);
    transform-origin: left;
    display: block;
    min-width: 100%;
    min-height: 100%; }
    .mod-objectfit .box-topic-list .navigation .navigation-root img {
      min-width: 0;
      min-height: 0;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }
    @media only screen and (max-width: 669px) {
      .box-topic-list .navigation .navigation-root img {
        transition: transform 1s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 1s cubic-bezier(0.55, 0, 0.1, 1) 0s, visibility 0s cubic-bezier(0.55, 0, 0.1, 1) 1s; } }
    @media only screen and (min-width: 670px) and (max-width: 979px) {
      .box-topic-list .navigation .navigation-root img {
        transition: transform 1s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 1s cubic-bezier(0.55, 0, 0.1, 1) 0s, visibility 0s cubic-bezier(0.55, 0, 0.1, 1) 1s; } }
    @media (min-width: 980px) {
      .box-topic-list .navigation .navigation-root img {
        transition: transform 1s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 1s cubic-bezier(0.55, 0, 0.1, 1) 0s, visibility 0s cubic-bezier(0.55, 0, 0.1, 1) 1s; } }
  .box-topic-list .navigation .navigation-root .navigation-item-title {
    box-sizing: border-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -ms-flex-pack: justify;
        justify-content: space-between;
    z-index: 1;
    width: 100%; }
    .box-topic-list .navigation .navigation-root .navigation-item-title:after, .box-topic-list .navigation .navigation-root .navigation-item-title:before {
      -ms-flex-negative: 0;
          flex-shrink: 0;
      -ms-flex-positive: 0;
          flex-grow: 0; }
    @media only screen and (max-width: 669px) {
      .box-topic-list .navigation .navigation-root .navigation-item-title {
        background-color: #f2f4f6;
        color: black;
        font-size: 0.875rem;
        line-height: 1.1;
        text-transform: uppercase;
        text-decoration: none;
        font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
        transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
        display: -ms-inline-flexbox;
        display: inline-flex;
        padding: 7.76px 10px 6.78px 10px;
        -ms-flex-align: center;
            align-items: center;
        -ms-flex-pack: justify;
            justify-content: space-between;
        min-height: 29px; }
        .box-topic-list .navigation .navigation-root .navigation-item-title:after {
          background: black;
          border-radius: 100%;
          padding-left: 0;
          margin-left: 5px;
          width: 15px;
          height: 15px;
          content: "";
          font-size: 0.375rem;
          color: white;
          display: block;
          font-family: 'icons';
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          text-align: center;
          line-height: 0.9375rem;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale; } }
    @media only screen and (min-width: 670px) and (max-width: 979px) {
      .box-topic-list .navigation .navigation-root .navigation-item-title {
        background-color: #f2f4f6;
        color: black;
        font-size: 1.25rem;
        line-height: 1.1;
        text-transform: uppercase;
        text-decoration: none;
        font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
        transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
        display: -ms-inline-flexbox;
        display: inline-flex;
        padding: 6.8px 20px 5.4px 20px;
        -ms-flex-align: center;
            align-items: center;
        -ms-flex-pack: justify;
            justify-content: space-between;
        min-height: 42px; }
        .box-topic-list .navigation .navigation-root .navigation-item-title:hover {
          background-color: #D0D0D0; }
        .box-topic-list .navigation .navigation-root .navigation-item-title:after {
          background: black;
          border-radius: 100%;
          padding-left: 2px;
          margin-left: 10px;
          width: 20px;
          height: 21px;
          content: "";
          font-size: 0.5625rem;
          color: white;
          display: block;
          font-family: 'icons';
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          text-align: center;
          line-height: 1.3125rem;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale; } }
    @media (min-width: 980px) {
      .box-topic-list .navigation .navigation-root .navigation-item-title {
        background-color: #f2f4f6;
        color: black;
        font-size: 1.25rem;
        line-height: 1.1;
        text-transform: uppercase;
        text-decoration: none;
        font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
        transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
        display: -ms-inline-flexbox;
        display: inline-flex;
        padding: 6.8px 20px 5.4px 20px;
        -ms-flex-align: center;
            align-items: center;
        -ms-flex-pack: justify;
            justify-content: space-between;
        min-height: 42px; }
        .box-topic-list .navigation .navigation-root .navigation-item-title:hover {
          background-color: #D0D0D0; }
        .box-topic-list .navigation .navigation-root .navigation-item-title:after {
          background: black;
          border-radius: 100%;
          padding-left: 2px;
          margin-left: 10px;
          width: 20px;
          height: 21px;
          content: "";
          font-size: 0.5625rem;
          color: white;
          display: block;
          font-family: 'icons';
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          text-align: center;
          line-height: 1.3125rem;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale; } }

/*# sourceMappingURL=index.css.map */
