@include local-spacings();

$carousel-cta: (
  spacings: spacings(),
  _carousel-slides: (
	box: (
	  height: breakpoint((
			mobile: 365px !important,
			tablet: 425px !important,
			desktop: 815px !important
	  ))
	)
  ),
  _item: (
	  box: (
		  height: 100%
	  ),
	  cover: (
		height: breakpoint((
			mobile: 365px !important
		)),
		max-width: breakpoint((
			mobile: none
		))
	  )
  ),

  _rich-text: (
	  box: (
		  display: flex,
		  flex: .5,
			padding: (
        padding: breakpoint((
						mobile: spacings('xl') spacings('m'),
						tablet: spacings('m'), 
						desktop: spacings('xl') * 2 spacings('m') * 3,
					))
      ),
		),
		text: (
			font-size: breakpoint((
				mobile: 1.75em,
				tablet: 2em,
				desktop: 5.6em
			))
		)
		
  ),

  _carousel-nav: (
		box: (
			display: flex,
			height: 60px,
			margin: (
				margin-top: -60px
			)
		),
		list-item: (
			background: color('neutral', 'lighter'),
			width: breakpoint((
				mobile: 25px,
				tablet: 40px,
				desktop: 60px
			))
		),
		_active: (
			background: color('neutral', 'base')
		)
	)
);
