.carousel-cta {
    @import 'config';
    @function g($a...) { @return get-last($carousel-cta, $a...); }

    .carousel-slides {
        $box: merge((
          overflow: hidden,
          margin: 0,
          padding: 0
        ), g('_carousel-slides.box'));
    
        @include breakpoints {
          @include box($box, $media);
        }
    
        list-style: none;
        z-index: $z-index-behind;
    }

    .carousel-slide {
        $box: merge((
          overflow: hidden,
          margin: 0,
          padding: 0
        ), g('_item.box'));

        @include breakpoints {
            @include box($box, $media);
        }
    }

    .carouselSlide {

        @include breakpoints {
            @include box(g('_item.box'), $media)
        }

        .image-and-content {

            position: relative;

            @include breakpoints {
                @include box(g('_item.box'), $media)
            }

        }

        .carousel-cover {

            @include breakpoints {
                @include box(g('_item.cover'), $media);
            }

        }

        .carousel-content {
            position: absolute;
            z-index: 99999;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            .content {
                height: 100%;
                display: flex;
                justify-content: flex-end;
            }

            .richText {
                
                @include breakpoints {
                    @include box(g('_rich-text.box'), $media)
                }

                justify-content: flex-end;
                align-items: flex-end;
            }

            .banner-title {

                @include breakpoints {
                    @include text(g('_rich-text.text'), $media)
                }

                display: block;
                text-align: right;
                // font-size: 1.75rem;
                line-height: 1.2;
                color: color('primary', 'base');
            }

            .button-primary {
                float: right;
            }

            
        }
    }

    .carousel-nav {
        @include breakpoints {
            @include box(g('_carousel-nav.box'), $media)
        }

        justify-content: center;
        align-items: center;

        list-style-type: none;
        padding: 0;
        margin: 0;

        z-index: $z-index-content;
        
        li {

            margin: 0 6px;

            &:first-child,
            &:last-child {
                display: none;
            }

            a {
                @include breakpoints {
                    @include box(g('_carousel-nav.list-item'), $media);
                }

                display: block;
                height: 3px;
                font-size: 0px;
            }

            &.is-active {
                a {
                    @include breakpoints {
                        @include box(g('_carousel-nav._active'), $media)
                    }
                }
            }
        }
    }
}