$recipeStats: (
  box: (
    border: (
      border-top: solid 1px color('neutral', 'light'),
      border-bottom: solid 1px color('neutral', 'light'),
    )
  ),
  _container: (
    box:(),
    _item: (
      box: (),
      _title: (
        paragraph:(
          text: (
            font-size: px('xxxs'),
            line-height: 1.33,
            color: color('primary', 'darker')
          ),
        )
      ),
      _value: (
        paragraph:(
          text: (
            font-size: px(18),
            line-height: 1.44,
          )
        )
      )
    ),
  )
);
