.composite-variation-titeled-icon-morning .richText-content h3:before {
  background-image: url("/etc/designs/zg/nameera/desktop/assets/img/morning-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%; }

/*# sourceMappingURL=index.css.map */
