@media only screen and (max-width: 669px) {
  .composite-single-featured-article {
    position: relative;
    padding: 15px 0; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .composite-single-featured-article {
    position: relative;
    padding: 15px 0; } }

@media (min-width: 980px) {
  .composite-single-featured-article {
    position: relative;
    padding: 15px 0; } }

.composite-single-featured-article > .content {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
  padding-right: 25px;
  position: relative;
  z-index: 10; }
  @media only screen and (max-width: 669px) {
    .composite-single-featured-article > .content {
      width: auto; } }
  @media only screen and (min-width: 670px) and (max-width: 768px) {
    .composite-single-featured-article > .content {
      width: auto; } }
  @media only screen and (min-width: 980px) and (max-width: 1139px) {
    .composite-single-featured-article > .content {
      width: 960px; } }
  @media (min-width: 1140px) {
    .composite-single-featured-article > .content {
      width: 1140px; } }

@media only screen and (max-width: 669px) {
  .composite-single-featured-article .listing-item .content {
    position: relative;
    -ms-flex-direction: column;
        flex-direction: column;
    display: -ms-flexbox;
    display: flex; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .composite-single-featured-article .listing-item .content {
    position: relative;
    display: -ms-flexbox;
    display: flex; } }

@media (min-width: 980px) {
  .composite-single-featured-article .listing-item .content {
    position: relative;
    display: -ms-flexbox;
    display: flex; } }

@media only screen and (max-width: 669px) {
  .composite-single-featured-article .richText {
    position: relative;
    margin-bottom: -15px; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .composite-single-featured-article .richText {
    position: relative;
    margin-bottom: -15px; } }

@media (min-width: 980px) {
  .composite-single-featured-article .richText {
    position: relative;
    margin-bottom: -15px; } }

@media only screen and (max-width: 669px) {
  .composite-single-featured-article .richText {
    -ms-flex-order: 2;
        order: 2; } }

@media only screen and (max-width: 669px) {
  .composite-single-featured-article .richText h2, .composite-single-featured-article .richText h3, .composite-single-featured-article .richText h4 {
    font-size: 1.9rem;
    line-height: 1.16;
    margin-top: 20px;
    margin-bottom: 5px; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .composite-single-featured-article .richText h2, .composite-single-featured-article .richText h3, .composite-single-featured-article .richText h4 {
    font-size: 3rem;
    line-height: 1.16;
    margin-top: 20px;
    margin-bottom: 5px; } }

@media (min-width: 980px) {
  .composite-single-featured-article .richText h2, .composite-single-featured-article .richText h3, .composite-single-featured-article .richText h4 {
    font-size: 3.2rem;
    line-height: 1.16;
    margin-top: 0;
    margin-bottom: 5px; } }

.composite-single-featured-article .richText h2.main-title__green,
.composite-single-featured-article .richText h2 .main-title__green, .composite-single-featured-article .richText h3.main-title__green,
.composite-single-featured-article .richText h3 .main-title__green, .composite-single-featured-article .richText h4.main-title__green,
.composite-single-featured-article .richText h4 .main-title__green {
  color: #657D02; }

.composite-single-featured-article .richText h2.main-title__red,
.composite-single-featured-article .richText h2 .main-title__red, .composite-single-featured-article .richText h3.main-title__red,
.composite-single-featured-article .richText h3 .main-title__red, .composite-single-featured-article .richText h4.main-title__red,
.composite-single-featured-article .richText h4 .main-title__red {
  color: #ab3334; }

.composite-single-featured-article .richText h5.sub-title__green,
.composite-single-featured-article .richText h5 .sub-title__green {
  color: #97b049;
  margin-top: 0 !important; }
  @media only screen and (max-width: 669px) {
    .composite-single-featured-article .richText h5.sub-title__green,
    .composite-single-featured-article .richText h5 .sub-title__green {
      font-size: 1.4rem;
      line-height: 1.16; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .composite-single-featured-article .richText h5.sub-title__green,
    .composite-single-featured-article .richText h5 .sub-title__green {
      font-size: 1.6rem;
      line-height: 1.16; } }
  @media (min-width: 980px) {
    .composite-single-featured-article .richText h5.sub-title__green,
    .composite-single-featured-article .richText h5 .sub-title__green {
      font-size: 2rem;
      line-height: 1.16; } }

.composite-single-featured-article .richText h5.sub-title__red,
.composite-single-featured-article .richText h5 .sub-title__red {
  color: #C9484A;
  margin-top: 0 !important; }
  @media only screen and (max-width: 669px) {
    .composite-single-featured-article .richText h5.sub-title__red,
    .composite-single-featured-article .richText h5 .sub-title__red {
      font-size: 1.4rem;
      line-height: 1.16; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .composite-single-featured-article .richText h5.sub-title__red,
    .composite-single-featured-article .richText h5 .sub-title__red {
      font-size: 1.6rem;
      line-height: 1.16; } }
  @media (min-width: 980px) {
    .composite-single-featured-article .richText h5.sub-title__red,
    .composite-single-featured-article .richText h5 .sub-title__red {
      font-size: 2rem;
      line-height: 1.16; } }

@media only screen and (max-width: 669px) {
  .composite-single-featured-article .richText p {
    font-size: 1rem;
    line-height: 1.8rem; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .composite-single-featured-article .richText p {
    font-size: 1.25rem;
    line-height: 1.8rem; } }

@media (min-width: 980px) {
  .composite-single-featured-article .richText p {
    font-size: 1rem;
    line-height: 1.4rem; } }

@media only screen and (max-width: 669px) {
  .composite-single-featured-article .image {
    position: relative;
    width: 100%;
    background: url(/etc/designs/zg/nameera/desktop/assets/img/featured_articles_bg.svg) no-repeat center center; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .composite-single-featured-article .image {
    position: relative;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: 50%;
    background: url(/etc/designs/zg/nameera/desktop/assets/img/featured_articles_bg.svg) no-repeat center center; } }

@media (min-width: 980px) {
  .composite-single-featured-article .image {
    position: relative;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: 40%;
    background: url(/etc/designs/zg/nameera/desktop/assets/img/featured_articles_bg.svg) no-repeat center center; } }

.composite-single-featured-article .image img {
  margin-left: auto;
  margin-right: auto; }
  @media only screen and (max-width: 669px) {
    .composite-single-featured-article .image img {
      position: relative;
      max-width: 275px; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .composite-single-featured-article .image img {
      position: relative;
      max-width: 400px; } }
  @media (min-width: 980px) {
    .composite-single-featured-article .image img {
      position: relative;
      max-width: 600px; } }

@media only screen and (max-width: 669px) {
  .composite-single-featured-article .image {
    -ms-flex-order: 1;
        order: 1; } }

@media only screen and (max-width: 669px) {
  .composite-single-featured-article a[class*=button] {
    transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-top: 15px;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    width: 100%; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .composite-single-featured-article a[class*=button] {
    transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-top: 15px;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center; } }

@media (min-width: 980px) {
  .composite-single-featured-article a[class*=button] {
    transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-top: 15px;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center; } }

@media only screen and (max-width: 669px) {
  .composite-variation-single-featured-article-left .richText {
    position: relative; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .composite-variation-single-featured-article-left .richText {
    position: relative; } }

@media (min-width: 980px) {
  .composite-variation-single-featured-article-left .richText {
    position: relative;
    padding-left: 95px; } }

@media only screen and (max-width: 669px) {
  .composite-variation-single-featured-article-right .richText {
    position: relative;
    -ms-flex-order: 1;
        order: 1; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .composite-variation-single-featured-article-right .richText {
    position: relative; } }

@media (min-width: 980px) {
  .composite-variation-single-featured-article-right .richText {
    position: relative;
    padding-right: 20px; } }

@media only screen and (max-width: 669px) {
  .composite-variation-single-featured-article-right .left {
    position: relative;
    -ms-flex-pack: center;
        justify-content: center;
    display: -ms-flexbox;
    display: flex; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .composite-variation-single-featured-article-right .left {
    position: relative;
    -ms-flex-pack: center;
        justify-content: center;
    display: -ms-flexbox;
    display: flex; } }

@media (min-width: 980px) {
  .composite-variation-single-featured-article-right .left {
    position: relative;
    -ms-flex-pack: center;
        justify-content: center;
    display: -ms-flexbox;
    display: flex; } }

.composite-variation-single-featured-article-with-flower {
  padding-top: 0 !important; }
  @media only screen and (max-width: 669px) {
    .composite-variation-single-featured-article-with-flower {
      position: relative;
      padding-bottom: 25px; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .composite-variation-single-featured-article-with-flower {
      position: relative;
      padding-bottom: 25px; } }
  @media (min-width: 980px) {
    .composite-variation-single-featured-article-with-flower {
      position: relative;
      padding-bottom: 25px; } }
  .composite-variation-single-featured-article-with-flower:before {
    z-index: 14; }
    @media only screen and (max-width: 669px) {
      .composite-variation-single-featured-article-with-flower:before {
        content: "";
        display: block;
        height: 50%;
        width: 100%;
        background: url("/etc/designs/zg/nameera/desktop/assets/img//flower_mobile.png") no-repeat;
        background-size: 100%;
        background-position-x: center;
        background-position-y: 20%;
        position: absolute;
        left: 0;
        top: 0; } }
    @media only screen and (min-width: 670px) and (max-width: 979px) {
      .composite-variation-single-featured-article-with-flower:before {
        content: "";
        display: block;
        height: 35%;
        width: 100%;
        background: url("/etc/designs/zg/nameera/desktop/assets/img//flower_desktop.png") no-repeat;
        background-size: 50%;
        background-position: 30% bottom;
        position: absolute;
        left: 0;
        top: 0; } }
    @media (min-width: 980px) {
      .composite-variation-single-featured-article-with-flower:before {
        content: "";
        display: block;
        height: 35%;
        width: 100%;
        background: url("/etc/designs/zg/nameera/desktop/assets/img//flower_desktop.png") no-repeat;
        background-size: 35%;
        background-position: 40% bottom;
        position: absolute;
        left: 0;
        top: 0; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .composite-variation-single-featured-article-with-flower .richText-content {
      margin-top: 50%; } }
  @media (min-width: 980px) {
    .composite-variation-single-featured-article-with-flower .richText-content {
      margin-top: 50%; } }
  @media only screen and (max-width: 669px) {
    .composite-variation-single-featured-article-with-flower .image {
      position: relative;
      -ms-flex-pack: center;
          justify-content: center;
      padding: 25px 0;
      display: -ms-flexbox;
      display: flex; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .composite-variation-single-featured-article-with-flower .image {
      position: relative;
      -ms-flex-pack: center;
          justify-content: center;
      padding: 25px 0;
      display: -ms-flexbox;
      display: flex; } }
  @media (min-width: 980px) {
    .composite-variation-single-featured-article-with-flower .image {
      position: relative;
      -ms-flex-pack: center;
          justify-content: center;
      padding: 25px 0;
      display: -ms-flexbox;
      display: flex; } }

@media only screen and (max-width: 669px) {
  .composite-variation-single-featured-article-with-bubble:after {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    background: url("/etc/designs/zg/nameera/desktop/assets/img//water_drople.png") no-repeat;
    background-size: 100%;
    background-position: top center;
    position: absolute;
    left: 0px;
    top: 0px; } }

/*# sourceMappingURL=index.css.map */
