@import '../../core/config';

[class*=reference-footer] {
  @import 'config';
  @function g($a...) { @return get-last($footer, $a...); }
  padding-bottom: 41px;
  background: color('orange');
  position: relative;
  z-index: $z-index-content;
  .sr-only{
    display: none;
  }
  a {
    text-decoration: none;
  }
  h5{
    font-weight: normal;
  }
  @include breakpoints {
    @include text(g('text'), $media);
  }

  .richText-content {
    h2{
      @include breakpoints('tablet','desktop'){
        font-size: 12px;
        margin-top:0;
        font-weight: bold;
        margin-bottom: 0;
      }
    }
    a {
      @include breakpoints('tablet','desktop'){
        font-size: 12px;
      }
    }
    p{
      @include breakpoints('tablet','desktop'){
        margin: 12px 0;
      }
    }
  }
  // FOOTER MAIN
  .footer-main {
    color: color('white');
    > .component-content {
      @include breakpoints('mobile'){
        padding-top: 21px;
        padding-bottom: 0;
      }
      @include breakpoints ('tablet','desktop'){
        @include text(g('main.text'), $media);
        @include box(g('main.box'), $media);
      }

      > .content {
        @include breakpoints('mobile'){
          padding: 0;
        }
        @include breakpoints('tablet','desktop'){
          @include wrapper;
        }
        
        @include media-query(desktop, auto) {
          display: flex;
        }
      }
    }
  }

  // FOOTER COMMUNICATIONS SECTION (newsletter, social, phone)
  .footer-communications {
    @include media-query(desktop, auto) {
      width: 50%;
    }

    h2, h3 {
      margin-bottom: spacings('xs');
      margin-top: 0;

      @include breakpoints {
        @include paragraph(g('main._newsletter.title.paragraph'), $media);
      }
    }

    p {
      margin-top: spacings('xxs');
      margin-bottom: spacings('xxs');

      @include media-query(tablet, auto) {
        margin-bottom: spacings('xs');
      }

      @include breakpoints {
        @include paragraph(g('main._newsletter.text.paragraph'), $media);
      }
    }
  }

  .richText-footer-social-share {
    h2, h3, h4, h5 {
      margin-top: 0;
      margin-bottom: spacings('s');

      @include breakpoints {
        @include paragraph(g('main._social-links.title.paragraph'), $media);
      }
    }
  }

  .footer-social-links > .component-content > .content {
    

      justify-content: center;
      display: flex;
      margin: 0 $gutter;
    
    > .reference-icon-link {
      margin: 0;
    }

    a {
        display: block;
        padding: 14px;
      @include link(g('main._social-links.text.link'), $media);

      @include classlist(g('main._social-links.classlist')) {
          @include icon($curr, $media);
      }      
    }
    a::after{
      color: color('white') !important;
      @include media-query(mobile){
        font-size: 12px !important;
      }
      @include breakpoints('tablet', 'desktop'){
        font-size: 21px !important;
      } 
    }

    // Hide AEM anchor tag
    > a {
      display: none;
    }
  }

  // FOOTER NEWSLETTER FORM
  .form {
    $mobileButtonWidth: 46px;
    $tabletButtonWidth: 107px;
    $desktopButtonWidth: 125px;
    @include breakpoints('mobile'){
      margin: 0 43px;
      position: relative;
    }    
    @include media-query(tablet, auto) {
      max-width: 475px;
    }

    .formContent {
      display: flex;
      align-items: stretch;
    }

    .component-content {

      .textField {
        flex-grow: 2;

        .control-label {
          display: none;
        }
        .controls{
          padding-left: 0;
        }
        input {
          width: 100%;
          box-sizing: border-box;

          @include breakpoints ('mobile'){
            background-color: #fff;
            color: #000;
            font-size: 12px;
            font-weight: 400;
            line-height: 1;
            text-align: left;
            text-transform: none;
            font-style: normal;
            font-family: Avenir Book,sans-serif;
            transition: background .3s cubic-bezier(.55,0,.1,1) 0s,color .3s cubic-bezier(.55,0,.1,1) 0s,opacity .3s cubic-bezier(.55,0,.1,1) 0s,transform .3s cubic-bezier(.55,0,.1,1) 0s;
            display: inline-flex;
            border: none !important;
            border-right: 0;
            border-radius: 0 !important;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            padding: 7.62px 10px 6.77px;
            align-items: center;
            justify-content: center;
            height: 26px;
            ::placeholder {
              text-transform: uppercase;
            }
          }
          @include breakpoints ('tablet','desktop'){
            border: none !important;
            border-radius: 0 !important;
            height: 26px;
          }
        }
      }

      &.error {

        .textField {

          .control-label {
            display: none;
          }
        }
      }
    }


    .formButton {
      .component-content, .button {
        height: 100%;
      }

      .button {
        min-width: initial;
        padding: 0;

        $formButton: merge((
          display: breakpoint((mobile:inline-block)), // due to inline-flex problems in iOS 10 and <, we had to include this line.
        ), g('main._newsletter.button'));
        @include breakpoints('mobile'){
          background-color: color('primary','base');
          color: #fff;
          font-size: 0;
          line-height: 1.22;
          text-transform: uppercase;
          letter-spacing: .3px;
          text-decoration: none;
          font-family: Avenir Book,Franklin Gothic,Avenir Next Condensed,sans-serif;
          transition: background .3s cubic-bezier(.55,0,.1,1) 0s,color .3s cubic-bezier(.55,0,.1,1) 0s,opacity .3s cubic-bezier(.55,0,.1,1) 0s,transform .3s cubic-bezier(.55,0,.1,1) 0s;
          display: inline-block;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          -ms-flex-align: center;
          align-items: center;
          -ms-flex-pack: center;
          justify-content: center;
          width: 33px;
          height: 26px;
          border-radius: 0;
          border: none;          
        }
        @include breakpoints ('tablet','desktop') {
          background-color: color('primary','base');
          padding: 0 10px;
          font-size: 0;
        }
        
      }
      button::after{
        content: '\25B6';
        font-size: 12px;
      }
    }
  }

  // FOOTER "CALL US" BUTTON (Phone Link, mobile only)
  .reference-phone-link {
    display: none;
    margin-bottom: 40px;

    @include breakpoints(mobile) {
      display: block;

      .phone-link {
        text-decoration: none;
        line-height: spacings('xl');
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: spacings('s');
        padding-right: spacings('s');
        position: relative;
        @include background(g('main._phone-link.background'), $media);
        @include border(g('main._phone-link.border'), $media);
        @include icon(g('main._phone-link._phone-icon.icon'), $media);
      }

      .phone-label {
        margin-right: spacings('s');
        @include text(g('main._phone-link._phone-label.text'), $media);
      }

      .phone-number {
        @include text(g('main._phone-link._phone-number.text'), $media);
        flex-grow: 2;
      }
    }
  }

  // FOOTER PRIMARY NAVIGATION
  .footer-primary-nav {

    @include breakpoints {
      @include box(g('main._primary-nav.box'), $media);
    }

    @include media-query(tablet, auto) {
      flex-grow: 2;
    }

    > .component-content {
      > .content {
        margin: spacings('m') * -1;

        @include media-query(mobile) {
          margin: spacings('l') * -1;
        }

        @include media-query(tablet, auto) {
          display: flex;
        }

        > .box {
          margin: spacings('m');

          @include media-query(mobile) {
            margin: spacings('l');
          }

          h2, h3, h4 {
            margin: 0;

            @include breakpoints {
              @include paragraph(g('main._primary-nav.title.paragraph'), $media);
            }
          }
        }

        .navigation {
          .navigation-mobile-menu,
          .navigation-item-decoration {
            display: none;
          }

          ul {
            list-style-type: none;
            padding-left: 0;
            margin: 0;
          }
          
        }

        .adchoices-script {
          img {
            display: none !important; // hide default script image (we display asset icon instead)
          }
        }

        .navigation-item,
        .adchoices-script,
        .cookiemanagement {
          a {
            text-decoration: none;
          }

          @include classlist(g('main._primary-nav.classlist')) {
            a {
              @include breakpoints {
                @include button(get($curr, 'button'), $media);
              }
            }
          }
        }
      }
    }
  }
  .accordion + .navigation {
    @include breakpoints ('mobile'){
      display: none;
    }
  }
  .navigation {
    .navigation-mobile-menu{
      @include breakpoints ('tablet','desktop'){
        display: none;
      }
    }
    ul{
      @include breakpoints ('tablet','desktop'){
        margin: 0;
        padding: 0;
        list-style: none;
      }
      li {
        a {
          @include breakpoints ('tablet','desktop'){
            font-size: 12px;
            text-transform: uppercase;
          }
        }
      }
    }
  }
  // FOOTER SUPPLEMENTARY ROW
  .footer-supplementary {
    color: color('white');
    > .component-content {
      @include breakpoints ('mobile'){
        position: relative;
        background-color: color('orange');
        padding-top: 21px;
        padding-bottom: 21px;
      }

      @include breakpoints ('tablet','desktop'){
        @include text(g('supplementary.text'), $media);
        @include box(g('supplementary.box'), $media);
      }
      .richText-content p{
        line-height: 17px;
      }
      > .content {
        @include wrapper;
        display: flex;
        flex-direction: column-reverse;

        @include media-query(desktop, auto) {
          flex-direction: row;
        }

        > .richText {
          @include media-query(tablet, auto) {
            width: 100%;
          }
          @include media-query(desktop, auto) {
            width: 60%;
            margin: 0 auto;
          }

          p {
            margin: 0;

            @include breakpoints {
              @include text(g('supplementary.text.copyright'), $media);
            }
          }
        }
      }
    }
  }

  // FOOTER SECONDARY NAVIGATION
  .footer-secondary-nav {
    flex-grow: 1;

    @include media-query(auto, notebook) {
      margin-bottom: spacings('s');

      &[class*="grid_"] {
        margin-left: 0;
      }
    }

    > .component-content > .content {
      margin: spacings('s') * -1;
      display: flex;
      align-items: center;


      @include media-query(desktop, auto) {
        justify-content: flex-end;
      }

      .richText ul {
        display: flex;
        margin: 0;
        padding: 0;
        list-style-type: none;

        li {
          padding: 0;
          margin: spacings('s');

          &:before {
            display: none;
          }

          a {
            @include breakpoints {
              @include link(g('supplementary.text.link'), $media);
            }
          }
        }
      }

      .reference-icon-link {
        margin: spacings('s');

        .unilever-logo {
          display: block;
          text-align: center;
          position: relative;
          text-decoration: none;
          font-size: 0;

          @include breakpoints {
            @include icon(g('supplementary._unilever-icon.icon'), $media);
          }
        }
      }
    }
  }

  .image{
    background: color('orange');
    width: 100%;
    text-align: center;
    img {
      display: unset;
    }
    > .component-content {
      text-align: center;
    }
  }
  .richtext_258025148{
    @include breakpoints('mobile'){
      display: none;
    }
    h3{ 
      margin-top:42px;
      margin-bottom: 30px;
      font-size: 14px;
    }
  }
  .richtext_775073504{
    @include breakpoints('mobile'){
      display: none;
    }
  }
  .control-label{
    color: color('white') !important;
  }
  select{
    color: color('white') !important;
  }
  
  .box_1474716968_copy_1645907835 {
    @include breakpoints('mobile'){
      display: none;
    }
    .cookiemanagement {
      a {
        font-size: 12px;
        text-transform: uppercase;
      }
    }
  }
  .richtext_2047909839{
    @include breakpoints('mobile'){
      display: none;
    }
  }
  .box_1474716968{
    @include breakpoints('mobile','tablet'){
      display: none;
    }
  }
  .richtext_404902999{
    @include breakpoints('mobile'){
      display: none;
    }
  }
  .box_1474716968_copy .accordion{
    margin-top: 8px;
    @include breakpoints('tablet','desktop'){
      display: none;
    }
    .accordion-container{
      border-bottom: 1px solid #fff;
    }
    .accordion-head{
      padding: 11px 25px;
      border-top: 1px solid #fff;
    }
    .accordion-content{
      padding-top: 0;
      p{
        padding: 11px 25px 11px 43px;
        font-size: .75rem;
        border-top: 1px solid #fff;
        margin: 0;
      }
      .navigation{
        .navigation-mobile-menu{
          display: none;
        }
        ul{
          list-style: none;
          margin:0;
          padding: 0;
          li{
            border-top: 1px solid #fff;
            padding-left: 43px;
            padding-top: 11px;
            padding-bottom: 11px;
            a{
              text-transform: uppercase;
              font-size: 12px;
            }
          }
        }
      }
      .cookiemanagement{
        border-top: 1px solid #fff;
        padding-left: 43px;
        padding-top: 11px;
        padding-bottom: 11px;
        a {
          font-size: 10px;
          text-transform: uppercase;
        }
      }
    }
    .accordion-head a::after{
      right: 25px;
      background: none;
      font-size: 28px;
    }
    .accordion-slide{
      border-bottom: none;
      padding: 0;

    }
    .accordion-title{
      font-size: 12px;
      line-height: unset;
    }
    .accordion-title-text{
      font-weight: 800;
      font-size: 12px;
    }
    .richText-content{
      ul{
        list-style: none;
        li{
          border-top: 1px solid #fff;
          padding-left:43px;
          padding-top:11px;
          padding-bottom: 11px; 
          margin:0;
          &:before{
            display: none;
          }
          a {
            font-size: 10px;
            text-transform: uppercase;
          }
        }
      }
    }
  }
  .box_1142277803 .footer-social-links{
    @include breakpoints('tablet','desktop'){
      
    }
    @include breakpoints('mobile'){
      
    }
  }
  .box_1142277803{
    @include breakpoints('tablet'){
      display: none;
    }
  }
  .richtext_1924754773{
    @include breakpoints('mobile'){
      text-align: center;
      h2{
        font-size: 12px;
        font-weight: normal;
        margin-top:30px;
      }
    }
    @include breakpoints ('tablet','desktop'){
      h2{
        margin-bottom: 24px;
      }
    }
  }
  .form.country-selector-dropdown .selectField .component-content .control-label{
    font-size: 14px;
    font-weight: 800;
    line-height: 1.22;
    text-transform: uppercase;
  }
  .richtext_1845105631{
    .richText-content{
      ul{
        list-style: none;
        margin:0;
        li{
          padding-left: 0;
          padding-top: 4px;
          padding-bottom: 0px;
          margin: 0;
          &:before{
            display: none;
          }
          a {
            font-size: 12px;
            text-transform: uppercase;
          }
        }
      }
    }
  }
  .country-selector-dropdown{
    display: none;
  }
}

@import 'global/index';
@import 'simple/index';
