.taglist[class*=default-style] .taglist-heading {
  display: none; }

.taglist[class*=default-style] .taglist-list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style-type: none;
  padding: 0; }
  @media only screen and (max-width: 669px) {
    .taglist[class*=default-style] .taglist-list {
      position: relative;
      margin: 15px 0; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .taglist[class*=default-style] .taglist-list {
      position: relative;
      margin: 15px 0; } }
  @media (min-width: 980px) {
    .taglist[class*=default-style] .taglist-list {
      position: relative;
      margin: 15px 0; } }
  .taglist[class*=default-style] .taglist-list .taglist-tag {
    margin: 0; }
    .taglist[class*=default-style] .taglist-list .taglist-tag:last-of-type .taglist-tag-link {
      margin-right: 0; }
    @media only screen and (max-width: 669px) {
      .taglist[class*=default-style] .taglist-list .taglist-tag .taglist-tag-link {
        background-color: #f2f4f6;
        color: black;
        font-size: 1rem;
        font-weight: bold;
        line-height: 1;
        text-align: center;
        text-transform: none;
        letter-spacing: 0;
        text-decoration: none;
        transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
        display: -ms-inline-flexbox;
        display: inline-flex;
        border-radius: 25px;
        padding: 7.76px 20px 6.96px 20px;
        margin-top: 5px;
        margin-right: 10px;
        margin-bottom: 5px;
        margin-left: 0;
        -ms-flex-align: center;
            align-items: center;
        -ms-flex-pack: center;
            justify-content: center; }
        .taglist[class*=default-style] .taglist-list .taglist-tag .taglist-tag-link:hover {
          background-color: #D0D0D0; } }
    @media only screen and (min-width: 670px) and (max-width: 979px) {
      .taglist[class*=default-style] .taglist-list .taglist-tag .taglist-tag-link {
        background-color: #f2f4f6;
        color: black;
        font-size: 1rem;
        font-weight: bold;
        line-height: 1;
        text-align: center;
        text-transform: none;
        letter-spacing: 0;
        text-decoration: none;
        transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
        display: -ms-inline-flexbox;
        display: inline-flex;
        border-radius: 25px;
        padding: 7.76px 20px 6.96px 20px;
        margin-top: 5px;
        margin-right: 10px;
        margin-bottom: 5px;
        margin-left: 0;
        -ms-flex-align: center;
            align-items: center;
        -ms-flex-pack: center;
            justify-content: center; }
        .taglist[class*=default-style] .taglist-list .taglist-tag .taglist-tag-link:hover {
          background-color: #D0D0D0; } }
    @media (min-width: 980px) {
      .taglist[class*=default-style] .taglist-list .taglist-tag .taglist-tag-link {
        background-color: #f2f4f6;
        color: black;
        font-size: 1rem;
        font-weight: bold;
        line-height: 1;
        text-align: center;
        text-transform: none;
        letter-spacing: 0;
        text-decoration: none;
        transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
        display: -ms-inline-flexbox;
        display: inline-flex;
        border-radius: 25px;
        padding: 7.76px 20px 6.96px 20px;
        margin-top: 5px;
        margin-right: 10px;
        margin-bottom: 5px;
        margin-left: 0;
        -ms-flex-align: center;
            align-items: center;
        -ms-flex-pack: center;
            justify-content: center; }
        .taglist[class*=default-style] .taglist-list .taglist-tag .taglist-tag-link:hover {
          background-color: #D0D0D0; } }

@media only screen and (max-width: 669px) {
  .taglist.article-landing-tag-list {
    font-size: 0.875rem;
    line-height: 1.29;
    position: relative;
    background: #f2f4f6;
    margin-top: 80px;
    margin-bottom: 80px; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .taglist.article-landing-tag-list {
    font-size: 0.875rem;
    line-height: 1.29;
    position: relative;
    background: #f2f4f6;
    margin-top: 80px;
    margin-bottom: 80px; } }

@media (min-width: 980px) {
  .taglist.article-landing-tag-list {
    font-size: 0.875rem;
    line-height: 1.29;
    position: relative;
    background: #f2f4f6;
    margin-top: 80px;
    margin-bottom: 80px; } }

.taglist.article-landing-tag-list .component-content {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
  padding-right: 25px; }
  @media only screen and (max-width: 669px) {
    .taglist.article-landing-tag-list .component-content {
      width: auto; } }
  @media only screen and (min-width: 670px) and (max-width: 768px) {
    .taglist.article-landing-tag-list .component-content {
      width: auto; } }
  @media only screen and (min-width: 980px) and (max-width: 1139px) {
    .taglist.article-landing-tag-list .component-content {
      width: 960px; } }
  @media (min-width: 1140px) {
    .taglist.article-landing-tag-list .component-content {
      width: 1140px; } }

@media only screen and (max-width: 669px) {
  .taglist.article-landing-tag-list .taglist-heading {
    color: black;
    font-size: 2.375rem;
    font-weight: bold;
    line-height: 1.16;
    text-align: center;
    text-transform: uppercase;
    font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
    position: relative;
    margin-top: 25px;
    margin-bottom: 25px; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .taglist.article-landing-tag-list .taglist-heading {
    color: black;
    font-size: 2.375rem;
    font-weight: bold;
    line-height: 1.16;
    text-align: center;
    text-transform: uppercase;
    font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
    position: relative;
    margin-top: 25px;
    margin-bottom: 25px; } }

@media (min-width: 980px) {
  .taglist.article-landing-tag-list .taglist-heading {
    color: black;
    font-size: 2.375rem;
    font-weight: bold;
    line-height: 1.42;
    text-align: center;
    text-transform: uppercase;
    font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
    position: relative;
    margin-top: 20px;
    margin-bottom: 25px; } }

.taglist.article-landing-tag-list .taglist-list {
  list-style: none;
  padding: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  @media only screen and (max-width: 669px) {
    .taglist.article-landing-tag-list .taglist-list {
      position: relative;
      margin-top: 25px;
      margin-bottom: 20px; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .taglist.article-landing-tag-list .taglist-list {
      position: relative;
      margin-top: 25px;
      margin-bottom: 20px; } }
  @media (min-width: 980px) {
    .taglist.article-landing-tag-list .taglist-list {
      position: relative;
      margin-top: 25px;
      margin-bottom: 20px; } }
  @media only screen and (max-width: 669px) {
    .taglist.article-landing-tag-list .taglist-list .taglist-tag {
      position: relative;
      margin-top: 0;
      margin-right: 5px;
      margin-bottom: 10px;
      margin-left: 5px;
      display: inline-block; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .taglist.article-landing-tag-list .taglist-list .taglist-tag {
      position: relative;
      margin-top: 0;
      margin-right: 5px;
      margin-bottom: 10px;
      margin-left: 5px;
      display: inline-block; } }
  @media (min-width: 980px) {
    .taglist.article-landing-tag-list .taglist-list .taglist-tag {
      position: relative;
      margin-top: 0;
      margin-right: 5px;
      margin-bottom: 10px;
      margin-left: 5px;
      display: inline-block; } }
  @media only screen and (max-width: 669px) {
    .taglist.article-landing-tag-list .taglist-list .taglist-tag .taglist-tag-link {
      background-color: #D0D0D0;
      color: black;
      font-size: 1rem;
      font-weight: bold;
      line-height: 1;
      text-align: center;
      text-transform: none;
      letter-spacing: 0;
      text-decoration: none;
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: -ms-inline-flexbox;
      display: inline-flex;
      border-radius: 25px;
      padding: 7.76px 20px 6.96px 20px;
      margin-top: 5px;
      margin-right: 10px;
      margin-bottom: 5px;
      margin-left: 0;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center; }
      .taglist.article-landing-tag-list .taglist-list .taglist-tag .taglist-tag-link:hover {
        background-color: #6e7f8d; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .taglist.article-landing-tag-list .taglist-list .taglist-tag .taglist-tag-link {
      background-color: #D0D0D0;
      color: black;
      font-size: 1rem;
      font-weight: bold;
      line-height: 1;
      text-align: center;
      text-transform: none;
      letter-spacing: 0;
      text-decoration: none;
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: -ms-inline-flexbox;
      display: inline-flex;
      border-radius: 25px;
      padding: 7.76px 20px 6.96px 20px;
      margin-top: 5px;
      margin-right: 10px;
      margin-bottom: 5px;
      margin-left: 0;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center; }
      .taglist.article-landing-tag-list .taglist-list .taglist-tag .taglist-tag-link:hover {
        background-color: #6e7f8d; } }
  @media (min-width: 980px) {
    .taglist.article-landing-tag-list .taglist-list .taglist-tag .taglist-tag-link {
      background-color: #D0D0D0;
      color: black;
      font-size: 1rem;
      font-weight: bold;
      line-height: 1;
      text-align: center;
      text-transform: none;
      letter-spacing: 0;
      text-decoration: none;
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: -ms-inline-flexbox;
      display: inline-flex;
      border-radius: 25px;
      padding: 7.76px 20px 6.96px 20px;
      margin-top: 5px;
      margin-right: 10px;
      margin-bottom: 5px;
      margin-left: 0;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center; }
      .taglist.article-landing-tag-list .taglist-list .taglist-tag .taglist-tag-link:hover {
        background-color: #6e7f8d; } }

/*# sourceMappingURL=index.css.map */
