@media only screen and (max-width: 669px) {
  .composite-related_articles {
    position: relative;
    margin: 25px 0 80px; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .composite-related_articles {
    position: relative;
    margin: 25px 0 80px; } }

@media (min-width: 980px) {
  .composite-related_articles {
    position: relative;
    margin: 40px 0 80px; } }

@media only screen and (max-width: 669px) {
  .composite-related_articles .listing-items {
    position: relative; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .composite-related_articles .listing-items {
    position: relative; } }

@media (min-width: 980px) {
  .composite-related_articles .listing-items {
    position: relative; } }

@media (min-width: 980px) {
  .composite-related_articles .listing-items .listing-item {
    width: auto;
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    -ms-flex-positive: 1;
        flex-grow: 1; } }

.composite-related_articles > .content > .richText:last-of-type {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
  padding-right: 25px; }
  @media only screen and (max-width: 669px) {
    .composite-related_articles > .content > .richText:last-of-type {
      width: auto; } }
  @media only screen and (min-width: 670px) and (max-width: 768px) {
    .composite-related_articles > .content > .richText:last-of-type {
      width: auto; } }
  @media only screen and (min-width: 980px) and (max-width: 1139px) {
    .composite-related_articles > .content > .richText:last-of-type {
      width: 960px; } }
  @media (min-width: 1140px) {
    .composite-related_articles > .content > .richText:last-of-type {
      width: 1140px; } }

@media only screen and (max-width: 669px) {
  .listing.listing-article-list {
    position: relative; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .listing.listing-article-list {
    position: relative; } }

@media (min-width: 980px) {
  .listing.listing-article-list {
    position: relative; } }

@media only screen and (max-width: 669px) {
  .listing.listing-article-list .listing-items {
    position: relative; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .listing.listing-article-list .listing-items {
    position: relative; } }

@media (min-width: 980px) {
  .listing.listing-article-list .listing-items {
    position: relative; } }

@media only screen and (max-width: 669px) {
  .listing.listing-article-list .listing-item {
    position: relative; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .listing.listing-article-list .listing-item {
    position: relative; } }

@media (min-width: 980px) {
  .listing.listing-article-list .listing-item {
    position: relative; } }

@media only screen and (max-width: 669px) {
  .listing.listing-article-list .listing-item > .component-content .richText-content {
    position: relative; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .listing.listing-article-list .listing-item > .component-content .richText-content {
    position: relative; } }

@media (min-width: 980px) {
  .listing.listing-article-list .listing-item > .component-content .richText-content {
    position: relative; } }

@media only screen and (max-width: 669px) {
  .listing.listing-article-list .listing-item .image {
    position: relative; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .listing.listing-article-list .listing-item .image {
    position: relative; } }

@media (min-width: 980px) {
  .listing.listing-article-list .listing-item .image {
    position: relative; } }

@media only screen and (max-width: 669px) {
  .listing.listing-article-list .listing-item .image img {
    transition: transform 1s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 1s cubic-bezier(0.55, 0, 0.1, 1) 0s, visibility 0s cubic-bezier(0.55, 0, 0.1, 1) 1s; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .listing.listing-article-list .listing-item .image img {
    transition: transform 1s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 1s cubic-bezier(0.55, 0, 0.1, 1) 0s, visibility 0s cubic-bezier(0.55, 0, 0.1, 1) 1s; } }

@media (min-width: 980px) {
  .listing.listing-article-list .listing-item .image img {
    transition: transform 1s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 1s cubic-bezier(0.55, 0, 0.1, 1) 0s, visibility 0s cubic-bezier(0.55, 0, 0.1, 1) 1s; } }

/*# sourceMappingURL=index.css.map */
