@media only screen and (max-width: 669px) {
  .recipeDirections {
    position: relative; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .recipeDirections {
    position: relative; } }

@media (min-width: 980px) {
  .recipeDirections {
    position: relative; } }

@media only screen and (max-width: 669px) {
  .recipeDirections-title {
    font-size: 1.625rem;
    font-weight: bold;
    line-height: 1.23;
    font-family: Montserrat, sans-serif;
    margin: 0 0 25px; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .recipeDirections-title {
    font-size: 1.625rem;
    font-weight: bold;
    line-height: 1.23;
    font-family: Montserrat, sans-serif;
    margin: 0 0 25px; } }

@media (min-width: 980px) {
  .recipeDirections-title {
    font-size: 1.625rem;
    font-weight: bold;
    line-height: 1.23;
    font-family: Montserrat, sans-serif;
    margin: 0 0 25px; } }

.recipeDirections-list {
  padding-left: 22px; }

@media only screen and (max-width: 669px) {
  .recipeDirections-item {
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 1.3;
    font-family: Montserrat, sans-serif; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .recipeDirections-item {
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 1.3;
    font-family: Montserrat, sans-serif; } }

@media (min-width: 980px) {
  .recipeDirections-item {
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 1.3;
    font-family: Montserrat, sans-serif; } }

@media only screen and (max-width: 669px) {
  .recipeDirections-item p {
    font-size: 1.125rem;
    font-weight: normal;
    line-height: 1.44;
    font-family: Montserrat, sans-serif;
    margin-bottom: 25px;
    margin-left: 25px; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .recipeDirections-item p {
    font-size: 1.125rem;
    font-weight: normal;
    line-height: 1.44;
    font-family: Montserrat, sans-serif;
    margin-bottom: 25px;
    margin-left: 25px; } }

@media (min-width: 980px) {
  .recipeDirections-item p {
    font-size: 1.125rem;
    font-weight: normal;
    line-height: 1.44;
    font-family: Montserrat, sans-serif;
    margin-bottom: 25px;
    margin-left: 25px; } }

.recipeDirections pre {
  background-color: #f2f4f6;
  padding: 25px;
  white-space: pre-wrap; }
  @media only screen and (max-width: 669px) {
    .recipeDirections pre {
      font-size: 1.125rem;
      font-weight: normal;
      line-height: 1.44;
      font-family: Montserrat, sans-serif;
      margin-left: 0; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .recipeDirections pre {
      font-size: 1.125rem;
      font-weight: normal;
      line-height: 1.44;
      font-family: Montserrat, sans-serif;
      margin-left: 0; } }
  @media (min-width: 980px) {
    .recipeDirections pre {
      font-size: 1.125rem;
      font-weight: normal;
      line-height: 1.44;
      font-family: Montserrat, sans-serif;
      margin-left: 0; } }
  .recipeDirections pre:empty {
    display: none; }
  .recipeDirections pre blockquote,
  .recipeDirections pre h1,
  .recipeDirections pre h2,
  .recipeDirections pre h3,
  .recipeDirections pre h4,
  .recipeDirections pre ol,
  .recipeDirections pre p,
  .recipeDirections pre ul {
    margin: 15px 0;
    padding: 0; }
  .recipeDirections pre ol li {
    list-style-position: inside; }
  .recipeDirections pre ul li {
    list-style: none; }
    .recipeDirections pre ul li::before {
      background-color: #C9484A;
      border-radius: 50%;
      content: "";
      display: inline-block;
      height: 12px;
      margin-right: 8px;
      width: 12px; }
  .recipeDirections pre :first-child {
    margin-top: 0; }

/*# sourceMappingURL=index.css.map */
