@import '../../core/config';

.composite-product-carousel {
  @import 'config';
  @function g($a...) { @return get-last($productCarousel, $a...); }

  $box: merge((
    margin: (
      margin-top: breakpoint(spacings('l'), spacings('xl'), spacings('xxl')),
      margin-bottom: breakpoint(spacings('l'), spacings('xl'), spacings('xxl'))
    )
  ), g('_main.box'));

  @include breakpoints {
    @include box($box, $media);
  }

  > .content {
    @include wrapper;

    $box: merge((
      padding: (
        padding-left: breakpoint((mobile: 0)),
        padding-right: breakpoint((mobile: 0))
      )
    ), g('_content-wrapper.box'));

    @include breakpoints {
      @include box($box, $media);
    }
  }
}

@import '_listing/index';
