.cta-cancel {
  @import 'config';
  @function g($a...) {
    @return get-last($cta-cancel, $a...);
  }

  @include breakpoints() {
    @include box(g('box'), $media);
  }

  > .component-content {
    > .richText-content {

      @include breakpoints() {
        @include button(g('button'), $media);
      }
    }
  }

  p {
    margin: 0;
  }
}
