@media only screen and (max-width: 669px) {
  .composite-subcategory-section {
    position: relative;
    padding: 60px 0;
    box-sizing: border-box; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .composite-subcategory-section {
    position: relative;
    padding: 60px 0;
    box-sizing: border-box; } }

@media (min-width: 980px) {
  .composite-subcategory-section {
    position: relative;
    padding: 60px 0;
    box-sizing: border-box; } }

.composite-subcategory-section > .content {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
  padding-right: 25px; }
  @media only screen and (max-width: 669px) {
    .composite-subcategory-section > .content {
      width: auto; } }
  @media only screen and (min-width: 670px) and (max-width: 768px) {
    .composite-subcategory-section > .content {
      width: auto; } }
  @media only screen and (min-width: 980px) and (max-width: 1139px) {
    .composite-subcategory-section > .content {
      width: 960px; } }
  @media (min-width: 1140px) {
    .composite-subcategory-section > .content {
      width: 1140px; } }
  @media only screen and (max-width: 669px) {
    .composite-subcategory-section > .content {
      position: relative;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-direction: column;
          flex-direction: column;
      -ms-flex-pack: center;
          justify-content: center;
      padding: 0;
      display: -ms-flexbox;
      display: flex; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .composite-subcategory-section > .content {
      position: relative;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-direction: column;
          flex-direction: column;
      -ms-flex-pack: center;
          justify-content: center;
      display: -ms-flexbox;
      display: flex; } }
  @media (min-width: 980px) {
    .composite-subcategory-section > .content {
      position: relative;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center;
      display: -ms-flexbox;
      display: flex; } }

@media only screen and (max-width: 669px) {
  .composite-subcategory-section .richText-tertiary-header {
    position: relative;
    margin-right: 0;
    margin-bottom: 25px;
    width: 100%; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .composite-subcategory-section .richText-tertiary-header {
    position: relative;
    margin-right: 0;
    margin-bottom: 25px;
    width: 100%; } }

@media (min-width: 980px) {
  .composite-subcategory-section .richText-tertiary-header {
    position: relative; } }

@media only screen and (max-width: 669px) {
  .composite-subcategory-section .richText-tertiary-header .richText-content > *:first-child {
    margin-top: 0; }
  .composite-subcategory-section .richText-tertiary-header .richText-content > *:last-child {
    margin-bottom: 0; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .composite-subcategory-section .richText-tertiary-header .richText-content > *:first-child {
    margin-top: 0; }
  .composite-subcategory-section .richText-tertiary-header .richText-content > *:last-child {
    margin-bottom: 0; } }

@media (min-width: 980px) {
  .composite-subcategory-section .richText-tertiary-header .richText-content > *:first-child {
    margin-top: 0; }
  .composite-subcategory-section .richText-tertiary-header .richText-content > *:last-child {
    margin-bottom: 0; } }

@media only screen and (max-width: 669px) {
  .composite-subcategory-section .richText-tertiary-header h2, .composite-subcategory-section .richText-tertiary-header h3, .composite-subcategory-section .richText-tertiary-header h4 {
    color: black;
    font-size: 2.375rem;
    font-weight: bold;
    line-height: 2.75rem;
    text-align: center;
    text-transform: uppercase;
    white-space: normal;
    font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
    margin: 0; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .composite-subcategory-section .richText-tertiary-header h2, .composite-subcategory-section .richText-tertiary-header h3, .composite-subcategory-section .richText-tertiary-header h4 {
    color: black;
    font-size: 3rem;
    font-weight: bold;
    line-height: 3.375rem;
    text-align: center;
    text-transform: uppercase;
    white-space: normal;
    font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
    margin: 0; } }

@media (min-width: 980px) {
  .composite-subcategory-section .richText-tertiary-header h2, .composite-subcategory-section .richText-tertiary-header h3, .composite-subcategory-section .richText-tertiary-header h4 {
    color: black;
    font-size: 3rem;
    font-weight: bold;
    line-height: 3.375rem;
    text-transform: uppercase;
    white-space: normal;
    font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
    margin: 0; } }

@media only screen and (max-width: 669px) {
  .composite-subcategory-section .richText-tertiary-header p {
    position: relative;
    margin: 0; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .composite-subcategory-section .richText-tertiary-header p {
    position: relative;
    margin: 0; } }

@media (min-width: 980px) {
  .composite-subcategory-section .richText-tertiary-header p {
    position: relative; } }

@media only screen and (max-width: 669px) {
  .composite-subcategory-section .recipeListing {
    position: relative;
    margin-left: 0;
    width: 100%; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .composite-subcategory-section .recipeListing {
    position: relative;
    margin-left: 0;
    width: 100%; } }

@media (min-width: 980px) {
  .composite-subcategory-section .recipeListing {
    position: relative; } }

.composite-subcategory-section .recipeList--as-carousel {
  width: 100%;
  margin-bottom: 0; }
  .composite-subcategory-section .recipeList--as-carousel .recipeListing-list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0px; }
  .composite-subcategory-section .recipeList--as-carousel .recipeListing-item {
    box-sizing: border-box;
    margin: 0px; }
  @media only screen and (max-width: 669px) {
    .composite-subcategory-section .recipeList--as-carousel .recipeListing-item {
      width: calc(100% - 0px); }
    .composite-subcategory-section .recipeList--as-carousel.listing-cols-1 .recipeListing-item, .composite-subcategory-section .recipeList--as-carousel.component.listing-cols-1-mobile .recipeListing-item {
      width: calc(100% - 0px); }
    .composite-subcategory-section .recipeList--as-carousel.listing-cols-2 .recipeListing-item, .composite-subcategory-section .recipeList--as-carousel.component.listing-cols-2-mobile .recipeListing-item {
      width: calc(50% - 0px); }
    .composite-subcategory-section .recipeList--as-carousel.listing-cols-3 .recipeListing-item, .composite-subcategory-section .recipeList--as-carousel.component.listing-cols-3-mobile .recipeListing-item {
      width: calc(33.33333% - 0px); }
    .composite-subcategory-section .recipeList--as-carousel.listing-cols-4 .recipeListing-item, .composite-subcategory-section .recipeList--as-carousel.component.listing-cols-4-mobile .recipeListing-item {
      width: calc(25% - 0px); } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .composite-subcategory-section .recipeList--as-carousel .recipeListing-item {
      width: calc(33.33333% - 0px); }
    .composite-subcategory-section .recipeList--as-carousel.listing-cols-1 .recipeListing-item, .composite-subcategory-section .recipeList--as-carousel.component.listing-cols-1-tablet .recipeListing-item {
      width: calc(100% - 0px); }
    .composite-subcategory-section .recipeList--as-carousel.listing-cols-2 .recipeListing-item, .composite-subcategory-section .recipeList--as-carousel.component.listing-cols-2-tablet .recipeListing-item {
      width: calc(50% - 0px); }
    .composite-subcategory-section .recipeList--as-carousel.listing-cols-3 .recipeListing-item, .composite-subcategory-section .recipeList--as-carousel.component.listing-cols-3-tablet .recipeListing-item {
      width: calc(33.33333% - 0px); }
    .composite-subcategory-section .recipeList--as-carousel.listing-cols-4 .recipeListing-item, .composite-subcategory-section .recipeList--as-carousel.component.listing-cols-4-tablet .recipeListing-item {
      width: calc(25% - 0px); } }
  @media (min-width: 980px) {
    .composite-subcategory-section .recipeList--as-carousel .recipeListing-item {
      width: calc(33.33333% - 0px); }
    .composite-subcategory-section .recipeList--as-carousel.listing-cols-1 .recipeListing-item, .composite-subcategory-section .recipeList--as-carousel.component.listing-cols-1-desktop .recipeListing-item {
      width: calc(100% - 0px); }
    .composite-subcategory-section .recipeList--as-carousel.listing-cols-2 .recipeListing-item, .composite-subcategory-section .recipeList--as-carousel.component.listing-cols-2-desktop .recipeListing-item {
      width: calc(50% - 0px); }
    .composite-subcategory-section .recipeList--as-carousel.listing-cols-3 .recipeListing-item, .composite-subcategory-section .recipeList--as-carousel.component.listing-cols-3-desktop .recipeListing-item {
      width: calc(33.33333% - 0px); }
    .composite-subcategory-section .recipeList--as-carousel.listing-cols-4 .recipeListing-item, .composite-subcategory-section .recipeList--as-carousel.component.listing-cols-4-desktop .recipeListing-item {
      width: calc(25% - 0px); } }
  .composite-subcategory-section .recipeList--as-carousel .recipeListing-list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; }

@media only screen and (max-width: 669px) {
  .composite-subcategory-section .richText:last-of-type {
    position: relative; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .composite-subcategory-section .richText:last-of-type {
    position: relative; } }

@media (min-width: 980px) {
  .composite-subcategory-section .richText:last-of-type {
    position: relative; } }

.composite-subcategory-section .richText:last-of-type p {
  margin: 0; }

.composite-subcategory-section .button-tertiary.desktop-only {
  min-width: 160px; }

.composite-variation-subcategory-section-darker {
  position: relative;
  background: #f2f4f6; }

/*# sourceMappingURL=index.css.map */
