.default-storelocator-compact .storelocator-toggle {
  display: none; }
  .default-storelocator-compact .storelocator-toggle + .storelocator-form-wrapper {
    display: block; }

.default-storelocator-compact .storelocator-form {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .default-storelocator-compact .storelocator-form > .storelocator-title {
    width: 100%; }
  .default-storelocator-compact .storelocator-form .storelocator-wrapper {
    margin-bottom: 0;
    width: 200px; }
  .default-storelocator-compact .storelocator-form .storelocator-prefix {
    display: none; }
  .default-storelocator-compact .storelocator-form .storelocator-button-wrapper {
    margin-left: 5px; }
  .default-storelocator-compact .storelocator-form .storelocator-button {
    border: none;
    background: #97b049;
    color: white;
    padding-top: 9px;
    padding-bottom: 9px;
    height: 40px; }
    .default-storelocator-compact .storelocator-form .storelocator-button:hover {
      background: #788c3a; }

.storelocatorResults-wrapper.loading:before {
  animation-name: sl-rotate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  border: 1px solid #D0D0D0;
  border-bottom: 1px solid transparent;
  border-radius: 50%;
  content: " ";
  display: block;
  height: 50px;
  left: calc(50% - 25px);
  position: absolute;
  top: 60px;
  visibility: visible;
  width: 50px;
  z-index: 1; }

@keyframes sl-rotate {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

/*# sourceMappingURL=index.css.map */
