$heroImageWithRightText: (
  box: (
    height: breakpoint(365px, null, null)
  ),
  content: (
    box: (
      position: relative
    ),
    _image: (
      box: (
        height: breakpoint(365px, null, null)
      ),
      img: (
        max-height: breakpoint(365px, null, null),
        max-width: breakpoint(none, null, null)
      )),
    _text: (
      box:(
        height: breakpoint(365px, null, null),
        position: absolute,
        padding: (
          padding-right: $gutter
        )
      )
    )
  )

);
