.composite.composite-variation-hero-image-with-right-text {
  @import 'config';
  @function g($a...) {
    @return get-last($heroImageWithRightText, $a...);
  }

  @include breakpoints(){
    @include box(g('box'), $media);
  }

  > .content {
    @include breakpoints(){
      @include box(g('content.box'), $media);
    }
  }

  .image {
    @include breakpoints(){
      @include box(g('content._image.box'), $media)
    }

    img {
      @include breakpoints(){
        @include box(g('content._image.img'), $media)
      }
    }
  }

  .richText {

    right: 0;
    top: 0;

    @include breakpoints(){
      @include box(g('content._text.box'), $media);
    }
  }
}
