.smartlabel .smartlabel-button a {
  margin: 15px 0; }
  @media only screen and (max-width: 669px) {
    .smartlabel .smartlabel-button a {
      background-color: white;
      color: black;
      font-size: 1.125rem;
      font-weight: bold;
      line-height: 1.22;
      text-transform: uppercase;
      text-decoration: none;
      font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: -ms-inline-flexbox;
      display: inline-flex;
      border: 1px solid #D0D0D0;
      padding: 11.04px 50px 9.78px 50px;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center;
      width: 100%;
      height: 28px;
      box-sizing: border-box; }
      .smartlabel .smartlabel-button a:hover {
        background-color: rgba(208, 208, 208, 0.2); } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .smartlabel .smartlabel-button a {
      background-color: white;
      color: black;
      font-size: 1.125rem;
      font-weight: bold;
      line-height: 1.22;
      text-transform: uppercase;
      text-decoration: none;
      font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: -ms-inline-flexbox;
      display: inline-flex;
      border: 1px solid #D0D0D0;
      padding: 11.04px 50px 9.78px 50px;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center;
      width: auto;
      height: 35px;
      box-sizing: border-box; }
      .smartlabel .smartlabel-button a:hover {
        background-color: rgba(208, 208, 208, 0.2); } }
  @media (min-width: 980px) {
    .smartlabel .smartlabel-button a {
      background-color: white;
      color: black;
      font-size: 1.125rem;
      font-weight: bold;
      line-height: 1.22;
      text-transform: uppercase;
      text-decoration: none;
      font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: -ms-inline-flexbox;
      display: inline-flex;
      border: 1px solid #D0D0D0;
      padding: 11.04px 50px 9.78px 50px;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center;
      width: auto;
      height: 54px;
      box-sizing: border-box; }
      .smartlabel .smartlabel-button a:hover {
        background-color: rgba(208, 208, 208, 0.2); } }

/*# sourceMappingURL=index.css.map */
