@include local-spacings();

$buyItNow: (
  spacings: spacings(),
  button: extend('_primary.button', (
    margin: (
      margin-top: 25px,
      margin-right: breakpoint((mobile: 0, tablet-min: 20px)),
      margin-bottom: breakpoint((mobile: spacings('xs'), tablet-min: 20px))
    ),
    min-width: breakpoint((mobile: 100%, tablet-min: 180px)),
  ))
);
