@import '../../core/config';

.breadcrumbs[class*=default-style] {
  @import 'config';
  @function g($a...) { @return get-last($pageBreadcrumbs, $a...); }

  @include media-query(mobile) {
    display: none;
  }

  @include breakpoints {
    @include box(g('_main.box'), $media);
    @include text(g('_main.text'), $media);
  }

  .component-content {
    @include wrapper;
  }

  .breadcrumbs-list {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      display: inline-block;

      a {
        @include breakpoints {
          @include link(g('_main.link'), $media);
        }
      }
    }
  }

  .breadcrumbs-separator {
    @include breakpoints {
      @include icon(g('_main.icon'), $media);
    }
  }
}

@import 'floating/index';
