@charset "UTF-8";
.recipeListing .recipeListing-list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -10px; }

.recipeListing .recipeListing-item {
  box-sizing: border-box;
  margin: 10px; }

@media only screen and (max-width: 669px) {
  .recipeListing .recipeListing-item {
    width: calc(50% - 20px); }
  .recipeListing.listing-cols-1 .recipeListing-item, .recipeListing.component.listing-cols-1-mobile .recipeListing-item {
    width: calc(100% - 20px); }
  .recipeListing.listing-cols-2 .recipeListing-item, .recipeListing.component.listing-cols-2-mobile .recipeListing-item {
    width: calc(50% - 20px); }
  .recipeListing.listing-cols-3 .recipeListing-item, .recipeListing.component.listing-cols-3-mobile .recipeListing-item {
    width: calc(33.33333% - 20px); }
  .recipeListing.listing-cols-4 .recipeListing-item, .recipeListing.component.listing-cols-4-mobile .recipeListing-item {
    width: calc(25% - 20px); } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .recipeListing .recipeListing-item {
    width: calc(33.33333% - 20px); }
  .recipeListing.listing-cols-1 .recipeListing-item, .recipeListing.component.listing-cols-1-tablet .recipeListing-item {
    width: calc(100% - 20px); }
  .recipeListing.listing-cols-2 .recipeListing-item, .recipeListing.component.listing-cols-2-tablet .recipeListing-item {
    width: calc(50% - 20px); }
  .recipeListing.listing-cols-3 .recipeListing-item, .recipeListing.component.listing-cols-3-tablet .recipeListing-item {
    width: calc(33.33333% - 20px); }
  .recipeListing.listing-cols-4 .recipeListing-item, .recipeListing.component.listing-cols-4-tablet .recipeListing-item {
    width: calc(25% - 20px); } }

@media (min-width: 980px) {
  .recipeListing .recipeListing-item {
    width: calc(25% - 20px); }
  .recipeListing.listing-cols-1 .recipeListing-item, .recipeListing.component.listing-cols-1-desktop .recipeListing-item {
    width: calc(100% - 20px); }
  .recipeListing.listing-cols-2 .recipeListing-item, .recipeListing.component.listing-cols-2-desktop .recipeListing-item {
    width: calc(50% - 20px); }
  .recipeListing.listing-cols-3 .recipeListing-item, .recipeListing.component.listing-cols-3-desktop .recipeListing-item {
    width: calc(33.33333% - 20px); }
  .recipeListing.listing-cols-4 .recipeListing-item, .recipeListing.component.listing-cols-4-desktop .recipeListing-item {
    width: calc(25% - 20px); } }

.recipeListing > .component-content {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
  padding-right: 25px; }
  @media only screen and (max-width: 669px) {
    .recipeListing > .component-content {
      width: auto; } }
  @media only screen and (min-width: 670px) and (max-width: 768px) {
    .recipeListing > .component-content {
      width: auto; } }
  @media only screen and (min-width: 980px) and (max-width: 1139px) {
    .recipeListing > .component-content {
      width: 960px; } }
  @media (min-width: 1140px) {
    .recipeListing > .component-content {
      width: 1140px; } }
  @media only screen and (max-width: 669px) {
    .recipeListing > .component-content {
      position: relative;
      margin-bottom: 60px; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .recipeListing > .component-content {
      position: relative;
      margin-bottom: 60px; } }
  @media (min-width: 980px) {
    .recipeListing > .component-content {
      position: relative;
      margin-bottom: 60px; } }

@media only screen and (max-width: 669px) {
  .recipeListing .recipeListing-filters {
    position: relative;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 60px;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.125rem;
    font-weight: bold;
    text-transform: uppercase;
    font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .recipeListing .recipeListing-filters {
    position: relative;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 60px;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.125rem;
    font-weight: bold;
    text-transform: uppercase;
    font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif; } }

@media (min-width: 980px) {
  .recipeListing .recipeListing-filters {
    position: relative;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 60px;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.25rem;
    font-weight: bold;
    text-transform: uppercase;
    font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif; } }

.recipeListing .recipeListing-filters select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  z-index: 1;
  background: transparent; }
  .recipeListing .recipeListing-filters select::-ms-expand {
    display: none; }

@media only screen and (max-width: 669px) {
  .recipeListing .recipeListing-main-filters {
    position: relative;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: -ms-flexbox;
    display: flex; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .recipeListing .recipeListing-main-filters {
    position: relative;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: -ms-flexbox;
    display: flex; } }

@media (min-width: 980px) {
  .recipeListing .recipeListing-main-filters {
    position: relative;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: -ms-flexbox;
    display: flex; } }

@media only screen and (max-width: 669px) {
  .recipeListing .recipeListing-main-filters .filter-wrapper {
    position: relative;
    margin-top: 10px;
    margin-right: 50px; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .recipeListing .recipeListing-main-filters .filter-wrapper {
    position: relative;
    margin-top: 10px;
    margin-right: 50px; } }

@media (min-width: 980px) {
  .recipeListing .recipeListing-main-filters .filter-wrapper {
    position: relative;
    margin-top: 10px;
    margin-right: 80px; } }

.recipeListing .recipeListing-main-filters .filter-select {
  width: auto; }
  @media only screen and (max-width: 669px) {
    .recipeListing .recipeListing-main-filters .filter-select {
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: -ms-inline-flexbox;
      display: inline-flex;
      position: relative;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: justify;
          justify-content: space-between; }
      .recipeListing .recipeListing-main-filters .filter-select:before {
        position: absolute;
        top: 100%;
        left: 0; }
      .recipeListing .recipeListing-main-filters .filter-select:before {
        content: '';
        border-top: 2px solid black;
        width: calc(100% - 25px);
        display: block; }
      .recipeListing .recipeListing-main-filters .filter-select:before {
        transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, border 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s; }
      .recipeListing .recipeListing-main-filters .filter-select:hover:before {
        border-color: #696969; }
      .recipeListing .recipeListing-main-filters .filter-select:after {
        content: "";
        font-size: 0.375rem;
        color: #97b049;
        display: block;
        font-family: 'icons';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        text-align: center;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
      .recipeListing .recipeListing-main-filters .filter-select:after {
        transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s; }
      .recipeListing .recipeListing-main-filters .filter-select:hover:after {
        color: #657D02; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .recipeListing .recipeListing-main-filters .filter-select {
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: -ms-inline-flexbox;
      display: inline-flex;
      position: relative;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: justify;
          justify-content: space-between; }
      .recipeListing .recipeListing-main-filters .filter-select:before {
        position: absolute;
        top: 100%;
        left: 0; }
      .recipeListing .recipeListing-main-filters .filter-select:before {
        content: '';
        border-top: 2px solid black;
        width: calc(100% - 25px);
        display: block; }
      .recipeListing .recipeListing-main-filters .filter-select:before {
        transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, border 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s; }
      .recipeListing .recipeListing-main-filters .filter-select:hover:before {
        border-color: #696969; }
      .recipeListing .recipeListing-main-filters .filter-select:after {
        content: "";
        font-size: 0.375rem;
        color: #97b049;
        display: block;
        font-family: 'icons';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        text-align: center;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
      .recipeListing .recipeListing-main-filters .filter-select:after {
        transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s; }
      .recipeListing .recipeListing-main-filters .filter-select:hover:after {
        color: #657D02; } }
  @media (min-width: 980px) {
    .recipeListing .recipeListing-main-filters .filter-select {
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: -ms-inline-flexbox;
      display: inline-flex;
      position: relative;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: justify;
          justify-content: space-between; }
      .recipeListing .recipeListing-main-filters .filter-select:before {
        position: absolute;
        top: 100%;
        left: 0; }
      .recipeListing .recipeListing-main-filters .filter-select:before {
        content: '';
        border-top: 2px solid black;
        width: calc(100% - 25px);
        display: block; }
      .recipeListing .recipeListing-main-filters .filter-select:before {
        transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, border 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s; }
      .recipeListing .recipeListing-main-filters .filter-select:hover:before {
        border-color: #696969; }
      .recipeListing .recipeListing-main-filters .filter-select:after {
        content: "";
        font-size: 0.375rem;
        color: #97b049;
        display: block;
        font-family: 'icons';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        text-align: center;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
      .recipeListing .recipeListing-main-filters .filter-select:after {
        transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s; }
      .recipeListing .recipeListing-main-filters .filter-select:hover:after {
        color: #657D02; } }
  .recipeListing .recipeListing-main-filters .filter-select:before {
    top: 93%; }
  .recipeListing .recipeListing-main-filters .filter-select:after {
    position: relative;
    right: 10px; }
  @media only screen and (max-width: 669px) {
    .recipeListing .recipeListing-main-filters .filter-select select {
      background-color: transparent;
      color: black;
      font-size: 1.625rem;
      font-weight: bold;
      text-transform: uppercase;
      font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: -ms-inline-flexbox;
      display: inline-flex;
      border: none;
      padding: 0 15px 0 0;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center;
      height: 100%;
      font-size: 1.125rem; }
      .recipeListing .recipeListing-main-filters .filter-select select:hover {
        color: #696969; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .recipeListing .recipeListing-main-filters .filter-select select {
      background-color: transparent;
      color: black;
      font-size: 1.625rem;
      font-weight: bold;
      text-transform: uppercase;
      font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: -ms-inline-flexbox;
      display: inline-flex;
      border: none;
      padding: 0 15px 0 0;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center;
      height: 100%;
      font-size: 1.125rem; }
      .recipeListing .recipeListing-main-filters .filter-select select:hover {
        color: #696969; } }
  @media (min-width: 980px) {
    .recipeListing .recipeListing-main-filters .filter-select select {
      background-color: transparent;
      color: black;
      font-size: 2.375rem;
      font-weight: bold;
      text-transform: uppercase;
      font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: -ms-inline-flexbox;
      display: inline-flex;
      border: none;
      padding: 0 15px 0 0;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center;
      height: 100%;
      font-size: 1.625rem; }
      .recipeListing .recipeListing-main-filters .filter-select select:hover {
        color: #696969; } }
  @media only screen and (max-width: 669px) {
    .recipeListing .recipeListing-main-filters .filter-select select option {
      font-size: 0.875rem;
      font-weight: normal;
      position: relative;
      padding: 0;
      min-height: 30px; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .recipeListing .recipeListing-main-filters .filter-select select option {
      font-size: 0.875rem;
      font-weight: normal;
      position: relative;
      padding: 0;
      min-height: 30px; } }
  @media (min-width: 980px) {
    .recipeListing .recipeListing-main-filters .filter-select select option {
      font-size: 0.875rem;
      font-weight: normal;
      position: relative;
      padding: 0;
      min-height: 45px; } }

@media only screen and (max-width: 669px) {
  .recipeListing .recipeListing-sort-order {
    position: relative;
    -ms-flex-align: baseline;
        align-items: baseline;
    -ms-flex-positive: 1;
        flex-grow: 1;
    -ms-flex-pack: end;
        justify-content: flex-end;
    margin-right: 0;
    display: -ms-flexbox;
    display: flex; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .recipeListing .recipeListing-sort-order {
    position: relative;
    -ms-flex-align: baseline;
        align-items: baseline;
    -ms-flex-positive: 1;
        flex-grow: 1;
    -ms-flex-pack: end;
        justify-content: flex-end;
    margin-right: 0;
    display: -ms-flexbox;
    display: flex; } }

@media (min-width: 980px) {
  .recipeListing .recipeListing-sort-order {
    position: relative;
    -ms-flex-align: baseline;
        align-items: baseline;
    -ms-flex-positive: 1;
        flex-grow: 1;
    -ms-flex-pack: end;
        justify-content: flex-end;
    margin-right: 0;
    display: -ms-flexbox;
    display: flex; } }

@media only screen and (max-width: 768px) {
  .recipeListing .recipeListing-sort-order {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -ms-flex-pack: start;
        justify-content: flex-start; } }

.recipeListing .recipeListing-sort-order label {
  position: relative;
  bottom: -3px; }
  @media only screen and (max-width: 669px) {
    .recipeListing .recipeListing-sort-order label {
      font-size: 1.125rem;
      font-weight: bold;
      text-transform: uppercase;
      font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .recipeListing .recipeListing-sort-order label {
      font-size: 1.125rem;
      font-weight: bold;
      text-transform: uppercase;
      font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center; } }
  @media (min-width: 980px) {
    .recipeListing .recipeListing-sort-order label {
      font-size: 1.25rem;
      font-weight: bold;
      text-transform: uppercase;
      font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center; } }
  @media only screen and (max-width: 669px) {
    .recipeListing .recipeListing-sort-order label {
      display: none; } }
  @media only screen and (max-width: 669px) {
    .recipeListing .recipeListing-sort-order label {
      display: -ms-inline-flexbox;
      display: inline-flex; } }

.recipeListing .recipeListing-sort-order .filter-select {
  position: relative; }
  @media only screen and (max-width: 669px) {
    .recipeListing .recipeListing-sort-order .filter-select {
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: -ms-inline-flexbox;
      display: inline-flex;
      margin-top: 25px;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: justify;
          justify-content: space-between; }
      .recipeListing .recipeListing-sort-order .filter-select:after {
        content: "";
        font-size: 0.375rem;
        color: black;
        display: block;
        font-family: 'icons';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        text-align: center;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .recipeListing .recipeListing-sort-order .filter-select {
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: -ms-inline-flexbox;
      display: inline-flex;
      margin-top: 0;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: justify;
          justify-content: space-between; }
      .recipeListing .recipeListing-sort-order .filter-select:after {
        content: "";
        font-size: 0.375rem;
        color: black;
        display: block;
        font-family: 'icons';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        text-align: center;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; } }
  @media (min-width: 980px) {
    .recipeListing .recipeListing-sort-order .filter-select {
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: -ms-inline-flexbox;
      display: inline-flex;
      margin-top: 10px;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: justify;
          justify-content: space-between; }
      .recipeListing .recipeListing-sort-order .filter-select:after {
        content: "";
        font-size: 0.375rem;
        color: black;
        display: block;
        font-family: 'icons';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        text-align: center;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; } }
  @media only screen and (max-width: 669px) {
    .recipeListing .recipeListing-sort-order .filter-select select {
      font-size: 0.875rem;
      font-weight: normal;
      line-height: 1;
      text-transform: none;
      font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: -ms-inline-flexbox;
      display: inline-flex;
      border: 1px solid #D0D0D0;
      border-radius: 3px;
      padding: 12.46px 30px 11.48px 10px;
      margin: 0;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center;
      width: 100%;
      min-width: 175px;
      box-sizing: border-box; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .recipeListing .recipeListing-sort-order .filter-select select {
      font-size: 0.875rem;
      font-weight: normal;
      line-height: 1;
      text-transform: none;
      font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: -ms-inline-flexbox;
      display: inline-flex;
      border: 1px solid #D0D0D0;
      border-radius: 3px;
      padding: 12.46px 30px 11.48px 10px;
      margin: 0;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center;
      width: 100%;
      min-width: 175px;
      box-sizing: border-box; } }
  @media (min-width: 980px) {
    .recipeListing .recipeListing-sort-order .filter-select select {
      font-size: 0.875rem;
      font-weight: normal;
      line-height: 1;
      text-transform: none;
      font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: -ms-inline-flexbox;
      display: inline-flex;
      border: 1px solid #D0D0D0;
      border-radius: 3px;
      padding: 12.46px 30px 11.48px 10px;
      margin: 0;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center;
      width: 100%;
      min-width: 175px;
      box-sizing: border-box; } }
  .recipeListing .recipeListing-sort-order .filter-select select option {
    min-height: 0; }
  .recipeListing .recipeListing-sort-order .filter-select:after {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%); }
  .recipeListing .recipeListing-sort-order .filter-select:before {
    display: none; }

.recipeListing-list {
  padding: 0;
  list-style: none; }

@media only screen and (max-width: 669px) {
  .recipeListing-item {
    position: relative !important;
    -ms-flex-direction: column !important;
        flex-direction: column !important;
    margin-bottom: 20px !important;
    height: 100% !important;
    display: -ms-flexbox !important;
    display: flex !important; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .recipeListing-item {
    position: relative !important;
    -ms-flex-direction: column !important;
        flex-direction: column !important;
    margin-bottom: 20px !important;
    height: 100% !important;
    display: -ms-flexbox !important;
    display: flex !important; } }

@media (min-width: 980px) {
  .recipeListing-item {
    position: relative !important;
    -ms-flex-direction: column !important;
        flex-direction: column !important;
    margin-bottom: 20px !important;
    height: 100% !important;
    display: -ms-flexbox !important;
    display: flex !important; } }

.recipeListing-item:hover {
  cursor: pointer; }

@media only screen and (max-width: 669px) {
  .recipeListing-item:hover .recipeListing-details {
    background-color: rgba(208, 208, 208, 0.2); } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .recipeListing-item:hover .recipeListing-details {
    background-color: rgba(208, 208, 208, 0.2); } }

@media (min-width: 980px) {
  .recipeListing-item:hover .recipeListing-details {
    background-color: rgba(208, 208, 208, 0.2); } }

@media only screen and (max-width: 669px) {
  .recipeListing-item .recipeListing-details {
    position: relative;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-positive: 2;
        flex-grow: 2;
    -ms-flex-pack: justify;
        justify-content: space-between;
    background: white;
    display: -ms-flexbox;
    display: flex; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .recipeListing-item .recipeListing-details {
    position: relative;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-positive: 2;
        flex-grow: 2;
    -ms-flex-pack: justify;
        justify-content: space-between;
    background: white;
    display: -ms-flexbox;
    display: flex; } }

@media (min-width: 980px) {
  .recipeListing-item .recipeListing-details {
    position: relative;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-positive: 2;
        flex-grow: 2;
    -ms-flex-pack: justify;
        justify-content: space-between;
    background: white;
    display: -ms-flexbox;
    display: flex; } }

.recipeListing-item .recipeListing-details .image {
  height: 100%; }
  .recipeListing-item .recipeListing-details .image img {
    -ms-flex-negative: 0;
        flex-shrink: 0; }

.recipeListing-item .recipeListing-details .richText {
  max-width: 100%; }
  @media only screen and (max-width: 669px) {
    .recipeListing-item .recipeListing-details .richText h2, .recipeListing-item .recipeListing-details .richText h3 {
      font-size: 1.125rem;
      line-height: 1.22;
      text-align: center;
      margin: 25px 5px 10px; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .recipeListing-item .recipeListing-details .richText h2, .recipeListing-item .recipeListing-details .richText h3 {
      font-size: 1.125rem;
      line-height: 1.22;
      text-align: center;
      margin: 25px 5px 10px; } }
  @media (min-width: 980px) {
    .recipeListing-item .recipeListing-details .richText h2, .recipeListing-item .recipeListing-details .richText h3 {
      font-size: 1.125rem;
      line-height: 1.22;
      text-align: center;
      margin: 25px 5px 10px; } }
  @media only screen and (max-width: 669px) {
    .recipeListing-item .recipeListing-details .richText p {
      font-size: 0.75rem !important;
      line-height: 1.36 !important;
      text-align: center !important;
      margin: 10px 5px !important; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .recipeListing-item .recipeListing-details .richText p {
      font-size: 0.75rem !important;
      line-height: 1.36 !important;
      text-align: center !important;
      margin: 10px 25px !important; } }
  @media (min-width: 980px) {
    .recipeListing-item .recipeListing-details .richText p {
      font-size: 0.875rem !important;
      line-height: 1.36 !important;
      text-align: center !important;
      margin: 10px 25px !important; } }

.recipeListing-link {
  text-decoration: none;
  overflow: auto; }

@media only screen and (max-width: 669px) {
  .recipeListing .ratingsandreviews {
    position: relative;
    margin-bottom: 20px; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .recipeListing .ratingsandreviews {
    position: relative;
    margin-bottom: 25px; } }

@media (min-width: 980px) {
  .recipeListing .ratingsandreviews {
    position: relative;
    margin-bottom: 25px; } }

.recipeListing .ratingsandreviews .bazaarvoice .bv-stars-container {
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-pack: center;
      justify-content: center; }
  @media only screen and (max-width: 669px) {
    .recipeListing .ratingsandreviews .bazaarvoice .bv-stars-container {
      position: relative; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .recipeListing .ratingsandreviews .bazaarvoice .bv-stars-container {
      position: relative; } }
  @media (min-width: 980px) {
    .recipeListing .ratingsandreviews .bazaarvoice .bv-stars-container {
      position: relative; } }

.recipeListing .ratingsandreviews .bazaarvoice .bv-compat .bv-stars-container .bv-rating-ratio {
  padding-right: 0 !important; }

.recipeListing .ratingsandreviews .bazaarvoice .bv-compat .bv-stars-container .bv-rating-ratio-number,
.recipeListing .ratingsandreviews .bazaarvoice .bv-compat .bv-stars-container .bv-rating-ratio-count {
  display: none !important; }

.recipeListing .ratingsandreviews .bazaarvoice div[data-bv-show="inline_rating"] {
  text-align: center; }
  .recipeListing .ratingsandreviews .bazaarvoice div[data-bv-show="inline_rating"] .bv_averageRating_component_container,
  .recipeListing .ratingsandreviews .bazaarvoice div[data-bv-show="inline_rating"] .bv_numReviews_component_container {
    display: none !important; }

.recipeListing .ratingsandreviews .kritique .rr-widget-container {
  font-size: 0; }
  .recipeListing .ratingsandreviews .kritique .rr-widget-container img {
    height: 16px;
    max-width: initial;
    width: auto; }

.recipeListing .ratingsandreviews .kritique span,
.recipeListing .ratingsandreviews .kritique a {
  display: none; }

.recipeListing .recipeListing-show-more-btn {
  cursor: pointer; }
  @media only screen and (max-width: 669px) {
    .recipeListing .recipeListing-show-more-btn {
      background: none;
      color: black;
      font-size: 0.875rem;
      font-weight: bold;
      text-transform: uppercase;
      font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: inline-block;
      border: 0;
      margin: 60px auto 0;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: justify;
          justify-content: space-between;
      display: block; }
      .recipeListing .recipeListing-show-more-btn:hover {
        color: #696969; }
      .recipeListing .recipeListing-show-more-btn:before {
        background: black;
        border-radius: 50%;
        margin: 0 auto 10px;
        width: 35px;
        height: 35px;
        display: block;
        content: "";
        font-size: 0.9375rem;
        color: white;
        display: block;
        font-family: 'icons';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        text-align: center;
        line-height: 2.1875rem;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
      .recipeListing .recipeListing-show-more-btn:before {
        transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s; }
      .recipeListing .recipeListing-show-more-btn:hover:before {
        background: #696969; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .recipeListing .recipeListing-show-more-btn {
      background: none;
      color: black;
      font-size: 0.875rem;
      font-weight: bold;
      text-transform: uppercase;
      font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: inline-block;
      border: 0;
      margin: 60px auto 0;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: justify;
          justify-content: space-between;
      display: block; }
      .recipeListing .recipeListing-show-more-btn:hover {
        color: #696969; }
      .recipeListing .recipeListing-show-more-btn:before {
        background: black;
        border-radius: 50%;
        margin: 0 auto 10px;
        width: 35px;
        height: 35px;
        display: block;
        content: "";
        font-size: 0.9375rem;
        color: white;
        display: block;
        font-family: 'icons';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        text-align: center;
        line-height: 2.1875rem;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
      .recipeListing .recipeListing-show-more-btn:before {
        transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s; }
      .recipeListing .recipeListing-show-more-btn:hover:before {
        background: #696969; } }
  @media (min-width: 980px) {
    .recipeListing .recipeListing-show-more-btn {
      background: none;
      color: black;
      font-size: 0.875rem;
      font-weight: bold;
      text-transform: uppercase;
      font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: inline-block;
      border: 0;
      margin: 60px auto 0;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: justify;
          justify-content: space-between;
      display: block; }
      .recipeListing .recipeListing-show-more-btn:hover {
        color: #696969; }
      .recipeListing .recipeListing-show-more-btn:before {
        background: black;
        border-radius: 50%;
        margin: 0 auto 10px;
        width: 35px;
        height: 35px;
        display: block;
        content: "";
        font-size: 0.9375rem;
        color: white;
        display: block;
        font-family: 'icons';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        text-align: center;
        line-height: 2.1875rem;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
      .recipeListing .recipeListing-show-more-btn:before {
        transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s; }
      .recipeListing .recipeListing-show-more-btn:hover:before {
        background: #696969; } }

.recipeListing .recipeList--as-carousel {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  .recipeListing .recipeList--as-carousel .recipeListing-list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0px; }
  .recipeListing .recipeList--as-carousel .recipeListing-item {
    box-sizing: border-box;
    margin: 0px; }
  @media only screen and (max-width: 669px) {
    .recipeListing .recipeList--as-carousel .recipeListing-item {
      width: calc(100% - 0px); }
    .recipeListing .recipeList--as-carousel.listing-cols-1 .recipeListing-item, .recipeListing .recipeList--as-carousel.component.listing-cols-1-mobile .recipeListing-item {
      width: calc(100% - 0px); }
    .recipeListing .recipeList--as-carousel.listing-cols-2 .recipeListing-item, .recipeListing .recipeList--as-carousel.component.listing-cols-2-mobile .recipeListing-item {
      width: calc(50% - 0px); }
    .recipeListing .recipeList--as-carousel.listing-cols-3 .recipeListing-item, .recipeListing .recipeList--as-carousel.component.listing-cols-3-mobile .recipeListing-item {
      width: calc(33.33333% - 0px); }
    .recipeListing .recipeList--as-carousel.listing-cols-4 .recipeListing-item, .recipeListing .recipeList--as-carousel.component.listing-cols-4-mobile .recipeListing-item {
      width: calc(25% - 0px); } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .recipeListing .recipeList--as-carousel .recipeListing-item {
      width: calc(33.33333% - 0px); }
    .recipeListing .recipeList--as-carousel.listing-cols-1 .recipeListing-item, .recipeListing .recipeList--as-carousel.component.listing-cols-1-tablet .recipeListing-item {
      width: calc(100% - 0px); }
    .recipeListing .recipeList--as-carousel.listing-cols-2 .recipeListing-item, .recipeListing .recipeList--as-carousel.component.listing-cols-2-tablet .recipeListing-item {
      width: calc(50% - 0px); }
    .recipeListing .recipeList--as-carousel.listing-cols-3 .recipeListing-item, .recipeListing .recipeList--as-carousel.component.listing-cols-3-tablet .recipeListing-item {
      width: calc(33.33333% - 0px); }
    .recipeListing .recipeList--as-carousel.listing-cols-4 .recipeListing-item, .recipeListing .recipeList--as-carousel.component.listing-cols-4-tablet .recipeListing-item {
      width: calc(25% - 0px); } }
  @media (min-width: 980px) {
    .recipeListing .recipeList--as-carousel .recipeListing-item {
      width: calc(25% - 0px); }
    .recipeListing .recipeList--as-carousel.listing-cols-1 .recipeListing-item, .recipeListing .recipeList--as-carousel.component.listing-cols-1-desktop .recipeListing-item {
      width: calc(100% - 0px); }
    .recipeListing .recipeList--as-carousel.listing-cols-2 .recipeListing-item, .recipeListing .recipeList--as-carousel.component.listing-cols-2-desktop .recipeListing-item {
      width: calc(50% - 0px); }
    .recipeListing .recipeList--as-carousel.listing-cols-3 .recipeListing-item, .recipeListing .recipeList--as-carousel.component.listing-cols-3-desktop .recipeListing-item {
      width: calc(33.33333% - 0px); }
    .recipeListing .recipeList--as-carousel.listing-cols-4 .recipeListing-item, .recipeListing .recipeList--as-carousel.component.listing-cols-4-desktop .recipeListing-item {
      width: calc(25% - 0px); } }
  @media only screen and (max-width: 669px) {
    .recipeListing .recipeList--as-carousel {
      position: relative;
      margin-bottom: 30px; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .recipeListing .recipeList--as-carousel {
      position: relative;
      padding: 0 56px;
      margin-bottom: 60px; } }
  @media (min-width: 980px) {
    .recipeListing .recipeList--as-carousel {
      position: relative;
      padding: 0 56px;
      margin-bottom: 60px; } }
  @media only screen and (max-width: 669px) {
    .recipeListing .recipeList--as-carousel.component-content .recipeListing-wrapper {
      position: relative;
      margin: 0 auto;
      width: calc(50% - 10px); } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .recipeListing .recipeList--as-carousel.component-content .recipeListing-wrapper {
      position: relative;
      margin: -10px;
      overflow: hidden; } }
  @media (min-width: 980px) {
    .recipeListing .recipeList--as-carousel.component-content .recipeListing-wrapper {
      position: relative;
      margin: -10px;
      overflow: hidden; } }
  .recipeListing .recipeList--as-carousel.component-content .recipeListing-list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin: 0; }
  .recipeListing .recipeList--as-carousel.component-content .recipeListing-item {
    margin: 0 !important; }
    @media only screen and (max-width: 669px) {
      .recipeListing .recipeList--as-carousel.component-content .recipeListing-item {
        position: relative;
        -ms-flex-negative: 0;
            flex-shrink: 0;
        padding: 10px; } }
    @media only screen and (min-width: 670px) and (max-width: 979px) {
      .recipeListing .recipeList--as-carousel.component-content .recipeListing-item {
        position: relative;
        -ms-flex-negative: 0;
            flex-shrink: 0;
        padding: 10px; } }
    @media (min-width: 980px) {
      .recipeListing .recipeList--as-carousel.component-content .recipeListing-item {
        position: relative;
        -ms-flex-negative: 0;
            flex-shrink: 0;
        padding: 10px; } }
    .recipeListing .recipeList--as-carousel.component-content .recipeListing-item.is-hidden {
      visibility: hidden;
      display: block !important; }
  .recipeListing .recipeList--as-carousel.component-content .recipeListing-link {
    -ms-touch-action: pan-y;
        touch-action: pan-y; }
    .recipeListing .recipeList--as-carousel.component-content .recipeListing-link:hover {
      background: transparent; }
  .recipeListing .recipeList--as-carousel.component-content .carousel-controls {
    left: 0;
    top: 50%;
    transform: translateY(-50%); }
    @media only screen and (max-width: 669px) {
      .recipeListing .recipeList--as-carousel.component-content .carousel-controls {
        position: absolute;
        -ms-flex-align: center;
            align-items: center;
        -ms-flex-pack: center;
            justify-content: center;
        padding: 0;
        margin: 0;
        width: 100%;
        display: -ms-flexbox;
        display: flex;
        box-sizing: border-box; } }
    @media only screen and (min-width: 670px) and (max-width: 979px) {
      .recipeListing .recipeList--as-carousel.component-content .carousel-controls {
        position: absolute;
        -ms-flex-align: center;
            align-items: center;
        -ms-flex-pack: center;
            justify-content: center;
        padding: 0;
        margin: 0;
        width: 100%;
        display: -ms-flexbox;
        display: flex;
        box-sizing: border-box; } }
    @media (min-width: 980px) {
      .recipeListing .recipeList--as-carousel.component-content .carousel-controls {
        position: absolute;
        -ms-flex-align: center;
            align-items: center;
        -ms-flex-pack: center;
            justify-content: center;
        padding: 0;
        margin: 0;
        width: 100%;
        display: -ms-flexbox;
        display: flex;
        box-sizing: border-box; } }
    .recipeListing .recipeList--as-carousel.component-content .carousel-controls button {
      cursor: pointer; }
      .recipeListing .recipeList--as-carousel.component-content .carousel-controls button:focus {
        outline: none; }
      @media only screen and (max-width: 669px) {
        .recipeListing .recipeList--as-carousel.component-content .carousel-controls button.previous, .recipeListing .recipeList--as-carousel.component-content .carousel-controls button.previous.disabled, .recipeListing .recipeList--as-carousel.component-content .carousel-controls button.next, .recipeListing .recipeList--as-carousel.component-content .carousel-controls button.next.disabled {
          display: none; } }
    .recipeListing .recipeList--as-carousel.component-content .carousel-controls .previous,
    .recipeListing .recipeList--as-carousel.component-content .carousel-controls .next {
      position: absolute;
      border: 0; }
      @media only screen and (max-width: 669px) {
        .recipeListing .recipeList--as-carousel.component-content .carousel-controls .previous,
        .recipeListing .recipeList--as-carousel.component-content .carousel-controls .next {
          background-color: black;
          transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
          display: inline-block;
          border-radius: 50%;
          -ms-flex-align: center;
              align-items: center;
          -ms-flex-pack: center;
              justify-content: center;
          width: 16px;
          height: 16px; }
          .recipeListing .recipeList--as-carousel.component-content .carousel-controls .previous:after,
          .recipeListing .recipeList--as-carousel.component-content .carousel-controls .next:after {
            margin-top: -1px;
            font-size: 0.5625rem;
            color: white;
            display: block; } }
      @media only screen and (min-width: 670px) and (max-width: 979px) {
        .recipeListing .recipeList--as-carousel.component-content .carousel-controls .previous,
        .recipeListing .recipeList--as-carousel.component-content .carousel-controls .next {
          background-color: black;
          transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
          display: inline-block;
          border-radius: 50%;
          -ms-flex-align: center;
              align-items: center;
          -ms-flex-pack: center;
              justify-content: center;
          width: 16px;
          height: 16px; }
          .recipeListing .recipeList--as-carousel.component-content .carousel-controls .previous:hover,
          .recipeListing .recipeList--as-carousel.component-content .carousel-controls .next:hover {
            background-color: #696969; }
          .recipeListing .recipeList--as-carousel.component-content .carousel-controls .previous:after,
          .recipeListing .recipeList--as-carousel.component-content .carousel-controls .next:after {
            margin-top: -1px;
            font-size: 0.5625rem;
            color: white;
            display: block; } }
      @media (min-width: 980px) {
        .recipeListing .recipeList--as-carousel.component-content .carousel-controls .previous,
        .recipeListing .recipeList--as-carousel.component-content .carousel-controls .next {
          background-color: black;
          transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
          display: inline-block;
          border-radius: 50%;
          -ms-flex-align: center;
              align-items: center;
          -ms-flex-pack: center;
              justify-content: center;
          width: 16px;
          height: 16px; }
          .recipeListing .recipeList--as-carousel.component-content .carousel-controls .previous:hover,
          .recipeListing .recipeList--as-carousel.component-content .carousel-controls .next:hover {
            background-color: #696969; }
          .recipeListing .recipeList--as-carousel.component-content .carousel-controls .previous:after,
          .recipeListing .recipeList--as-carousel.component-content .carousel-controls .next:after {
            margin-top: -1px;
            font-size: 0.5625rem;
            color: white;
            display: block; } }
      .recipeListing .recipeList--as-carousel.component-content .carousel-controls .previous.disabled,
      .recipeListing .recipeList--as-carousel.component-content .carousel-controls .next.disabled {
        pointer-events: none; }
        @media only screen and (max-width: 669px) {
          .recipeListing .recipeList--as-carousel.component-content .carousel-controls .previous.disabled,
          .recipeListing .recipeList--as-carousel.component-content .carousel-controls .next.disabled {
            background-color: #f2f4f6;
            transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
            display: -ms-inline-flexbox;
            display: inline-flex;
            -ms-flex-align: center;
                align-items: center;
            -ms-flex-pack: center;
                justify-content: center; } }
        @media only screen and (min-width: 670px) and (max-width: 979px) {
          .recipeListing .recipeList--as-carousel.component-content .carousel-controls .previous.disabled,
          .recipeListing .recipeList--as-carousel.component-content .carousel-controls .next.disabled {
            background-color: #f2f4f6;
            transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
            display: -ms-inline-flexbox;
            display: inline-flex;
            -ms-flex-align: center;
                align-items: center;
            -ms-flex-pack: center;
                justify-content: center; } }
        @media (min-width: 980px) {
          .recipeListing .recipeList--as-carousel.component-content .carousel-controls .previous.disabled,
          .recipeListing .recipeList--as-carousel.component-content .carousel-controls .next.disabled {
            background-color: #f2f4f6;
            transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
            display: -ms-inline-flexbox;
            display: inline-flex;
            -ms-flex-align: center;
                align-items: center;
            -ms-flex-pack: center;
                justify-content: center; } }
    .recipeListing .recipeList--as-carousel.component-content .carousel-controls .previous {
      left: 0; }
      @media only screen and (max-width: 669px) {
        .recipeListing .recipeList--as-carousel.component-content .carousel-controls .previous {
          transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
          display: -ms-inline-flexbox;
          display: inline-flex;
          margin-right: 28px;
          -ms-flex-align: center;
              align-items: center;
          -ms-flex-pack: center;
              justify-content: center;
          width: 26px;
          height: 26px; }
          .recipeListing .recipeList--as-carousel.component-content .carousel-controls .previous:after {
            content: "";
            display: block;
            font-family: 'icons';
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            text-align: center;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale; } }
      @media only screen and (min-width: 670px) and (max-width: 979px) {
        .recipeListing .recipeList--as-carousel.component-content .carousel-controls .previous {
          transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
          display: -ms-inline-flexbox;
          display: inline-flex;
          margin-right: 28px;
          -ms-flex-align: center;
              align-items: center;
          -ms-flex-pack: center;
              justify-content: center;
          width: 26px;
          height: 26px; }
          .recipeListing .recipeList--as-carousel.component-content .carousel-controls .previous:after {
            content: "";
            display: block;
            font-family: 'icons';
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            text-align: center;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale; } }
      @media (min-width: 980px) {
        .recipeListing .recipeList--as-carousel.component-content .carousel-controls .previous {
          transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
          display: -ms-inline-flexbox;
          display: inline-flex;
          margin-right: 28px;
          -ms-flex-align: center;
              align-items: center;
          -ms-flex-pack: center;
              justify-content: center;
          width: 26px;
          height: 26px; }
          .recipeListing .recipeList--as-carousel.component-content .carousel-controls .previous:after {
            content: "";
            display: block;
            font-family: 'icons';
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            text-align: center;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale; } }
    .recipeListing .recipeList--as-carousel.component-content .carousel-controls .next {
      right: 0; }
      @media only screen and (max-width: 669px) {
        .recipeListing .recipeList--as-carousel.component-content .carousel-controls .next {
          transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
          display: -ms-inline-flexbox;
          display: inline-flex;
          margin-left: 28px;
          -ms-flex-align: center;
              align-items: center;
          -ms-flex-pack: center;
              justify-content: center;
          width: 26px;
          height: 26px; }
          .recipeListing .recipeList--as-carousel.component-content .carousel-controls .next:after {
            content: "";
            display: block;
            font-family: 'icons';
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            text-align: center;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale; } }
      @media only screen and (min-width: 670px) and (max-width: 979px) {
        .recipeListing .recipeList--as-carousel.component-content .carousel-controls .next {
          transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
          display: -ms-inline-flexbox;
          display: inline-flex;
          margin-left: 28px;
          -ms-flex-align: center;
              align-items: center;
          -ms-flex-pack: center;
              justify-content: center;
          width: 26px;
          height: 26px; }
          .recipeListing .recipeList--as-carousel.component-content .carousel-controls .next:after {
            content: "";
            display: block;
            font-family: 'icons';
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            text-align: center;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale; } }
      @media (min-width: 980px) {
        .recipeListing .recipeList--as-carousel.component-content .carousel-controls .next {
          transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
          display: -ms-inline-flexbox;
          display: inline-flex;
          margin-left: 28px;
          -ms-flex-align: center;
              align-items: center;
          -ms-flex-pack: center;
              justify-content: center;
          width: 26px;
          height: 26px; }
          .recipeListing .recipeList--as-carousel.component-content .carousel-controls .next:after {
            content: "";
            display: block;
            font-family: 'icons';
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            text-align: center;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale; } }

/*# sourceMappingURL=index.css.map */
