.composite-video-with-heading {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
  padding-right: 25px; }
  @media only screen and (max-width: 669px) {
    .composite-video-with-heading {
      width: auto; } }
  @media only screen and (min-width: 670px) and (max-width: 768px) {
    .composite-video-with-heading {
      width: auto; } }
  @media only screen and (min-width: 980px) and (max-width: 1139px) {
    .composite-video-with-heading {
      width: 960px; } }
  @media (min-width: 1140px) {
    .composite-video-with-heading {
      width: 1140px; } }
  @media only screen and (max-width: 669px) {
    .composite-video-with-heading {
      position: relative;
      margin-top: 60px;
      margin-bottom: 60px; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .composite-video-with-heading {
      position: relative;
      margin-top: 60px;
      margin-bottom: 60px; } }
  @media (min-width: 980px) {
    .composite-video-with-heading {
      position: relative;
      margin-top: 120px;
      margin-bottom: 120px; } }
  @media only screen and (max-width: 669px) {
    .composite-video-with-heading .richText-content {
      margin-right: 20px;
      margin-bottom: 25px;
      margin-left: 20px; } }
  @media (min-width: 980px) {
    .composite-video-with-heading .richText-content {
      margin-right: 190px;
      margin-bottom: 50px;
      margin-left: 190px; } }
  @media only screen and (max-width: 669px) {
    .composite-video-with-heading .richText-content h2, .composite-video-with-heading .richText-content h3, .composite-video-with-heading .richText-content h4 {
      font-size: 1.625rem;
      font-weight: bold;
      line-height: 1.2;
      text-transform: uppercase;
      font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
      margin-top: 0;
      margin-bottom: 20px; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .composite-video-with-heading .richText-content h2, .composite-video-with-heading .richText-content h3, .composite-video-with-heading .richText-content h4 {
      font-size: 1.625rem;
      font-weight: bold;
      line-height: 1.2;
      text-transform: uppercase;
      font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
      margin-top: 0;
      margin-bottom: 20px; } }
  @media (min-width: 980px) {
    .composite-video-with-heading .richText-content h2, .composite-video-with-heading .richText-content h3, .composite-video-with-heading .richText-content h4 {
      font-size: 3rem;
      font-weight: bold;
      line-height: 1.2;
      text-transform: uppercase;
      font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
      margin-top: 0;
      margin-bottom: 20px; } }
  @media only screen and (max-width: 669px) {
    .composite-video-with-heading .video {
      position: relative;
      margin: 0 -20px; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .composite-video-with-heading .video {
      position: relative; } }
  @media (min-width: 980px) {
    .composite-video-with-heading .video {
      position: relative; } }

/*# sourceMappingURL=index.css.map */
