.box-transparent-background {
  @import 'config';
  @function g($a...) {
    @return get-last($darkerBackground, $a...);
  }

  // main box:
  @include breakpoints() {
    @include box(g('_main.box'), $media);
  }
}