$compositeVariantTiteledIconNight: (
    icon: (
        box: (
            background: (
                background-image: url('/etc/designs/zg/nameera/desktop/assets/img/night-icon.svg'),
                background-position: center,
                background-repeat: no-repeat,
            )
        )
    )
) 