.composite-variation-titeled-icon-night {
    @import 'config';
    
    @function g($a...) {
        @return get-last($compositeVariantTiteledIconNight, $a...);
    }

    .richText-content h3 {
        &:before {
            background-image: url('/etc/designs/zg/nameera/desktop/assets/img/night-icon.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: 90%;
        }
    }
}