$photoCarousel: (
    spacings: common('spacings')
);

$photoCarousel: merge($photoCarousel, (
    wrapper: (
        box: (
            height: breakpoint(150px !important, 200px !important, 265px !important),
        )
    ),
    _main: (
        box:(
            width: breakpoint((
                mobile: 150px,
                tablet: 200px,
                desktop: 265px,
            )),
            padding: (
                padding: breakpoint(0 5px, 0 10px, 0 15px)
            )
        )
    ),
    image: (
        box: (
            height: breakpoint((
                mobile: 150px,
                tablet: 200px,
                desktop: 265px,
            )),
        )
    )
))

