@import '../../core/config';
.composite-photo-carousel {
    @import 'config';
    @function g($a...) {
      @return get-last($photoCarousel, $a...);
    }

    .flickity-viewport {
        @include breakpoints(){
            @include box(g('wrapper.box'), $media);
        }
    }

    .listing-item {
        
        @include breakpoints(){
            @include box(g('_main.box'), $media);
        }

        .image {

            z-index: $z-index-content;

            @include breakpoints(){
                @include box(g('image.box'), $media)
            }

            .component-content {
                height: 200px;
                background: red;
            }

            img {
                min-width: 0;
                min-height: 0;
                width: 200px;
                height: 200px;
                -o-object-fit: cover;
                object-fit: cover;
            }
        }
    }


}