@media only screen and (max-width: 669px) {
  .composite-tutorial-carousel {
    position: relative;
    margin-bottom: 30px; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .composite-tutorial-carousel {
    position: relative; } }

@media (min-width: 980px) {
  .composite-tutorial-carousel {
    position: relative; } }

@media only screen and (max-width: 669px) {
  .composite-tutorial-carousel .listing-carousel {
    position: relative;
    min-height: 200px !important; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .composite-tutorial-carousel .listing-carousel {
    position: relative;
    min-height: 325px !important; } }

@media (min-width: 980px) {
  .composite-tutorial-carousel .listing-carousel {
    position: relative;
    min-height: 400px !important; } }

@media only screen and (max-width: 669px) {
  .composite-tutorial-carousel .listing-items .flickity-viewport {
    position: relative;
    min-height: 200px !important; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .composite-tutorial-carousel .listing-items .flickity-viewport {
    position: relative;
    min-height: 325px !important; } }

@media (min-width: 980px) {
  .composite-tutorial-carousel .listing-items .flickity-viewport {
    position: relative;
    min-height: 400px !important; } }

@media only screen and (max-width: 669px) {
  .composite-tutorial-carousel .listing-item {
    position: relative;
    padding: 0 15px !important;
    max-width: 125px; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .composite-tutorial-carousel .listing-item {
    position: relative;
    padding: 0 15px !important;
    max-width: 175px; } }

@media (min-width: 980px) {
  .composite-tutorial-carousel .listing-item {
    position: relative;
    padding: 0 15px !important;
    max-width: 275px; } }

.composite-tutorial-carousel .listing-item > .component-content > .paragraphSystem.content > .box > .component-content > .content {
  position: relative; }
  .composite-tutorial-carousel .listing-item > .component-content > .paragraphSystem.content > .box > .component-content > .content .richText {
    position: absolute;
    left: 10%;
    bottom: 0; }
  @media only screen and (max-width: 669px) {
    .composite-tutorial-carousel .listing-item > .component-content > .paragraphSystem.content > .box > .component-content > .content .image {
      position: relative;
      min-width: 125px; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .composite-tutorial-carousel .listing-item > .component-content > .paragraphSystem.content > .box > .component-content > .content .image {
      position: relative;
      min-width: 175px; } }
  @media (min-width: 980px) {
    .composite-tutorial-carousel .listing-item > .component-content > .paragraphSystem.content > .box > .component-content > .content .image {
      position: relative;
      min-width: 275px; } }

.composite-tutorial-carousel .listing-item .richText-content .step-number {
  font-family: 'Baloo', Arial, Helvetica, sans-serif;
  color: #f7987f;
  line-height: 0; }

.composite-tutorial-carousel .listing-item h3 {
  margin-bottom: 0; }
  @media only screen and (max-width: 669px) {
    .composite-tutorial-carousel .listing-item h3 .step-number {
      font-size: 3.375rem;
      line-height: 2.8rem; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .composite-tutorial-carousel .listing-item h3 .step-number {
      font-size: 3.375rem;
      line-height: 3; } }
  @media (min-width: 980px) {
    .composite-tutorial-carousel .listing-item h3 .step-number {
      font-size: 3.375rem;
      line-height: 5; } }

/*# sourceMappingURL=index.css.map */
