@charset "UTF-8";
.listing[class*=listing-cols]-item:first-of-type {
  margin-left: 0; }

.grid_12 .listing[class*=listing-cols] .listing-item.grid_1:nth-of-type(12n + 1) {
  margin-left: 0; }

.grid_12 .listing[class*=listing-cols] .listing-item.grid_2:nth-of-type(6n + 1) {
  margin-left: 0; }

.grid_12 .listing[class*=listing-cols] .listing-item.grid_3:nth-of-type(4n + 1) {
  margin-left: 0; }

.grid_12 .listing[class*=listing-cols] .listing-item.grid_4:nth-of-type(3n + 1) {
  margin-left: 0; }

.grid_12 .listing[class*=listing-cols] .listing-item.grid_5:nth-of-type(2.4n + 1) {
  margin-left: 0; }

.grid_12 .listing[class*=listing-cols] .listing-item.grid_6:nth-of-type(2n + 1) {
  margin-left: 0; }

.grid_12 .listing[class*=listing-cols] .listing-item.grid_7:nth-of-type(1.71429n + 1) {
  margin-left: 0; }

.grid_12 .listing[class*=listing-cols] .listing-item.grid_8:nth-of-type(1.5n + 1) {
  margin-left: 0; }

.grid_12 .listing[class*=listing-cols] .listing-item.grid_9:nth-of-type(1.33333n + 1) {
  margin-left: 0; }

.grid_12 .listing[class*=listing-cols] .listing-item.grid_10:nth-of-type(1.2n + 1) {
  margin-left: 0; }

.grid_12 .listing[class*=listing-cols] .listing-item.grid_11:nth-of-type(1.09091n + 1) {
  margin-left: 0; }

.grid_12 .listing[class*=listing-cols] .listing-item.grid_12:nth-of-type(1n + 1) {
  margin-left: 0; }

.grid_16 .listing[class*=listing-cols] .listing-item.grid_1:nth-of-type(16n + 1) {
  margin-left: 0; }

.grid_16 .listing[class*=listing-cols] .listing-item.grid_2:nth-of-type(8n + 1) {
  margin-left: 0; }

.grid_16 .listing[class*=listing-cols] .listing-item.grid_3:nth-of-type(5.33333n + 1) {
  margin-left: 0; }

.grid_16 .listing[class*=listing-cols] .listing-item.grid_4:nth-of-type(4n + 1) {
  margin-left: 0; }

.grid_16 .listing[class*=listing-cols] .listing-item.grid_5:nth-of-type(3.2n + 1) {
  margin-left: 0; }

.grid_16 .listing[class*=listing-cols] .listing-item.grid_6:nth-of-type(2.66667n + 1) {
  margin-left: 0; }

.grid_16 .listing[class*=listing-cols] .listing-item.grid_7:nth-of-type(2.28571n + 1) {
  margin-left: 0; }

.grid_16 .listing[class*=listing-cols] .listing-item.grid_8:nth-of-type(2n + 1) {
  margin-left: 0; }

.grid_16 .listing[class*=listing-cols] .listing-item.grid_9:nth-of-type(1.77778n + 1) {
  margin-left: 0; }

.grid_16 .listing[class*=listing-cols] .listing-item.grid_10:nth-of-type(1.6n + 1) {
  margin-left: 0; }

.grid_16 .listing[class*=listing-cols] .listing-item.grid_11:nth-of-type(1.45455n + 1) {
  margin-left: 0; }

.grid_16 .listing[class*=listing-cols] .listing-item.grid_12:nth-of-type(1.33333n + 1) {
  margin-left: 0; }

.grid_16 .listing[class*=listing-cols] .listing-item.grid_13:nth-of-type(1.23077n + 1) {
  margin-left: 0; }

.grid_16 .listing[class*=listing-cols] .listing-item.grid_14:nth-of-type(1.14286n + 1) {
  margin-left: 0; }

.grid_16 .listing[class*=listing-cols] .listing-item.grid_15:nth-of-type(1.06667n + 1) {
  margin-left: 0; }

.grid_16 .listing[class*=listing-cols] .listing-item.grid_16:nth-of-type(1n + 1) {
  margin-left: 0; }

.listing[class*=listing-cols] .listing-items {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px; }

.listing[class*=listing-cols] .listing-item {
  box-sizing: border-box;
  margin: 0px; }

@media only screen and (max-width: 669px) {
  .listing[class*=listing-cols] .listing-item {
    width: calc(50% - 0px); }
  .listing[class*=listing-cols].listing-cols-1 .listing-item, .listing[class*=listing-cols].component.listing-cols-1-mobile .listing-item {
    width: calc(100% - 0px); }
  .listing[class*=listing-cols].listing-cols-2 .listing-item, .listing[class*=listing-cols].component.listing-cols-2-mobile .listing-item {
    width: calc(50% - 0px); }
  .listing[class*=listing-cols].listing-cols-3 .listing-item, .listing[class*=listing-cols].component.listing-cols-3-mobile .listing-item {
    width: calc(33.33333% - 0px); }
  .listing[class*=listing-cols].listing-cols-4 .listing-item, .listing[class*=listing-cols].component.listing-cols-4-mobile .listing-item {
    width: calc(25% - 0px); } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .listing[class*=listing-cols] .listing-item {
    width: calc(50% - 0px); }
  .listing[class*=listing-cols].listing-cols-1 .listing-item, .listing[class*=listing-cols].component.listing-cols-1-tablet .listing-item {
    width: calc(100% - 0px); }
  .listing[class*=listing-cols].listing-cols-2 .listing-item, .listing[class*=listing-cols].component.listing-cols-2-tablet .listing-item {
    width: calc(50% - 0px); }
  .listing[class*=listing-cols].listing-cols-3 .listing-item, .listing[class*=listing-cols].component.listing-cols-3-tablet .listing-item {
    width: calc(33.33333% - 0px); }
  .listing[class*=listing-cols].listing-cols-4 .listing-item, .listing[class*=listing-cols].component.listing-cols-4-tablet .listing-item {
    width: calc(25% - 0px); } }

@media (min-width: 980px) {
  .listing[class*=listing-cols] .listing-item {
    width: calc(50% - 0px); }
  .listing[class*=listing-cols].listing-cols-1 .listing-item, .listing[class*=listing-cols].component.listing-cols-1-desktop .listing-item {
    width: calc(100% - 0px); }
  .listing[class*=listing-cols].listing-cols-2 .listing-item, .listing[class*=listing-cols].component.listing-cols-2-desktop .listing-item {
    width: calc(50% - 0px); }
  .listing[class*=listing-cols].listing-cols-3 .listing-item, .listing[class*=listing-cols].component.listing-cols-3-desktop .listing-item {
    width: calc(33.33333% - 0px); }
  .listing[class*=listing-cols].listing-cols-4 .listing-item, .listing[class*=listing-cols].component.listing-cols-4-desktop .listing-item {
    width: calc(25% - 0px); } }

.listing--product-variants > .component-content {
  display: block; }
  .listing--product-variants > .component-content .listing-item {
    display: block; }
    .listing--product-variants > .component-content .listing-item.is-hidden {
      display: none; }

.ua-ios-9.ua-mobile-iphone .pdp_open .shoppable-cart-open-button {
  width: 20px !important;
  min-width: 20px !important;
  vertical-align: top !important; }
  .ua-ios-9.ua-mobile-iphone .pdp_open .shoppable-cart-open-button:after {
    position: relative;
    top: -7px; }

.pdp_open input.input-medium.search-query {
  font-family: sans-serif !important; }

.listing.listing-article-list {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
  padding-right: 25px; }
  @media only screen and (max-width: 669px) {
    .listing.listing-article-list {
      width: auto; } }
  @media only screen and (min-width: 670px) and (max-width: 768px) {
    .listing.listing-article-list {
      width: auto; } }
  @media only screen and (min-width: 980px) and (max-width: 1139px) {
    .listing.listing-article-list {
      width: 960px; } }
  @media (min-width: 1140px) {
    .listing.listing-article-list {
      width: 1140px; } }
  @media only screen and (max-width: 669px) {
    .listing.listing-article-list {
      position: relative;
      margin-top: 25px;
      margin-right: auto;
      margin-bottom: 15px;
      margin-left: auto; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .listing.listing-article-list {
      position: relative;
      margin-top: 25px;
      margin-right: auto;
      margin-bottom: 15px;
      margin-left: auto; } }
  @media (min-width: 980px) {
    .listing.listing-article-list {
      position: relative;
      margin-top: 20px;
      margin-right: auto;
      margin-bottom: 15px;
      margin-left: auto; } }
  @media only screen and (max-width: 669px) {
    .listing.listing-article-list .listing-items {
      position: relative;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -ms-flex-pack: center;
          justify-content: center;
      margin: -15px -15px 0;
      display: -ms-flexbox;
      display: flex; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .listing.listing-article-list .listing-items {
      position: relative;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -ms-flex-pack: center;
          justify-content: center;
      margin: -15px -15px 0;
      display: -ms-flexbox;
      display: flex; } }
  @media (min-width: 980px) {
    .listing.listing-article-list .listing-items {
      position: relative;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -ms-flex-pack: center;
          justify-content: center;
      margin: -15px -15px 0;
      display: -ms-flexbox;
      display: flex; } }
  @media only screen and (max-width: 669px) {
    .listing.listing-article-list .listing-item {
      position: relative;
      -ms-flex-pack: center;
          justify-content: center;
      padding: 15px; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .listing.listing-article-list .listing-item {
      position: relative;
      -ms-flex-pack: center;
          justify-content: center;
      padding: 15px; } }
  @media (min-width: 980px) {
    .listing.listing-article-list .listing-item {
      position: relative;
      -ms-flex-pack: center;
          justify-content: center;
      padding: 15px; } }
  .listing.listing-article-list .listing-item > .component-content > a {
    display: none; }
  .listing.listing-article-list .listing-item > .component-content .richText-content {
    cursor: pointer; }
    @media only screen and (max-width: 669px) {
      .listing.listing-article-list .listing-item > .component-content .richText-content {
        position: relative;
        border-radius: 0 0 3px 3px;
        padding: 20px 19px;
        margin: 0;
        display: block; } }
    @media only screen and (min-width: 670px) and (max-width: 979px) {
      .listing.listing-article-list .listing-item > .component-content .richText-content {
        position: relative;
        border-radius: 0 0 3px 3px;
        padding: 20px 19px;
        margin: 0;
        display: block; } }
    @media (min-width: 980px) {
      .listing.listing-article-list .listing-item > .component-content .richText-content {
        position: relative;
        border-radius: 0 0 3px 3px;
        padding: 20px 19px;
        margin: 0;
        display: block; } }
    .listing.listing-article-list .listing-item > .component-content .richText-content h2, .listing.listing-article-list .listing-item > .component-content .richText-content h3 {
      margin: 0; }
    .listing.listing-article-list .listing-item > .component-content .richText-content h4 {
      margin: 0; }
  .listing.listing-article-list .listing-item .image {
    box-sizing: border-box;
    overflow: hidden; }
    @media only screen and (max-width: 669px) {
      .listing.listing-article-list .listing-item .image {
        position: relative;
        height: 200px; } }
    @media only screen and (min-width: 670px) and (max-width: 979px) {
      .listing.listing-article-list .listing-item .image {
        position: relative;
        height: 280px; } }
    @media (min-width: 980px) {
      .listing.listing-article-list .listing-item .image {
        position: relative;
        height: 340px; } }
    .listing.listing-article-list .listing-item .image > .component-content {
      height: 100%; }
    .listing.listing-article-list .listing-item .image img {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      min-width: 100%;
      min-height: 100%;
      cursor: pointer; }
      .mod-objectfit .listing.listing-article-list .listing-item .image img {
        min-width: 0;
        min-height: 0;
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
           object-fit: cover; }
  @media only screen and (max-width: 669px) {
    .listing.listing-article-list .listing-footer a[class*=button] {
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: -ms-inline-flexbox;
      display: inline-flex;
      margin-top: 15px;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .listing.listing-article-list .listing-footer a[class*=button] {
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: -ms-inline-flexbox;
      display: inline-flex;
      margin-top: 15px;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center; } }
  @media (min-width: 980px) {
    .listing.listing-article-list .listing-footer a[class*=button] {
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: -ms-inline-flexbox;
      display: inline-flex;
      margin-top: 15px;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center; } }
  @media only screen and (max-width: 669px) {
    .listing.listing-article-list {
      position: relative; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .listing.listing-article-list {
      position: relative; } }
  @media (min-width: 980px) {
    .listing.listing-article-list {
      position: relative; } }
  @media only screen and (max-width: 669px) {
    .listing.listing-article-list .listing-items {
      position: relative; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .listing.listing-article-list .listing-items {
      position: relative; } }
  @media (min-width: 980px) {
    .listing.listing-article-list .listing-items {
      position: relative; } }
  @media only screen and (max-width: 669px) {
    .listing.listing-article-list .listing-item {
      position: relative; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .listing.listing-article-list .listing-item {
      position: relative; } }
  @media (min-width: 980px) {
    .listing.listing-article-list .listing-item {
      position: relative; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .listing.listing-article-list .listing-item:focus-within .image img,
    .listing.listing-article-list .listing-item:hover .image img {
      transform: scale(1.1, 1.1); } }
  @media (min-width: 980px) {
    .listing.listing-article-list .listing-item:focus-within .image img,
    .listing.listing-article-list .listing-item:hover .image img {
      transform: scale(1.1, 1.1); } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .listing.listing-article-list .listing-item > .component-content:hover .richText-content {
      background-color: rgba(208, 208, 208, 0.2); } }
  @media (min-width: 980px) {
    .listing.listing-article-list .listing-item > .component-content:hover .richText-content {
      background-color: rgba(208, 208, 208, 0.2); } }
  @media only screen and (max-width: 669px) {
    .listing.listing-article-list .listing-item > .component-content .richText-content {
      position: relative; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .listing.listing-article-list .listing-item > .component-content .richText-content {
      position: relative; } }
  @media (min-width: 980px) {
    .listing.listing-article-list .listing-item > .component-content .richText-content {
      position: relative; } }
  @media only screen and (max-width: 669px) {
    .listing.listing-article-list .listing-item > .component-content .richText-content h2, .listing.listing-article-list .listing-item > .component-content .richText-content h3 {
      font-size: 1.625rem;
      font-weight: bold;
      line-height: 1.23;
      text-decoration: none; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .listing.listing-article-list .listing-item > .component-content .richText-content h2, .listing.listing-article-list .listing-item > .component-content .richText-content h3 {
      font-size: 1.625rem;
      font-weight: bold;
      line-height: 1.23;
      text-decoration: none; } }
  @media (min-width: 980px) {
    .listing.listing-article-list .listing-item > .component-content .richText-content h2, .listing.listing-article-list .listing-item > .component-content .richText-content h3 {
      font-size: 1.625rem;
      font-weight: bold;
      line-height: 1.3;
      text-decoration: none; } }
  @media only screen and (max-width: 669px) {
    .listing.listing-article-list .listing-item > .component-content .richText-content h4 {
      font-size: 1.25rem;
      font-weight: bold;
      line-height: 1.23;
      text-decoration: none; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .listing.listing-article-list .listing-item > .component-content .richText-content h4 {
      font-size: 1.25rem;
      font-weight: bold;
      line-height: 1.23;
      text-decoration: none; } }
  @media (min-width: 980px) {
    .listing.listing-article-list .listing-item > .component-content .richText-content h4 {
      font-size: 1.25rem;
      font-weight: bold;
      line-height: 1.3;
      text-decoration: none; } }
  @media only screen and (max-width: 669px) {
    .listing.listing-article-list .listing-item > .component-content .richText-content p {
      font-size: 1.125rem;
      font-weight: normal; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .listing.listing-article-list .listing-item > .component-content .richText-content p {
      font-size: 1.125rem;
      font-weight: normal; } }
  @media (min-width: 980px) {
    .listing.listing-article-list .listing-item > .component-content .richText-content p {
      font-size: 1.125rem;
      font-weight: normal; } }
  @media only screen and (max-width: 669px) {
    .listing.listing-article-list .listing-item .image {
      position: relative; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .listing.listing-article-list .listing-item .image {
      position: relative; } }
  @media (min-width: 980px) {
    .listing.listing-article-list .listing-item .image {
      position: relative; } }
  @media only screen and (max-width: 669px) {
    .listing.listing-article-list .listing-item .image img {
      transition: transform 1s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 1s cubic-bezier(0.55, 0, 0.1, 1) 0s, visibility 0s cubic-bezier(0.55, 0, 0.1, 1) 1s; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .listing.listing-article-list .listing-item .image img {
      transition: transform 1s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 1s cubic-bezier(0.55, 0, 0.1, 1) 0s, visibility 0s cubic-bezier(0.55, 0, 0.1, 1) 1s; } }
  @media (min-width: 980px) {
    .listing.listing-article-list .listing-item .image img {
      transition: transform 1s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 1s cubic-bezier(0.55, 0, 0.1, 1) 0s, visibility 0s cubic-bezier(0.55, 0, 0.1, 1) 1s; } }

.listing--as-carousel {
  overflow: hidden;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  @media only screen and (max-width: 669px) {
    .listing--as-carousel {
      position: relative;
      padding: 0;
      margin: 15px 0; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .listing--as-carousel {
      position: relative;
      padding: 0;
      margin: 15px 0; } }
  @media (min-width: 980px) {
    .listing--as-carousel {
      position: relative;
      padding: 0;
      margin: 15px 0; } }
  @media only screen and (max-width: 669px) {
    .listing--as-carousel .listing-carousel {
      position: relative;
      margin: 0 auto;
      width: calc(50% - 5px); } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .listing--as-carousel .listing-carousel {
      position: relative;
      overflow: hidden; } }
  @media (min-width: 980px) {
    .listing--as-carousel .listing-carousel {
      position: relative;
      overflow: hidden; } }
  .listing--as-carousel.listing .listing-items {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; }
  @media only screen and (max-width: 669px) {
    .listing--as-carousel.listing.listing-product-default-view .listing-item {
      padding: 0 5px; } }
  @media only screen and (max-width: 669px) {
    .listing--as-carousel .listing-header h2, .listing--as-carousel .listing-header h3 {
      margin: 0 0 25px; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .listing--as-carousel .listing-header h2, .listing--as-carousel .listing-header h3 {
      margin: 0 0 25px; } }
  @media (min-width: 980px) {
    .listing--as-carousel .listing-header h2, .listing--as-carousel .listing-header h3 {
      margin: 0 0 25px; } }
  .listing--as-carousel .listing-item {
    -ms-flex-negative: 0;
        flex-shrink: 0; }
    .listing--as-carousel .listing-item.is-hidden {
      visibility: hidden;
      display: block !important; }
  .listing--as-carousel .carousel-controls {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    width: 100%;
    box-sizing: border-box; }
    .listing--as-carousel .carousel-controls .indicators {
      list-style: none;
      display: -ms-flexbox;
      display: flex;
      width: auto;
      padding: 0;
      margin: 0; }
    .listing--as-carousel .carousel-controls button {
      cursor: pointer; }
      .listing--as-carousel .carousel-controls button:focus {
        opacity: .8; }
    .listing--as-carousel .carousel-controls .indicator {
      font-size: 0; }
    .listing--as-carousel .carousel-controls .previous,
    .listing--as-carousel .carousel-controls .next {
      border: 0; }
      @media only screen and (max-width: 979px) {
        .listing--as-carousel .carousel-controls .previous,
        .listing--as-carousel .carousel-controls .next {
          display: none !important; } }
      .listing--as-carousel .carousel-controls .previous.disabled,
      .listing--as-carousel .carousel-controls .next.disabled {
        pointer-events: none; }
  @media only screen and (max-width: 669px) {
    .listing--as-carousel {
      position: relative; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .listing--as-carousel {
      position: relative; } }
  @media (min-width: 980px) {
    .listing--as-carousel {
      position: relative; } }
  @media only screen and (max-width: 669px) {
    .listing--as-carousel .carousel-controls {
      position: relative;
      padding: 0;
      margin: 10px 0 0; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .listing--as-carousel .carousel-controls {
      position: relative;
      padding: 0;
      margin: 10px 0 0; } }
  @media (min-width: 980px) {
    .listing--as-carousel .carousel-controls {
      position: relative;
      padding: 0;
      margin: 20px 0 0; } }
  @media only screen and (max-width: 669px) {
    .listing--as-carousel .carousel-controls .indicator {
      background-color: transparent;
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: block;
      border: 1px solid black;
      border-radius: 50%;
      padding: 0 0 0 0;
      margin: 0 5px;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center;
      width: 10px;
      height: 10px; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .listing--as-carousel .carousel-controls .indicator {
      background-color: transparent;
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: block;
      border: 1px solid black;
      border-radius: 50%;
      padding: 0 0 0 0;
      margin: 0 5px;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center;
      width: 10px;
      height: 10px; }
      .listing--as-carousel .carousel-controls .indicator:hover {
        background-color: #696969; } }
  @media (min-width: 980px) {
    .listing--as-carousel .carousel-controls .indicator {
      background-color: transparent;
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: block;
      border: 1px solid black;
      border-radius: 50%;
      padding: 0 0 0 0;
      margin: 0 5px;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center;
      width: 10px;
      height: 10px; }
      .listing--as-carousel .carousel-controls .indicator:hover {
        background-color: #696969; } }
  @media only screen and (max-width: 669px) {
    .listing--as-carousel .carousel-controls .indicator.is-active {
      background-color: black;
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: block;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .listing--as-carousel .carousel-controls .indicator.is-active {
      background-color: black;
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: block;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center; } }
  @media (min-width: 980px) {
    .listing--as-carousel .carousel-controls .indicator.is-active {
      background-color: black;
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: block;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center; } }
  @media only screen and (max-width: 669px) {
    .listing--as-carousel .carousel-controls .previous,
    .listing--as-carousel .carousel-controls .next {
      background-color: black;
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: inline-block;
      border-radius: 50%;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center;
      width: 16px;
      height: 16px; }
      .listing--as-carousel .carousel-controls .previous:after,
      .listing--as-carousel .carousel-controls .next:after {
        margin-top: -1px;
        font-size: 0.375rem;
        color: white;
        display: block; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .listing--as-carousel .carousel-controls .previous,
    .listing--as-carousel .carousel-controls .next {
      background-color: black;
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: inline-block;
      border-radius: 50%;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center;
      width: 16px;
      height: 16px; }
      .listing--as-carousel .carousel-controls .previous:hover,
      .listing--as-carousel .carousel-controls .next:hover {
        background-color: #696969; }
      .listing--as-carousel .carousel-controls .previous:after,
      .listing--as-carousel .carousel-controls .next:after {
        margin-top: -1px;
        font-size: 0.375rem;
        color: white;
        display: block; } }
  @media (min-width: 980px) {
    .listing--as-carousel .carousel-controls .previous,
    .listing--as-carousel .carousel-controls .next {
      background-color: black;
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: inline-block;
      border-radius: 50%;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center;
      width: 16px;
      height: 16px; }
      .listing--as-carousel .carousel-controls .previous:hover,
      .listing--as-carousel .carousel-controls .next:hover {
        background-color: #696969; }
      .listing--as-carousel .carousel-controls .previous:after,
      .listing--as-carousel .carousel-controls .next:after {
        margin-top: -1px;
        font-size: 0.375rem;
        color: white;
        display: block; } }
  @media only screen and (max-width: 979px) {
    .listing--as-carousel .carousel-controls .previous,
    .listing--as-carousel .carousel-controls .next {
      display: none !important; } }
  @media only screen and (max-width: 669px) {
    .listing--as-carousel .carousel-controls .previous.disabled,
    .listing--as-carousel .carousel-controls .next.disabled {
      background-color: #f2f4f6;
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .listing--as-carousel .carousel-controls .previous.disabled,
    .listing--as-carousel .carousel-controls .next.disabled {
      background-color: #f2f4f6;
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center; } }
  @media (min-width: 980px) {
    .listing--as-carousel .carousel-controls .previous.disabled,
    .listing--as-carousel .carousel-controls .next.disabled {
      background-color: #f2f4f6;
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center; } }
  @media only screen and (max-width: 669px) {
    .listing--as-carousel .carousel-controls .previous {
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: -ms-inline-flexbox;
      display: inline-flex;
      margin-right: 28px;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center; }
      .listing--as-carousel .carousel-controls .previous:after {
        content: "";
        display: block;
        font-family: 'icons';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        text-align: center;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .listing--as-carousel .carousel-controls .previous {
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: -ms-inline-flexbox;
      display: inline-flex;
      margin-right: 28px;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center; }
      .listing--as-carousel .carousel-controls .previous:after {
        content: "";
        display: block;
        font-family: 'icons';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        text-align: center;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; } }
  @media (min-width: 980px) {
    .listing--as-carousel .carousel-controls .previous {
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: -ms-inline-flexbox;
      display: inline-flex;
      margin-right: 28px;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center; }
      .listing--as-carousel .carousel-controls .previous:after {
        content: "";
        display: block;
        font-family: 'icons';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        text-align: center;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; } }
  @media only screen and (max-width: 669px) {
    .listing--as-carousel .carousel-controls .next {
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: -ms-inline-flexbox;
      display: inline-flex;
      margin-left: 28px;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center; }
      .listing--as-carousel .carousel-controls .next:after {
        content: "";
        display: block;
        font-family: 'icons';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        text-align: center;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .listing--as-carousel .carousel-controls .next {
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: -ms-inline-flexbox;
      display: inline-flex;
      margin-left: 28px;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center; }
      .listing--as-carousel .carousel-controls .next:after {
        content: "";
        display: block;
        font-family: 'icons';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        text-align: center;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; } }
  @media (min-width: 980px) {
    .listing--as-carousel .carousel-controls .next {
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
      display: -ms-inline-flexbox;
      display: inline-flex;
      margin-left: 28px;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center; }
      .listing--as-carousel .carousel-controls .next:after {
        content: "";
        display: block;
        font-family: 'icons';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        text-align: center;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; } }

@media only screen and (max-width: 669px) {
  .listing.listing-product-default-view .listing-item {
    position: relative;
    padding: 0 15px; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .listing.listing-product-default-view .listing-item {
    position: relative;
    padding: 0 15px; } }

@media (min-width: 980px) {
  .listing.listing-product-default-view .listing-item {
    position: relative;
    padding: 0 15px; } }

.listing.listing-product-default-view .listing-item:hover .box:nth-of-type(1) .quickview-btn {
  opacity: 1; }

@media only screen and (max-width: 669px) {
  .listing.listing-product-default-view .listing-item:hover .box:nth-of-type(2) {
    background-color: #D0D0D0; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .listing.listing-product-default-view .listing-item:hover .box:nth-of-type(2) {
    background-color: #D0D0D0; } }

@media (min-width: 980px) {
  .listing.listing-product-default-view .listing-item:hover .box:nth-of-type(2) {
    background-color: #D0D0D0; } }

.listing.listing-product-default-view .listing-item > .component-content {
  height: 100%; }
  .listing.listing-product-default-view .listing-item > .component-content > .content {
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column; }
    .listing.listing-product-default-view .listing-item > .component-content > .content > .box {
      flex: 1 1 0;
      -ms-flex: 1 1 auto; }

.listing.listing-product-default-view .listing-item .box:nth-of-type(1) {
  position: relative;
  z-index: 1; }
  @media only screen and (max-width: 669px) {
    .listing.listing-product-default-view .listing-item .box:nth-of-type(1) {
      position: relative;
      height: 180px;
      min-height: 180px; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .listing.listing-product-default-view .listing-item .box:nth-of-type(1) {
      position: relative;
      height: 220px;
      min-height: 220px; } }
  @media (min-width: 980px) {
    .listing.listing-product-default-view .listing-item .box:nth-of-type(1) {
      position: relative;
      height: 260px;
      min-height: 260px; } }
  .listing.listing-product-default-view .listing-item .box:nth-of-type(1) > .component-content,
  .listing.listing-product-default-view .listing-item .box:nth-of-type(1) > .component-content > .content {
    height: 100%; }
  .listing.listing-product-default-view .listing-item .box:nth-of-type(1) .image {
    height: 100%; }
    .listing.listing-product-default-view .listing-item .box:nth-of-type(1) .image > .component-content {
      height: 100%;
      position: relative; }
    .listing.listing-product-default-view .listing-item .box:nth-of-type(1) .image img {
      bottom: 0;
      left: 50%;
      max-height: 100%;
      max-width: 100%;
      position: absolute;
      transform: translate(-50%);
      width: auto; }
  .listing.listing-product-default-view .listing-item .box:nth-of-type(1) .quickview-btn {
    bottom: 20px;
    left: 50%;
    opacity: 0;
    position: absolute;
    transform: translate(-50%);
    transition: opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: 2; }
    @media only screen and (max-width: 669px) {
      .listing.listing-product-default-view .listing-item .box:nth-of-type(1) .quickview-btn {
        background-color: rgba(255, 255, 255, 0.55);
        color: black;
        font-size: 1.125rem;
        line-height: 1.375rem;
        text-transform: uppercase;
        text-decoration: none;
        font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
        transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
        display: -ms-inline-flexbox;
        display: inline-flex;
        padding: 11.02px 40px 9.76px 40px;
        -ms-flex-align: center;
            align-items: center;
        -ms-flex-pack: center;
            justify-content: center;
        height: 28px;
        min-width: 70%; }
        .listing.listing-product-default-view .listing-item .box:nth-of-type(1) .quickview-btn:hover {
          background-color: black;
          color: white; } }
    @media only screen and (min-width: 670px) and (max-width: 979px) {
      .listing.listing-product-default-view .listing-item .box:nth-of-type(1) .quickview-btn {
        background-color: rgba(255, 255, 255, 0.55);
        color: black;
        font-size: 1.125rem;
        line-height: 1.375rem;
        text-transform: uppercase;
        text-decoration: none;
        font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
        transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
        display: -ms-inline-flexbox;
        display: inline-flex;
        padding: 11.02px 40px 9.76px 40px;
        -ms-flex-align: center;
            align-items: center;
        -ms-flex-pack: center;
            justify-content: center;
        height: 35px;
        min-width: 70%; }
        .listing.listing-product-default-view .listing-item .box:nth-of-type(1) .quickview-btn:hover {
          background-color: black;
          color: white; } }
    @media (min-width: 980px) {
      .listing.listing-product-default-view .listing-item .box:nth-of-type(1) .quickview-btn {
        background-color: rgba(255, 255, 255, 0.55);
        color: black;
        font-size: 1.125rem;
        line-height: 1.375rem;
        text-transform: uppercase;
        text-decoration: none;
        font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
        transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
        display: -ms-inline-flexbox;
        display: inline-flex;
        padding: 11.02px 40px 9.76px 40px;
        -ms-flex-align: center;
            align-items: center;
        -ms-flex-pack: center;
            justify-content: center;
        height: 54px;
        min-width: 70%; }
        .listing.listing-product-default-view .listing-item .box:nth-of-type(1) .quickview-btn:hover {
          background-color: black;
          color: white; } }
    @media only screen and (max-width: 768px) {
      .listing.listing-product-default-view .listing-item .box:nth-of-type(1) .quickview-btn {
        display: none; } }
    .listing.listing-product-default-view .listing-item .box:nth-of-type(1) .quickview-btn:focus {
      opacity: .8; }

.listing.listing-product-default-view .listing-item .box:nth-of-type(2) {
  height: 100%; }
  @media only screen and (max-width: 669px) {
    .listing.listing-product-default-view .listing-item .box:nth-of-type(2) {
      position: relative;
      background-color: #f2f4f6;
      padding: 90px 10px 25px;
      margin-top: -90px;
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .listing.listing-product-default-view .listing-item .box:nth-of-type(2) {
      position: relative;
      background-color: #f2f4f6;
      padding: 90px 15px 25px;
      margin-top: -90px;
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s; } }
  @media (min-width: 980px) {
    .listing.listing-product-default-view .listing-item .box:nth-of-type(2) {
      position: relative;
      background-color: #f2f4f6;
      padding: 90px 25px 25px;
      margin-top: -90px;
      transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s; } }
  @media only screen and (max-width: 669px) {
    .listing.listing-product-default-view .listing-item .box:nth-of-type(2) .richText h3 {
      color: black;
      font-size: 1.125rem;
      line-height: 1.22;
      text-align: center;
      text-decoration: none;
      margin: 17px 0 10px 0; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .listing.listing-product-default-view .listing-item .box:nth-of-type(2) .richText h3 {
      color: black;
      font-size: 1.125rem;
      line-height: 1.22;
      text-align: center;
      text-decoration: none;
      margin: 17px 0 10px 0; } }
  @media (min-width: 980px) {
    .listing.listing-product-default-view .listing-item .box:nth-of-type(2) .richText h3 {
      color: black;
      font-size: 1.125rem;
      line-height: 1.22;
      text-align: center;
      text-decoration: none;
      margin: 17px 0 10px 0; } }
  .listing.listing-product-default-view .listing-item .box:nth-of-type(2) .richText h3 a {
    text-decoration: inherit; }
  @media only screen and (max-width: 669px) {
    .listing.listing-product-default-view .listing-item .box:nth-of-type(2) .richText p {
      color: black;
      font-size: 0.75rem;
      line-height: 1.5;
      text-align: center;
      margin: 0 0 10px 0; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .listing.listing-product-default-view .listing-item .box:nth-of-type(2) .richText p {
      color: black;
      font-size: 0.75rem;
      line-height: 1.5;
      text-align: center;
      margin: 0 0 10px 0; } }
  @media (min-width: 980px) {
    .listing.listing-product-default-view .listing-item .box:nth-of-type(2) .richText p {
      color: black;
      font-size: 0.75rem;
      line-height: 1.5;
      text-align: center;
      margin: 0 0 10px 0; } }
  .listing.listing-product-default-view .listing-item .box:nth-of-type(2) .ratingsandreviews .bazaarvoice {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-pack: center !important;
        justify-content: center !important; }
    @media only screen and (max-width: 669px) {
      .listing.listing-product-default-view .listing-item .box:nth-of-type(2) .ratingsandreviews .bazaarvoice .bv-cv2-cleanslate .bv-core-container-135 .bv-inline-rating-container .bv-rating-stars-on,
      .listing.listing-product-default-view .listing-item .box:nth-of-type(2) .ratingsandreviews .bazaarvoice .bv-cv2-cleanslate .bv-core-container-135 .bv-inline-rating-container .bv-rating-stars-off {
        font-size: 1.25rem !important;
        letter-spacing: 3px !important; } }
    @media only screen and (min-width: 670px) and (max-width: 979px) {
      .listing.listing-product-default-view .listing-item .box:nth-of-type(2) .ratingsandreviews .bazaarvoice .bv-cv2-cleanslate .bv-core-container-135 .bv-inline-rating-container .bv-rating-stars-on,
      .listing.listing-product-default-view .listing-item .box:nth-of-type(2) .ratingsandreviews .bazaarvoice .bv-cv2-cleanslate .bv-core-container-135 .bv-inline-rating-container .bv-rating-stars-off {
        font-size: 1.25rem !important;
        letter-spacing: 3px !important; } }
    @media (min-width: 980px) {
      .listing.listing-product-default-view .listing-item .box:nth-of-type(2) .ratingsandreviews .bazaarvoice .bv-cv2-cleanslate .bv-core-container-135 .bv-inline-rating-container .bv-rating-stars-on,
      .listing.listing-product-default-view .listing-item .box:nth-of-type(2) .ratingsandreviews .bazaarvoice .bv-cv2-cleanslate .bv-core-container-135 .bv-inline-rating-container .bv-rating-stars-off {
        font-size: 1.25rem !important;
        letter-spacing: 3px !important; } }
    @media only screen and (max-width: 669px) {
      .listing.listing-product-default-view .listing-item .box:nth-of-type(2) .ratingsandreviews .bazaarvoice .bv-cv2-cleanslate .bv-core-container-135 .bv-inline-rating-container .bv-rating-stars-on {
        color: black !important; } }
    @media only screen and (min-width: 670px) and (max-width: 979px) {
      .listing.listing-product-default-view .listing-item .box:nth-of-type(2) .ratingsandreviews .bazaarvoice .bv-cv2-cleanslate .bv-core-container-135 .bv-inline-rating-container .bv-rating-stars-on {
        color: black !important; } }
    @media (min-width: 980px) {
      .listing.listing-product-default-view .listing-item .box:nth-of-type(2) .ratingsandreviews .bazaarvoice .bv-cv2-cleanslate .bv-core-container-135 .bv-inline-rating-container .bv-rating-stars-on {
        color: black !important; } }
    @media only screen and (max-width: 669px) {
      .listing.listing-product-default-view .listing-item .box:nth-of-type(2) .ratingsandreviews .bazaarvoice .bv-cv2-cleanslate .bv-core-container-135 .bv-inline-rating-container .bv-rating-stars-off {
        color: #D0D0D0 !important; } }
    @media only screen and (min-width: 670px) and (max-width: 979px) {
      .listing.listing-product-default-view .listing-item .box:nth-of-type(2) .ratingsandreviews .bazaarvoice .bv-cv2-cleanslate .bv-core-container-135 .bv-inline-rating-container .bv-rating-stars-off {
        color: #D0D0D0 !important; } }
    @media (min-width: 980px) {
      .listing.listing-product-default-view .listing-item .box:nth-of-type(2) .ratingsandreviews .bazaarvoice .bv-cv2-cleanslate .bv-core-container-135 .bv-inline-rating-container .bv-rating-stars-off {
        color: #D0D0D0 !important; } }
    .listing.listing-product-default-view .listing-item .box:nth-of-type(2) .ratingsandreviews .bazaarvoice div[data-bv-show="inline_rating"] .bv_averageRating_component_container,
    .listing.listing-product-default-view .listing-item .box:nth-of-type(2) .ratingsandreviews .bazaarvoice div[data-bv-show="inline_rating"] .bv_numReviews_component_container {
      display: none !important; }
    .listing.listing-product-default-view .listing-item .box:nth-of-type(2) .ratingsandreviews .bazaarvoice .bv-cv2-cleanslate .bv-core-container-135 .bv-stars-container dd {
      padding: 0 !important; }
      .listing.listing-product-default-view .listing-item .box:nth-of-type(2) .ratingsandreviews .bazaarvoice .bv-cv2-cleanslate .bv-core-container-135 .bv-stars-container dd .bv-rating,
      .listing.listing-product-default-view .listing-item .box:nth-of-type(2) .ratingsandreviews .bazaarvoice .bv-cv2-cleanslate .bv-core-container-135 .bv-stars-container dd .bv-rating-label,
      .listing.listing-product-default-view .listing-item .box:nth-of-type(2) .ratingsandreviews .bazaarvoice .bv-cv2-cleanslate .bv-core-container-135 .bv-stars-container dd .bv-rating-ratio-number,
      .listing.listing-product-default-view .listing-item .box:nth-of-type(2) .ratingsandreviews .bazaarvoice .bv-cv2-cleanslate .bv-core-container-135 .bv-stars-container dd .bv-rating-ratio-count {
        display: none !important; }
  .listing.listing-product-default-view .listing-item .box:nth-of-type(2) .ratingsandreviews .kritique .rr-widget-container.rr-inline-widget {
    font-size: 0;
    text-align: center; }
    @media only screen and (max-width: 669px) {
      .listing.listing-product-default-view .listing-item .box:nth-of-type(2) .ratingsandreviews .kritique .rr-widget-container.rr-inline-widget {
        position: relative !important;
        margin-top: 15px !important; } }
    @media only screen and (min-width: 670px) and (max-width: 979px) {
      .listing.listing-product-default-view .listing-item .box:nth-of-type(2) .ratingsandreviews .kritique .rr-widget-container.rr-inline-widget {
        position: relative !important;
        margin-top: 15px !important; } }
    @media (min-width: 980px) {
      .listing.listing-product-default-view .listing-item .box:nth-of-type(2) .ratingsandreviews .kritique .rr-widget-container.rr-inline-widget {
        position: relative !important;
        margin-top: 15px !important; } }
    .listing.listing-product-default-view .listing-item .box:nth-of-type(2) .ratingsandreviews .kritique .rr-widget-container.rr-inline-widget .aggRtng,
    .listing.listing-product-default-view .listing-item .box:nth-of-type(2) .ratingsandreviews .kritique .rr-widget-container.rr-inline-widget .tRtng,
    .listing.listing-product-default-view .listing-item .box:nth-of-type(2) .ratingsandreviews .kritique .rr-widget-container.rr-inline-widget .wRtng {
      display: none; }
  .listing.listing-product-default-view .listing-item .box:nth-of-type(2) .display-list .ratingsandreviews .kritique .rr-widget-container.rr-inline-widget {
    font-size: 0.75rem; }
    .listing.listing-product-default-view .listing-item .box:nth-of-type(2) .display-list .ratingsandreviews .kritique .rr-widget-container.rr-inline-widget .aggRtng,
    .listing.listing-product-default-view .listing-item .box:nth-of-type(2) .display-list .ratingsandreviews .kritique .rr-widget-container.rr-inline-widget .tRtng,
    .listing.listing-product-default-view .listing-item .box:nth-of-type(2) .display-list .ratingsandreviews .kritique .rr-widget-container.rr-inline-widget .wRtng {
      display: inline-block; }

.display-grid .listing.listing-product-default-view .listing-item .box:nth-of-type(2) {
  cursor: pointer; }

/*# sourceMappingURL=index.css.map */
