.richText--nutrients-title {
  @import 'config';
  @function g($a...) {
    @return get-last($nutrientsTitle, $a...);
  }

  @include breakpoints() {
    @include paragraph(g('box'), $media);
  }

  p {
    @include breakpoints() {
      @include paragraph(g('paragraph'), $media);
    }
  }
}
