@charset "UTF-8";
@media only screen and (max-width: 669px) {
  .sign-up-form {
    position: relative; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .sign-up-form {
    position: relative; } }

@media (min-width: 980px) {
  .sign-up-form {
    position: relative; } }

@media only screen and (max-width: 669px) {
  .sign-up-form form {
    position: relative;
    padding: 60px 0 80px; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .sign-up-form form {
    position: relative;
    padding: 60px 0 80px; } }

@media (min-width: 980px) {
  .sign-up-form form {
    position: relative;
    padding: 70px 0 60px 90px; } }

@media only screen and (max-width: 669px) {
  .sign-up-form form fieldset .textField .component-content,
  .sign-up-form form fieldset .selectField .component-content,
  .sign-up-form form fieldset .radioGroup .component-content,
  .sign-up-form form fieldset .reference-datepicker .component-content,
  .sign-up-form form fieldset .form-legal-info .component-content {
    position: relative;
    margin: 25px auto; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .sign-up-form form fieldset .textField .component-content,
  .sign-up-form form fieldset .selectField .component-content,
  .sign-up-form form fieldset .radioGroup .component-content,
  .sign-up-form form fieldset .reference-datepicker .component-content,
  .sign-up-form form fieldset .form-legal-info .component-content {
    position: relative;
    margin: 25px auto; } }

@media (min-width: 980px) {
  .sign-up-form form fieldset .textField .component-content,
  .sign-up-form form fieldset .selectField .component-content,
  .sign-up-form form fieldset .radioGroup .component-content,
  .sign-up-form form fieldset .reference-datepicker .component-content,
  .sign-up-form form fieldset .form-legal-info .component-content {
    position: relative;
    margin: 25px auto; } }

.sign-up-form form fieldset .radioGroup .component-content .controls label {
  display: inline-block;
  margin: 0 20px 0 0;
  vertical-align: top; }

.sign-up-form form fieldset .reference-checkbox-item {
  margin-bottom: 15px; }
  .sign-up-form form fieldset .reference-checkbox-item .controls .checkbox,
  .sign-up-form form fieldset .reference-checkbox-item .controls .checkbox-label-text {
    display: inline-block; }

@media only screen and (max-width: 669px) {
  .sign-up-form form .formButton {
    position: relative;
    margin-top: 20px; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .sign-up-form form .formButton {
    position: relative;
    margin-top: 20px; } }

@media (min-width: 980px) {
  .sign-up-form form .formButton {
    position: relative;
    margin-top: 20px; } }

@media only screen and (max-width: 669px) {
  .sign-up-form form .formButton .component-content {
    position: relative; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .sign-up-form form .formButton .component-content {
    position: relative; } }

@media (min-width: 980px) {
  .sign-up-form form .formButton .component-content {
    position: relative; } }

@media only screen and (max-width: 669px) {
  .sign-up-form form .formButton .component-content .button {
    transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
    display: inline-block;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .sign-up-form form .formButton .component-content .button {
    transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center; } }

@media (min-width: 980px) {
  .sign-up-form form .formButton .component-content .button {
    transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center; } }

@media (min-width: 980px) {
  .sign-up-form form fieldset .form-element.field-given-name .component-content, .sign-up-form form fieldset .form-element.field-family-name .component-content, .sign-up-form form fieldset .form-element.field-zip-code .component-content {
    margin: 0 0 25px 0; } }

@media only screen and (min-width: 980px) and (max-width: 669px) {
  .sign-up-form form fieldset .reference-datepicker {
    position: relative;
    padding-right: 0; } }

@media only screen and (min-width: 980px) and (min-width: 670px) and (max-width: 979px) {
  .sign-up-form form fieldset .reference-datepicker {
    position: relative;
    padding-right: 0; } }

@media (min-width: 980px) and (min-width: 980px) {
  .sign-up-form form fieldset .reference-datepicker {
    position: relative;
    padding-right: 0;
    padding-left: 12.5px; } }

@media (min-width: 980px) {
  .sign-up-form form fieldset .reference-datepicker .component-content {
    margin: 0; }
  .sign-up-form form fieldset .reference-datepicker + .form-element .component-content {
    margin: 0; }
  .sign-up-form form fieldset .reference-checkbox-item {
    box-sizing: border-box;
    display: inline-block;
    padding-right: 15px;
    vertical-align: top;
    width: 50%; }
    .sign-up-form form fieldset .reference-checkbox-item.form-label {
      display: block;
      margin: 25px 0 10px;
      width: 100%; } }

@media only screen and (max-width: 669px) {
  .ua-safari .sign-up-form .reference-datepicker .controls {
    font-size: 1.125rem; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .ua-safari .sign-up-form .reference-datepicker .controls {
    font-size: 1.125rem; } }

@media only screen and (max-width: 669px) {
  .sign-up .richText.observations {
    position: relative;
    margin: 50px 0 50px; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .sign-up .richText.observations {
    position: relative;
    margin: 50px 0 50px; } }

@media (min-width: 980px) {
  .sign-up .richText.observations {
    position: relative;
    margin: 15px 20px 60px 0; } }

@media only screen and (max-width: 669px) {
  .richText.sign-up-info h1, .richText.sign-up-info h2, .richText.sign-up-info h3, .richText.sign-up-info h4 {
    color: black;
    font-size: 2.375rem;
    font-weight: bold;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
    margin: 40px 0 20px;
    margin-top: 35.82px;
    margin-bottom: 13.16px; }
    .richText.sign-up-info h1:after, .richText.sign-up-info h2:after, .richText.sign-up-info h3:after, .richText.sign-up-info h4:after {
      content: '';
      border-bottom: 4px solid #C9484A;
      margin-top: 20px;
      width: 30px;
      display: block; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .richText.sign-up-info h1, .richText.sign-up-info h2, .richText.sign-up-info h3, .richText.sign-up-info h4 {
    color: black;
    font-size: 3rem;
    font-weight: bold;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
    margin: 40px 0 20px;
    margin-top: 34.72px;
    margin-bottom: 11.36px; }
    .richText.sign-up-info h1:after, .richText.sign-up-info h2:after, .richText.sign-up-info h3:after, .richText.sign-up-info h4:after {
      content: '';
      border-bottom: 4px solid #C9484A;
      margin-top: 20px;
      width: 30px;
      display: block; } }

@media (min-width: 980px) {
  .richText.sign-up-info h1, .richText.sign-up-info h2, .richText.sign-up-info h3, .richText.sign-up-info h4 {
    color: black;
    font-size: 3rem;
    font-weight: bold;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
    margin: 40px 20px 10px 0;
    margin-top: 34.72px;
    margin-bottom: 1.36px; }
    .richText.sign-up-info h1:after, .richText.sign-up-info h2:after, .richText.sign-up-info h3:after, .richText.sign-up-info h4:after {
      content: '';
      border-bottom: 4px solid #C9484A;
      margin-top: 20px;
      width: 30px;
      display: block; } }

@media (min-width: 980px) {
  .richText.sign-up-info p {
    margin-right: 20px; } }

@media only screen and (max-width: 669px) {
  .richText.sign-up-info .richText-content blockquote {
    position: relative; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .richText.sign-up-info .richText-content blockquote {
    position: relative; } }

@media (min-width: 980px) {
  .richText.sign-up-info .richText-content blockquote {
    position: relative; } }

@media only screen and (max-width: 669px) {
  .richText.sign-up-info .richText-content ul {
    position: relative; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .richText.sign-up-info .richText-content ul {
    position: relative; } }

@media (min-width: 980px) {
  .richText.sign-up-info .richText-content ul {
    position: relative; } }

@media only screen and (max-width: 669px) {
  .richText.sign-up-info .richText-content ul li {
    position: relative;
    padding-left: 20px;
    font-size: 0.875rem; }
    .richText.sign-up-info .richText-content ul li:before {
      margin-top: 7px;
      content: "";
      display: block;
      font-family: 'icons';
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      text-align: center;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .richText.sign-up-info .richText-content ul li {
    position: relative;
    padding-left: 20px;
    font-size: 0.875rem; }
    .richText.sign-up-info .richText-content ul li:before {
      margin-top: 7px;
      content: "";
      display: block;
      font-family: 'icons';
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      text-align: center;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; } }

@media (min-width: 980px) {
  .richText.sign-up-info .richText-content ul li {
    position: relative;
    padding-left: 25px;
    font-size: 1.125rem; }
    .richText.sign-up-info .richText-content ul li:before {
      margin-top: 9px;
      content: "";
      display: block;
      font-family: 'icons';
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      text-align: center;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; } }

@media only screen and (max-width: 669px) {
  .richText.sign-up-info .richText-content ol {
    position: relative;
    padding-left: 0; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .richText.sign-up-info .richText-content ol {
    position: relative;
    padding-left: 0; } }

@media (min-width: 980px) {
  .richText.sign-up-info .richText-content ol {
    position: relative;
    padding-left: 0; } }

@media only screen and (max-width: 669px) {
  .richText.sign-up-info .richText-content ol li {
    position: relative;
    margin-bottom: 10px; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .richText.sign-up-info .richText-content ol li {
    position: relative;
    margin-bottom: 10px; } }

@media (min-width: 980px) {
  .richText.sign-up-info .richText-content ol li {
    position: relative;
    margin-bottom: 10px; } }

/*# sourceMappingURL=index.css.map */
