.heading-primary {
    @import 'config';
    @function g($a...) {
      @return get-last($headingPrimary, $a...);
    }

    @include breakpoints(){
        @include text(g('box.text'), $media);
    }

  }
  