$richText: (
  _main: (
    paragraph: (
      text: (
        
      ),
      line-height: 1.66rem
    ),
    _blockquote: (
      box: (
        margin: (
          margin-bottom: breakpoint(
            spacings('m'),
            spacings('xl'),
            spacings('xl')
          ),
          margin-left: spacings('xl'),
          margin-right: spacings('xl'),
          margin-top: breakpoint(
            spacings('m'),
            spacings('xl'),
            spacings('xl')
          )
        )
      ),
      text: (
        font-size: breakpoint(
          px(20),
          px(26),
          px(26)
        ),
        font-weight: bold,
        line-height: breakpoint(
          1.3,
          1.23,
          1.23
        ),
        text-align: center
      )
    ),
    _list: (
      // box: (),
      _item: (
        box: (
          padding: (
            padding-left: 20px
          )
        ),
        icon: (
          color: color('primary', 'base'),
          content: common('icon.list-bullet'),
          display: inline-block,
          font-size: px(10),
          margin: (
            margin-top: 7px
          ),
          side: before
        ),
        paragraph: (
          text: (
            font-size: px(18)
          ),
          margin: (
            margin-bottom: spacings('xs'),
            margin-top: spacings('xs')
          )
        )
      )
    ),
    _ordered-list: (
      // box: (),
      _item: (
        paragraph: (
          text: (
            font-size: px(18),
            line-height: breakpoint((tablet-max: 1.2, desktop: 1.44))
          )
        )
      )
    )
  )
);
