// Shortcut for media queries. If only "from" exists,
// it'll print the min / max for that breakpoint.
$breakpoints: (
  small: (from: null, to: $bp-small-max),
  mobile: (from: null, to: $bp-mobile-max),
  tablet: (from: $bp-tablet-min, to: $bp-tablet-max),
  notebook: (from: $bp-notebook-min, to: $bp-notebook-max),
  desktop: (from: $bp-desktop-min, to: $bp-desktop-max),
  wide: (from: $bp-wide-min, to: null)
) !default;

@mixin media-query($from, $to: $from) {
  $from: if($from != auto, $from, small);
  $to: if($to != auto, $to, wide);

  @if ($from != null and $to != null) {
    $min: get($breakpoints, $from, 'from');
    $max: get($breakpoints, $to, 'to');

    @if ($min == null) {
      @media only screen and (max-width: $max) {
        @content;
      }
    }
    @if ($max == null) {
      // these styles print
      @media (min-width: $min) {
        @content;
      }
    }
    @if ($min != null and $max != null) {
      @media only screen and (min-width: $min) and (max-width: $max) {
        @content;
      }
    }
  }
}
