.composite-variation-titeled-icon-morning {
    @import 'config';
    
    @function g($a...) {
        @return get-last($compositeVariantTiteledIconMorning, $a...);
    }

    .richText-content h3 {
        &:before {
            background-image: url('/etc/designs/zg/nameera/desktop/assets/img/morning-icon.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: 100%;
        }
    }
}