$singleFeaturedArticleWithFlower: (
  _side-text: (
    box: (
      padding: (
        padding-bottom: spacings('m')
      )
    )
  ),
  _side-image: (
    box: (
      display: flex,
      flex: (
        justify-content: center
      ),
      padding: (
        padding: spacings('m') 0
      )
    )
  )
);
