.composite-variation-single-featured-article-with-flower {
  @import 'config';
  @function g($a...) {
    @return get-last($singleFeaturedArticleWithFlower, $a...);
  }
  
  @include breakpoints(){
    @include box(g('_side-text.box'), $media)
  }
	
	padding-top: 0 !important;
	
  &:before {
    z-index: 14;

    @include breakpoints(mobile) {
      content: "";
      display: block;
      height: 50%;
      width: 100%;
      background: url("/etc/designs/zg/nameera/desktop/assets/img//flower_mobile.png")
        no-repeat;
      background-size: 100%;
      background-position-x: center;
      background-position-y: 20%;
      position: absolute;
      left: 0;
      top: 0;
    }

    @include breakpoints(tablet) {
      content: "";
      display: block;
      height: 35%;
      width: 100%;
      background: url("/etc/designs/zg/nameera/desktop/assets/img//flower_desktop.png")
        no-repeat;
      background-size: 50%;
      background-position: 30% bottom;
      position: absolute;
      left: 0;
      top: 0;
    }

    @include breakpoints(desktop) {
      content: "";
      display: block;
      height: 35%;
      width: 100%;
      background: url("/etc/designs/zg/nameera/desktop/assets/img//flower_desktop.png")
        no-repeat;
      background-size: 35%;
      background-position: 40% bottom;
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  .richText-content {
    @include breakpoints(tablet, desktop) {
      margin-top: 50%;
    }
	}
	
	.image {
		// padding: spacings('m') 0;
		@include breakpoints(){
			@include box(g('_side-image.box'), $media);
		}
	}
}