.composite-variation-titeled-icon-night .richText-content h3:before {
  background-image: url("/etc/designs/zg/nameera/desktop/assets/img/night-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90%; }

/*# sourceMappingURL=index.css.map */
