@charset "UTF-8";
@media only screen and (max-width: 669px) {
  .reference-switch-view {
    position: relative;
    margin-bottom: 10px; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .reference-switch-view {
    position: relative; } }

@media (min-width: 980px) {
  .reference-switch-view {
    position: relative; } }

@media only screen and (max-width: 768px) {
  .reference-switch-view {
    -ms-flex-order: 1;
        order: 1; } }

.reference-switch-view .component-content {
  height: 100%; }

@media only screen and (max-width: 669px) {
  .reference-switch-view .displayModeSwitches {
    position: relative;
    -ms-flex-align: center;
        align-items: center;
    margin: 0 -6px;
    height: 100%;
    display: -ms-flexbox;
    display: flex; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .reference-switch-view .displayModeSwitches {
    position: relative;
    -ms-flex-align: center;
        align-items: center;
    height: 100%;
    display: -ms-flexbox;
    display: flex; } }

@media (min-width: 980px) {
  .reference-switch-view .displayModeSwitches {
    position: relative;
    -ms-flex-align: center;
        align-items: center;
    height: 100%;
    display: -ms-flexbox;
    display: flex; } }

.reference-switch-view .displayModeSwitches > span {
  white-space: nowrap; }
  @media only screen and (max-width: 669px) {
    .reference-switch-view .displayModeSwitches > span {
      font-size: 0.875rem;
      font-weight: bold;
      line-height: 1.4375rem;
      margin-right: 10px; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .reference-switch-view .displayModeSwitches > span {
      font-size: 0.875rem;
      font-weight: bold;
      line-height: 1.4375rem;
      margin-right: 10px; } }
  @media (min-width: 980px) {
    .reference-switch-view .displayModeSwitches > span {
      font-size: 0.875rem;
      font-weight: bold;
      line-height: 1.4375rem;
      margin-right: 10px; } }
  @media only screen and (max-width: 768px) {
    .reference-switch-view .displayModeSwitches > span {
      display: none; } }

.reference-switch-view .switchToListButton,
.reference-switch-view .switchToGridButton {
  cursor: pointer; }
  @media only screen and (max-width: 669px) {
    .reference-switch-view .switchToListButton,
    .reference-switch-view .switchToGridButton {
      position: relative;
      background: none;
      border: none;
      padding: 6px; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .reference-switch-view .switchToListButton,
    .reference-switch-view .switchToGridButton {
      position: relative;
      background: none;
      border: none;
      padding: 6px; } }
  @media (min-width: 980px) {
    .reference-switch-view .switchToListButton,
    .reference-switch-view .switchToGridButton {
      position: relative;
      background: none;
      border: none;
      padding: 6px; } }

@media only screen and (max-width: 669px) {
  .reference-switch-view .switchToListButton:before {
    content: "";
    font-size: 1.4375rem;
    color: #D0D0D0;
    display: block;
    font-family: 'icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-align: center;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .reference-switch-view .switchToListButton:before {
    transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s; }
  .reference-switch-view .switchToListButton:hover:before {
    color: #6e7f8d; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .reference-switch-view .switchToListButton:before {
    content: "";
    font-size: 1.4375rem;
    color: #D0D0D0;
    display: block;
    font-family: 'icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-align: center;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .reference-switch-view .switchToListButton:before {
    transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s; }
  .reference-switch-view .switchToListButton:hover:before {
    color: #6e7f8d; } }

@media (min-width: 980px) {
  .reference-switch-view .switchToListButton:before {
    content: "";
    font-size: 1.4375rem;
    color: #D0D0D0;
    display: block;
    font-family: 'icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-align: center;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .reference-switch-view .switchToListButton:before {
    transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s; }
  .reference-switch-view .switchToListButton:hover:before {
    color: #6e7f8d; } }

@media only screen and (max-width: 669px) {
  .reference-switch-view .switchToGridButton:before {
    content: "";
    font-size: 1.4375rem;
    color: black;
    display: block;
    font-family: 'icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-align: center;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .reference-switch-view .switchToGridButton:before {
    transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s; }
  .reference-switch-view .switchToGridButton:hover:before {
    color: #6e7f8d; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .reference-switch-view .switchToGridButton:before {
    content: "";
    font-size: 1.4375rem;
    color: black;
    display: block;
    font-family: 'icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-align: center;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .reference-switch-view .switchToGridButton:before {
    transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s; }
  .reference-switch-view .switchToGridButton:hover:before {
    color: #6e7f8d; } }

@media (min-width: 980px) {
  .reference-switch-view .switchToGridButton:before {
    content: "";
    font-size: 1.4375rem;
    color: black;
    display: block;
    font-family: 'icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-align: center;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .reference-switch-view .switchToGridButton:before {
    transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s; }
  .reference-switch-view .switchToGridButton:hover:before {
    color: #6e7f8d; } }

@media only screen and (max-width: 669px) {
  .display-list .reference-switch-view .switchToListButton:before {
    content: "";
    font-size: 1.4375rem;
    color: black;
    display: block;
    font-family: 'icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-align: center;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .display-list .reference-switch-view .switchToListButton:before {
    transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s; }
  .display-list .reference-switch-view .switchToListButton:hover:before {
    color: #6e7f8d; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .display-list .reference-switch-view .switchToListButton:before {
    content: "";
    font-size: 1.4375rem;
    color: black;
    display: block;
    font-family: 'icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-align: center;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .display-list .reference-switch-view .switchToListButton:before {
    transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s; }
  .display-list .reference-switch-view .switchToListButton:hover:before {
    color: #6e7f8d; } }

@media (min-width: 980px) {
  .display-list .reference-switch-view .switchToListButton:before {
    content: "";
    font-size: 1.4375rem;
    color: black;
    display: block;
    font-family: 'icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-align: center;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .display-list .reference-switch-view .switchToListButton:before {
    transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s; }
  .display-list .reference-switch-view .switchToListButton:hover:before {
    color: #6e7f8d; } }

@media only screen and (max-width: 669px) {
  .display-list .reference-switch-view .switchToGridButton:before {
    content: "";
    font-size: 1.4375rem;
    color: #D0D0D0;
    display: block;
    font-family: 'icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-align: center;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .display-list .reference-switch-view .switchToGridButton:before {
    transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s; }
  .display-list .reference-switch-view .switchToGridButton:hover:before {
    color: #6e7f8d; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .display-list .reference-switch-view .switchToGridButton:before {
    content: "";
    font-size: 1.4375rem;
    color: #D0D0D0;
    display: block;
    font-family: 'icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-align: center;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .display-list .reference-switch-view .switchToGridButton:before {
    transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s; }
  .display-list .reference-switch-view .switchToGridButton:hover:before {
    color: #6e7f8d; } }

@media (min-width: 980px) {
  .display-list .reference-switch-view .switchToGridButton:before {
    content: "";
    font-size: 1.4375rem;
    color: #D0D0D0;
    display: block;
    font-family: 'icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-align: center;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .display-list .reference-switch-view .switchToGridButton:before {
    transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s; }
  .display-list .reference-switch-view .switchToGridButton:hover:before {
    color: #6e7f8d; } }

/*# sourceMappingURL=index.css.map */
