@media print {
  .template-recipe-detail-page #header,
  .template-recipe-detail-page #shoppable_magic_v1_cart_tab,
  .template-recipe-detail-page .breadcrumbs,
  .template-recipe-detail-page .bv_main_container > .bv_main_container_row_flex:last-of-type,
  .template-recipe-detail-page .box-recipe-share,
  .template-recipe-detail-page #footer {
    display: none !important; }
  .template-recipe-detail-page .box-recipe-image-and-meta > .component-content > .content,
  .template-recipe-detail-page .box-recipe-ingredients-and-directions > .component-content > .content {
    display: table;
    margin: 0;
    width: 100%; }
    .template-recipe-detail-page .box-recipe-image-and-meta > .component-content > .content > .component,
    .template-recipe-detail-page .box-recipe-image-and-meta > .component-content > .content > .composite,
    .template-recipe-detail-page .box-recipe-ingredients-and-directions > .component-content > .content > .component,
    .template-recipe-detail-page .box-recipe-ingredients-and-directions > .component-content > .content > .composite {
      display: table-cell;
      vertical-align: top; }
  .template-recipe-detail-page .box-recipe-image-and-meta {
    margin-bottom: 30px !important; }
    .template-recipe-detail-page .box-recipe-image-and-meta .image {
      width: 58.33333% !important; }
      .template-recipe-detail-page .box-recipe-image-and-meta .image img {
        margin: 0 !important;
        width: 100% !important; }
  .template-recipe-detail-page .composite-recipe-meta-details {
    width: 41.66667% !important;
    padding-left: 30px !important; }
    .template-recipe-detail-page .composite-recipe-meta-details .richText--recipe-title h1, .template-recipe-detail-page .composite-recipe-meta-details .richText--recipe-title h2, .template-recipe-detail-page .composite-recipe-meta-details .richText--recipe-title h3 {
      margin-bottom: 10px; }
    .template-recipe-detail-page .composite-recipe-meta-details .recipeCookingInfo {
      margin: 0; }
      .template-recipe-detail-page .composite-recipe-meta-details .recipeCookingInfo .component-content {
        margin: 10px 0; }
  .template-recipe-detail-page .composite-recipe-ingredients-details {
    width: 41.66667% !important; }
  .template-recipe-detail-page .recipeDirections {
    width: 58.33333% !important;
    padding-left: 30px !important; }
    .template-recipe-detail-page .recipeDirections .recipeDirections-item p {
      margin-left: 10px;
      margin-bottom: 10px; }
  .template-recipe-detail-page .accordion-slide.first {
    display: none; }
  .template-recipe-detail-page .accordion-slide.last {
    border-top: 2px black solid !important; }
  .template-recipe-detail-page .accordion-slide > .accordion-content-wrapper {
    visibility: visible;
    position: relative;
    top: auto;
    left: auto;
    height: auto;
    overflow: hidden; }
  .template-recipe-detail-page .recipeNutrients {
    padding: 5px 0; }
  .template-recipe-detail-page .recipeIngredients-text,
  .template-recipe-detail-page .recipeDirections-item p,
  .template-recipe-detail-page .richText--nutrients-title .richText-content p,
  .template-recipe-detail-page .recipeNutrients-name,
  .template-recipe-detail-page .recipeNutrients-value {
    font-size: 0.875rem; }
  .template-recipe-detail-page .recipeContext ~ .component,
  .template-recipe-detail-page .recipeContext ~ .composite {
    display: none; } }

/*# sourceMappingURL=recipe.css.map */
