$faq-section: (
  box: (
    padding: (
      padding-top: 0,
      padding-bottom: 0
    )
  ),
  _accordion-item: (
    box: (
      border: (
        border-bottom: 1px solid #dcdcdc
      ),
      padding: 0,
    ),
    _panel-title: (
      box: (
        padding: 4px 0 10px,
      ),
      paragraph: (
        text: (
          line-height: 1,
          text-decoration: none,
          font-size: px('m'),
          font-weight: normal,
          text-transform: capitalize,
        )
      ),
      icon: (
        background: (
          background-color: inherit,
        ),
        color: inherit,
        content: common('icon.arrow-down'),
        display: flex,
        font-size: px(10),
        flex: (
          justify-content: center,
          align-items: center
        ),
        margin-right: spacings('s')
      )
    ),
    _panel-content: (
      box: (
        padding: 0,
        width: breakpoint(auto, 88%, 88%)
      )
    ),
    _panel-title-open: (
      box: (
      ),
      paragraph: (
      ),
      icon: (
        content: common('icon.arrow-down'),
        display: flex
      )
    )
  )
);
