@import '../../core/config';

.accordion.accordion-faq {
  @import 'config';
  @function g($a...) {
    @return get-last($faq-section, $a...);
  }

  @include breakpoints() {
    @include box(g('box'), $media);
  }

  > .component-content {
    
  }
  margin-bottom: 45px;
  .accordion-slide {
    @include breakpoints() {
      @include box(g('_accordion-item.box'), $media);
    }
    &.is-active > .accordion-head h3 a:after {
      transform: rotate(180deg) translateY(50%);
    }
  }

  .accordion-head {
    @include breakpoints() {
      @include box(g('_accordion-item._panel-title.box'), $media);
    }

    h3 {
      a {
        @include breakpoints() {
          @include paragraph(g('_accordion-item._panel-title.paragraph'), $media);
        }

        @include breakpoints() {
          @include icon(g('_accordion-item._panel-title.icon'), $media);
        }

        &:after {
          top: 50%;
          transform: translateY(-50%);
          transition: transform, linea, 200ms;
          color:#C9484A;
        }

        .accordion-title-text {
          // this is to offset the din-condensed & uppercase combination
          position: relative;
          font-size: 16px;
          color: #C9484A;
        }
      }

      .wf-loading & {
        visibility: hidden;
      }
    }
  }

  .accordion-content {
    @include breakpoints() {
      @include box(g('_accordion-item._panel-content.box'), $media);
    }
    .richText-content :first-child {
      margin-top: 0;
    }
    .richText-content {
      h3{
        font-size: 12px;
        color: #696969;
        text-transform: capitalize;
        font-weight: bold;
        margin-bottom: 0;
      }
      p{
        font-size: 12px;
        color: #696969;
        line-height: 2;
        margin-top: 5px;
        margin-bottom: 5px;
      }
    }
  }

  .accordion-slide.is-active > .accordion-head {
    @include breakpoints() {
      @include box(g('_accordion-item._panel-title-open.box'), $media);
    }

    h3 a {
      @include breakpoints() {
        @include paragraph(g('_accordion-item._panel-title-open.paragraph'), $media);
      }

      @include breakpoints() {
        @include icon(g('_accordion-item._panel-title-open.icon'), $media);
      }
    }
  }
}
