.composite-variation-single-featured-article-right {
  @import 'config';
  @function g($a...) {
    @return get-last($singleFeaturedArticleRight, $a...);
  }

  .richText {
    $sideText: merge((
     flex: (
        order: breakpoint((
          mobile: 1
        ))
      ),
      padding: (
        padding-right: breakpoint((desktop: 20px))
      )
    ), g('_side-text.box'));

    @include breakpoints() {
      @include box($sideText, $media);
    }
  }

  .left {
    @include breakpoints() {
      @include box(g('_side-image.box'), $media)
    }
  }
}