@charset "UTF-8";
@media only screen and (max-width: 669px) and (max-width: 669px) {
  .composite-recipe-ingredients-details {
    position: relative;
    margin-bottom: 60px; } }

@media only screen and (max-width: 669px) and (min-width: 670px) and (max-width: 979px) {
  .composite-recipe-ingredients-details {
    position: relative;
    margin-bottom: 60px; } }

@media only screen and (max-width: 669px) and (min-width: 980px) {
  .composite-recipe-ingredients-details {
    position: relative; } }

@media only screen and (min-width: 670px) and (max-width: 979px) and (max-width: 669px) {
  .composite-recipe-ingredients-details {
    position: relative;
    margin-bottom: 60px; } }

@media only screen and (min-width: 670px) and (max-width: 979px) and (min-width: 670px) and (max-width: 979px) {
  .composite-recipe-ingredients-details {
    position: relative;
    margin-bottom: 60px; } }

@media only screen and (min-width: 670px) and (max-width: 979px) and (min-width: 980px) {
  .composite-recipe-ingredients-details {
    position: relative; } }

@media only screen and (min-width: 980px) and (max-width: 669px) {
  .composite-recipe-ingredients-details {
    position: relative;
    margin-bottom: 60px; } }

@media only screen and (min-width: 980px) and (min-width: 670px) and (max-width: 979px) {
  .composite-recipe-ingredients-details {
    position: relative;
    margin-bottom: 60px; } }

@media (min-width: 980px) and (min-width: 980px) {
  .composite-recipe-ingredients-details {
    position: relative; } }

@media only screen and (max-width: 669px) {
  .composite-recipe-ingredients-details .richText h1, .composite-recipe-ingredients-details .richText h2, .composite-recipe-ingredients-details .richText h3 {
    font-size: 1.625rem;
    font-weight: bold;
    line-height: 1.23;
    font-family: Montserrat, sans-serif;
    margin: 25px 0; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .composite-recipe-ingredients-details .richText h1, .composite-recipe-ingredients-details .richText h2, .composite-recipe-ingredients-details .richText h3 {
    font-size: 1.625rem;
    font-weight: bold;
    line-height: 1.23;
    font-family: Montserrat, sans-serif;
    margin: 25px 0; } }

@media (min-width: 980px) {
  .composite-recipe-ingredients-details .richText h1, .composite-recipe-ingredients-details .richText h2, .composite-recipe-ingredients-details .richText h3 {
    font-size: 1.625rem;
    font-weight: bold;
    line-height: 1.23;
    font-family: Montserrat, sans-serif;
    margin: 0 0 25px; } }

@media only screen and (max-width: 669px) {
  .composite-recipe-ingredients-details .accordion {
    position: relative; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .composite-recipe-ingredients-details .accordion {
    position: relative; } }

@media (min-width: 980px) {
  .composite-recipe-ingredients-details .accordion {
    position: relative; } }

@media only screen and (max-width: 669px) {
  .composite-recipe-ingredients-details .accordion .accordion-slide {
    position: relative;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
    padding: 0; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .composite-recipe-ingredients-details .accordion .accordion-slide {
    position: relative;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
    padding: 0; } }

@media (min-width: 980px) {
  .composite-recipe-ingredients-details .accordion .accordion-slide {
    position: relative;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
    padding: 0; } }

.composite-recipe-ingredients-details .accordion .accordion-slide + .accordion-slide {
  border-top: 0; }

.composite-recipe-ingredients-details .accordion .accordion-slide.is-active .accordion-title-link:after {
  content: ""; }

@media only screen and (max-width: 669px) {
  .composite-recipe-ingredients-details .accordion .accordion-head {
    position: relative;
    padding: 10px 0; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .composite-recipe-ingredients-details .accordion .accordion-head {
    position: relative;
    padding: 10px 0; } }

@media (min-width: 980px) {
  .composite-recipe-ingredients-details .accordion .accordion-head {
    position: relative;
    padding: 10px 0; } }

.composite-recipe-ingredients-details .accordion .accordion-title {
  line-height: 1; }

@media only screen and (max-width: 669px) {
  .composite-recipe-ingredients-details .accordion .accordion-title-link {
    text-decoration: none;
    transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: justify;
        justify-content: space-between; }
    .composite-recipe-ingredients-details .accordion .accordion-title-link:after {
      margin: 5px 0 0;
      display: block;
      margin: 5px 0 0;
      content: "";
      font-size: 0.625rem;
      color: black;
      display: block;
      font-family: 'icons';
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      text-align: center;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .composite-recipe-ingredients-details .accordion .accordion-title-link {
    text-decoration: none;
    transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: justify;
        justify-content: space-between; }
    .composite-recipe-ingredients-details .accordion .accordion-title-link:after {
      margin: 5px 0 0;
      display: block;
      margin: 5px 0 0;
      content: "";
      font-size: 0.625rem;
      color: black;
      display: block;
      font-family: 'icons';
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      text-align: center;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; } }

@media (min-width: 980px) {
  .composite-recipe-ingredients-details .accordion .accordion-title-link {
    text-decoration: none;
    transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: justify;
        justify-content: space-between; }
    .composite-recipe-ingredients-details .accordion .accordion-title-link:after {
      margin: 5px 0 0;
      display: block;
      margin: 5px 0 0;
      content: "";
      font-size: 0.625rem;
      color: black;
      display: block;
      font-family: 'icons';
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      text-align: center;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; } }

.composite-recipe-ingredients-details .accordion .accordion-title-link:after {
  background: transparent; }

@media only screen and (max-width: 669px) {
  .composite-recipe-ingredients-details .accordion .accordion-title-text {
    font-size: 1.125rem;
    line-height: 1.22;
    transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .composite-recipe-ingredients-details .accordion .accordion-title-text {
    font-size: 1.125rem;
    line-height: 1.22;
    transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center; } }

@media (min-width: 980px) {
  .composite-recipe-ingredients-details .accordion .accordion-title-text {
    font-size: 1.125rem;
    line-height: 1.22;
    transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center; } }

@media only screen and (max-width: 669px) {
  .composite-recipe-ingredients-details .accordion .accordion-content {
    position: relative;
    padding: 10px 10px 20px; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .composite-recipe-ingredients-details .accordion .accordion-content {
    position: relative;
    padding: 10px 10px 20px; } }

@media (min-width: 980px) {
  .composite-recipe-ingredients-details .accordion .accordion-content {
    position: relative;
    padding: 10px 10px 20px; } }

@media only screen and (max-width: 669px) {
  .composite-recipe-ingredients-details .accordion .listing-items {
    position: relative;
    margin: 0 -15px; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .composite-recipe-ingredients-details .accordion .listing-items {
    position: relative;
    margin: 0 -15px; } }

@media (min-width: 980px) {
  .composite-recipe-ingredients-details .accordion .listing-items {
    position: relative;
    margin: 0 -15px; } }

@media only screen and (max-width: 669px) {
  .composite-recipe-ingredients-details .accordion .listing-items .listing-item {
    position: relative;
    padding: 0;
    margin: 15px;
    width: calc(50% - 30px); } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .composite-recipe-ingredients-details .accordion .listing-items .listing-item {
    position: relative;
    padding: 0;
    margin: 15px;
    width: calc(50% - 30px); } }

@media (min-width: 980px) {
  .composite-recipe-ingredients-details .accordion .listing-items .listing-item {
    position: relative;
    padding: 0;
    margin: 15px;
    width: calc(50% - 30px); } }

.composite-recipe-ingredients-details .accordion .listing-items .listing-item > .component-content:hover {
  cursor: pointer; }

/*# sourceMappingURL=index.css.map */
