.table-heading {
  display: block;
  color: #323131;
  font-size: 1.25rem;
  font-weight: bold;
  padding-bottom: 10px; }

.table .button {
  display: none; }
  @media only screen and (max-width: 669px) {
    .table .button {
      display: block;
      margin: 20px; } }

.table-caption {
  padding: 13px;
  border: solid 2px #323131;
  background-color: #e1e1e1;
  border-bottom: none; }
  .table-caption .button {
    display: block;
    margin: 10px 0 0 5px; }
    @media only screen and (max-width: 669px) {
      .table-caption .button {
        display: none; } }

.table th, .table td {
  border: solid 2px #323131;
  padding: 5px; }

.table td {
  vertical-align: middle; }

.table th {
  background-color: #e1e1e1;
  font-weight: bold;
  text-align: center; }

.table table {
  width: 100%;
  border: solid 2px #323131;
  border-collapse: collapse; }

.no-js .table .button {
  display: none; }

/*# sourceMappingURL=index.css.map */
