@media only screen and (max-width: 669px) {
  .composite-recipe-meta-details {
    position: relative; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .composite-recipe-meta-details {
    position: relative; } }

@media (min-width: 980px) {
  .composite-recipe-meta-details {
    position: relative; } }

@media only screen and (max-width: 669px) {
  .composite-recipe-meta-details .richText--recipe-title h1, .composite-recipe-meta-details .richText--recipe-title h2, .composite-recipe-meta-details .richText--recipe-title h3 {
    font-size: 2.375rem;
    font-weight: bold;
    line-height: 2.75rem;
    text-transform: uppercase;
    white-space: normal;
    font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
    margin: 0;
    margin-top: 40px;
    margin-bottom: 40px; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .composite-recipe-meta-details .richText--recipe-title h1, .composite-recipe-meta-details .richText--recipe-title h2, .composite-recipe-meta-details .richText--recipe-title h3 {
    font-size: 3rem;
    font-weight: bold;
    line-height: 3.375rem;
    text-transform: uppercase;
    white-space: normal;
    font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
    margin: 0;
    margin-top: 40px;
    margin-bottom: 40px; } }

@media (min-width: 980px) {
  .composite-recipe-meta-details .richText--recipe-title h1, .composite-recipe-meta-details .richText--recipe-title h2, .composite-recipe-meta-details .richText--recipe-title h3 {
    font-size: 3rem;
    font-weight: bold;
    line-height: 3.375rem;
    text-transform: uppercase;
    white-space: normal;
    font-family: Montserrat, Franklin Gothic, Avenir Next Condensed, sans-serif;
    margin: 0;
    margin-bottom: 40px; } }

@media only screen and (max-width: 669px) {
  .composite-recipe-meta-details .richText.richText--recipe-description {
    font-size: 1.125rem; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .composite-recipe-meta-details .richText.richText--recipe-description {
    font-size: 1rem; } }

@media (min-width: 980px) {
  .composite-recipe-meta-details .richText.richText--recipe-description {
    font-size: 1rem; } }

@media only screen and (max-width: 669px) {
  .composite-recipe-meta-details .ratingsandreviews .bv_main_container .bv_numReviews_text,
  .composite-recipe-meta-details .ratingsandreviews .bv_main_container .bv_avgRating { } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .composite-recipe-meta-details .ratingsandreviews .bv_main_container .bv_numReviews_text,
  .composite-recipe-meta-details .ratingsandreviews .bv_main_container .bv_avgRating { } }

@media (min-width: 980px) {
  .composite-recipe-meta-details .ratingsandreviews .bv_main_container .bv_numReviews_text,
  .composite-recipe-meta-details .ratingsandreviews .bv_main_container .bv_avgRating { } }

@media only screen and (max-width: 669px) {
  .composite-recipe-meta-details .richText.richText--recipe-stats {
    position: relative;
    margin-top: 15px;
    margin-bottom: 40px; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .composite-recipe-meta-details .richText.richText--recipe-stats {
    position: relative;
    margin-top: 15px;
    margin-bottom: 40px; } }

@media (min-width: 980px) {
  .composite-recipe-meta-details .richText.richText--recipe-stats {
    position: relative;
    margin-top: 15px;
    margin-bottom: 40px; } }

@media only screen and (max-width: 669px) {
  .composite-recipe-meta-details .box-recipe-share .addthis-toolbox {
    position: relative; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .composite-recipe-meta-details .box-recipe-share .addthis-toolbox {
    position: relative; } }

@media (min-width: 980px) {
  .composite-recipe-meta-details .box-recipe-share .addthis-toolbox {
    position: relative; } }

@media only screen and (max-width: 669px) {
  .composite-recipe-meta-details .box-recipe-share .richText--print .richText-content {
    transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .composite-recipe-meta-details .box-recipe-share .richText--print .richText-content {
    transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center; } }

@media (min-width: 980px) {
  .composite-recipe-meta-details .box-recipe-share .richText--print .richText-content {
    transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center; } }

/*# sourceMappingURL=index.css.map */
