@media only screen and (max-width: 669px) {
  .composite-single-featured-content {
    position: relative;
    margin: 40px 0; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .composite-single-featured-content {
    position: relative;
    margin: 80px 0; } }

@media (min-width: 980px) {
  .composite-single-featured-content {
    position: relative;
    margin: 80px 0; } }

.composite-single-featured-content > .content {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
  padding-right: 25px; }
  @media only screen and (max-width: 669px) {
    .composite-single-featured-content > .content {
      width: auto; } }
  @media only screen and (min-width: 670px) and (max-width: 768px) {
    .composite-single-featured-content > .content {
      width: auto; } }
  @media only screen and (min-width: 980px) and (max-width: 1139px) {
    .composite-single-featured-content > .content {
      width: 960px; } }
  @media (min-width: 1140px) {
    .composite-single-featured-content > .content {
      width: 1140px; } }
  @media only screen and (max-width: 669px) {
    .composite-single-featured-content > .content {
      position: relative;
      -ms-flex-direction: column;
          flex-direction: column;
      display: -ms-flexbox;
      display: flex; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .composite-single-featured-content > .content {
      position: relative;
      -ms-flex-direction: column;
          flex-direction: column;
      display: -ms-flexbox;
      display: flex; } }
  @media (min-width: 980px) {
    .composite-single-featured-content > .content {
      position: relative;
      display: -ms-flexbox;
      display: flex; } }

@media only screen and (max-width: 669px) {
  .composite-single-featured-content .richText {
    position: relative; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .composite-single-featured-content .richText {
    position: relative; } }

@media (min-width: 980px) {
  .composite-single-featured-content .richText {
    position: relative; } }

@media only screen and (max-width: 669px) {
  .composite-single-featured-content .richText .featured-content-subtitle {
    font-size: 1.125rem;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: -25px;
    display: block; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .composite-single-featured-content .richText .featured-content-subtitle {
    font-size: 1.125rem;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: -25px;
    display: block; } }

@media (min-width: 980px) {
  .composite-single-featured-content .richText .featured-content-subtitle {
    font-size: 1.25rem;
    font-weight: bold;
    margin-top: 60px;
    margin-bottom: -15px;
    display: block; } }

@media only screen and (max-width: 669px) {
  .composite-single-featured-content .richText h2, .composite-single-featured-content .richText h3, .composite-single-featured-content .richText h4 {
    font-size: 1.625rem;
    line-height: 1.16;
    margin-top: 25px; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .composite-single-featured-content .richText h2, .composite-single-featured-content .richText h3, .composite-single-featured-content .richText h4 {
    font-size: 1.625rem;
    line-height: 1.16;
    margin-top: 25px; } }

@media (min-width: 980px) {
  .composite-single-featured-content .richText h2, .composite-single-featured-content .richText h3, .composite-single-featured-content .richText h4 {
    font-size: 2.375rem;
    line-height: 1.16;
    margin-top: 0; } }

@media only screen and (max-width: 669px) {
  .composite-single-featured-content .richText p {
    line-height: 1.25rem; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .composite-single-featured-content .richText p {
    line-height: 1.6rem; } }

@media (min-width: 980px) {
  .composite-single-featured-content .richText p {
    line-height: 2rem; } }

@media only screen and (max-width: 669px) {
  .composite-single-featured-content .image {
    position: relative;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: 100%;
    height: 100%; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .composite-single-featured-content .image {
    position: relative;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: 100%;
    height: 100%; } }

@media (min-width: 980px) {
  .composite-single-featured-content .image {
    position: relative;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: 45%;
    height: 100%; } }

.composite-single-featured-content .image > .component-content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end; }

@media only screen and (max-width: 669px) {
  .composite-single-featured-content a[class*=button] {
    transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-top: 15px;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    width: 100%; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .composite-single-featured-content a[class*=button] {
    transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-top: 15px;
    margin-right: 10px;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center; } }

@media (min-width: 980px) {
  .composite-single-featured-content a[class*=button] {
    transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-top: 15px;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center; } }

@media only screen and (max-width: 669px) {
  .composite-variation-single-featured-content-left > .content {
    position: relative;
    display: block; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .composite-variation-single-featured-content-left > .content {
    position: relative;
    display: block; } }

@media (min-width: 980px) {
  .composite-variation-single-featured-content-left > .content {
    position: relative;
    display: -ms-flexbox;
    display: flex; } }

@media only screen and (max-width: 669px) {
  .composite-variation-single-featured-content-left .richText {
    position: relative; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .composite-variation-single-featured-content-left .richText {
    position: relative; } }

@media (min-width: 980px) {
  .composite-variation-single-featured-content-left .richText {
    position: relative;
    padding-left: 95px; } }

@media only screen and (max-width: 669px) {
  .composite-variation-single-featured-content-right .richText {
    position: relative;
    -ms-flex-order: 1;
        order: 1; } }

@media only screen and (min-width: 670px) and (max-width: 979px) {
  .composite-variation-single-featured-content-right .richText {
    position: relative;
    -ms-flex-order: 1;
        order: 1; } }

@media (min-width: 980px) {
  .composite-variation-single-featured-content-right .richText {
    position: relative;
    padding-right: 95px; } }

/*# sourceMappingURL=index.css.map */
