.ratingsandreviews .bazaarvoice {
  @import 'config';
  @function g($a...) { @return get-last($ratings-and-reviews, $a...); }
  /*! @important(start) */
  display: flex;
  justify-content: center;
  /*! @important(stop) */

  // Overriding component styles
  .bv-cv2-cleanslate .bv-core-container-135 .bv-inline-rating-container .bv-rating-stars-on,
  .bv-cv2-cleanslate .bv-core-container-135 .bv-inline-rating-container .bv-rating-stars-off {
    @include breakpoints() {
      /*! @important(start) */
      @include text(g('_star.text'), $media);
      /*! @important(stop) */
    }
  }

  // Overriding component styles
  .bv-cv2-cleanslate .bv-core-container-135 .bv-inline-rating-container .bv-rating-stars-on {
    @include breakpoints() {
      /*! @important(start) */
      @include text(g('_star-on.text'), $media);
      /*! @important(stop) */
    }
  }

  // Overriding component styles
  .bv-cv2-cleanslate .bv-core-container-135 .bv-inline-rating-container .bv-rating-stars-off {
    @include breakpoints() {
      /*! @important(start) */
      @include text(g('_star-off.text'), $media);
      /*! @important(stop) */
    }
  }

  // Overriding component styles
  .bv-cv2-cleanslate .bv-core-container-135 .bv-stars-container dd {
    /*! @important(start) */
    padding: 0;
    /*! @important(stop) */

    .bv-rating,
    .bv-rating-label,
    .bv-rating-ratio-number,
    .bv-rating-ratio-count {
      /*! @important(start) */
      display: none;
      /*! @important(stop) */
    }
  }
}
