$compositeVariationOrnamentSeparator :(
    spacings: common('spacings')
);

$compositeVariationOrnamentSeparator : merge($compositeVariationOrnamentSeparator, (
    _ornament: (
        box: (
            height: spacings('m')
        ),
        content: (
            box: (
                height: breakpoint(spacings('m'), spacings('m'), spacings('l')),
                width: breakpoint(spacings('m'), spacings('m'), spacings('l'))
            ),
            background: (
                background-image: url('/etc/designs/zg/nameera/desktop/assets/img/arabic-icon.svg'),
                background-position: center,
                background-repeat: no-repeat,
                background-size: 105%
            )
        )
    )
))
