.composite-variation-ornament-separator {
    @import 'config';
    @function g($a...) {
        @return get-last($compositeVariationOrnamentSeparator , $a...);
    }

    @include breakpoints(){
        @include box(g('_ornament.box'), $media);
        @include wrapper;
    }

    
    > .content {

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;

        > .box {
            @include breakpoints(){
                @include box(g('_ornament.content.box'), $media);
                @include background(g('_ornament.content.background'), $media);
            }
        }

        &:after,
        &:before {
            content: "";
            display: flex;
            height: 1px;
            flex: 1;
            background: color("neutral", "light");
        }
    }
}