@charset "UTF-8";
.searchBox[class*=temporary-default-] input[type=text] {
  width: 81px; }

.searchBox[class*=temporary-default-]-title {
  cursor: default; }

.searchBox[class*=temporary-default-] .form-content .textField {
  display: inline;
  float: left;
  margin-right: 15px; }

.searchBox[class*=temporary-default-] .form-contentButton {
  display: inline;
  float: left; }
  .searchBox[class*=temporary-default-] .form-contentButton.section {
    margin: -1px 0 0; }

.searchBox[class*=temporary-default-] .form-content .section {
  margin: 0 15px 0 0; }

.searchBox[class*=temporary-default-] .form-search.no-box,
.searchBox[class*=temporary-default-] .form-search.no-box .section {
  margin-top: 0;
  margin-bottom: 0; }

.searchBox.large-input {
  margin-top: 5px;
  margin-bottom: 40px; }
  @media only screen and (max-width: 669px) {
    .searchBox.large-input {
      background-color: white; } }
  @media only screen and (min-width: 670px) and (max-width: 979px) {
    .searchBox.large-input {
      background-color: white; } }
  @media (min-width: 980px) {
    .searchBox.large-input {
      background-color: white; } }
  .searchBox.large-input > .component-content {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-left: 25px;
    padding-right: 25px; }
    @media only screen and (max-width: 669px) {
      .searchBox.large-input > .component-content {
        width: auto; } }
    @media only screen and (min-width: 670px) and (max-width: 768px) {
      .searchBox.large-input > .component-content {
        width: auto; } }
    @media only screen and (min-width: 980px) and (max-width: 1139px) {
      .searchBox.large-input > .component-content {
        width: 960px; } }
    @media (min-width: 1140px) {
      .searchBox.large-input > .component-content {
        width: 1140px; } }
  .searchBox.large-input .form-search {
    border-bottom: 2px solid #D0D0D0;
    position: relative; }
  .searchBox.large-input input.search-query {
    width: 100%;
    box-sizing: border-box; }
    @media only screen and (max-width: 669px) {
      .searchBox.large-input input.search-query {
        background-color: transparent;
        color: #696969;
        font-size: 2.25rem;
        font-weight: bold;
        transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
        display: -ms-inline-flexbox;
        display: inline-flex;
        border: 0;
        padding: 5.96px 30px 4.16px 0;
        -ms-flex-align: center;
            align-items: center;
        -ms-flex-pack: center;
            justify-content: center; }
        .searchBox.large-input input.search-query::-webkit-input-placeholder {
          color: #D0D0D0; }
        .searchBox.large-input input.search-query:-ms-input-placeholder {
          color: #D0D0D0; }
        .searchBox.large-input input.search-query::placeholder {
          color: #D0D0D0; } }
    @media only screen and (min-width: 670px) and (max-width: 979px) {
      .searchBox.large-input input.search-query {
        background-color: transparent;
        color: #696969;
        font-size: 2.25rem;
        font-weight: bold;
        transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
        display: -ms-inline-flexbox;
        display: inline-flex;
        border: 0;
        padding: 5.96px 30px 4.16px 0;
        -ms-flex-align: center;
            align-items: center;
        -ms-flex-pack: center;
            justify-content: center; }
        .searchBox.large-input input.search-query::-webkit-input-placeholder {
          color: #D0D0D0; }
        .searchBox.large-input input.search-query:-ms-input-placeholder {
          color: #D0D0D0; }
        .searchBox.large-input input.search-query::placeholder {
          color: #D0D0D0; } }
    @media (min-width: 980px) {
      .searchBox.large-input input.search-query {
        background-color: transparent;
        color: #696969;
        font-size: 3rem;
        font-weight: bold;
        transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
        display: -ms-inline-flexbox;
        display: inline-flex;
        border: 0;
        padding: 1.28px 30px 0 0;
        -ms-flex-align: center;
            align-items: center;
        -ms-flex-pack: center;
            justify-content: center; }
        .searchBox.large-input input.search-query::-webkit-input-placeholder {
          color: #D0D0D0; }
        .searchBox.large-input input.search-query:-ms-input-placeholder {
          color: #D0D0D0; }
        .searchBox.large-input input.search-query::placeholder {
          color: #D0D0D0; } }
  .searchBox.large-input button {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    text-indent: -99999px;
    width: 30px; }
    @media only screen and (max-width: 669px) {
      .searchBox.large-input button {
        background-color: transparent;
        transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
        display: -ms-inline-flexbox;
        display: inline-flex;
        border: 0;
        -ms-flex-align: center;
            align-items: center;
        -ms-flex-pack: center;
            justify-content: center; } }
    @media only screen and (min-width: 670px) and (max-width: 979px) {
      .searchBox.large-input button {
        background-color: transparent;
        transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
        display: -ms-inline-flexbox;
        display: inline-flex;
        border: 0;
        -ms-flex-align: center;
            align-items: center;
        -ms-flex-pack: center;
            justify-content: center; } }
    @media (min-width: 980px) {
      .searchBox.large-input button {
        background-color: transparent;
        transition: background 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, color 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
        display: -ms-inline-flexbox;
        display: inline-flex;
        border: 0;
        -ms-flex-align: center;
            align-items: center;
        -ms-flex-pack: center;
            justify-content: center; } }
    .searchBox.large-input button:after {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      text-indent: 0; }
      @media only screen and (max-width: 669px) {
        .searchBox.large-input button:after:after {
          content: "";
          font-size: 1.625rem;
          color: #696969;
          display: block;
          font-family: 'icons';
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          text-align: center;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale; } }
      @media only screen and (min-width: 670px) and (max-width: 979px) {
        .searchBox.large-input button:after:after {
          content: "";
          font-size: 1.625rem;
          color: #696969;
          display: block;
          font-family: 'icons';
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          text-align: center;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale; } }
      @media (min-width: 980px) {
        .searchBox.large-input button:after:after {
          content: "";
          font-size: 1.625rem;
          color: #696969;
          display: block;
          font-family: 'icons';
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          text-align: center;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale; } }

/*# sourceMappingURL=index.css.map */
